---
layout: /layouts/base.njk
title: Home
description: A fansite for the korean version of Ragnarok Zero
image: '/images/meta/criatura-academy-home.png'
---

<p class="text-center text-lg">Criatura Academy is your definitive source for information about the official korean Ragnarok Online Zero server. I strive to provide accurate translations of the content found on the official website, as well as adding information I learn of and experience ingame. If you find any errors, or want to get in touch feel free send me an email at nathan@criatura-academy.com.</p>

<input type="search" class="rounded-md border-2 p-2 mt-8 mb-8 block" placeholder="Type to search site" />

<div class="mb-6">
  <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md">
    Memorial Dungeons
    <span class="block font-normal normal-case py-1">Memorial Dungeons are dungeon instances that a party can do daily. Though each instance is unique they ultimately involve killing some type of Boss monster with a treasure chest being rewarded on completion.</span>
  </h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
    <li><a href="/memorial-dungeons/orcs-memory/">Orc's Memory</a></li>
    <li><a href="/memorial-dungeons/prontera-culvert/">Prontera Culvert</a></li>
    <li><a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a></li>
    <li><a href="/memorial-dungeons/izlude-2f/">Izlude 2F</a></li>
    <li><a href="/memorial-dungeons/sunken-ship/">Sunken Ship</a></li>
    <li><a href="/memorial-dungeons/equipment/">Equipment</a></li>
    <li><a href="/memorial-dungeons/equipment-crafting/">Equipment Crafting</a></li>
    <li><a href="/memorial-dungeons/equipment-enchanting/">Equipment Enchanting</a></li>
  </ul>
</div>

<div class="mb-6">
  <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md">
    Updates
    <span class="block font-normal normal-case py-1">These are the various updates posted about on the kRO Zero website.</span>
  </h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    <li><a href="/updates/clock-tower/">Clock Tower</a></li>
    <li><a href="/updates/glastheim/">Glast Heim</a></li>
    <li><a href="/updates/craftable-equipment/">Craftable Equipment</a></li>
    <li><a href="/updates/louyang/">Louyang</a></li>
    <li><a href="/updates/guild-dungeons/">Guild Dungeons</a></li>
  </ul>
</div>

<div class="mb-6">
  <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md">
    Quests
    <span class="block font-normal normal-case py-1">Learn more about various quests one can find on kRO Zero.</span>
  </h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    <li><a href="/quests/izlude/">Izlude</a></li>
  </ul>
</div>

<div class="mb-6">
  <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md">
    Dev Notes
    <span class="block font-normal normal-case py-1">Read through translations of the dev notes as posted on the official kRO Zero website.</span>
  </h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    {% for note in collections.devNote | reverse %}
      <li><a href="{{ note.url }}">{{ note.data.title }}</a> ({{ note.data.listDate }})</span></li>
    {% endfor %}
  </ul>
</div>

<div class="mb-6">
  <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md">
    News
    <span class="block font-normal normal-case py-1">Read through translations of most of the maintenance notes from the kRO Zero website. I've chosen to translate only the maintenance notes that might be interesting to know about.</span>
  </h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    {% for article in collections.news | reverse %}
      <li><a href="{{ article.url }}">{{ article.data.title }}</a> ({{ article.data.listDate }})</span></li>
    {% endfor %}
  </ul>
</div>