---
layout: /layouts/base.njk
title: Home
description: A fansite for the korean version of Ragnarok Zero
pagination:
  data: collections.devNote
  size: 5
  alias: devNotes
---

<div class="mx-2">
  <div class="mb-6">
    <h2 class="bg-gradient py-1 px-2 uppercase font-bold text-sm rounded-t-md">Memorial Dungeons</h2>
    <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
      <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
      <li><a href="/memorial-dungeons/equipment/">Equipment</a></li>
      <li><a href="/memorial-dungeons/equipment-crafting/">Equipment Crafting</a></li>
    </ul>
  </div>

  <div class="mb-6">
    <h2 class="bg-gradient py-1 px-2 uppercase font-bold text-sm rounded-t-md">Dev Notes</h2>
    <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
      {% for note in devNotes | reverse %}
        <li><a href="{{ note.url }}">{{ note.data.title }}</a> ({{ note.data.listDate }})</span></li>
      {% endfor %}
    </ul>
  </div>

  <div class="mb-6">
    <h2 class="bg-gradient py-1 px-2 uppercase font-bold text-sm rounded-t-md">Quests</h2>
    <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
      <li><a href="/quests/izlude/">Izlude</a></li>
    </ul>
  </div>
</div>