---
layout: /layouts/base.njk
title: Criatura Academy
description: A fansite for the korean version of Ragnarok Zero
---

<div class="mx-2">
  <h2 class="bg-gradient py-1 px-2 uppercase font-bold text-sm rounded-t-md">Memorial Dungeons</h2>
  <ul class="border-r border-l border-b rounded-b-md py-2 pl-8 list-disc">
    <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
    <li><a href="/memorial-dungeons/equipment/">Equipment</a></li>
  </ul>
</div>