---
layout: /layouts/base.njk
title: kRO Zero Timeline
description: A timeline describing releases and updates for KRO Zero
---

<article class="mx-2">

  <h1 class="text-2xl mb-4">Timeline</h1>

  <p>This timeline attempts to cover major and more significant updates and changes, providing links where possible.</p>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-05-15</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/183-2018-05-15-may-16-maint/">News 183</a>:
        <ul class="list-disc pl-8">
          <li>The respawn time of the Old Treasure Box in the Guild Dungeon has been changed from 15 seconds to 5 minutes.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-05-09</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/dev-notes/36-2018-05-09-may-23-update-notice/">Dev Note 36</a>:
        <ul class="list-disc pl-8">
          <li>Dev note describing updates coming May 23rd.</li>
          <li>Updates include another round of job balance updates.</li>
          <li>Ninja will be added during that update.</li>
          <li>The rest of these dev notes describe the Ninja skills.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-05-08</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/178-2018-05-08-may-9th-maint/">News 178</a>:
        <ul class="list-disc pl-8">
          <li>Valkyrie & Britoniah Guild dungeons are opened. See <a href="/updates/guild-dungeons/2018-05/">this page</a> for more information.</li>
          <li>Attendance rewards updated for May.</li>
          <li>Four new craftable costumes added.</li>
          <li>The following evolved pets added: Choco, Yao Jun, Little Isis.</li>
          <li>Alarm no longer drops Oridecon, instead drops Wanderer tame. Flying Petite no longer drops Khukri, instead drops Bright Red Juice (Loli Ruri tame).</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-04-24</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/169-2018-04-24-april-25-maint/">News 169</a>:
        <ul class="list-disc pl-8">
          <li>Zoom out functionality improved.</li>
          <li>How Guild EXP works was changed. When guild reaches max level, no longer able to gain EXP for the guild.</li>
          <li>Bard & Dancer skills were adjusted. (Lower cast times, lower ensemble fatigue, etc.)</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-04-17</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/160-2018-04-17-april-18-maint/">News 160</a>:
        <ul class="list-disc pl-8">
          <li>Fixed Jello Stone Synthesis level requirement (must be base level 30).</li>
          <li>MVP monsters are immune to movement restriction skills.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-04-13</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/dev-notes/35-2018-04-13-may-dev-info/">Dev Note 35</a>:
        <ul class="list-disc pl-8">
          <li>Dev note describing updates coming in May.</li>
          <li>3 new Cute Pet evolutions will be added: Little Isis, Yao Jun (Hyegun), and Choco.</li>
          <li>2 regular Cute Pets will be added: Loli Ruri & Wanderer.</li>
          <li>Guild dungeons will open for Valkyrie (Prontera) and Britoniah (Geffen).</li>
          <li>Another wave of job skill balances will be put into effect.</li>
          <li>Amatsu will be added.</li>
          <li>Ninja will be added.</li>
          <li>Bard & Dancer will be adjusted.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-04-10</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/154-2018-04-10-april-11-maint/">News 154</a>:
        <ul class="list-disc pl-8">
          <li>Bard & Dancer added. Includes adding Bard & Dancer Essence Lv1 & Lv2, Louyang weapons, Erhu of Earnest and Barbed Wire.</li>
          <li>Attendance system added.</li>
          <li>Louyang weapons are no longer enchantable, but rather receive 1 - 2 random options via NPC.</li>
          <li>Louyang craftable headgear requirements lowered.</li>
          <li>Update to the reward for some Achievement tasks.</li>
          <li>Additional character slot opened (total of 7 now).</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/34-2018-04-03-april-11-update-notice/">Dev Note 34</a>:
        <ul class="list-disc pl-8">
          <li>Describes the Bard & Dancer update, including skill descriptions.</li>
          <li>Covers the new instruments and whips added.</li>
          <li>Describes the updated Louyang weapon random option system, including the specific options available.</li>
          <li>Describes how the ingredients for the two craftable Louyang headgear changed.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-04-03</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/137-2018-03-16-march-16-maint/">News 149</a>:
        <ul class="list-disc pl-8">
          <li>Steal Coin gets a 5 second skill cooldown.</li>
          <li>Improved the auto feeding system of Homunculus & evolved Cute Pets.</li>
          <li>Britoniah "Guild Master Room" lever positions changed.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-03-27</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/144-2018-03-27-march-28-maint/">News 144</a>:
        <ul class="list-disc pl-8">
          <li>Britonniah (Geffen) siege area opened.</li>
          <li>Additional Sunday WoE day added.</li>
          <li>List of weapons forgeable by Blacksmith updated, and random options according to ranking also updated.</li>
          <li>New equipment added (see dev note below for more details).</li>
          <li>Thor's Flame updated to allow exchanging for higher minerals.</li>
          <li>Doppelganger card description fixed.</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/33-2018-03-22-april-2018-update-release/">Dev Note 33</a>:
        <ul class="list-disc pl-8">
          <li>Describes the new equipment added in the above maintenance.</li>
          <li>Informs about Britoniah opening and additional WoE day, added in above maintenance.</li>
          <li>Describes the above maintenance updates to Blacksmith forging, including options their weapons have access to.</li>
          <li>Mentions Bard & Dancer being added in April.</li>
          <li>Discusses upcoming potential skill updates.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-03-16</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/137-2018-03-16-march-16-maint/">News 137</a>:
        <ul class="list-disc pl-8">
          <li>Updated skill usage by the following Louyang mobs: Yao Jun, Green Maiden, Mi Gao, Civil Servant (Mao Guai).</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-03-13</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/131-2018-03-13-march-14-maint/">News 131</a>:
        <ul class="list-disc pl-8">
          <li>Louyang added.</li>
          <li>Trap Boxes added.</li>
          <li>Skill adjustments described in the below dev note were added.</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/32-2018-03-12-march-14-2018-updates-released/">Dev Note 32</a>:
        <ul class="list-disc pl-8">
          <li>Info about Louyang.</li>
          <li>Knight base ASPD adjusted when two-handed sword is equipped.</li>
          <li>Rogue base ASPD adjusted when shield is equipped.</li>
          <li>Sage: Land Protector, Volcano, Deluge & Violent Gale casting changed.</li>
          <li>Hunter: Land Mine, Blast Mine, Claymore Trap casting changed.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-03-06</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/125-2018-03-06-march-7-maint/">News 125</a>:
        <ul class="list-disc pl-8">
          <li>Updated the following skill descriptions: Resurrection, Deluge, Violent Gale & Volcano</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-27</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/121-2018-02-27-feb-28-maint/">News 121</a>:
        <ul class="list-disc pl-8">
          <li>Safety Shoes "indestructible" bonus removed from description.</li>
          <li>Alchemist Lv1 & Lv2 essences corrected.</li>
          <li>5 Cute Pet evolutions added: Mastering, Savage, High Orc, Metaller, Ancient Mummy.</li>
          <li>"Follow" function removed.</li>
          <li>Add MD drops as possible options for Vend Stores.</li>
          <li>Atelier Manus added in northwest Prontera (prontera 50, 293).</li>
          <li>NPC for transforming one Jello Stone into another one of a different type added to Prontera Enchant Association building.</li>
          <li>Change Cart 2 quest skill added.</li>
          <li>Poring Village MD will drop at least 1 Jello Shard Box during the weekend, even if the number of people doesn't meet the "required amount".</li>
          <li>Set option for Khalitzburg Knight Armor has been removed.</li>
        </ul>
      </li>
      <li>
        <a href="/memorial-dungeons/poring-village/">Poring Village</a> kRO Zero website update page updated:
        <ul class="list-disc pl-8">
          <li>Added note about item being destroyed if enchanting or resetting fails.</li>
          <li>Removed CRIT +1 as possible enchant</li>
          <li>Added SP +50 as possible enchant</li>
          <li>Changed HP enchants: HP +50 to HP +100, and HP +100 to HP +200</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-23</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/dev-notes/31-2018-02-23-job-balance-adjustment/">Dev Note 31</a>:
        <ul class="list-disc pl-8">
          <li>Published information about job skill updates coming in mid March.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-20</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/114-2018-02-20-feb-21-maint/">News 114</a>:
        <ul class="list-disc pl-8">
          <li>Fixed Raid skill description.</li>
          <li>Fixed bug where Deluge reduced MaxHP of the Emperium.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-13</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/112-2018-02-13-feb-14-maint/">News 112</a>:
        <ul class="list-disc pl-8">
          <li>Some limited time costumes will be sold in the February.</li>
          <li>Lumin & Leno quest EXP rewards adjusted.</li>
          <li>The following items had their bonuses improved: Royal Knight's Greatsword, Prison Watcher, Sting Hat, Fire Staff, Ice Staff.</li>
          <li>Ice Ghost & Flame Ghost skills usage, damage and EXP adjusted.</li>
          <li>Orc Fever & Sograt Fever monsters level, status, and EXP decreased.</li>
          <li>Ant Hell 1F MD now drops Azure Crystal instead of Crimson Crystal; Izlude Dungeon 2F now drops Crimson Crystal instead of Azure Crystal.</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/30-2018-02-13-march-2018-update/">Dev Note 30</a>:
        <ul class="list-disc pl-8">
          <li>Published information about updates to come in March 2018. These updates include Louyang and evolved pets.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-06</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/108-2018-02-06-feb-7-maint/">News 108</a>:
        <ul class="list-disc pl-8">
          <li>EXP table increased slightly (based on feedback).</li>
          <li>Add new kind of life insurance.</li>
          <li>Casting time of some skills modified.</li>
          <li>Inn EXP buffs increased for month of Feb.</li>
          <li>Now actually able to Steal optioned equipment and weapons.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-02</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/103-2018-02-02-feb-2-maint/">News 103</a>:
        <ul class="list-disc pl-8">
          <li>Experience table reduced by 30% for base level 1 ~ 90.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-01</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/102-2018-02-01-feb-1-maint/">News 102</a>:
        <ul class="list-disc pl-8">
          <li>Adjusted Random Options for items dropped by level 60 and above monsters (includes list of monsters).</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-30</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/100-2018-01-30-jan-31-maint/">News 100</a>:
        <ul class="list-disc pl-8">
          <li>Second jobs (minus bard and dancer) added. <a href="/dev-notes/05-2017-12-28-q1-2018-large-scale-update/">Dev Note 05</a> job skill updates added.</li>
          <li>MDs added: <a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a>, <a href="/memorial-dungeons/izlude-2f/">Izlude Dungeon 2F</a>, <a href="/memorial-dungeons/sunken-ship/">Sunken Ship</a>.</li>
          <li>Areas opened: Turtle Island, <a href="/updates/clock-tower/">Clock Tower</a>, Niffleheim & <a href="/updates/glastheim/">Glast Heim</a>.</li>
          <li>Regional quests added: Glast Heim, Clock Tower Dungeon, Turtle Island, Niffleheim, and Mjolnir Mountains.</li>
          <li>Second part of Chronicles of Geffenia added.</li>
          <li>Turtle Island entrance quest added.</li>
          <li>Leno and Lumin quests added.</li>
          <li>Card (mostly Boss) options updated.</li>
          <li>Clock Tower Manager's Headset & Pocket Watch Hairpin added.</li>
          <li>Other regional quests updated.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-16</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/94-2018-01-16-jan-17-maint/">News 94</a>:
        <ul class="list-disc pl-8">
          <li>Jack be Dandy added to Prontera Toy Merchant.</li>
          <li>Updates to Kingdom Guild set composition.</li>
          <li>Added Lutie's Snow Snow quest.</li>
          <li>Party item distribution criteria changed.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-10</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/dev-notes/06-2018-01-10-more-update-info/">Dev Note 06</a>: Discusses updates coming end of January
        <ul class="list-disc pl-8">
          <li>Second classes will be added (minus Bard and Dancer).</li>
          <li><a href="/updates/glastheim/">Glast Heim</a>, <a href="/updates/clock-tower/">Clock Tower</a>, and Turtle Island will be added.</li>
          <li><a href="/memorial-dungeons/equipment/">Grades III, II, and I Memorial Dungeon Equipment</a> and <a href="/memorial-dungeons/equipment-crafting/">crafting</a> them will be added.</li>
          <li>New Memorial Dungeons will also be added (<a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a>, <a href="/memorial-dungeons/izlude-2f/">Izlude Dungeon 2F</a>, and <a href="/memorial-dungeons/sunken-ship/">Sunken Ship</a>).</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/07-2018-01-10-card-renewal-guide/">Dev Note 07</a>: Discusses updates coming end of January. Explanation of how the following Boss cards will change: Doppleganger, Osiris, Dracula, Hunter Fly, Golden Thief Bug, and Maya.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-02</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/87-2018-01-02-jan-3-maint/">News 87</a>:
        <ul class="list-disc pl-8">
          <li>Stone Pick-up & Arrow Crafting usuable up to 70% overweight.</li>
          <li>Can remove character outfit change with /return command.</li>
          <li>Goblin King added to Geffen 11 field.</li>
          <li>Novices can't wear Kingdom equipment. </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-28</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/84-2017-12-28-Q1-2018-major-update-announcement/">News 84</a>: Outlines the Q1 2018 updates. Essentially a re-copy of the Dev Note linked below. 
      </li>
      <li>
        <a href="/dev-notes/05-2017-12-28-q1-2018-large-scale-update/">Dev Note 05</a>: Basically is an overview of the second job skill updates coming in Q1 2018, new areas that will be added (Turtle Island, Clock Tower, Glast Heim), and additional Memorial Dungeons (MD) and MD equipment.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-22</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/80-2017-12-22-dec-27th-maint/">News 80</a>: Several reqional quests adjusted.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-18</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/74-2017-12-18-dec-20th-maint/">News 74</a>: Fever equipment drop rate lowered. Fever bosses will teleport when on standby. Several regional quests adjusted.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-12</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/64-2017-12-12-dec-13th-maint/">News 64</a>: Cost of certain items changed, some regional quest reguirements updated, summoning conditions for some Bosses increased.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-06</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        Ragnarok Zero officially opens, though there are a lot of service outtages, so really doesn't open until 2017-12-07. They eventually add a second server, and things seem to be working properly as of 2017-12-09.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-04</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/16-2017-12-04-ragnarok-zero-14th-day-maint/">News 16</a>: FLEE penalty adjusted. First class skill adjustments added. Geffen & Payon regional quests added. Inn Buff added. Jello Fragments added to Poring Village, and able to refine them into Jello Stones as well.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-29</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/12-2017-11-29-ragnarok-zero-10th-day-maint/">News 13</a>: Party EXP changed. Only get buff when in 31x31 area of party leader. Also Bonus % has been updated.
      </li>
      <li>
        <a href="/dev-notes/03-2017-11-29-balance-update-info/">Dev Note 03</a>: First mention of upcoming 1st and 2nd class skill balance adjustments. Also talks about other balance updates.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-28</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/12-2017-11-28-ragnarok-zero-9th-day-maint/">News 12</a>: Clan Helper Quest added. Random Options updated. Increase Subjugation gear drop rate when party has 7 or more people. When refining armor, rate of increase of DEF is changed.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-27</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/10-2017-11-27-ragnarok-zero-7th-day-maint/">News 10</a>:
        <ul class="list-disc pl-8">
          <li>Gym Pass NPC added.</li>
          <li>Additional Mjolnir & Prontera Regional Quests added. Geffen and Sandarman Regional Quests added.</li>
          <li>Orc's Memory & Prontera Culvert now give Subjugation Equipment rewards.</li>
          <li>Prontera Culvert Memorial Dungeon entrance base level requirement changed to level 59 or higher.</li>
        </ul>
      </li>
      <li>
        <a href="/news/11-2017-11-27-ragnarok-zero-8th-day-maint/">News 11</a>: Champion Sohee will no longer suicide. Thor's Flame does not contain Blue, Red or Yellow Gemstone.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-22</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/08-2017-11-22-ragnarok-zero-4th-day-maintenance-info/">News 08</a>: More regional quests added for Mjolnir. Kingdom Guild equipment and Desert Sand Robe added.</li>
      <li><a href="/news/07-2017-11-22-ragnarok-zero-3rd-day-maintenance-guide/">News 07</a>: Regional quests added for Sograt. Fever Field warp changes color.</li>
      <li><a href="/dev-notes/01-2017-11-22-detailed-info-about-kro-zero/">Dev Note 01: Detailed information about Ragnarok Zero</li>
      <li><a href="/dev-notes/02-2017-11-28-ragnarok-zero-cash-products-info/">Dev Note 02: Ragnarok Zero cash shop information</li>
      <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
      <li><a href="/memorial-dungeons/orcs-memory/">Orc's Memory Memorial Dungeon</a></li>
      <li><a href="/memorial-dungeons/prontera-culvert/">Prontera Culvert Memorial Dungeon</a></li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm">
    <h2 class="m-0 p-2 border-b-2">2017-11-21</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/05-2017-11-21-ragnarok-zero-2nd-day-inspection-guide/">News 05</a>: Regional quests added for Mjolnir, Umbala, Prontera. Guide boards and quest boards added. Special Tool Box Coupon & Costume Helmet Exchange Coupon added as Achievement rewards.</li>
    </ul>
  </section>

</article>