---
layout: /layouts/base.njk
title: kRO Zero Timeline
description: A timeline describing releases and updates for KRO Zero
---

<article class="mx-2">

  <h1 class="text-2xl mb-4">Timeline</h1>

  <p>This timeline attempts to cover major and more significant updates and changes, providing links where possible.</p>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-13</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/112-2018-02-13-feb-14-maint/">News 112</a>:
        <ul class="list-disc pl-8">
          <li>Some limited time costumes will be sold in the February.</li>
          <li>Lumin & Leno quest EXP rewards adjusted.</li>
          <li>The following items had their bonuses improved: Royal Knight's Greatsword, Prison Watcher, Sting Hat, Fire Staff, Ice Staff.</li>
          <li>Ice Ghost & Flame Ghost skills usage, damage and EXP adjusted.</li>
          <li>Orc Fever & Sograt Fever monsters level, status, and EXP decreased.</li>
          <li>Ant Hell 1F MD now drops Azure Crystal instead of Crimson Crystal; Izlude Dungeon 2F now drops Crimson Crystal instead of Azure Crystal.</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/30-2018-02-13-march-2018-update/">Dev Note 30</a>:
        <ul class="list-disc pl-8">
          <li>Published information about updates to come in March 2018. These updates include Louyang and evolved pets.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-06</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/108-2018-02-06-feb-7-maint/">News 108</a>:
        <ul class="list-disc pl-8">
          <li>EXP table increased slightly (based on feedback).</li>
          <li>Add new kind of life insurance.</li>
          <li>Casting time of some skills modified.</li>
          <li>Inn EXP buffs increased for month of Feb.</li>
          <li>Now actually able to Steal optioned equipment and weapons.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-02</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/103-2018-02-02-feb-2-maint/">News 103</a>:
        <ul class="list-disc pl-8">
          <li>Experience table reduced by 30% for base level 1 ~ 90.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-02-01</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/102-2018-02-01-feb-1-maint/">News 102</a>:
        <ul class="list-disc pl-8">
          <li>Adjusted Random Options for items dropped by level 60 and above monsters (includes list of monsters).</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-30</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/100-2018-01-30-jan-31-maint/">News 100</a>:
        <ul class="list-disc pl-8">
          <li>Second jobs (minus bard and dancer) added. <a href="/dev-notes/05-2017-12-28-q1-2018-large-scale-update/">Dev Note 05</a> job skill updates added.</li>
          <li>MDs added: <a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a>, <a href="/memorial-dungeons/izlude-2f/">Izlude Dungeon 2F</a>, <a href="/memorial-dungeons/sunken-ship/">Sunken Ship</a>.</li>
          <li>Areas opened: Turtle Island, <a href="/updates/clock-tower/">Clock Tower</a>, Niffleheim & <a href="/updates/glastheim/">Glast Heim</a>.</li>
          <li>Regional quests added: Glast Heim, Clock Tower Dungeon, Turtle Island, Niffleheim, and Mjolnir Mountains.</li>
          <li>Second part of Chronicles of Geffenia added.</li>
          <li>Turtle Island entrance quest added.</li>
          <li>Leno and Lumin quests added.</li>
          <li>Card (mostly Boss) options updated.</li>
          <li>Clock Tower Manager's Headset & Pocket Watch Hairpin added.</li>
          <li>Other regional quests updated.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-16</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/94-2018-01-16-jan-17-maint/">News 94</a>:
        <ul class="list-disc pl-8">
          <li>Jack be Dandy added to Prontera Toy Merchant.</li>
          <li>Updates to Kingdom Guild set composition.</li>
          <li>Added Lutie's Snow Snow quest.</li>
          <li>Party item distribution criteria changed.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-10</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/dev-notes/06-2018-01-10-more-update-info/">Dev Note 06</a>: Discusses updates coming end of January
        <ul class="list-disc pl-8">
          <li>Second classes will be added (minus Bard and Dancer).</li>
          <li><a href="/updates/glastheim/">Glast Heim</a>, <a href="/updates/clock-tower/">Clock Tower</a>, and Turtle Island will be added.</li>
          <li><a href="/memorial-dungeons/equipment/">Grades III, II, and I Memorial Dungeon Equipment</a> and <a href="/memorial-dungeons/equipment-crafting/">crafting</a> them will be added.</li>
          <li>New Memorial Dungeons will also be added (<a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a>, <a href="/memorial-dungeons/izlude-2f/">Izlude Dungeon 2F</a>, and <a href="/memorial-dungeons/sunken-ship/">Sunken Ship</a>).</li>
        </ul>
      </li>
      <li>
        <a href="/dev-notes/07-2018-01-10-card-renewal-guide/">Dev Note 07</a>: Discusses updates coming end of January. Explanation of how the following Boss cards will change: Doppleganger, Osiris, Dracula, Hunter Fly, Golden Thief Bug, and Maya.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2018-01-02</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/87-2018-01-02-jan-3-maint/">News 87</a>:
        <ul class="list-disc pl-8">
          <li>Stone Pick-up & Arrow Crafting usuable up to 70% overweight.</li>
          <li>Can remove character outfit change with /return command.</li>
          <li>Goblin King added to Geffen 11 field.</li>
          <li>Novices can't wear Kingdom equipment. </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-28</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/84-2017-12-28-Q1-2018-major-update-announcement/">News 84</a>: Outlines the Q1 2018 updates. Essentially a re-copy of the Dev Note linked below. 
      </li>
      <li>
        <a href="/dev-notes/05-2017-12-28-q1-2018-large-scale-update/">Dev Note 05</a>: Basically is an overview of the second job skill updates coming in Q1 2018, new areas that will be added (Turtle Island, Clock Tower, Glast Heim), and additional Memorial Dungeons (MD) and MD equipment.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-22</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/80-2017-12-22-dec-27th-maint/">News 80</a>: Several reqional quests adjusted.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-18</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/74-2017-12-18-dec-20th-maint/">News 74</a>: Fever equipment drop rate lowered. Fever bosses will teleport when on standby. Several regional quests adjusted.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-12</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/64-2017-12-12-dec-13th-maint/">News 64</a>: Cost of certain items changed, some regional quest reguirements updated, summoning conditions for some Bosses increased.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-06</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        Ragnarok Zero officially opens, though there are a lot of service outtages, so really doesn't open until 2017-12-07. They eventually add a second server, and things seem to be working properly as of 2017-12-09.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-12-04</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/16-2017-12-04-ragnarok-zero-14th-day-maint/">News 16</a>: FLEE penalty adjusted. First class skill adjustments added. Geffen & Payon regional quests added. Inn Buff added. Jello Fragments added to Poring Village, and able to refine them into Jello Stones as well.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-29</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/12-2017-11-29-ragnarok-zero-10th-day-maint/">News 13</a>: Party EXP changed. Only get buff when in 31x31 area of party leader. Also Bonus % has been updated.
      </li>
      <li>
        <a href="/dev-notes/03-2017-11-29-balance-update-info/">Dev Note 03</a>: First mention of upcoming 1st and 2nd class skill balance adjustments. Also talks about other balance updates.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-28</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/12-2017-11-28-ragnarok-zero-9th-day-maint/">News 12</a>: Clan Helper Quest added. Random Options updated. Increase Subjugation gear drop rate when party has 7 or more people. When refining armor, rate of increase of DEF is changed.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-27</h2>
    <ul class="pl-2 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/10-2017-11-27-ragnarok-zero-7th-day-maint/">News 10</a>:
        <ul class="list-disc pl-8">
          <li>Gym Pass NPC added.</li>
          <li>Additional Mjolnir & Prontera Regional Quests added. Geffen and Sandarman Regional Quests added.</li>
          <li>Orc's Memory & Prontera Culvert now give Subjugation Equipment rewards.</li>
          <li>Prontera Culvert Memorial Dungeon entrance base level requirement changed to level 59 or higher.</li>
        </ul>
      </li>
      <li>
        <a href="/news/11-2017-11-27-ragnarok-zero-8th-day-maint/">News 11</a>: Champion Sohee will no longer suicide. Thor's Flame does not contain Blue, Red or Yellow Gemstone.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-22</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/08-2017-11-22-ragnarok-zero-4th-day-maintenance-info/">News 08</a>: More regional quests added for Mjolnir. Kingdom Guild equipment and Desert Sand Robe added.</li>
      <li><a href="/news/07-2017-11-22-ragnarok-zero-3rd-day-maintenance-guide/">News 07</a>: Regional quests added for Sograt. Fever Field warp changes color.</li>
      <li><a href="/dev-notes/01-2017-11-22-detailed-info-about-kro-zero/">Dev Note 01: Detailed information about Ragnarok Zero</li>
      <li><a href="/dev-notes/02-2017-11-28-ragnarok-zero-cash-products-info/">Dev Note 02: Ragnarok Zero cash shop information</li>
      <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
      <li><a href="/memorial-dungeons/orcs-memory/">Orc's Memory Memorial Dungeon</a></li>
      <li><a href="/memorial-dungeons/prontera-culvert/">Prontera Culvert Memorial Dungeon</a></li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm">
    <h2 class="m-0 p-2 border-b-2">2017-11-21</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/05-2017-11-21-ragnarok-zero-2nd-day-inspection-guide/">News 05</a>: Regional quests added for Mjolnir, Umbala, Prontera. Guide boards and quest boards added. Special Tool Box Coupon & Costume Helmet Exchange Coupon added as Achievement rewards.</li>
    </ul>
  </section>

</article>