---
layout: /layouts/base.njk
title: kRO Zero Timeline
description: A timeline describing releases and updates for KRO Zero
---

<article class="mx-2">

  <h1 class="text-2xl mb-4">Timeline</h1>

  <p>This timeline attempts to cover major and more significant updates and changes, providing links where possible.</p>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-27</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li>
        <a href="/news/10-2017-11-27-ragnarok-zero-7th-day-maint/">News 10</a>: Gym Pass NPC added. Additional Mjolnir & Prontera Regional Quests added. Geffen and Sandarman Regional Quests added. Orc's Memory & Prontera Culvert now give Subjugation Equipment rewards. Prontera Culvert entrance base level requirement changed to level 59 or higher.
      </li>
      <li>
        <a href="/news/11-2017-11-27-ragnarok-zero-8th-day-maint/">News 11</a>: Champion Sohee will no longer suicide. Thor's Flame does not contain Blue, Red or Yellow Gemstone.
      </li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm mb-4">
    <h2 class="m-0 p-2 border-b-2">2017-11-22</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/08-2017-11-22-ragnarok-zero-4th-day-maintenance-info/">News 08</a>: More regional quests added for Mjolnir. Kingdom Guild equipment and Desert Sand Robe added.</li>
      <li><a href="/news/07-2017-11-22-ragnarok-zero-3rd-day-maintenance-guide/">News 07</a>: Regional quests added for Sograt. Fever Field warp changes color.</li>
      <li><a href="/dev-notes/01-2017-11-22-detailed-info-about-kro-zero/">Dev Note 01: Detailed information about Ragnarok Zero</li>
      <li><a href="/dev-notes/02-2017-11-28-ragnarok-zero-cash-products-info/">Dev Note 02: Ragnarok Zero cash shop information</li>
      <li><a href="/memorial-dungeons/poring-village/">Poring Village</a></li>
      <li><a href="/memorial-dungeons/orcs-memory/">Orc's Memory Memorial Dungeon</a></li>
      <li>Prontera Culvert Memorial Dungeon</li>
    </ul>
  </section>

  <section class="rounded-md border-2 border-solid text-sm">
    <h2 class="m-0 p-2 border-b-2">2017-11-21</h2>
    <ul class="list-disc pl-8 pt-2 pb-2 pr-2">
      <li><a href="/news/05-2017-11-21-ragnarok-zero-2nd-day-inspection-guide/">News 05</a>: Regional quests added for Mjolnir, Umbala, Prontera. Guide boards and quest boards added. Special Tool Box Coupon & Costume Helmet Exchange Coupon added as Achievement rewards.</li>
    </ul>
  </section>

</article>