---
layout: /layouts/base.njk
title: Tip Box
description: Read through a translation of all of the ingame Tip Box entries found in Korean Ragnarok Zero.
image: ''
---

<article>
  <h1 class="text-2xl mb-4">Tip Box</h1>

  <p>In Ragnarok Zero, the Tip Box contains a lot of useful information. It feels like the kRO team revamped the Tip Box content a bit to be more helpful to players. This page attempts to translate all of the ingame Tip Box entries into English.</p>

  {% tipCard
    id="1",
    title="Tip Box (팁박스)"
  %}
    <div class="border-t p-2">
      <p>You can open the Tip Box by using /tip, Alt+D or clicking the Tip Box icon.<br/>
      From the Tip Box you can get useful information to enjoy the game.<br/>
      For more information, try entering a search term in the search bar.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="2",
    title="help: Command List (명령어 일람)"
  %}
    <div class="border-t p-2">
      <p>By typing /h, you can see useful commands to use in Ragnarok.<br/>
      Commands with / can be used by entering them in the chat window.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="3",
    title="Character: HP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's health.<br/>
      <span class="text-red-500">When HP becomes 0, combat becomes impossible. Experience points may drop depending on the location</span>, so be careful with HP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="4",
    title="Character: SP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's mental power.<br/>
      SP is <span class="text-blue-400">consumed when skills are used</span>. Skills cannot be used when SP reaches 0, so be careful with SP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="5",
    title="Character: Level Up (캐릭터: 레벨업)"
  %}
    <div class="border-t p-2">
      <p>You can level up by hunting monsters or completing quests to gain experience points.<br/>
      As you increase your base level by gaining EXP, you can earn <span class="text-blue-400">Status Points</span> that determine your character's basic abilities.<br/>
      If you gain JOBEXP and raise your job level, you can get <span class="text-blue-400">skill points</span> to raise your character's skills.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

</article>