---
layout: /layouts/base.njk
title: Tip Box
description: Read through a translation of all of the ingame Tip Box entries found in Korean Ragnarok Zero.
image: ''
---

<article>
  <h1 class="text-2xl mb-4">Tip Box</h1>

  <p>In Ragnarok Zero, the Tip Box contains a lot of useful information. It feels like the kRO team revamped the Tip Box content a bit to be more helpful to players. This page attempts to translate all of the ingame Tip Box entries into English.</p>

  {% tipCard
    id="1",
    title="Tip Box (팁박스)"
  %}
    <div class="border-t p-2">
      <p>You can open the Tip Box by using /tip, Alt+D or clicking the Tip Box icon.<br/>
      From the Tip Box you can get useful information to enjoy the game.<br/>
      For more information, try entering a search term in the search bar.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="2",
    title="help: Command List (명령어 일람)"
  %}
    <div class="border-t p-2">
      <p>By typing /h, you can see useful commands to use in Ragnarok.<br/>
      Commands with / can be used by entering them in the chat window.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="3",
    title="Character: HP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's health.<br/>
      <span class="text-red-500">When HP becomes 0, combat becomes impossible. Experience points may drop depending on the location</span>, so be careful with HP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="4",
    title="Character: SP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's mental power.<br/>
      SP is <span class="text-blue-400">consumed when skills are used</span>. Skills cannot be used when SP reaches 0, so be careful with SP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="5",
    title="Character: Level Up (캐릭터: 레벨업)"
  %}
    <div class="border-t p-2">
      <p>You can level up by hunting monsters or completing quests to gain experience points.<br/>
      As you increase your base level by gaining EXP, you can earn <span class="text-blue-400">status points</span> that determine your character's basic abilities.<br/>
      If you gain JOBEXP and raise your job level, you can get <span class="text-blue-400">skill points</span> to raise your character's skills.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="6",
    title="Status: STR (Strength) (스테이터스: STR(힘))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">melee physical attack power</span>, increasing basic attack damage.<br/>
      In addition, the <span class="text-blue-400">weight limit (Weight)</span> increases, allowing you to carry more items.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Health)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="7",
    title="Status: AGI (Agility) (스테이터스: AGI(민첩))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's speed, increasing <span class="text-blue-400">attack speed</span> and <span class="text-blue-400">evasion rate</span>.<br/>
      It also affects <span class="text-blue-400">physical defense</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#8">▶ Status: VIT (Health)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="8",
    title="Status: VIT (Health) (스테이터스: VIT(체력))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's health and increases <span class="text-blue-400">Max HP</span>.<br/>
      In addition, it increases <span class="text-blue-400">physical defense</span> and <span class="text-blue-400">magic defense</span>, and also affects <span class="text-blue-400">automatic HP recovery</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="9",
    title="Status: INT (Intelligence) (스테이터스: INT(지력))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">magic attack power</span> and increases <span class="text-blue-400">magic damage</span>.<br/>
      In addition, it shortens the <span class="text-blue-400">casting time</span>, increases <span class="text-blue-400">magic defense</span>, and increases the <span class="text-blue-400">Max SP amount</span>, allowing you to use more magic.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="10",
    title="Status: DEX (Dexterity) (스테이터스: DEX(재주))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">ranged physical attack power</span>, increasing <span class="text-blue-400">ranged attack damage</span>.<br/>
      In addition, it increases the chance of successful attack by increasing the <span class="text-blue-400">hit rate</span>, shortening the <span class="text-blue-400">casting time</span>, and increasing the <span class="text-blue-400">magical attack power</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="11",
    title="Status: LUK (Luck) (스테이터스: LUK(운))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">critical hit rate</span>, increasing the chance of inflicting <span class="text-blue-400">critical damage</span> on monsters.<br/>
      Also, it affects the <span class="text-blue-400">accuracy</span>, <span class="text-blue-400">evasion rate</span>, <span class="text-blue-400">physical attack power</span>, and <span class="text-blue-400">magic attack power</span>, but <span class="text-red-500">the efficiency is low compared to other statuses, so you need to be careful when investing points.</span></p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="12",
    title="Automatic Recovery (자동회복)"
  %}
    <div class="border-t p-2">
      <p>If you stand still without taking any action, your <span class="text-blue-400">HP and SP are restored little by little</span>. Recovers twice as much while sitting.<br/>
      <span class="text-red-500">If your weight is over 70%, automatic recovery will not occur.</span></p>
      <ul class="mb-4 pl-6">
        <li><a href="#13">▶ Character: Weight</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

</article>