---
layout: /layouts/base.njk
title: Tip Box
description: Read through a translation of all of the ingame Tip Box entries found in Korean Ragnarok Zero.
image: ''
---

<article>
  <h1 class="text-2xl mb-4">Tip Box</h1>

  <p>In Ragnarok Zero, the Tip Box contains a lot of useful information. It feels like the kRO team revamped the Tip Box content a bit to be more helpful to players. This page attempts to translate all of the ingame Tip Box entries into English.</p>

  {% tipCard
    id="1",
    title="Tip Box (팁박스)"
  %}
    <div class="border-t p-2">
      <p>You can open the Tip Box by using /tip, Alt+D or clicking the Tip Box icon.<br/>
      From the Tip Box you can get useful information to enjoy the game.<br/>
      For more information, try entering a search term in the search bar.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="2",
    title="help: Command List (명령어 일람)"
  %}
    <div class="border-t p-2">
      <p>By typing /h, you can see useful commands to use in Ragnarok.<br/>
      Commands with / can be used by entering them in the chat window.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="3",
    title="Character: HP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's health.<br/>
      <span class="text-red-500">When HP becomes 0, combat becomes impossible. Experience points may drop depending on the location</span>, so be careful with HP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="4",
    title="Character: SP (캐릭터: HP)"
  %}
    <div class="border-t p-2">
      <p>Indicates a character's mental power.<br/>
      SP is <span class="text-blue-400">consumed when skills are used</span>. Skills cannot be used when SP reaches 0, so be careful with SP management.<br/>
      You can turn on/off the HP/SP gauge at the bottom of the character by pressing the Alt + END keys.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="5",
    title="Character: Level Up (캐릭터: 레벨업)"
  %}
    <div class="border-t p-2">
      <p>You can level up by hunting monsters or completing quests to gain experience points.<br/>
      As you increase your base level by gaining EXP, you can earn <span class="text-blue-400">status points</span> that determine your character's basic abilities.<br/>
      If you gain JOBEXP and raise your job level, you can get <span class="text-blue-400">skill points</span> to raise your character's skills.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="6",
    title="Status: STR (Strength) (스테이터스: STR(힘))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">melee physical attack power</span>, increasing basic attack damage.<br/>
      In addition, the <span class="text-blue-400">weight limit (Weight)</span> increases, allowing you to carry more items.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Health)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="7",
    title="Status: AGI (Agility) (스테이터스: AGI(민첩))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's speed, increasing <span class="text-blue-400">attack speed</span> and <span class="text-blue-400">evasion rate</span>.<br/>
      It also affects <span class="text-blue-400">physical defense</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#8">▶ Status: VIT (Health)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="8",
    title="Status: VIT (Health) (스테이터스: VIT(체력))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's health and increases <span class="text-blue-400">Max HP</span>.<br/>
      In addition, it increases <span class="text-blue-400">physical defense</span> and <span class="text-blue-400">magic defense</span>, and also affects <span class="text-blue-400">automatic HP recovery</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="9",
    title="Status: INT (Intelligence) (스테이터스: INT(지력))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">magic attack power</span> and increases <span class="text-blue-400">magic damage</span>.<br/>
      In addition, it shortens the <span class="text-blue-400">casting time</span>, increases <span class="text-blue-400">magic defense</span>, and increases the <span class="text-blue-400">Max SP amount</span>, allowing you to use more magic.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="10",
    title="Status: DEX (Dexterity) (스테이터스: DEX(재주))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">ranged physical attack power</span>, increasing <span class="text-blue-400">ranged attack damage</span>.<br/>
      In addition, it increases the chance of successful attack by increasing the <span class="text-blue-400">hit rate</span>, shortening the <span class="text-blue-400">casting time</span>, and increasing the <span class="text-blue-400">magical attack power</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#11">▶ Status: LUK (Luck)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="11",
    title="Status: LUK (Luck) (스테이터스: LUK(운))"
  %}
    <div class="border-t p-2">
      <p>It directly affects the character's <span class="text-blue-400">critical hit rate</span>, increasing the chance of inflicting <span class="text-blue-400">critical damage</span> on monsters.<br/>
      Also, it affects the <span class="text-blue-400">accuracy</span>, <span class="text-blue-400">evasion rate</span>, <span class="text-blue-400">physical attack power</span>, and <span class="text-blue-400">magic attack power</span>, but <span class="text-red-500">the efficiency is low compared to other statuses, so you need to be careful when investing points.</span></p>
      <ul class="mb-4 pl-6">
        <li><a href="#6">▶ Status: STR (Strength)</a></li>
        <li><a href="#7">▶ Status: AGI (Agility)</a></li>
        <li><a href="#8">▶ Status: VIT (Vitality)</a></li>
        <li><a href="#9">▶ Status: INT (Intelligence)</a></li>
        <li><a href="#10">▶ Status: DEX (Dexterity)</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="12",
    title="Automatic Recovery (자동회복)"
  %}
    <div class="border-t p-2">
      <p>If you stand still without taking any action, your <span class="text-blue-400">HP and SP are restored little by little</span>. Recovers twice as much while sitting.<br/>
      <span class="text-red-500">If your weight is over 70%, automatic recovery will not occur.</span></p>
      <ul class="mb-4 pl-6">
        <li><a href="#13">▶ Character: Weight</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="13",
    title="Character: Weight (캐릭터: 무게)"
  %}
    <div class="border-t p-2">
      <p>It represents the weight of the character and the weight of the current item.<br/>
      You can carry items as much as Weight, and <span class="text-red-500">if the weight of the item exceeds the limit, you can't carry more items.</span><br/>
      <span class="text-red-500">If Weight is 70% or higher, HP and SP are not automatically restored. Also, above 90%, players cannot attack or use skills.</span></p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="14",
    title="Combat: Attack (전투: 공격)"
  %}
    <div class="border-t p-2">
      <p>When you move the mouse cursor over the monster, the cursor changes to a sword shape.<br/>
      At this time, you can attack with a <span class="text-blue-400">click</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#15">▶ Lock On Mode: Auto Attack</a></li>
        <li><a href="#16">▶ Combat: Experience</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="15",
    title="Lock On Mode: Auto Attack (락 온 모드: 자동공격)"
  %}
    <div class="border-t p-2">
      <p>If you attack a monster while holding down the Ctrl key, you will <span class="text-blue-400">attack automatically</span> until you kill the monster, and you can cancel it by clicking anywhere else.<br/>
      Also, <span class="text-blue-400">if you type /noctrl, you can automatically attack without pressing Ctrl.<br/>
      Auto-attack mode can be canceled by re-entering /noctrl while auto-attack is turned on.</span></p>
      <ul class="mb-4 pl-6">
        <li><a href="#14">▶ Combat: Attack</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="16",
    title="Combat: Experience (전투: 경험치)"
  %}
    <div class="border-t p-2">
      <p>You can earn <span class="text-blue-400">experience points</span> by hunting monsters.<br/>
      The experience gained from monsters is proportional to the damage dealt to the monster, but even if the same damage is dealt, the first person to attack the monster will receive more experience.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#14">▶ Combat: Attack</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="17",
    title="Items (아이템)"
  %}
    <div class="border-t p-2">
      <p>Items that have fallen on the floor can be picked up by moving the mouse over the item and <span class="text-blue-400">left-clicking</span>.<br/>
      The items you pick up will be placed in your <span class="text-blue-400">inventory-owned items</span>.</p>
      <ul class="mb-4 pl-6">
        <li><a href="#64">▶ Inventory: Owned Items</a></li>
        <li><a href="#18">▶ Items: Magnifying Glass</a></li>
        <li><a href="#7000">▶ Inventory: Loud Speaker</a></li>
        <li><a href="#7036">▶ Item Manufacturing Guide</a></li>
      </ul>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

  {% tipCard
    id="18",
    title="Items: Magnifying Glass (아이템: 돋보기)"
  %}
    <div class="border-t p-2">
      <p>Equipment items obtained from monsters are not identified. Unidentified items can be identified using a {% item id="611", name="Magnifying Glass", imageFolder="items" %} sold in the Tool Shop.</p>
      <span class="block">
        <a href="#1000">See the list of tips</a>
      </span>
    </div>
  {% endtipCard %}

</article>