---
layout: /layouts/base.njk
title: 07 - Ragnarok Zero 3rd Day Maintenance Guide
description: Ragnarok Zero news note discussing 2017-11-22 maintenance updates
tags: news
listDate: '2017-11-22'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[07] Ragnarok: Zero 3rd Day Maintenance Guide</h1>

  <p>[ 2017.11.22 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Zero-exclusive field exploration achievements added. Experience is rewarded when a field treasure chest is found. (Different amounts of EXP are rewarded according to the level of the field and character.) Many fields that were not previously added have been added as targets.</p>

  <p>2. The color of the warp entering the Fever area will be changed.</p>

  <p class="font-bold mb-2">3. Sograt Desert regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Insane Aunt: moc_fild12 176, 376</li>
    <li>Manager Alibas: moc_fild07 197, 43</li>
    <li>The Fallen Man: moc_fild11 215, 215</li>
    <li>Lost Scholar: moc_fild16 218, 99</li>
    <li>Desert Craftsman: moc_fild18 169, 352</li>
  </ul>

  <p>Upon receiving some quest orders, the quest info window will be activated immediately.</p>

  <p>You now must be at least base level 15 to get the quest from the Fallen Man.</p>

  <p>4. When you do the Cute Pet Criatura tutorial, you can now return to the academy from the field via an experienced adventurer NPC.</p>

  <p>{% item id="25462", name="Costume Helmet Exchange Coupon ([이벤트]의상투구 교환 쿠폰)", imageFolder="items" %} can now be used. Look for Gratin Gracias in the northwest of Prontera (prontera 88, 332).</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=11&curpage=25" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 3일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>