---
layout: /layouts/base.njk
title: 08 - Ragnarok Zero 4th Day Maintenance Guide
description: kRO Zero news note discussing 2017-11-22 maintenance updates
tags: news
listDate: '2017-11-22'
---

<article>

  <h1 class="text-2xl mb-4">[08] Ragnarok: Zero 4th Day Maintenance Guide</h1>

  <p>[ 2017.11.22 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p class="font-bold mb-2">2. Mjolnir regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Ascending: mjolnir_03 216, 239 (available at base level 59)</li>
    <li>Herbalist: mjolnir_08 169, 250</li>
  </ul>

  <p class="font-bold mb-2">3. New equipment was added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>{% item id="20890", name="Elementary Kingdom Cloak [1] (하급 봉사의 망토 [1])", imageFolder="equip" %} + 3 others added</li>
    <li>{% item id="20891", name="Intermediate Kingdom Cloak [1] (중급 봉사의 망토 [1])", imageFolder="equip" %} + 3 others added</li>
    <li>{% item id="20892", name="Advanced Kingdom Cloak [1] (상급 봉사의 망토 [1])", imageFolder="equip" %} + 3 others added</li>
    <li>{% item id="15252", name="Desert Sand Robe [1] (사막 가죽 로브 [1])", imageFolder="equip" %} (maybe, the original Korean (사막 모래 로브) doesn't quite match this equip's name)</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=12&curpage=25" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 4일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>