---
layout: /layouts/base.njk
title: 10 - Ragnarok Zero 7th Day Maintenance Guide
description: Ragnarok Zero news note discussing 2017-11-27 maintenance updates
tags: news
listDate: '2017-11-27'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[10] Ragnarok: Zero 7th Day Maintenance Guide</h1>

  <p>[ 2017.11.27 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Gym Pass NPC [Gravity Adult] added to prt_in 254, 167 (Beauty Salon in Prontera)</p>

  <p>3. Champion monsters that teleport won't teleport as much.</p>

  <p>5. SP Recovery options are adjusted to a maximum of 50%.</p>

  <p>6. Mjolnir Olreum (mjolnir_03 229, 236) quest changed. Starting level is now 59, content is now to hunt 5 Side Winders.</p>

  <p class="font-bold mb-2">7. Sandarman regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Suerte: cmd_fild07 199, 47</li>
    <li>Min Ray: cmd_fild07 201, 49</li>
  </ul>

  <p class="font-bold mb-2">8. Geffen regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Retired Wizard: gef_fild00 48, 207</li>
    <li>Swamp Protection: gef_fild01 37, 102</li>
    <li>Finding A Treasure: gef_fild03 130, 137</li>
    <li>North Leg Repair: gef_fild04 210, 58</li>
    <li>I Also Have A Creamy Card: gef_fild05 137, 259</li>
  </ul>

  <p class="font-bold mb-2">9. Mjolnir regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Garrett: mjolnir_06 162, 254</li>
    <li>Leon: mjolnir_07 239, 223</li>
    <li>Namsu: mjolnir_09 91, 134</li>
    <li>Hilde: mjolnir_10 321, 57</li>
  </ul>

  <p class="font-bold mb-2">10. Prontera regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Isilein: prt_fild06 29, 199</li>
    <li>Cover: prt_fild07 147, 320</li>
  </ul>

  <p>11. Orc's Memory, Prontera Culvert Memorial Dungeon rewards are added:</p>

  <p>Orc's Memory</p>

  <ul class="list-disc pl-8 mb-4">
    <li>{% item id="15220", name="1 Subjugation Armor [1]", imageFolder="equip/subjugation" %}</li>
    <li>{% item id="20867", name="1 Subjugation Sash [1]", imageFolder="equip/subjugation" %}</li>
  </ul>

  <p>Prontera Culvert</p>

  <ul class="list-disc pl-8 mb-4">
    <li>{% item id="22150", name="1 Subjugation Boots [1]", imageFolder="equip/subjugation" %}</li>
    <li>{% item id="28539", name="1 Subjugation Ring [1]", imageFolder="equip/subjugation" %}</li>
  </ul>

  <p>12. Prontera Culvert MD entry level changed to level 59 or higher instead of 60 or higher.</p>

  <p>13. Fever area monster EXP and skill difficulty are corrected.</p>

  <p>14. Some quest for hiring a part-time job at a stall is added, purchasable with Gelstar. NPC: Masha, Ministry of Employment (alberta_in 20, 19).</p>

  <p>15. EXP of mini bosses is increased: Vocal, Toad, Eclipse, Mastering, Ghostring, Angeling, Deviling</p>

  <p>16. Guard is excluded from the "merchant guild equipment set conditions".</p>

  <p>17. At the Vending Machine (prontera 88, 334) you can exchange 3 purchased costumes for a "Costume Exchange Box" that can be sold. This box randomly exchanges 1 costume for another costume.</p>

  <p>Utan Quest Utan Shame "Fuchuchartan" can produce up to 5 elemental stones; the price of elemental stones has been lowered.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=14&curpage=25" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 7일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>