---
layout: /layouts/base.njk
title: 100 - Jan 31 Maintenance Info
description: kRO Zero news note discussing 2018-01-31 maintenance
tags: news
listDate: '2018-01-30'
---

<article>

  <h1 class="text-2xl mb-4">[100] January 31 Maintenance Information</h1>

  <p>[ 2018.01.30 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. The maximum level is raised from 60/50 to 99/50.</p>

  <p>2. Second jobs (minus dancer and bard) are added. Also this is when the job skill updates discussed in <a href="/dev-notes/05-2017-12-28-q1-2018-large-scale-update/">Dev Note 05</a> are added.</p>

  <p>3. New MDs added: <a href="/memorial-dungeons/ant-hell-1f/">Ant Hell 1F</a>, Izlude Dungeon 2F, and Sunken Ship.</p>

  <p>4. New areas opened: Turtle Island, Clock Tower, Niffleheim, and Glast Heim.</p>

  <p>8. The item preview window is resized.</p>

  <p>11. Daily quests for Glast Heim, Clock Tower Dungeon, Turtle Island, Niffleheim, and Mjolnir Mountains added. The second part of the Chronicles of Geffenia added. Turtle Island entrance quest added. Leno and Lumin quests are added.</p>

  <p>13. Card options were modified:</p>

  <ul class="list-disc pl-8 mb-4">
    <li><strong>Doppleganger Card</strong>: Equip on Accessory instead of Weapon</li>
    <li><strong>Moonlight Card</strong>: Equip on Accessory instead of Shoes</li>
    <li><strong>Dracula Card</strong>: When using a physical or magic attack, there is a chance to recover 20 SP every 1 second for 7 seconds</li>
    <li><strong>Osiris Card</strong>: (Option added) 20% increase in healing received when equipped.</li>
    <li><strong>Phreeoni Card</strong>: Equip on Accessory instead of Weapon</li>
    <li><strong>Stormy Knight Card</strong>: (Option added) When Storm Gust hits an enemy, it has a chance to inflict Stone Curse, Poison, Blind and Confusion with a probability according to weapon refinement.</li>
    <li><strong>Hunter Fly Card</strong>: During a physical attack, there is a chance to recover 100 HP every 1 second for 5 seconds.</li>
    <li><strong>Orc Lady Card</strong>: Increase physical attack power against normal Orcs by 30% (Orc Warrior, Orc Lady, Orc Baby, High Orc, Orc Zombie, Orc Skeleton only).</li>
    <li><strong>Bloody Knight Card</strong>: (Option added) When Meteor Storm hits an enemy, it has a chance to inflict Stone Curse, Poison, Blind and Confusion with a probability according to weapon refinement.</li>
  </ul>

  <p>14. Glast Heim, Turtle Island, Clock Tower monsters added to OCAs and Dead Branches.</p>

  <p>15. Unicorn Horn removed from Sword Fish. Raw Fish added as a drop.</p>

  <p>16. Orc Lady drop Cyfar 50% less.</p>

  <p>17. Thief's Essence Lv1 and Lv2 description updated to: If you acquire an item with Steal, ATK +30 for 60 seconds.</p>

  <p>18. Clock Tower Manager's Headset and Pocket Watch Hairpin added as craftable headgears.</p>

  <p>19. Achievements for reaching level 99 added. (Baby characters are excluded from this.)</p>

  <p>20. 5 minute cooldown applied to Kingdom Guild quests.</p>

  <p>22. Empty Bottle now costs 50z.</p>

  <p>23. [What Isis Has] Regional Quest now requires {% item id="7560", name="Old Heart Piece", imageFolder="items" %} instead of "Rotten Bandage". [Soul Purification Ceremony] now requires {% item id="6656", name="Ghost Free Charm", imageFolder="items" %} instead of Amulet. These are auto-put into inventory at a high chance on killing the necessary monsters.

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=123&curpage=20" target="_blank" rel="noopener noreferrer">1월 31일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>