---
layout: /layouts/base.njk
title: 102 - Maintenance on Thursday, February 1
description: Ragnarok Zero news note discussing 2018-02-01 maintenance
tags: news
listDate: '2018-02-01'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[102] Notice of maintenance on February 1st</h1>

  <p>[ 2018.02.01 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>The value of the Random Option given to items that can be obtained from normal monsters of level 60 or higher has been adjusted.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Merman</li>
    <li>Phreeoni</li>
    <li>Driller</li>
    <li>Ground Petite</li>
    <li>Deviace</li>
    <li>Ninetail</li>
    <li>Trijoint</li>
    <li>Pest</li>
    <li>Golem</li>
    <li>Sasquatch</li>
    <li>Horong</li>
    <li>Marionette</li>
    <li>Ghoul</li>
    <li>Wooden Golem</li>
    <li>Deviling</li>
    <li>Ghostring</li>
    <li>Strouf</li>
    <li>Marduk</li>
    <li>Steam Goblin</li>
    <li>Deviruchi</li>
    <li>Sandman</li>
    <li>Argiope</li>
    <li>Wootan Shooter</li>
    <li>Vagabond Wolf</li>
    <li>Dustiness</li>
    <li>Parasite</li>
    <li>Wootan Fighter</li>
    <li>Nereid</li>
    <li>Hunter Fly</li>
    <li>Wraith</li>
    <li>Stalactic Golem</li>
    <li>Medusa</li>
    <li>Jack</li>
    <li>Angeling</li>
    <li>Goblin</li>
    <li>Anubis</li>
    <li>Hode</li>
    <li>Orc Archer</li>
    <li>Dryad</li>
    <li>Arcrouze</li>
    <li>Sohee</li>
    <li>Sky Petit</li>
    <li>Nightmare</li>
    <li>Sedora</li>
    <li>Stone Shooter</li>
    <li>Pasana</li>
    <li>Sidewinder</li>
    <li>Sropho</li>
    <li>Megalith</li>
    <li>Wind Ghost</li>
    <li>Zerom</li>
    <li>Ancient Mummy</li>
    <li>Mutant Dragon</li>
    <li>Cramp</li>
    <li>Wild Rose</li>
    <li>Pot Dofle</li>
    <li>Mantis</li>
    <li>Stem Worm</li>
    <li>Requiem</li>
    <li>King Dramoh</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=126&curpage=21" target="_blank" rel="noopener noreferrer">2월 1일(목) 임시점검 안내 (추가)</a>
    </li>
  </ul>

</article>