---
layout: /layouts/base.njk
title: 103 - Maintenance on Friday, February 2
description: kRO Zero news note discussing 2018-02-02 maintenance
tags: news
listDate: '2018-02-02'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[103] Notice of maintenance on February 2nd</h1>

  <p>[ 2018.02.02 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>Experience required for leveling up has been adjusted. The total amount of experience required from 1 ~ 90 is reduced by about 30%.</p>

  <p>The skill pattern of Contaminated Raydric has been improved.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=127&curpage=21" target="_blank" rel="noopener noreferrer">2월 2일(금) 임시점검 안내 (완료)</a>
    </li>
  </ul>

</article>