---
layout: /layouts/base.njk
title: 108 - Maintenance on Friday, February 7
description: kRO Zero news note discussing 2018-02-07 maintenance
tags: news
listDate: '2018-02-06'
---

<article>

  <h1 class="text-2xl mb-4">[108] Notice of maintenance on February 7th</h1>

  <p>[ 2018.02.06 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. EXP table adjusted further, seems like they decreased the amount of EXP required from the last maintenance (where they raised it by 30%).</p>

  <p>4. Spring Rabbit Hat description has been corrected. It's wearable at level 60 and has 2 DEF.</p>

  <p>5. Added {% item id="6413", name="Heart Insurance (계약의 심장)", imageFolder="items" %}, which prevents loss of EXP in the event of death. If you have it in your inventory when you die, 1 is consumed and your EXP is not reduced. You can get 1 Heart Insurance by exchanging 1 Life Insurance + 100,000 zeny or 1 Gel Star. NPC is found at prontera 82, 108.</p>

  <p>7. Casting time of some skills is modified.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Class</th>
        <th>Skills Changed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">
          Mage
        </td>
        <td class="text-left">
          <b>Fire, Cold & Lightning Bolt</b>: Fixed & variable casting was corrected.
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Crusader
        </td>
        <td class="text-left">
          <b>Grand Cross:</b> Fixed & variable casting is reduced. 
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Hunter
        </td>
        <td class="text-left">
          <b>Land Mine:</b> Fixed casting is reduced.<br/>
          <b>Claymore Trap:</b> Fixed casting is reduced.<br/>
          <b>Blast Mine:</b> Fixed casting is reduced.<br/>
          <b>Ankle Snare:</b> Slight skill cooldown added.<br/>
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Priest
        </td>
        <td class="text-left">
          <b>Magnus Exorsismus:</b> Fixed & variable casting increase for each level is reduced.<br/>
          <b>Impositio Manus:</b> Fixed and variable casting is added, skill cooldown is added.<br/>
          <b>Suffragium:</b> Fixed and variable casting is added, skill cooldown is added.<br/>
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Wizard
        </td>
        <td class="text-left">
          <b>Jupitel Thunder:</b> Fixed & variable casting increase for each level is reduced.<br/>
          <b>Storm Gust:</b> Fixed and variable casting is reduced.<br/>
          <b>Lord of Vermilion:</b> Fixed and variable casting is reduced.<br/>
          <b>Meteor Storm:</b> Fixed and variable casting is reduced.<br/>
          <b>Heaven's Drive:</b> Fixed and variable casting is reduced.
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Rogue
        </td>
        <td class="text-left">
          <b>Strip weapon, shield, helm, armor:</b> Casting is removed.
        </td>
      </tr>
      <tr>
        <td class="text-left">
          Sage
        </td>
        <td class="text-left">
          <b>Endow skills:</b> Fixed casting is reduced, variable casting is added.
        </td>
      </tr>
    </tbody>
  </table>

  <p>9. Each village inn's EXP buff increases during the month of February. It goes from 10% EXP increase for 30 minutes to 100% EXP increase for 30 minutes.</p>

  <p>10. Now actually able to Steal equipment with random options (was accidentally omitted during 1/17 maintenance).</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=132&curpage=20" target="_blank" rel="noopener noreferrer">2월 7일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>