---
layout: /layouts/base.njk
title: 11 - Ragnarok Zero 8th Day Maintenance Guide
description: Ragnarok Zero news note discussing 2017-11-27 maintenance updates
tags: news
listDate: '2017-11-27'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[11] Ragnarok: Zero 8th Day Maintenance Guide</h1>

  <p>[ 2017.11.27 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Champion Sohee will no longer suicide.</p>

  <p>2. Blue, Red, and Yellow Gemstone excluded from Thor's Flame.</p>

  <p>3. Kafra Warehouse service added in the following locations: Prontera (156, 264), Payon (145, 228), Geffen (120, 188), Alberta (90, 56), Aldebaran (116, 146), and Morroc (160, 144).</p>

  <p>Tool Shop no longer sells Beginner Fly Wing or Compressed Fly Wing, but does now sell {% item id="23626", name="Stall Search Order Form (노점 검색 주문서)", imageFolder="items" %} and {% item id="23627", name="Advanced Stall Search Order Form (고급 노점 검색 주문서)", imageFolder="items" %}.</p>

  <p>Namsu Regional Quest NPC location changed to mjolnir_09 132, 80.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=16&curpage=25" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 8일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>