---
layout: /layouts/base.njk
title: 112 - Maintenance on Wednesday, February 14
description: kRO Zero news note discussing 2018-02-14 maintenance
tags: news
listDate: '2018-02-13'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[112] Notice of maintenance on February 14th</h1>

  <p>[ 2018.02.13 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Limited time costumes are sold.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>의상 북 오브 매직</li>
    <li>의상 난초머리띠</li>
    <li>의상 엘더 크라운</li>
    <li>의상 혼자놀기 상자</li>
    <li>의상 눈토끼 니트모자</li>
    <li>의상 입에 문 풍선껌</li>
    <li>의상 갈란투스 가드</li>
    <li>의상 토끼귀 니트모자</li>
    <li>의상 오러쿼츠의 왕관</li>
    <li>의상 파란색 털모자</li>
    <li>의상 병정모자</li>
    <li>의상 체인 퍼펫</li>
    <li>의상 무통 라이프</li>
    <li>의상 무지개 스카프</li>
    <li>의상 스쿠터 헬멧</li>
    <li>의상 냉기 입김</li>
    <li>의상 성가대 모자</li>
    <li>의상 퍼레이드 모자</li>
    <li>의상 루나틱 모자</li>
    <li>의상 늘어진 아르지오프</li>
  </ul>

  <p>4. Lumin & Leno Quest's reward experience was partially adjusted.</p>

  <p>
    <b>[Listen to the legend of Payon] ([페이욘 전설 듣기])</b>:<br/>
    → Existing: 50% of 55LV<br/>
    → Change: 50% of 50LV
  </p>

  <p>
    <b>[Anyway, good guy] ([어쨋든 좋은 녀석])</b>:<br/>
    → Existing: 50% of 55LV<br/>
    → Change: 50% of 50LV
  </p>

  <p>
    <b>[I hate ears... something!] ([귀... 따위 질색이야!])</b>:<br/>
    → Existing: 50% of 65LV<br/>
    → Change: 50% of 70LV
  </p>

  <p>6. Some item options have been improved.</p>

  <h6>[Royal Knight's Greatsword]</h6>

  <p>
  → Previously: +10% ASPD, CRIT + 5.<br/>
  If refine rate is 7 or higher, increases critical damage by 10%.<br/>
  If refine rate is 9 or higher, increases Critical Damage by additional 10%, ASPD + 1.
  </p>

  <p>
  → Changed: +10% ASPD, CRIT + 5.<br/>
  If refine rate is 7 or higher, increases critical damage by 15%.<br/>
  If refine rate is 9 or higher, increases Critical Damage by additional 15%, ASPD + 1.
  </p>

  <h6>[Prison Watcher]</h6>

  <p>
    → Existing: Sonic blow damage increased by 10%.<br/>
    Increases CRI + 1 and critical damage by 1% per 2 refine rate.<br/>
    If refine rate is 7 or higher, increases Sonic Blow by additional 5%.<br/>
    If refine rate is 9 or higher, increases Sonic Blow by additional 10%.<br/>
    Attack: 170 / Weight: 130
  </p>

  <p>
    → Changed: Sonic blow damage increased by 20%.<br/>
    +1% ASPD per 2 refine.<br/>
    If refine rate is 7 or higher, increases critical damage by 10%.<br/>
    If refine rate is 9 or higher, increases critical damage by additional 10%.<br/>
    Attack: 140 / Weight: 100
  </p>

  <h6>[Sting Hat]</h6>

  <p>
    → Existing: STR + 2, VIT + 1, MDEF + 3.<br/>
    When receiving a physical attack, use Earth Spike 1Lv with a certain probability.<br/>
    Reduces damage taken from Earth monsters by 5%.<br/>
    Increases damage received from fire attacks by 5%.
  </p>

  <p>
    → Change: STR + 2, VIT + 1, MDEF + 3.<br/>
    Earth magic damage increased by 10%.<br/>
    Reduces damage taken from Earth monsters by 5%.<br/>
    Increases damage received from fire attacks by 5%.
  </p>

  <h6>[Fire Staff (업화의 지팡이)]</h6>

  <p>
    → Existing: MATK + 125, MSP + 100<br/>
    Increases Meteor Storm and Fire Pillar damage by 5%.<br/>
    If refine rate is 7 or higher, increases Meteor Storm and Fire Pillar damage by additional 5%.<br/>
    If refine rate is 9 or higher, increases Meteor Storm and Fire Pillar damage by additional 5%.
  </p>
  <p>
    → Change: MATK + 125, MSP + 100<br/>
    Increases Meteor Storm and Fire Pillar damage by 10%.<br/>
    If refine rate is 7 or higher, increases Meteor Storm and Fire Pillar damage by additional 5%.<br/>
    If refine rate is 9 or higher, increases Meteor Storm and Fire Pillar damage by additional 5%.
  </p>

  <h6>[Ice Staff (빙각의 지팡이)]</h6>

  <p>
    → Existing: MATK + 125, MSP + 100<br/>
    Increases Storm Gust and Frost Nova damage by 5%.<br/>
    If refine rate is 7 or higher, increases Storm Gust and Frost Nova damage by additional 5%.<br/>
    If refine rate is 9 or higher, increases Storm Gust and Frost Nova damage by additional 5%.
  </p>
  <p>
    → Change: MATK + 125, MSP + 100<br/>
    Increases Storm Gust, Frost Nova, and Frost Diver damage by 10%.<br/>
    If refine rate is 7 or higher, increases Storm Gust, Frost Nova, and Frost Diver damage by additional 5%.<br/>
    If refine rate is 9 or higher, increases Storm Gust, Frost Nova, and Frost Diver damage by additional 5%.
  </p>

  <p>7. Glast Heim: Ice Ghost & Flame Ghost will use their skills less, their damage is reduced, and EXP increased.</p>

  <p>8. The following Fever field monsters level, status, and EXP given are decreased: Dark Orc Warrior, Dark Orc Archer, Dark Orc Baby, Dark High Orc, Dark Orc Lady, Desert Hode, Desert Frilldora, Desert Sandman</p>

  <p>12. Droopy Turtle Hat (늘어진 거북이 모자 [1]) description fixed to have 30 DEF, level limit of 60.</p>

  <p>13. Some of the Memorial Dungeon rewards have been changed. Ant Hell 1st Floor now drops Azure Crystal (푸른 빛의 결정체) instead of Crimson Crystal (붉은 마력의 결정체). Izlude Dungeon 2F now drops Crimson Crystal instead of Azure Crystal.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=136&curpage=20" target="_blank" rel="noopener noreferrer">2월 14일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>