---
layout: /layouts/base.njk
title: 114 - Maintenance on Wednesday, February 21
description: Ragnarok Zero news note discussing 2018-02-21 maintenance
tags: news
listDate: '2018-02-20'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[114] Notice of maintenance on February 21st</h1>

  <p>[ 2018.02.20 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Raid description was corrected (the skill effect is unchanged, it's just that the skill description was incorrect).</p>

  <h6>Old description</h6>

  <p>
  [Lv 1]: ATK 120%, darkness and stun probability: 13%<br/>
  [Lv 2]: ATK 140%, darkness and stun probability: 16%<br/>
  [Lv 3]: ATK 160%, darkness and stun probability: 19%<br/>
  [Lv 4]: ATK 180%, darkness and stun probability: 22%<br/>
  [Lv 5]: ATK 200%, darkness and stun probability: 25%
  </p>

  <h6>New description</h6>

  <p>
  [Lv 1]: ATK 180%, darkness and stun probability: 13%<br/>
  [Lv 2]: ATK 260%, darkness and stun probability: 16%<br/>
  [Lv 3]: ATK 340%, darkness and stun probability: 19%<br/>
  [Lv 4]: ATK 420%, darkness and stun probability: 22%<br/>
  [Lv 5]: ATK 500%, darkness and stun probability: 25%
  </p>

  <p>3. Corrected issue where the MaxHP of the Emperium was reduced by Deluge.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=138&curpage=20" target="_blank" rel="noopener noreferrer">2월 21일(수) 전 서버 정기점검 안내(완료/추가)</a>
    </li>
  </ul>

</article>