---
layout: /layouts/base.njk
title: 12 - Ragnarok Zero 9th Day Maintenance Guide
description: Ragnarok Zero news note discussing 2017-11-28 maintenance updates
tags: news
listDate: '2017-11-28'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[12] Ragnarok: Zero 9th Day Maintenance Guide</h1>

  <p>[ 2017.11.28 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Clan counseling guide quest added. See the Clan Helper at prontera 138, 183.</p>

  <p>2. Random Options were updated:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>HP & SP Recovery options only apply to armor and only go up to 50%.</li>
    <li>Weapon "modifier" options have been removed.</li>
    <li>Weapons no longer have DEF and MDEF options.</li>
    <li>Maces are classified as melee attack type and thus no long have magic type options.</li>
    <li>Staff-type items no longer have increase physical damage options.</li>
    <li>Melee attack items no longer have magic damage increase options.</li>
  </ul>

  <p>3. Subjugation equipment drops from 59th Level Memorial Dungeons Orc's Memory and Prontera Culvert are changed. When a party has 6 or less players, the drop rate is 0 - 2 per piece of equipment. When a party has 7 or more people, drop rate increases to 1 - 3 per piece of equipment.</p>

  <p>4. Updates made to Novice and 1st Class skill descriptions to be clearer.</p>

  <p>When refining armor, the rate of increase of DEF is changed:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Refine 1 - 4: +4 per refine &rarr; +10 per refine</li>
    <li>Refine 5 - 8: +7 per refine &rarr; +20 per refine</li>
    <li>Refine 9 - 12: +10 per refine &rarr; +30 per refine</li>
    <li>Refine 13 - 16: +13 per refine &rarr; +40 per refine</li>
    <li>Refine 17 - 20: +16 per refine &rarr; +50 per refine</li>
  </ul>

  <p>EX) If refine rate +8, then +120 DEF</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=18&curpage=24" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 9일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>