---
layout: /layouts/base.njk
title: 121 - Maintenance on Wednesday, February 27
description: kRO Zero news note discussing 2018-02-27 maintenance
tags: news
listDate: '2018-02-27'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[121] Notice of maintenance on February 28th</h1>

  <p>[ 2018.02.27 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>6. Heart Merchant (심장 상인) added to navigation. Heart Merchant sells Heart Insurance, introduced in <a href="/news/108-2018-02-06-feb-7-maint/">Maintenance #108</a>.</p>

  <p>7. Removed "Indestructible" bonus from Safety Shoes description.</p>

  <p>9. Broadcasts related to the appearance of bosses in some Fever regions are fixed.</p>

  <p>11. Alchemist Essence Lv1 and Lv2 bonus correction; "An abnormality in the option to increase the critical probability by the refine degree of the armor is corrected"</p>

  <p>12. [Sturdy Coco Hunt (튼튼한 코코 사냥)] quest info changed. Since Strong Coco appears in the field south of Geffen, the location guide in the quest window will change.</p>

  <p>13. Nifleheim quest "영원할 10000" (Eternal 10000) reward content is different from the quest window and a problem in which daily quest progress was impossible has been fixed.</p>

  <p>14. 5 Cute Pet evolutions will be added.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Mastering Egg (Evolves from Poring)</li>
    <li>Savage Egg (Evolves from Savage Bebe)</li>
    <li>High Orc Egg (Evolves from Orc Warrior)</li>
    <li>Metaller Egg (Evolves from Rocker)</li>
    <li>Ancient Mummy Egg (Evolves from Mummy)</li>
  </ul>

  <p>15. Follow function will be removed.</p>

  <p>16. The following items will be added as available options for Purchase Stalls (Vend Stores).</p>

  <ul class="list-disc pl-8 mb-4">
    <li>All Jello Shards</li>
    <li>All Jello Stones</li>
    <li>Shimmering Crystal</li>
    <li>Azure Crystal</li>
    <li>Crimson Crystal</li>
    <li>Jello Shard Box</li>
    <li>Mythril Ore</li>
    <li>Mythril</li>
  </ul>

  <p>20. Atelier Manus added in the northwest of Prontera (prontera 50, 293).</p>

  <p>21. Metamorphicist NPC added to the Prontera Enchant Association building who will transform a Jello Stone of one type into another Jello Stone of a different type. Costs 1 Gel Star.</p>

  <p>22. Fixed a problem where no more summons occurred when taming Zealotus in Glast Heim fever.</p>

  <p>23. Charge Cart 2 quest skill added. NPC is located at aldeberan 72, 240.</p>

  <p>26. Poring Village MD will drop at least 1 Jello Shard Box even if the number of people does not meet a certain amount. (Basically it will always drop 1 Jello Shard Box on the weekends.)</p>

  <p>30. The set option for the Khalitzburg Knight Armor (칼리츠버그 기사단의 갑옷) has been removed.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=145&curpage=20" target="_blank" rel="noopener noreferrer">2월 28일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>