---
layout: /layouts/base.njk
title: 125 - Maintenance on Wednesday, March 7th
description: kRO Zero news note discussing 2018-03-07 maintenance
tags: news
listDate: '2018-03-06'
---

<article>

  <h1 class="text-2xl mb-4">[125] Notice of maintenance on March 7th</h1>

  <p>[ 2018.03.06 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Some skill descriptions were modified.</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Resurrection:</b> Added that it consumes 1 Blue Gemstone.</li>
    <li><b>Deluge:</b> When using a Waterball within Deluge's AoE, the Deluge cells where it's cast will be used up and removed.</li>
    <li><b>Deluge, Violent Gale, & Volcano:</b> Updated description of the effect while in the AoE.</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=149&curpage=20" target="_blank" rel="noopener noreferrer">3월 7일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>