---
layout: /layouts/base.njk
title: 13 - Ragnarok Zero 10th Day Maintenance Guide
description: kRO Zero news note discussing 2017-11-29 maintenance updates
tags: news
listDate: '2017-11-29'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[13] Ragnarok: Zero 10th Day Maintenance Guide</h1>

  <p>[ 2017.11.29 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Oak Stunner added.</p>

  <p>4. Umbala Language Acquisition Quest now requires 10 Large Leaves instead of 10 Oil Paper, 5 Smooth Paper.</p>

  <p>5. The way to enter the house of Umbala Shaman will be modified.</p>

  <p>6. Party EXP changed to: When the party is on even share, bonus EXP is given according to the number of party members located in the 31 x 31 cells around the party. If you are far from the party leader, you will not be able to receive equally distributed EXP.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>2 people: +60% (60% increase)</li>
    <li>3 people: +115% (+55% increase)</li>
    <li>4 people: +165% (+50% increase)</li>
    <li>5 people: +210% (+45% increase)</li>
    <li>6 people: +250% (+40% increase)</li>
    <li>7 people: +285% (+35% increase)</li>
    <li>8 people: +315% (+30% increase)</li>
    <li>9 people: +340% (+25% increase)</li>
    <li>10 people: +360% (+20% increase)</li>
    <li>11 people: +375% (+15% increase)</li>
    <li>12 people: +385% (+10% increase)</li>
  </ul>

  <p>7. Prontera Regional Quest added: Zadis, prt_fild10 250, 272</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=19&curpage=24" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 10일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>