---
layout: /layouts/base.njk
title: 131 - Maintenance on Wednesday, March 14th
description: kRO Zero news note discussing 2018-03-14 maintenance
tags: news
listDate: '2018-03-13'
---

<article>

  <h1 class="text-2xl mb-4">[131] Notice of maintenance on March 14th</h1>

  <p>[ 2018.03.13 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Louyang will be added.</p>

  <p>7. Trap Box NPCs were added. {% item id="23711", name="Trap Box (설치용 트랩 상자)", imageFolder="items" %} holds 100 Traps.</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Craftsman Minnow:</b> Payon Hunter Guild in_hunter 104, 08</li>
    <li><b>Crafstman Agate:</b> Payon 147, 180</li>
    <li><b>Craftsman Yuno:</b> Prontera Weapon Shop prt_in 172, 136</li>
  </ul>

  <p>8. Violent Gale description error is corrected.</p>

  <p>12. Some skill adjustments were made. See <a href="/dev-notes/32-2018-03-12-march-14-2018-updates-released/">Dev Note #32</a> for more specific information.</p>

  <h6>Knight</h6>

  <p>Base ASPD increased when two-handed sword is equipped.</p>

  <h6>Rogue</h6>

  <p>Base ASPD increased when a shield is equipped (i.e. shield ASPD penalty is lowered).</p>

  <h6>Sage</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Land Protector casting is reduced.</li>
    <li>Violent Gale casting is reduced.</li>
    <li>Volcano casting is reduced.</li>
    <li>Deluge casting is reduced.</li>
  </ul>

  <h6>Hunter</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Land Mine's casting is changed from fixed to variable casting.</li>
    <li>Blast Mine's casting is changed from fixed to variable casting.</li>
    <li>Claymore Trap's casting is changed from fixed to variable casting.</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=155&curpage=19" target="_blank" rel="noopener noreferrer">3월 14일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>