---
layout: /layouts/base.njk
title: 137 - Maintenance on Wednesday, March 16th
description: kRO Zero news note discussing 2018-03-16 maintenance
tags: news
listDate: '2018-03-16'
---

<article>

  <h1 class="text-2xl mb-4">[137] Notice of maintenance on March 16th</h1>

  <p>[ 2018.03.16 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>Some of the skills used by monsters have been adjusted.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Yao Jun & Green Maiden no longer use the skill "Power Up".</li>
    <li>The probability of Yao Jun using "Sonic Blow" is greatly reduced.</li>
    <li>The probability of Civil Servant (Maoi Guai) using "Jupitel Thunder" and "Frost Nova" is greatly reduced.</li>
    <li>The level of the Civil Servant's "Dark Strike" skill is reduced.</li>
    <li>Civil Servant no longer uses "Broad Lex Aeterna".</li>
    <li>The level of "Earth Spike" used by Mi Gao is reduced.</li>
    <li>Mi Gao's usage of "Defender" is decreased.</li>
    <li>The level of Mi Gao's "Persistant Attack" is reduced.</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=161&curpage=19" target="_blank" rel="noopener noreferrer">3월 16일(금) 전 서버 임시점검 안내 (완료)</a>
    </li>
  </ul>

</article>