---
layout: /layouts/base.njk
title: 144 - Maintenance on Wednesday, March 28th
description: kRO Zero news note discussing 2018-03-28 maintenance
tags: news
listDate: '2018-03-27'
---

<article>

  <h1 class="text-2xl mb-4">[144] Notice of maintenance on March 28th</h1>

  <p>[ 2018.03.27 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>4. New siege area Britonniah (Geffen) is opened.</p>

  <p>5. Added additional WoE time on Sunday (now happens on Wednesday & Sunday).</p>

  <p>7. List of weapons forgeable by Blacksmith is updated, and the list of random options according to the ranking is changed. See <a href="/dev-notes/33-2018-03-22-april-2018-update-release/">Dev Note #33</a> for more information.</p>

  <p>8. Some new equipment added to certain mob drops. (See Dev Note #33 for links and descriptions.)</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Sting:</b> Knuckle Duster -> Wizard's Gloves [1]</li>
    <li><b>Freezer:</b> Broadsword -> Frozen Rose</li>
    <li><b>Assaulter:</b> Jewel Shield [1]</li>
    <li><b>Dullahan:</b> Dullahan's Gloves [1]</li>
    <li><b>Loli Ruri:</b> Loli Ruri's Shoes [1]</li>
    <li><b>Owl Duke</b> Owl D. Stick [1]</li>
    <li><b>Maoi Guai (Civil Servant)</b>: Thunder Bow [1]</li>
    <li><b>Green Maiden</b>: White Serpent Ring [1]</li>
  </ul>

  <p>9. Thor's Flame updated to now allow to exchange for higher minerals. See <a href="https://roz.gnjoy.com/GameInfo/gameIntroductionSystem.asp" target="_blank" rel="noopener noreferrer"> the kRO Zero Smelting page for more info</a>.</p>

  <p>11. Doppelganger Card description updated (no change in actual card effect). Added, "+15% ASPD".</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=168&curpage=19" target="_blank" rel="noopener noreferrer">3월 28일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>