---
layout: /layouts/base.njk
title: 149 - Maintenance on Wednesday, April 4th
description: Ragnarok Zero news note discussing 2018-04-04 maintenance
tags: news
listDate: '2018-04-03'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[149] Notice of maintenance on April 4th</h1>

  <p>[ 2018.04.03 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Improved the "automatic feeding" system of Homunculus and evolved Cute Pets.</p>

  <p>6. Added 5 second skill cooldown of the "Steal Coin" skill.</p>

  <p>9. Britoniah "Guild Master Room" lever positions changed.</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>gefg_cas01:</b> 151, 109 -> 152, 117</li>
    <li><b>gefg_cas02:</b> 137, 113 -> 145, 114</li>
    <li><b>gefg_cas03:</b> 267, 287 -> 275, 289</li>
    <li><b>gefg_cas04:</b> 113, 115 -> 117, 123</li>
    <li><b>gefg_cas05:</b> 141, 107 -> 149, 107</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=173&curpage=18" target="_blank" rel="noopener noreferrer">4월 4일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>