---
layout: /layouts/base.njk
title: 154 - Maintenance on Wednesday, April 11th
description: kRO Zero news note discussing 2018-04-11 maintenance
tags: news
listDate: '2018-04-10'
---

<article>

  <h1 class="text-2xl mb-4">[154] Notice of maintenance on April 11th</h1>

  <p>[ 2018.04.10 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Bard & Dancer added.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Bard & Dancer Essence Lv1 & Lv2 added to the Enchant Association's enchant list.</li>
    <li>Louyang whip and instrument added.</li>
    <li>Added Erhu of Earnest [1], which drops from Yao Jun (Hyegun), and added Barbed Wire [1], which drops from Disguise.</li>
    <li>Yao Jun no longer drops Boots[1] and Disguise no longer drops Muffler[1].</li>
  </ul>

  <p>3. A new attendance check system is added. Rewards are as follows:</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Day 1:</b> 1 [Event] Red Potion Box</li>
    <li><b>Day 2:</b> 1 [Event] Orange Potion Box</li>
    <li><b>Day 3:</b> 1 [Event] Yellow Potion Box</li>
    <li><b>Day 4:</b> 1 [Event] White Potion Box</li>
    <li><b>Day 5:</b> 2 [Event] Rapid Potion ([이벤트]신속의 포션)</li>
    <li><b>Day 6:</b> 2 [Event] Tyr's Blessing ([이벤트]에이르의 축복)</li>
    <li><b>Day 7:</b> 2 [Event] Abrasive Tool ([이벤트]연마 도구)</li>
    <li><b>Day 8:</b> 2 [Event] Illusion Powder ([이벤트]환영의 가루)</li>
    <li><b>Day 9:</b> 2 [Event] Baldur's Blessing ([이벤트]발두르의 축복)</li>
    <li><b>Day 10:</b> 2 [Event] Red Potion Box</li>
    <li><b>Day 11:</b> 2 [Event] Orange Potion Box</li>
    <li><b>Day 12:</b> 2 [Event] Yellow Potion Box</li>
    <li><b>Day 13:</b> 2 [Event] White Potion Box</li>
    <li><b>Day 14:</b> 2 [Event] Mimir's Spring Water ([이벤트]미미르의 샘물)</li>
    <li><b>Day 15:</b> 2 [Event] Magical Enhance Potion ([이벤트]매지컬 인핸스 포션)</li>
    <li><b>Day 16:</b> 2 [Event] Physical Enhance Potion ([이벤트]피지컬 인핸스 포션)</li>
    <li><b>Day 17:</b> 2 [Event] Unlimited Drink ([이벤트]언리미티드 드링크)</li>
    <li><b>Day 18:</b> 2 [Event] Power Drink ([이벤트]파워 드링크)</li>
    <li><b>Day 19:</b> 2 [Event] Challenge Drink ([이벤트]챌린지 드링크)</li>
    <li><b>Day 20:</b> 2 [Event] Finest Course Meal ([이벤트]최고급 코스 요리)</li>
  </ul>

  <p>6. The former Louyang Weapon Enchant NPC has returned, but now it grants the weapon random options. See <a href="/dev-notes/34-2018-04-03-april-11-update-notice/">Dev Note #34</a> for more information. </p>

  <p>7. The materials for crafting the Louyang headgears have been reduced. See the above Dev Note #33 for more information.</p>

  <p>8. NPC added for scroll exchange that gives random options to the Louyang Earth Dragon Weapons. You can exchange 10 pieces of Earth Dragon Stone by selecting one of "지룡비전서" or "지룡마전서".</p>

  <p>10. Monster taming in Memorial Dungeon is prohibited.</p>

  <p>13. Cute Pet Poring dialogue has been added.</p>

  <p>21. Some Achievement tasks will be changed.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Achievements: Complete exploration around Rune Midgard, reach Achievement Grade 5, reach Achievement Grade 10, Grade 15, and Grade 20</li>
    <li>Existing: 1 [Event] Special Tool Box Coupon (([이벤트]스페셜 툴 박스 쿠폰)</li>
    <li>Change: 1 [Event] Finest Course Meal ([이벤트]최고급 코스 요리)</li>
  </ul>

  <p>22. One additional character slot opened (total of 7 now instead of 6).</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=178&curpage=18" target="_blank" rel="noopener noreferrer">4월 11일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>