---
layout: /layouts/base.njk
title: 16 - Ragnarok Zero 14th Day Maintenance Guide
description: Ragnarok Zero news note discussing 2017-12-04 14th day maintenance updates
tags: news
listDate: '2017-12-04'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[16] Ragnarok: Zero 14th Day Maintenance Guide</h1>

  <p>[ 2017.12.04 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. FLEE penalty has been changed. The number of enemies required to induce the FLEE penalty has been increased slightly.</p>

  <p>2. Increase Agility, Blessing, Angelus, Crazy Uproar changes outlined in <a href="/dev-notes/03-2017-11-29-balance-update-info/">Dev Note #03</a> added. Mainly:</p>

  <ul class="list-disc pl-8 mb-4">
    <li><strong>Increase Agility:</strong> +1% ASPD per level, maximum of +10% at level 10.</li>
    <li><strong>Blessing:</strong> HIT +2 per level, maximum of +20 at level 10.</li>
    <li><strong>Angelus:</strong> +50 MaxHP per level, maximum of +500 MaxHP at level 10. This increase is a fixed value and does not affect amount Healed nor amount healed from the "Increase amount healed" option. Skill cooldown changed to 30 seconds.</li>
    <li><strong>Crazy Uproar:</strong> Gives STR +4 and ATK +30 to party members onscreen including self. A small amount of cast time and skill cooldown are added.</li>
  </ul>

  <p class="font-bold mb-2">3. Geffen area regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Leg Repairer Zion: gef_fild07 300, 205</li>
    <li>Fishing Man: gef_fild09 273, 119</li>
  </ul>

  <p class="font-bold mb-2">4. Payon area regional quests added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Forest Keeper Sena: pay_fild07 291, 349</li>
    <li>Forest Keeper Doori: pay_fild09 91, 164</li>
    <li>One Forest Keeper: pay_fild10 114, 371</li>
  </ul>

  <p>5. Morroc's Collectibles Merchant no longer sells Animal Skin or Bill of Birds.</p>

  <p>6. You can get inn buffs at certain times in the following cities: Prontera, Morroc, Geffen, Alberta, Aldeberan, Payon. Select 'Rest and go' and a certain time of day to receive the buff. For more info search for "Inn Buff" (여관버프) in the Tip Box.</p>

  <p>9. Mini-games added to Comodo: Dice & number games</p>

  <p>10. Cute Pet Evolution system is stopped for the time being.</p>

  <p>12. Jello Fragments added to Poring Village. Fragments can be refined into Jello Stone through Stone Processsing (prt_in 118 31).</p>

  <p>13. Fever area monsters received a skill balance, new equipment additions, and equipment options have been adjusted.</p>

  <p><strong>Plant Stem Bow</strong></p>

  <p>Removed "Double Strafe SP consumption reduced by 20%". Added "Bow damage increased by 5%".</p>

  <p><strong>Orcish Sword</strong></p>

  <p>Added "If refine rate +7 or higher, decrease Bash SP cost by 5."</p>

  <p><strong>Orcish Cleaver</strong></p>

  <p>Added "Increase ASPD by 10%. If refine rate +7 or higher, ASPD +1"</p>

  <p><strong>Orcish Blade</strong></p>

  <p>Added "Reduce SP consumption of Provoke by 50%"</p>

  <p><strong>Orcish Wand</strong></p>

  <p>Added "Increase Lightning Bolt damage by 10%"</p>

  <p><strong>Orcish Dagger</strong></p>

  <p>Added "If refine rate +7 or higher, ASPD +1. If +9 or higher, an additional ASPD +1."</p>

  <p><strong>Desert Leather Armor</strong></p>

  <p>Changed: Reduced existing HP increase option, reduced damage received from Formless monsters. Added: Increased HP at +7 or higher. Increased HP at +9 or higher, decreased damage received from Formless monsters.</p>

  <p><strong>Desert Leather Robe</strong></p>

  <p>Changed: Reduced existing HP, SP increase option, SP recovery decreased, Increase Agility & Blessing SP consumption decreased. Added: Increased HP, SP, and SP Recovery at +7 or higher. Increased HP, SP & SP Recovery at +9 or higher, decreased SP cost for Increase Agility and Blessing.</p>

  <p><strong>Desert Leather Suit</strong></p>

  <p>Changed: Reduced existing HP, SP increase option. Added: Increased HP, SP, HIT and FLEE at +7 or higher. Increased HP, SP, HIT and FLEE even more at +9 or higher.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=22&curpage=24" target="_blank" rel="noopener noreferrer">라그나로크 : 제로 14일차 점검 안내 (완료)</a>
    </li>
  </ul>

</article>