---
layout: /layouts/base.njk
title: 160 - Maintenance on Wednesday, April 18th
description: kRO Zero news note discussing 2018-04-18 maintenance
tags: news
listDate: '2018-04-17'
---

<article>

  <h1 class="text-2xl mb-4">[160] Notice of maintenance on April 18th</h1>

  <p>[ 2018.04.17 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Fixing Jello Synthesis level requirement. Must be at least level 30.</p>

  <p>2. MVP monsters are immune to movement restriction skills.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=185&curpage=18" target="_blank" rel="noopener noreferrer">4월 18일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>