---
layout: /layouts/base.njk
title: 169 - Maintenance on Wednesday, April 25th
description: kRO Zero news note discussing 2018-04-25 maintenance
tags: news
listDate: '2018-04-24'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[169] Notice of maintenance on April 25th</h1>

  <p>[ 2018.04.24 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>4. Zoom out function is improved. You can now zoom out to see the screen as far as +3 cells. Can be accessed by using /zoom, ALT + Y or the game settings menu.</p>

  <p>7. How guild EXP works was changed. Once the guild level reaches its max level (50), it is no longer possible for guild members to accumulate EXP for the guild. When a character's "reward experience" has reached the maximum value, that character can no longer gain EXP for the guild.</p>

  <p>8. [Remove Trap] skill modified to recover all traps when used.</p>

  <p>10. Level restrictions are applied to Field Exploration Achievements. If you do not meet the base level requirement, you will not see the treasure chest even if you arrive at the right coordinates. The minimum level is 50 and the required level increases according to region.</p>

  <p>13. Bard & Dancer skills have been adjusted.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>When teleporting / fly winging (i.e. moving) throughout the map, the dance / song / ensemble effect is remembered and does not disappear.</li>
    <li>All songs, dances, and ensemble skills have uninterruptible cast. The only thing that can interrupt the cast is the Spell Breaker skill.</li>
    <li>Ensemble fatigue is reduced from 30 seconds to 10 seconds.</li>
  </ul>

  <h6>Ensemble skills</h6>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Mr. Kim A Rich Man:</b> Does not work for quest rewards. Fixed and variable casting significantly reduced.</li>
    <li><b>The Ring of Nibelungen:</b> Fixed casting is drastically reduced.</li>
    <li><b>Eternal Chaos:</b> Fixed and variable casting are drastically reduced.</li>
    <li><b>A Drum on the Battlefield:</b> Fixed and variable casting are drastically reduced.</li>
    <li><b>Invulnerable Siegfried:</b> Fixed and variable casting are drastically reduced.</li>
    <li><b>Loki's Wail:</b> Fixed and variable casting are drastically reduced. Cooldown has been changed from 5 minutes to 3 minutes.</li>
    <li><b>Into the Abyss:</b> Fixed and variable casting are drastically reduced.</li>
    <li><b>Lullaby:</b> Fixed and variable casting are drastically reduced.</li>
  </ul>

  <h6>Dancer skills</h6>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Please Don't Forget Me:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Ugly Dance:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Service for You:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Fortune's Kiss:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Throw Arrow:</b> Fixed casting is slightly reduced and variable casting is added.</li>
    <li><b>Humming:</b> Fixed and variable casting are slightly reduced.</li>
  </ul>

  <h6>Bard skills</h6>

  <ul class="list-disc pl-8 mb-4">
    <li><b>A Poem of Bragi:</b> Fixed and variable casting are slightly reduced. Overlaps with Suffragium.</li>
    <li><b>Assassin Cross of Sunset:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Dissonance:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>A Whistle:</b> Fixed and variable casting are slightly reduced.</li>
    <li><b>Musical Strike:</b> Fixed casting is slightly reduced and variable casting is added.</li>
    <li><b>Apple of Idun:</b> Fixed and variable casting are slightly reduced.</li>
  </ul>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=195&curpage=17" target="_blank" rel="noopener noreferrer">4월 25일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>