---
layout: /layouts/base.njk
title: 178 - Maintenance on Wednesday, May 9th
description: kRO Zero news note discussing 2018-05-09 maintenance
tags: news
listDate: '2018-05-08'
---

<article>

  <h1 class="text-2xl mb-4">[178] Notice of maintenance on May 9th</h1>

  <p>[ 2018.05.08 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Valkyrie & Britoniah Guild dungeons are opened.</p>

  <p>4. May attendance check rewards will be updated. Rewards are as follows:</p>

  <ul class="list-disc pl-8 mb-4">
    <li><b>Day 1:</b> 1 [Event] 7-day Boarding Halter Box (탑승용 고삐 7일 상자)</li>
    <li><b>Day 2:</b> 1 [Event] White Potion Box</li>
    <li><b>Day 3:</b> 5 [Event] Life Insurance (생명 보험 가입증서)</li>
    <li><b>Day 4:</b> 2 [Event] Finest Course Meal ([이벤트]최고급 코스 요리)</li>
    <li><b>Day 5:</b> 5 World Travel Ticket (월드 이동권)</li>
    <li><b>Day 6:</b> 2 [Event] Rapid Potion ([이벤트]신속의 포션)</li>
    <li><b>Day 7:</b> 2 [Event] Challenge Drink ([이벤트]챌린지 드링크)</li>
    <li><b>Day 8:</b> 2 [Event] Unlimited Drink ([이벤트]언리미티드 드링크)</li>
    <li><b>Day 9:</b> 2 [Event] Power Drink ([이벤트]파워 드링크)</li>
    <li><b>Day 10:</b> 3 [Event] Megaphone (확성기)</li>
    <li><b>Day 11:</b> 2 [Event] Tyr's Blessing ([이벤트]에이르의 축복)</li>
    <li><b>Day 12:</b> 2 [Event] Baldur's Blessing ([이벤트]발두르의 축복)</li>
    <li><b>Day 13:</b> 2 [Event] Mimir's Spring Water ([이벤트]미미르의 샘물)</li>
    <li><b>Day 14:</b> 2 [Event] Illusion Powder ([이벤트]환영의 가루)</li>
    <li><b>Day 15:</b> 5 World Travel Ticket (월드 이동권)</li>
    <li><b>Day 16:</b> 1 [Event] 7-day Boarding Halter Box (탑승용 고삐 7일 상자)</li>
    <li><b>Day 17:</b> 5 [Event] Abrasive Tool ([이벤트]연마 도구)</li>
    <li><b>Day 18:</b> 1 [Event] HD Oridecon (고농축 오리데오콘)</li>
    <li><b>Day 19:</b> 1 [Event] HD Elunium (고농축 에르늄)</li>
    <li><b>Day 20:</b> 1 [Not For Sale] Costume Helmet Exchange Coupon ([이벤트]의상투구 교환 쿠폰)</li>
  </ul>

  <p>6. Four new craftable costumes are added. Visit Maymei of Manus (prontera 50, 290). The costumes are: Costume Michael's Wing (의상 미카엘의 날개), Costume Great Devil's Wing (의상 대악마의 날개), Costume Corruption Angel's Wing (의상 타락천사의 날개), and Costume Magic Circle (의상 마법진)</p>

  <p>8. Evolution of 3 types of Cute Pets will be added. Yoyo -> Choco, Bongun -> Yao Jun (Hyegun), Isis -> Little Isis.</p>

  <p>9. Drop list of some monsters will be changed. Petite (Flying): Khukri ->  Bright Red Juice (새빨간 쥬스) (Loli Ruri tame); Alarm: Oridecon -> Skeleton of the Old Man (낭인의 해골) (Wanderer tame)</p>

  <p>13. Some regions have been renamed. New names are below.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>gld_dun04: Britoniah Dungeon 1F</li>
    <li>gld_dun04_2: Britoniah Dungeon 2F</li>
    <li>gld_dun03_2: Valkyrie Dungeon 2F</li>
    <li>prtg_cas01: Kriemhild</li>
    <li>prtg_cas02: Svanhild</li>
    <li>prtg_cas03: Fadhgrindh</li>
    <li>prtg_cas04: Skoegul</li>
    <li>prtg_cas05: Gondul</li>
    <li>gefg_cas01: Repherion</li>
    <li>gefg_cas02: Eeyorbriggar</li>
    <li>gefg_cas03: Yesnelph</li>
    <li>gefg_cas04: Bergel</li>
    <li>gefg_cas05: Mersetzdeitz</li>
  </ul>

  <p>14. Changed so that items cannot be moved to the cart while talking with an NPC.</p>

  <p>15. Send when guild rewards are no longer possible (Guild level MAX, personal reward EXP max). The frequency of these messages is reduced.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=205&curpage=17" target="_blank" rel="noopener noreferrer">5월 9일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>