---
layout: /layouts/base.njk
title: 185 - Maintenance on Wednesday, May 23rd
description: kRO Zero news note discussing 2018-05-21 maintenance
tags: news
listDate: '2018-05-21'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[185] Notice of maintenance on May 23rd</h1>

  <p>[ 2018.05.21 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. <a href="/updates/amatsu/">Amatsu</a> is added.</p>

  <p>
    2. Ninja is added.<br/>
    &rarr; The job requirement for some Fever equipment will be changed:
  </p>

  <ul class="list-disc pl-8 mb-4">
    <li>Desert Leather Suit, Desert Leather Shoes, Plant Stem Suit will now be wearable by Archer, Thief, Ninja and 건너</li>
    <li>Desert Leather Armor, Desert Leather Boots, and Oak Tree Armor will now be wearable by Swordsman, Merchant, Taekwon and Taekwon Master</li>
    <li>Orcish Dagger, Leaf Dagger will now be usuable by Thief and Ninja.</li>
  </ul>

  <p>
    &rarr; Earth Dragon Asura will be added to the Louyang weapons.<br/>
    &rarr; Ninja Essence Lv1 & Ninja Essence Lv2 will be added.<br/>
    &rarr; The drop rate or drop list of some monsters will change:
  </p>

  <ul class="list-disc pl-8 mb-4">
    <li>Baby Desert Wolf: Asura drop rate increases.</li>
    <li>Myst Case: Fly Wing &rarr; Huuma Giant Wheel Shuriken (풍마수리검 대차륜) / Candy & Candy Cane drop rate increased
  </ul>

  <p>
    &rarr; The price of some Ninja weapons will change: Huuma Wing Shuriken (풍마수리검 편익), Huuma Giant Wheel Shuriken (풍마수리검 대차륜), Huuma Blaze Shuriken (풍마수리검 열화), Huuma Calm Mind (풍마수리검 명정), Khukri (고쿠린), Jitte (짓테), Kamaitachi (카마이타치), Asura (아슈라), Murasame (무라사메), and Hakujin (하쿠진).
  </p>

  <p class="mb-4">3. Some skills will be adjusted. See <a href="/dev-notes/36-2018-05-09-may-23-update-notice/">Dev Note #36</a> for more information (including specific numbers).</p>

  <hr/>

  <h5><u>Knight</u></h5>

  <h6>Bowling Bash</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>The criterion for hitting has been improved.</li>
    <li>Skill cooldown of 2 seconds is added.</li>
    <li>If the equipped weapon is a two-handed sword, additional attacks occur according to the number of targets.</li>
  </ul>

  <h6>Brandish Spear</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Cast time is slightly reduced.</li>
  </ul>

  <h6>Two-Hand Quicken</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Critical probability (CRIT) and accuracy (HIT) increase with skill level.</li>
  </ul>

  <h5><u>Crusader</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Two-handed spear's base ASPD is increased by about 2 compared to before.</li>
  </ul>

  <h6>Shield Boomerang</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>The damage formula has been changed.</li>
  </ul>

  <h5><u>Blacksmith</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Two-handed axe's base ASPD is increased by about 3 compared to before.</li>
  </ul>

  <h6>Adrenaline Rush</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Accuracy (HIT) increase affect added. Accuracy increases with skill level.</li>
  </ul>

  <h5><u>Alchemist</u></h5>

  <h6>Bio Cannibalize</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Summoned plants' basic stats have been increased.</li>
    <li>Skills were added to the summoned plants.</li>
    <li>EXP gained by the plants will be transferred to the Alchemist. (NOTE: This is crossed out in the original, with the note that it will be applied later.)</li>
  </ul>

  <h6>Sphere Mine</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>EXP gained by the plants will be transferred to the Alchemist. (NOTE: This is crossed out in the original, with the note that it will be applied later.)</li>
    <li>If there are enemies around the summoned Marine Sphere, the Marine Sphere will self-destruct.</li>
  </ul>

  <h5><u>Assassin</u></h5>

  <h6>Venom Splasher</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>No longer consumes a Red Gemstone.</li>
    <li>Damage is not divided amongst the number of enemies.</li>
    <li>Skill cooldown decreases based on skill level.</li>
    <li>Damage is increased.</li>
  </ul>

  <h5><u>Rogue</u></h5>

  <h6>Back Stab</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>When a Dagger is equipped, an additional attack occurs.</li>
    <li>You will not be able to use it while hiding.</li>
    <li>A 1 second skill cooldown is added.</li>
  </ul>

  <h6>Plagiarism (Intimidate)</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>ASPD increases according to skill level.</li>
  </ul>

  <h6>Raid</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Damage is increased.</li>
    <li>Enemies struck with this skill will take 30% more damage (15% on Boss monsters) for 10 seconds.</li>SP consumption of this skill is reduced.</li>
  </ul>

  <h5><u>Wizard</u></h5>

  <h6>Jupitel Thunder</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting is changed to 0.5 seconds regardless of skill level.</li>
  </ul>

  <h5><u>Sage</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Base ASPD when equipping a shield is increased by about 2 compared to before.</li>
  </ul>

  <h6>Violent Gale, Deluge, Volcano</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Changed from yellow gemstone consumption to blue gemstone consumption.</li>
  </ul>

  <h6>Volcano</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Now increases both ATK and MATK of targets within range.</li>
  </ul>

  <h6>Auto Spell</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>The magic spells available to be selected changed.</li>
    <li>The activated skill level is changed to be a fixed level instead of random.</li>
    <li>Level 5 is the max level for a spell.</li>
    <li>Activation probability increases according to skill level.</li>
  </ul>

  <h5><u>Priest</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Base ASPD when equipping a shield is increased by about 2 compared to before.</li>
  </ul>

  <h6>Mace Mastery</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>When equipping a Mace, the critical probability (CRIT) increases.</li>
  </ul>

  <h5><u>Monk</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Base ASPD when equipping a shield is increased by about 2 compared to before.</li>
  </ul>

  <h6>Raging Quadruple Blow (Chain Combo)</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>SP consumption of this skill is reduced.</li>
    <li>This skill's damage is increased when wearing Knuckle-type weapons.</li>
  </ul>

  <h6>Raging Thrust (Combo Finish)</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>SP consumption of this skill is reduced.</li>
    <li>Damage is increased.</li>
  </ul>

  <h5><u>Hunter</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Base ASPD when equipping a bow is increased by about 1 compared to before.</li>
  </ul>

  <h6>Blitz Beat</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Blitz Beat damage is changed to be affected by AGI and DEX.</li>
  </ul>

  <h5><u>Bard & Dancer</u></h5>

  <h6>General</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Base ASPD when equipping a shield is increased by about 2 compared to before.</li>
  </ul>

  <hr/>

  <p class="mt-4">10. Bard & Dancer's Essence Lv2 have been modified.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Existing: Increases ATK by 3x the skill level of [Musical Lessons] or [Dancing Lessons].</li>
    <li>Update: Increases ATK by 5x the skill level of [Musical Lessons] or [Dancing Lessons].</li>
  </ul>

  <p>13. The signs for the classrooms on the 2nd floor of the Criatura Academy have been replaced.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=213&curpage=18" target="_blank" rel="noopener noreferrer">5월 23일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>