---
layout: /layouts/base.njk
title: 190 - Maintenance on Wednesday, May 30
description: Ragnarok Zero news note discussing 2018-05-30 maintenance
tags: news
listDate: '2018-05-29'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[190] Notice of maintenance on May 30th</h1>

  <p>[ 2018.05.29 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Some costumes were missing the word "Costume" in front of the item name.</p>

  <p>2. Eden quest for collecting "chunks of sand" changed to collecting "broken swords".</p>

  <p>3. Detailed description for the Eden Group Mark will be added.</p>

  <p>4. Back Stab's skill description was corrected. SP consumption was changed from 16 to 12.</p>

  <p>5. Skill damage errors for some Monk skills have been corrected:</p>

  <h6>Raging Quadruple Blow (Chain Combo)</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Skill description of the damage has been corrected.</li>
    <li>Damage when wearing a knuckle-type weapon has been corrected:</li>
    <li>Before: 400% / 500% / 600% / 700% / 800%</li>
    <li>Update: 600% / 700% / 800% / 900% / 1000%</li>
  </ul>

  <h6>Raging Thrust (Combo Finish)</h6>

  <ul class="list-disc pl-8 mb-4">
    <li>Damage per skill level has been modified:</li>
    <li>Before: 200% / 350% / 500% / 650% / 800%</li>
    <li>Update: 600% / 750% / 900% / 1050% / 1200%</li>
  </ul>

  <p>6. Experience gained by monsters summoned with Bio Cannibalize and Summon Marine Sphere go to the Alchemist.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=218&curpage=17" target="_blank" rel="noopener noreferrer">5월 30일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>