---
layout: /layouts/base.njk
title: 200 - Maintenance on Wednesday, June 27th
description: kRO Zero news note discussing 2018-06-27 maintenance
tags: news
listDate: '2018-06-25'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[200] Notice of maintenance on June 20th</h1>

  <p>[ 2018.06.25 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. <a href="/updates/yuno/">Yuno</a> will be added.</p>

  <p>2. Advanced Potion Merchant will be added to navigation.</p>

  <p>6. Will add an "Emblem Frame" option in the game settings as well as a /frame command, to more easily check emblems that are more transparent.</p>

  <p>7. <a href="/updates/clock-tower/">Aldebaran Clock Tower</a> boss summon location will change. Before, after a certain number of kills of a certain monster, the boss appeared at a random location. Now, the boss will appear at the last monster kill location.</p>

  <p>8. Some of the <a href="/updates/louyang/">Louyang</a> and <a href="/updates/amatsu/">Amatsu</a> mobs behavior will be changed.</p>
  
  <ul class="list-disc pl-8 mb-4">
    <li>When chasing after targets, Green Maiden (청이), Mao Guai (묘괴), Yao Jun (혜군), Shinobi (시노비), and Tengu (천구) will now teleport at a certain probability.</li>
    <li>When chasing after targets, Tengu will also use Earth Spike and Lightning Bolt at a low probability.</li>
    <li>Mi Gao (식양), Karakasa (카라카사), and Kapha (캇파) will now stop chasing after a target at a certain probability.</li>
  </ul>

  <p>10. The price and weight of Alchemist consumables will be adjusted. The price of the below items will go from 150 Zeny to 0 Zeny, and their weight will decrease from 1 to 0.5.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Glistening Coat (코팅약)</li>
    <li>Plant Bottle (식인식물병)</li>
    <li>Marine Sphere Bottle (기뢰병)</li>
    <li>Acid Bottle (염산병)</li>
    <li>Bottle Grenade (화염병)</li>
  </ul>

  <p>11. Plants summoned via Bio Cannibalize will no longer attack Homunculus.</p>

  <p>13. Raid's additional damage on a target will now be increased with Lex Aeterna (기습의 부가 효과가 렉스 에테르나의 효과에 영향을 받지 않던 현상이 수정됩니다).</p>

  <p>15. Lullaby skill will no longer ignore Sleep resistance.</p>

  <p>22. Some 2nd Job/Expanded Job <a href="/memorial-dungeons/equipment-enchanting/">Essence Enchants</a> have been changed.</p>

  <p>23. New 2nd/Expanded Job <a href="/memorial-dungeons/equipment-enchanting/">Essence Enchants</a> have been added.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=228&curpage=18" target="_blank" rel="noopener noreferrer">6월 27일(수) 전 서버 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>