---
layout: /layouts/base.njk
title: 205 - Maintenance on Wednesday, July 11th
description: Ragnarok Zero news note discussing 2018-07-11 maintenance
tags: news
listDate: '2018-07-11'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[205] Notice of maintenance on July 11th</h1>

  <p>[ 2018.07.09 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Memorial Dungeon (MD) Enchant Association changed in the following ways:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>The existing enchant NPCs are replaced with the following NPCs: (1) 1st Job Enchant Staff, (2) 2nd Job Enchant Staff, and (3) Ninja Enchant Staff.</li>
    <li>The warp leading into the Enchant Association has been changed to display in a golden color.</li>
    <li>Location and some information about Memorial Enchants have been added to the Tip Box.</li>
  </ul>

  <p>2. If you fall into the state of being unable to fight, the following will occur:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Vend and purchase stalls will be closed.</li>
    <li>Some heavy boss and boss summon broadcast messages will not be visible.</li>
    <li>Monsters on the screen will not be visible.</li>
    <li>The color of screen changes to dark.</li>
    <li>Some other broadcasts will not be visible.</li>
  </ul>

  <p>3. Novice's Play Dead skill changed. Now it has a duration of 30 seconds, a 60 second skill cooldown, and is unable to be canceled randomly.</p>

  <p>4. The Magic Sword Bosses will be added:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Kill 500 Wanderer in gl_cas02 to spawn Executioner (액서큐서너)</li>
    <li>Kill 500 Carat in gl_cas01 to spawn Ogretooth (오우거투스)</li>
    <li>Kill 500 Marionette in gl_in01 to spawn Mysteltainn (미스틸테인)</li>
  </ul>

  <p>5. Attendance rewards reset for July.</p>

  <p>12. Vesper's Memory (베스퍼의 기억) & Lava Ore (용암 원석) changed so that they can be used with a Purchase Stall.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=233&curpage=18" target="_blank" rel="noopener noreferrer">7월 11일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>