---
layout: /layouts/base.njk
title: 208 - Maintenance on Wednesday, July 18th
description: kRO Zero news note discussing 2018-07-18 maintenance
tags: news
listDate: '2018-07-16'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[208] Notice of maintenance on July 18th</h1>

  <p>[ 2018.07.16 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Alberta's NPC Takanoha (타카노하) has been modified to move Ninja's under level 70 to Amatsu. Ninja positions will be changed so that they can be moved to the Ninja Guild using the Token of Paradise.</p>

  <p>3. The following items will be made available for use with a Purchase Stall:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>High Quality Meal (최고급 코스 요리)</li>
    <li>Challenge Drink (챌린지 드링크)</li>
    <li>Power Drink (파워 드링크)</li>
    <li>Magical Enhance Potion (매지컬 인핸스 포션)</li>
    <li>Physical Enhance Potion (피지컬 인핸스 포션)</li>
    <li>Mimir's Spring Water (미미르의 샘물)</li>
    <li>Baldur's Blessing (발두르의 축복)</li>
  </ul> 

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=236&curpage=18" target="_blank" rel="noopener noreferrer">7월 18일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>