---
layout: /layouts/base.njk
title: 215 - Maintenance on Wednesday, August 8th
description: Ragnarok Zero news note discussing 2018-08-06 maintenance
tags: news
listDate: '2018-08-06'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[215] Notice of maintenance on August 8th</h1>

  <p>[ 2018.08.06 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. God Items Quests (신급 퀘스트; 신(god)급(level, rank) 퀘스트) will be updated.</p>

  <p>2. August attendance check will be updated. More details will be provided via the update page.</p>

  <p>6. The description of the Dark Priest card has been clarified.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Old: When attacking, decreases the enemy's SP at a small chance. When equipped by a Sage class, every time you physically attack a monster, SP is restored by 1.</li>
    <li>New: When attacking, decreases the enemy's SP at a small chance. When equipped by a Sage class, <b>each time a physical attack hits a monster,</b> SP is restored by 1.</li>
  </ul> 

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=243&curpage=17" target="_blank" rel="noopener noreferrer">8월 8일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>