---
layout: /layouts/base.njk
title: 217 - Maintenance on Wednesday, August 14th
description: kRO Zero news note discussing 2018-08-14 maintenance
tags: news
listDate: '2018-08-10'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[217] Notice of maintenance on August 14th</h1>

  <p>[ 2018.08.14 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Weapons dropped from the Doomed Sword Crafting quests and the Doomed Sword Bosses have been renamed.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Excalibur (엑스칼리버) -> {% item id="13496", name="Holy Sword Excalibur (성검 엑스칼리버)", imageFolder="equip/yuno" %}</li>
    <li>Edge (엣지) -> {% item id="13497", name="Doomed Sword Edge (마검 엣지)", imageFolder="equip/yuno" %}</li>
    <li>Mysteltainn (미스틸테인) -> {% item id="13494", name="Doomed Sword Mysteltainn (마검 미스틸테인)", imageFolder="equip/yuno" %}</li>
    <li>Grim Tooth (그림투스) -> {% item id="28758", name="Doomed Sword Grim Tooth (마검 그림투스)", imageFolder="equip/yuno" %}</li>
    <li>Executioner (액서큐서너) -> {% item id="21048", name="Doomed Sword Executioner (마검 액서큐서너)", imageFolder="equip/yuno" %}</li>
    <li>Nagan (네이건) -> {% item id="13498", name="Doomed Sword Nagan (마검 네이건)", imageFolder="equip/yuno" %}</li>
  </ul> 

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=245&curpage=17" target="_blank" rel="noopener noreferrer">8월 14일(화) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>