---
layout: /layouts/base.njk
title: 228 - Maintenance on Wednesday, September 5
description: Ragnarok Zero news note discussing 2018-09-05 maintenance
tags: news
listDate: '2018-09-03'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[228] Notice of maintenance on September 5th</h1>

  <p>[ 2018.09.03 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. <a href="/updates/malangdo/">Malangdo</a> will be added. To get to Malangdo, find Sailor Kong in either Alberta (200, 51) or Izlude (182, 218).</p>

  <p>3. Malangdo-related content is added to the Tip Box.</p>

  <p>5. The phenomenon that movement stops when changing equipment sets is fixed.</p>

  <p>6. It is modified to make trading impossible while the refine UI window is open.</p>

  <p>7. Arrow Shower's casting time will work properly in all instances now.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=257&curpage=18" target="_blank" rel="noopener noreferrer">9월 5일(수) 전 서버 정기점검 안내(완료)</a>
    </li>
  </ul>

</article>