---
layout: /layouts/base.njk
title: 64 - December 13th maintenance Info
description: kRO Zero news note discussing 2017-12-13 day maintenance updates
tags: news
listDate: '2017-12-12'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[64] December 13th Maintenance Information</h1>

  <p>[ 2017.12.12 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>1. Number of Coco in Prontera Field 10 increased.</p>

  <p>3. Fever area monsters will now use their skills more often.</p>

  <p>4. Local guide NPCs have been added to Umbala and Lutie. Umbala locations: umbala 99, 158 and 128, 94. Lutie locations: xmas 140, 137.</p>

  <p>6. Prontera regional quest: Fishing Bait (1) completion conditions changed. Instead of 10 Hard Horn, now need 10 Monkey Tail.</p>

  <p>8. Reward for "Poring Village Investigation Quest" is now five [Not For Sale] 20 White Potion Box instead of one.</p>

  <p>9. Portable Egg Incubator price has been lowered (10,000z &rarr; 100z).</p>

  <p>13. Summoning conditions for some bosses have been updated:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>[Vocal]: Kill 200 Rockers (was 50)</li>
    <li>[Dark Orc Hero]: Kill 10,000 Dark High Orcs (was 1,000)</li>
    <li>[Dark Orc Lord]: Kill 10,000 Dark Orc Archer (was 1,000)</li>
    <li>[Desert Phreeoni]: Kill 10,000 Desert Hode (was 1,000)</li>
  </ul>

  <p>16. The price of Cheese has been lowered to 28z from 2,800z.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=85&curpage=22" target="_blank" rel="noopener noreferrer">12월 13일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>