---
layout: /layouts/base.njk
title: 74 - December 20th maintenance Info
description: kRO Zero news note discussing 2017-12-20 day maintenance updates
tags: news
listDate: '2017-12-18'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[74] December 20th Maintenance Information</h1>

  <p>[ 2017.12.18 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>3. Equipment drop rate in Fever areas has been lowered.</p>

  <p>4. Comodo regional quest "Cute guys" can be taken at level 45 (lowered from 60). "Disgusting guys" can be taken at level 55 (lowered from 60).</p>

  <p>7. Fever Bosses (Dark Orc Hero, Dark Orc Lord, Desert Phreeoni) will now teleport when it's on standby.</p>

  <p>8. Regional Quest "Geffen: Swamp Fairy" now only requires 6 Spawn (instead of 30).</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=95&curpage=22" target="_blank" rel="noopener noreferrer">12월 20일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>