---
layout: /layouts/base.njk
title: 87 - Jan 3 Maintenance Info
description: kRO Zero news note discussing 2018-01-03 maintenance
tags: news
listDate: '2018-01-02'
---

<article>

  <h1 class="text-2xl mb-4">[87] January 3rd Maintenance Information</h1>

  <p>[ 2018.01.02 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Stone Pick Up & Arrow Crafting skills are usuable up to 70% weight limit.</p>

  <p>3. Can cancel a character's outfit change by typing the /return command.</p>

  <p>9. Goblin King added to Geffen 11 field.</p>

  <p>11. Novices not able to wear Kingdom quest gear.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=109&curpage=21" target="_blank" rel="noopener noreferrer">1월 3일(수) 정기점검 안내 (완료)</a>
    </li>
  </ul>

</article>