---
layout: /layouts/base.njk
title: 94 - Jan 17 Maintenance Info
description: Ragnarok Zero news note discussing 2018-01-17 maintenance
tags: news
listDate: '2018-01-16'
image: '/images/meta/criatura-academy-meta-news.png'
---

<article>

  <h1 class="text-2xl mb-4">[94] January 17th Maintenance Information</h1>

  <p>[ 2018.01.16 ]</p>

  <p class="text-red-600 font-bold">NOTE: I've only chosen the parts I deem important from this news article. For the full version, see the link to the original at the bottom.</p>

  <p>2. Information about Goblin King, Dracula and Doppleganger will be added to the Tip Box window.</p>

  <p>7. Jack be Dandy added to Prontera's Toy Merchant (prt_in 117/79).</p>

  <p>8. Updated the Kingdom Guild set composition.</p>

  <p>11. Added Lutie's Snow Snow's quest. Start at xmas_in 165/174 Christmas Girl. Start level = 30.</p>

  <p>20. Hat combination recipes have been added to the Tip Box.</p>

  <p>21. Party item distribution criteria changed:</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Random distribution to party members within 31x31 cells from the center of the party.</li>
    <li>For party members outside of 31x31 cells, that party member just gets the item.</li>
    <li>For equal distribution of items option: does not mean the items are distributed evenly; the person who picks up the item has a higher probability of getting the item then other party members.</li>
  </ul>

  <p>22. Prontera Culvert MD difficulty adjusted. If when you defeat the boss, you have also killed all eggs and small thief bugs, an additional box will appear with additional rewards.</p>

  <p>23. Equipment acquired via the 'Steal' skill will have random options.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=117&curpage=21" target="_blank" rel="noopener noreferrer">1월 17일(수) 정기점검 안내 (완료, 수정)</a>
    </li>
  </ul>

</article>