---
layout: /layouts/base.njk
title: 01 - Detailed information about Ragnarok Zero
description: kRO Zero dev note introducing Ragnarok Zero
tags: devNote
listDate: '2017-11-22'
---

<article>
  <h1 class="text-2xl mb-4">[01] Detailed information about Ragnarok Zero</h1>

  <p>[ 2017.11.22 ]</p>

  <p>Hi Ragnarok users, Ragnarok Zero team here.</p>

  <p>We have prepared a lot of Ragnarok Zero for testing, so that many users will have fun adventuring. Today, let's talk about Ragnarok Zero being tested.</p>

  <h2>System</h2>

  <p>Ragnarok Zero uses a post-renewal status system. Prior to renewal, the status system was very important and carried a lot of weight, so the need for equipment farming was reduced, or the performance gap between stats and equipment was severely compromised.</p>

  <p>Ragnarok Zero attempts to maximize fun through farming diverse equipment and giving equipment different options.</p>

  <p>There are some changes to elements outside the status system. Armor increased by 3 times the original armor level, and status-based resistance values changed. Other things that have changed:</p>

  <ul class="list-disc pl-8">
    <li>The party equalization system</li>
    <li>The level difference experience penalty</li>
    <li>The drop rate penalty</li>
    <li>Global skill cooldown has been limited to a maximum of 0.3 seconds</li>
  </ul>

  <p>You will be able to change to second class on January 2018.</p>

  <h2>Quest structure change</h2>

  <p>In Ragnarok Zero, the goal of monster hunting is to farm, and leveling up is done easily through various quests. We have a new system ready to proceed.</p>

  <h3>Quest rewards reorganization</h3>

  <p>In Ragnarok Zero, a system has been added that provides a certain amount of quest reward experience. As a result, if you continue the various quests, you can acquire a lot of experience easily, and you can find various items such as reward items from quests and good consumable items. This means that the speed and efficiency of level up will vary depending on how much and how efficiently you perform quests in Ragnarok Zero.</p>

  <img class="mt-6 mb-2" src="/images/dev-notes/quest_rewards.gif" alt="Quest UI screenshot" />

  <h3>Tip Box information revision</h3>

  <p>In Ragnarok Zero, the Tip Box offers a variety of quest information. In Ragnarok Online world, there are a myriad of other quests besides episode quests, and we are aiming for a structured quest method so that adventurers of the Midgard Continent can enjoy quests freely. We will support you in the Tip Box to make it easier to search for and start such quests.</p>

  <img class="mt-6 mb-2" src="/images/dev-notes/tip_box_revision.gif" alt="Tip Box UI screenshot" />

  <h3>Quest UI and internal quest structure changes</h3>

  <p>Quest UI has been improved and various functions have been added. In Ragnarok Zero, each of the quests were rebuilt internally. Based on this, the quest UI has been changed, and many functions have been developed to provide more diverse materials.</p>

  <p>If you do not know where to go during the quest, open the quest window (ALT + U) and click on the link. Navigation will guide you as much as possible.</p>

  <p>In addition, various quests such as "Geffenia Entrance" quests and "Killhair School Entrance" are being restructured to lower difficulty levels. (또한 게페니아 입장 퀘스트, 킬하이르 학원 입장 퀘스트 등 과거에 제작된 퀘스트들에 대해서는 내부적인 구조 재구성 또는 난이도 하향 조정을 위한 신규 제작 등 다양한 작업이 진행되고 있습니다.) The contents will be updated sequentially.</p>

  <img class="mt-6 mb-2" src="/images/dev-notes/quest_restructuring.gif" alt="Quest UI screenshot" />

  <h2>Billing system</h2>

  <p>Ragnarok Zero runs partial subscription services like Ragnarok Online. This will allow more Ragnarok users to enjoy the game. In addition, Ragnarok Zero will sell monthly premium account and character premium services, and will introduce a new commodity called "Gel Star" (젤스타), which will change the billing system.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=6&curpage=3" target="_blank" rel="noopener noreferrer">라그나로크 제로 관련 상세안내</a>
    </li>
  </ul>

</article>