---
layout: /layouts/base.njk
title: 02 - Ragnarok Zero cash shop information
description: kRO Zero dev note discussing the cash shop
tags: devNote
listDate: '2017-11-22'
---

<article>
  <h1 class="text-2xl mb-4">[02] Ragnarok Zero cash products information</h1>

  <p>[ 2017.11.28 ]</p>

  <p>Hi Ragnarok Users. Ragnarok Zero team of RO1 studio here. We have a prepared a lot of tests for Ragnarok Zero, so that many users will have more fun in adventure. Today I am going to let you know about the cash content being sold on the Zero server.</p>

  <p>The details are as follows.</p>

  <h2>Gel Star (젤스타)</h2>

  <p>The price of "Gel Star", which is used for various purposes ingame, is set at 250 won.</p>

  <p>There are 4 units and 40 units available at the cash shop.</p>

  <ul class="list-disc pl-8">
    <li>4 Gel Star Box - 1,000 won</li>
    <li>40 Gel Star Box - 10,000 won</li>
  </ul>

  <p>It is used for fashion stones and special toolboxes, but there are many other applications and we will continue to add usages over time.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/gratin_gracias.png" alt="Gratin Gracias NPC screenshot" />
    <figcaption>
      (You can get one outfit if you give 15 Gel Star to Gratin Gracias.)
    </figcaption>
  </figure>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/navigate_with_gelstar.png" alt="Navigation screenshot" />
    <figcaption>
      (If you only have one Gel Star, you can navigate to any map anywhere using navigation.)
    </figcaption>
  </figure>

  <p>World mobility service, which allows you to easily move via navigation, and Enriched Oridecon, which increases smelting probability, and a loudspeaker for full chatting will also be available via Gel Star.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/loudspeaker_npc.png" alt="Loudspeaker NPC" />
    <figcaption>
      (The loudspeaker used for the whole chat also consumes one Gel Star.)
    </figcaption>
  </figure>

  <h2>Fixed Service Products</h2>

  <p>We decided to review the essential packages and hunting packages that were released before, and to delete the duplicate experience and item drop rate options and proceed with the following products.</p>

  <h3>Essential Package</h3>

  <p>It is a product that bundles the basic functions to enjoy the game comfortably.</p>

  <ul class="list-disc pl-8">
    <li>
      <strong>Name:</strong> Essential Package
    </li>
    <li>
      <strong>Description:</strong> [Use period] 30 days after using item [Effect target] Character using item gets 30 days EXP & item drop rate + 20%. Provides full recovery and buffs, three times a day. Additionally, can use World Mobility via navigation 30 times. HP / SP full recovery and buffs available daily. [Blessing of Yggdrasil] All status + 7, ATK + 30, MATK + 30, HIT + 5, FLEE + 5 for 1 hour.
    </li>
    <li>
      <strong>Price:</strong> 15,000 wan
    </li>
  </ul>

  <p>It has the basic effect of increasing your experience and drop rate by 20% for 30 days. You can also summon an NPC that gives you "Blessing of Yggdrasil" buffs three times a day.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/blessing_of_yggdrasil_effect.png" alt="Blessing of Yggdrasil effect screenshot" />
    <figcaption>
      (The effects of "Blessing of Yggdrasil" lasts for 1 hour.)
    </figcaption>
  </figure>

  <p>This blessing is reset every day at 4 am. If you have used all three blessings, you can also use a "Gel Star" to get the blessing.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/gel_star_yggdrasil_blessing.png" alt="Blessing of Yggdrasil with Gel Star screenshot" />
    <figcaption>
      (You can get the same service if you have a Gel Star.)
    </figcaption>
  </figure>

  <p>In addition, it provides 30 "World Moving Passes", which you can use to navigate to most places you can search by navigation.</p>

  <ul class="list-disc pl-8">
    <li>
      <strong>Name:</strong> World Moving Rights
    </li>
    <li>
      <strong>Description:</strong> You can navigate to the desired place in navigation. When searching for an NPC, it moves you to the map where the NPC is located. Some indoor maps and siege maps are limited.
    </li>
    <li>
      <strong>Price:</strong> 30 passes presented upon purchase of Essential Package.
    </li>
  </ul>

  <h3>30-day flat ticket</h3>

  <p>We play to sell two 30-day passes to enjoy the game conveniently.</p>

  <ul class="list-disc pl-8">
    <li>
      <strong>Name:</strong> Kafra Storage Bell Box
    </li>
    <li>
      <strong>Description:</strong> A box containing one Kafra Bell that can used for 30 days. Once you wiggle the bell, the Kafra staff opens up storage.
    </li>
    <li>
      <strong>Price:</strong> 3,000 wan
    </li>
  </ul>

  <ul class="list-disc pl-8">
    <li>
      <strong>Name:</strong> Tool Merchant Call Bell Box
    </li>
    <li>
      <strong>Description:</strong> A tool that can be used for 30 days. A box containing one merchant call ring. You can call up a Tool Trader anywhere to buy useful supplies or sell items you have.
    </li>
    <li>
      <strong>Price:</strong> 3,000 wan
    </li>
  </ul>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/kafra_storage_bell.png" alt="Kafra Storage Bell screenshot" />
    <figcaption>
      (The Kafra Warehouse Bell is available for 30 days and will open storage if you use it anywhere.)
    </figcaption>
  </figure>

  <p>The Tool Merchant sells the following items.</p>

  <ul class="list-disc pl-8">
    <li>Butterfly Wing:	1,000 zeny</li>
    <li>Red Potion:	10 zeny</li>
    <li>Orange Potion:	50 zeny</li>
    <li>Yellow Potion:	180 zeny</li>
    <li>White Potion:	1,200 zeny</li>
    <li>Concentration Potion:	1,200 zeny</li>
    <li>Awakening Potion:	2,200 zeny</li>
    <li>Berserk Potion:	4,500 zeny</li>
    <li>Leaves of Yggdrasil:	12,000 zeny</li>
    <li>Blue Gemstone:	1,500 zeny</li>
    <li>Arrow:	1 zeny</li>
    <li>Silver Arrow:	10 zeny</li>
    <li>Fire Arrow:	8 zeny</li>
  </ul>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/summoned_trader_npc.png" alt="Summoned Trader NPC screenshot" />
    <figcaption>
      (Trader NPC can be summoned anywhere to help you buy and sell items.)
    </figcaption>
  </figure>

  <p>We have explained about the products that are offered when opening on December 6th.</p>

  <p>I would like a lot of use.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=18&curpage=3" target="_blank" rel="noopener noreferrer">라그나로크 제로 캐시상품 안내</a>
    </li>
  </ul>

</article>