---
layout: /layouts/base.njk
title: 06 - January 2018 More Update Information
description: kRO Zero dev note discussing January 2018 updates
tags: devNote
listDate: '2018-01-10'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[06] January 2018 More Update Information</h1>

  <p>[ 2018.01.10 ]</p>

  <p>Hi. Ragnarok users. Ragnarok Zero team of RO1 studio. Today we're going to start a new year and give you a brief introduction to the big update scheduled for January 31.</p>

  <h2>Add 2nd class jobs</h2>

  <p>The secondary job class is updated.</p>

  <p>Change to second class by completing a quest. To do the quest you must be at least base level 50 and job level 50.</p>

  <p>However, in the 2nd job class announcement on Dec 28, 2017, we mentioned Bard & Dancer. On January 31, you will not be able to change to those classes, as their skills are still being redevoloped.</p>

  <p>We apologize for this postponement.</p>

  <h2>Add new territories</h2>

  <h3>Glast Heim Dungeon</h3>

  <p>Glast Heim will be added, and some areas will appear as Fever dungeons. In that dungeon, you can get equipment items for second classes, but you will need close collaboration with other players in a party.</p>

  <h3>Clock Tower Dungeon</h3>

  <p>Aldeberan Clock Tower dungeon will be open, and monsters added to the Clock Tower underground dungeons. Each intermediate monster will drop a special item.</p>

  <h3>Turtle Island Dungeon</h3>

  <p>You will be able to go to Turtle Island from Alberta on a slippery ride. Turtle Island is made up of one field and three dungeons, and is a monster specialization dungeon.</p>

  <h2>Memorial Dungeon Equipment Upgrade</h2>

  <p>Using Jello Stone (created from Poring Village Jello Fragments) and Shimmering Crystal (from Memory of Orc Memorial Dungeon), you can craft the Expedition armor via NPC.</p>

  <p>When crafting equipment, the refinement level and enchantment of Subjugation equipment is reset and not applied to the Expedition armor. (this part added on 1/12)</p>

  <p>You can choose to craft to two classes of equipment, and the craft will depend on the Jello Stone used</p>

  <p>Expedition equipment (8 types) can be crafted into Guardian equipment (16 types).</p>

  <P>Guardian equipment (16 types) can be crafted into Conqueror equipment, which is for level 90 and above. In this case, Crimson Crystal and Jello Stone are required.</p>

  <p>Also, a Job Essence enchantment can be added to armor equipment. 30 possible Job Essences were added.</p>

  <h2>Add Memorial Dungeon</h2>

  <h3>Memorial Dungeon: Ant Hell 1st Floor</h3>

  <p>Level 70 Memorial Dungeon 'Ant Hell Dungeon 1' has various varieties of ant monsters (insect race). You can acquire 'Azure Crystal', which can upgrade level 70 Expedition equipment to level 80 Guardian equipment in the corresponding dungeon.</p>

  <h3>Memorial Dungeon: Izlude 2nd Floor</h3>

  <p>Level 80 Memorial Dungeon "Izlude's 2F Dungeon" has various deep sea fish type monsters. In this dungeon, you can acquire a "Crimson Crystal" that you can use to upgrade level 80 Guardian equipment to level 90 Conqueror equipment.</p>

  <h3>Memorial Dungeon: Sunken Ship</h3>

  <p>The level 99 Memorial Dungeon is a dungeon that contains all the previous Memorial Dungeon rewards. The goal is to explore the sunken treasure ship and open the treasure chest by battling with "Drake".</p>

  <p>That's it for the 2018 Ragnarok Zero update. Because it is currently under development, various contents may change.</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=649&curpage=3" target="_blank" rel="noopener noreferrer">2018년 1월 업데이트 안내 (추가)</a>
    </li>
  </ul>

</article>