---
layout: /layouts/base.njk
title: 07 - Card Renewal Guide
description: kRO Zero dev note discussing card updates
tags: devNote
listDate: '2018-01-10'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[07] Card Renewal Guide</h1>

  <p>[ 2018.01.10 ]</p>

  <p>Hi Ragnarok users. Ragnarok Online of RO1 Studio: Zero team. Today we will talk about the renewal of past cards which is currently being planned. We are preparing for an update on January 31, 2018. The details are as follows.</p>

  <h2>Boss card renewal</h2>

  <p>There are a lot of users who think that some boss cards are not so good compared to the difficulty. I am going to change some MVP card options from the past.</p>

  <h3>Doppleganger Card</h3>

  <p>The Doppleganger card was socketed in a weapon, which meant players had to give up a card that could have increased their damage. Therefore, Doppleganger card will not be socketable in an accessory.</p>

  <h3>Osiris Card</h3>

  <p>The Osiris card was considered ineffective for being a boss card. Therefore, I would like to add an option for that card. Want to add: +30% increased healing when wearing.</p>

  <p>In addition, many boss cards like Drake, Amon Ra, Stormy Knight, etc are going to be renewed sequentially.</p>

  <h3>Elimination of absorption options</h3>

  <p>Dracula and Hunter Fly HP / SP absorption option has been removed.</p>

  <h3>Changing a card that disables magic</h3>

  <p>Golden Thief Bug & Maya cards are ingame, and unchanged at this time.</p>

  <p>Thank you for your interest.</p> 

  <p>※ Schedule and contents may change due to future developments.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=650&curpage=3" target="_blank" rel="noopener noreferrer">카드 리뉴얼 안내</a>
    </li>
  </ul>

</article>