---
layout: /layouts/base.njk
title: 30 - March 2018 Update
description: kRO Zero dev note discussing March 2018 updates
tags: devNote
listDate: '2018-02-13'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[30] March 2018 Update</h1>

  <p>[ 2018.02.13 ]</p>

  <p>Hi. Ragnarok users. Ragnarok Zero team of RO1 studio. We will inform you of the updates scheduled for March.</p>

  <h2>Localization: Louyang Update</h2>

  <p>Ragnarok Zero's first updated localization map is Castle of Dragon, Louyang, a Chinese motif. The most important points in this update are 100 ~ 120 level monsters, new quests and new rewards.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/louyang_1.png" alt="Louyang screenshot" />
    <figcaption>
      Localization: Louyang will be added.
    </figcaption>
  </figure>

  <p>All kinds of different monsters and a boss monster await! Additionally, if you kill the native monsters of this castle, you will have a chance to drop an item called 'Jigyongseok' (지룡석).</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/jigyongseok.png" alt="Jigyongseok item description" />
    <figcaption>
      (You can get Jigyongseok if you kill the Louyang monsters)
    </figcaption>
  </figure>

  <p>You can acquire the following weapons, and you can enchant these weapons. Dungeon monsters have a higher probability of dropping these.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/louyang_weapons.png" alt="Louyang weapon drawings" />
    <figcaption>
      (Newly added weapons)
    </figcaption>
  </figure>

  <p>We have added "Hundred Doll Hat" (“백소진 인형 모자”) and "Doll Head Doll" (“청이의 머리포자기”), which are based on the boss monster.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/louyang_dungeon.png" alt="Louyang dungeon screenshot" />
    <figcaption>
      (The monster difficulty in the dungeons is set slightly higher)
    </figcaption>
  </figure>

  <h2>Evolution update</h2>

  <p>Some pets can be evolved into evolutionary pets. There will be five kinds of evolutionary pets in March.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/pet_evolution_1.png" alt="Pet evolution UI" />
    <figcaption>
      (You can evolve your pet!)
    </figcaption>
  </figure>

  <p>It is only possible when the familiarity of the pet is "good friend" (“절친함”), and after the evolution, the auto feeding function becomes available. The automatic feeding function is a system that is provided to facilitate the management of the pet ingame.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/pet_auto_feed.png" alt="Pet auto feed" />
    <figcaption>
      (Evolved pet was automatically fed!)
    </figcaption>
  </figure>

  <p>That's it so far for the Ragnarok Zero March 2018 update. Because it is currently under development, various contents may be changed. For further information, please refer to the notice on the homepage. Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=721&curpage=2" target="_blank" rel="noopener noreferrer">2018년 3월 업데이트 내용 공개</a>
    </li>
  </ul>

</article>