---
layout: /layouts/base.njk
title: 32 - March 14 2018 Updates Released
description: kRO Zero dev note discussing March 14 2018 updates
tags: devNote
listDate: '2018-03-12'
---

<article>

  <h1 class="text-2xl mb-4">[32] March 14, 2018 Updates Released</h1>

  <p>[ 2018.01.10 ]</p>

  <p>Hi Ragnarok users. Ragnarok Zero team of RO1 studio here. Today we will let you know about the planned content update this week.</p>

  <h2>Global Project 1 - Louyang (Castle of Dragon)</h2>

  <p>Global Project 1 Louyang, crafted after the Chinese region, is added.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/louyang_castle.bmp" alt="Louyang castle screenshot" />
    <figcaption>
      (View of the castle)
    </figcaption>
  </figure>

  <p>“In Alberta, on the southern end of the Midgardian continent, people with different outfits have appeared. They speak of a place where they live, and want people to go and visit. The people who went there speak of an exotic country, different from that of the Midgard continent. The adventurers' interest in the new continent grows deeper.”</p>

  <p>If you pay 10,000 zeny to the "Ambassador of Publicity" (“용지성 홍보대사”) (alberta 246 40), you can go to Louyang.</p>

  <p>Please note that all quests in the castle work for characters with a base level of 70 or higher.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/ambassador_of_publicity.png" alt="Ambassador of Publicity screenshot" />
    <figcaption>
      (The Ambassador of Publicity at the southern end of the port city of Alberta)
    </figcaption>
  </figure>

  <h2>Louyang Quests</h2>

  <h3>Royal Tomb Entrance Quest (왕릉 요괴 토벌대)</h3>

  <p>NPC: ▷ Soldier of the royal tomb (louyang 42 276)</p>

  <p>The king of the army tries to visit the royal tomb, but he can't at this time. I hear this story from the soldiers and suddenly get the invitation to go into the tomb.</p>

  <P>※ After the quest is completed, you can enter the royal tomb.</p>

  <p>※ 5 kinds of daily quests are available</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/soldier_of_royal_tomb.jpeg" alt="Soldier of Royal Tomb screenshot" />
    <figcaption>
      (Let's support the 토벌대에 to fight the gang of the royal tomb)
    </figcaption>
  </figure>

  <h3>Observation Platform Quest (전망대)</h3>

  <p>NPC: ▷ Guyeonbo (구연보) (lou_fild01 195 177)</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Gu Yeonbo, who is going through a period of flurry, doesn't like the behavior of the tavern, which is popular for its saryongjeon bath. Let's listen to Gu Yeonbo's story to see what's not like about the bar. (질풍노도의 시기를 보내고 있는 구연보는 사룡전입탕으로 인기를 끌고 있는 주점의 행태가 마음에 들지 않습니다. 주점의 어떤 점이 마음에 들지 않는지 구연보의 이야기를 들어 봅시다.)</p>

  <p>※ One daily quest can be done</p>

  <p>※ It is possible to proceed after completing the Royal Tomb Entrance Quest.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/observation_platform_quest.jpeg" alt="Guyeonbo NPC screenshot" />
    <figcaption>
      (Let's hear what is the problem with the bar)
    </figcaption>
  </figure>

  <h3>Castle Senator Quest</h3>

  <p>NPC: ▷ Councillor (의원) (lou_in02 265 69)</p>

  <p>People come see Dr. Yongji when they are sick. Recently, he has been treating so many people returning from the royal tomb, that he's running short on medicine. Why don't you help Dr. Yongji?</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/dr_yongji.jpeg" alt="Dr Yongji NPC screenshot" />
    <figcaption>
      (Let's help Dr. Yongji treat the patients)
    </figcaption>
  </figure>

  <p>※ One daily quest can be done</p>

  <h3>Poison King Quest (독약왕)</h3>

  <p>NPC: ▷ Poison King (독약왕) (lou_in02 123 39)</p>

  <p>Nagash Arsis (나가쉬 아르세스) introduces himself as a foreigner. He says that he once was called the Poison King and said that there was a time when he was with Taesoo. Let's listen to the story by singing a poem that the old lady likes.</p>

  <p>※ It is possible to proceed with this quest after completing the "Castle Senator" quest.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/poison_king.jpeg" alt="Poison King NPC screenshot" />
    <figcaption>
      (Poison King, who seems to have a story)
    </figcaption>
  </figure>

  <h3>8 Reformers Quest (8인의 개혁가)</h3>

  <p>NPC: ▷ Hermit (은둔자) (lou_fild01 152 146)</p>

  <p>Sun Mao says he is preparing for reform for a better world. “You and I, two people have already gathered. Shouldn't we build a higher tower?” Sun Mao asks you to gather comrades who will share your will.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/land_reformer_mao.jpeg" alt="Land Reformer Mao NPC screenshot" />
    <figcaption>
      (Land reformer Mao)
    </figcaption>
  </figure>

  <h2>Dragon Castle Souvenirs - Earth Dragon Weapons</h2>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/earth_dragon_stone.png" alt="Earth Dragon Stone item description" />
    <figcaption>
      (Earth Dragon Stone obtained from the Earth monsters)
    </figcaption>
  </figure>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/25620/" target="_blank" rel="noopener noreferrer">Earth Dragon Stone (지룡석)</a>
        </td>
        <td>
          A stone with the power of an earth dragon sealed inside. 
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Monsters That Drop Earth Dragon Stones</h3>

  <ul class="list-disc pl-8 mb-6">
    <li>Mi Gao (식양)</li>
    <li>Zhu Po Long (저파룡)</li>
    <li>Jing Guai (이매망량)</li>
    <li>Green Maiden (청이)</li>
    <li>Mao Guai (묘괴)</li>
    <li>Hyegun (혜군)</li>
  </ul>

  <p>You can exchange Earth Dragon Stones for a random dragon weapon, which is a special weapon of the castle. You can also enchant the weapon using Earth Dragon Stones.</p>

  <p>You can exchange 20 Earth Dragon Stone for 1 random Earth Dragon weapon via the "Zhao Ji Dragon" NPC. You can enchant an Earth Dragon weapon with 10 Earth Dragon Stones via the "Enchant Association Staff" NPC. <span class="text-red-600 font-bold">NOTE: In <a href="/dev-notes/34-2018-04-03-april-11-update-notice/">Dev Note #34</a>, enchanting of Earth Dragon weapons was replaced with random options.</span></p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/dragon_weapon_npcs.jpeg" alt="Dragon Weapon NPCs" />
    <figcaption>
      (Weapons are random. Please exchange weapons you don't want with others.) + (Jojo Ryung, enchantment association staff - louyang 199, 113)
    </figcaption>
  </figure>

  <h3>Weapons</h3>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/13488/2" target="_blank" rel="noopener noreferrer">Earth Dragon Sword [2]</a>
        </td>
        <td class="text-left">
          A sword imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: One-handed Sword<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Swordman series, Merchant series 
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/18172/2" target="_blank" rel="noopener noreferrer">Earth Dragon Bow [2]</a>
        </td>
        <td class="text-left">
          A bow imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Bow<br/>Attack: 130<br/>Weight: 100<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Archer series, Rogue series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28747/2" target="_blank" rel="noopener noreferrer">Earth Dragon Dagger [2]</a>
        </td>
        <td class="text-left">
          A dagger imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Bow<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Swordman series, Thief series, Merchant series 
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/21041/2" target="_blank" rel="noopener noreferrer">Earth Dragon Broadsword [2]</a>
        </td>
        <td class="text-left">
          A sword imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Two-handed Sword<br/>Attack: 180<br/>Weight: 140<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Swordman series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28131/2" target="_blank" rel="noopener noreferrer">Earth Dragon Axe [2]</a>
        </td>
        <td class="text-left">
          An axe imbued with the power of an earth dragon.<br/><b>Cannot be destroyed</b><br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: One-handed Sword<br/>Attack: 180<br/>Weight: 140<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Merchant series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28034/2" target="_blank" rel="noopener noreferrer">Earth Dragon Katar [2]</a>
        </td>
        <td class="text-left">
          A katar imbued with the power of an earth dragon.<br/><b>Cannot be destroyed</b><br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Katar<br/>Attack: 150<br/>Weight: 120<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Assassin series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26207/2" target="_blank" rel="noopener noreferrer">Earth Dragon Book [2]</a>
        </td>
        <td class="text-left">
          A book imbued with the power of an earth dragon.<br/><b>MATK +130</b><br/>+5% ATK/MATK against Formless monsters<br/>+5% ATK/MATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK/MATK against Formless monsters, +5% ATK/MATK against Earth enemies<br/>If +9 or higher, additional +10% ATK/MATK against Formless, +10% ATK/MATK against Earth enemies<br/>Class: Book<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Sage series, Priest series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26142/2" target="_blank" rel="noopener noreferrer">Earth Dragon Staff [2]</a>
        </td>
        <td class="text-left">
          A staff imbued with the power of an earth dragon.<br/><b>MATK +130<br/>Cannot be destroyed</b><br/>+5% MATK against Formless monsters<br/>+5% MATK against Earth enemies<br/>If +7 or higher refine, additional +5% MATK against Formless monsters, +5% MATK against Earth enemies<br/>If +9 or higher, additional +10% MATK against Formless, +10% MATK against Earth enemies<br/>Class: One-handed Staff<br/>Attack: 40<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Novice, Mage series, Acolyte series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26017/2" target="_blank" rel="noopener noreferrer">Earth Dragon Spear [2]</a>
        </td>
        <td class="text-left">
          A spear imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Two-handed Spear<br/>Attack: 180<br/>Weight: 140<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Swordman series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/16083/2" target="_blank" rel="noopener noreferrer">Earth Dragon Mace [2]</a>
        </td>
        <td class="text-left">
          A mace imbued with the power of an earth dragon.<br/><b>Cannot be destroyed</b>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Mace<br/>Attack: 130<br/>Weight: 120<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Swordman series, Novice, Acolyte series, Merchant series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/1857/2" target="_blank" rel="noopener noreferrer">Earth Dragon Knuckles [2]</a>
        </td>
        <td class="text-left">
          A knuckles imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Knuckle<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Monk series, Priest series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26208/2" target="_blank" rel="noopener noreferrer">Earth Dragon Whip [2]</a>
        </td>
        <td class="text-left">
          A whip imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Whip<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Dancer series
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/1857/2" target="_blank" rel="noopener noreferrer">Earth Dragon Hyeon (현) [2]</a>
        </td>
        <td class="text-left">
          A string instrument imbued with the power of an earth dragon.<br/>+5% ATK against Formless monsters<br/>+5% ATK against Earth enemies<br/>If +7 or higher refine, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies<br/>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies<br/>Class: Instrument<br/>Attack: 130<br/>Weight: 80<br/>Weapon Level: 3<br/>Required Level: 70<br/>Can Wear: Bard series
        </td>
      </tr>
    </tbody>
  </table>

  <p class="text-red-600 font-bold">NOTE: Original dev note contains a table with the possible enchants. Omitted here since they were later removed (discussed in <a href="/dev-notes/34-2018-04-03-april-11-update-notice/">Dev Note #34</a>).</p>

  <h2>Louyang Headgear</h2>

  <p>Talk to Tsing who is standing near the tower to make a special hat.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/tsing.jpeg" alt="Tsing NPC screenshot" />
    <figcaption>
      (Tsing (소천) (louyang 186 54))
    </figcaption>
  </figure>

  <p>※ You can make these headgear after completing the Royal Tomb Entrance Quest.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/19346/1" target="_blank" rel="noopener noreferrer">Baek So-jin Doll Hat [1] (백소진 인형 모자 [1])</a>
        </td>
        <td class="text-left">
          A doll made in the likeness of Baek So-jin<br/>MATK +30<br/>MATK +10 per refine rate.<br/>If +7 or higher, -7% variable casting<br/>If +9 or higher, MATK + 10%.<br/>Class: Helm<br/>Defense: 10<br/>Position: Upper<br/>Weight: 90<br/>Required Level: 70<br/>Can Wear: All jobs 
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/19345/1" target="_blank" rel="noopener noreferrer">Green Maiden's Bao Bao [1] (청이의 머리포자기 [1])</a>
        </td>
        <td class="text-left">
          The Bao Bao that Green Maiden wears.<br/>AGI +3<br/>LUK +3<br/>CRIT +1 per refine rate<br/>Class: Helm<br/>Defense: 0<br/>Position: Upper<br/>Weight: 45<br/>Required Level: 70<br/>Can Wear: All jobs 
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Headgear Crafting Ingredients</h3>

  <p class="text-red-600 font-bold">NOTE: These ingredients change in <a href="/dev-notes/34-2018-04-03-april-11-update-notice/">Dev Note #34</a>. To see the updated ingredients, head to the <a href="/updates/craftable-equipment/">Craftable Equipment page</a>.</p></p>

  <h4>Baek So-jin Doll Hat [1]</h4>

  <ul class="list-disc pl-8 mb-6">
    <li>500 Fabric (투명한 천조각)</li>
    <li>30 Mithril Ore (미스릴 원석)</li>
    <li>50 White Snake's Tear (하얀 뱀의 눈물)</li>
    <li>5 Violet Dyestuffs (보라색 염료)</li>
    <li>5 White Dyestuffs (하얀색 염료)</li>
    <li>300 Earth Dragon Stone (지룡석)</li>
    <li>※ Mithril ore can not be replaced with Gel Stars.</li>
  </ul>

  <h4>Green Maiden's Bao Bao [1]</h4>

  <ul class="list-disc pl-8 mb-6">
    <li>1 Bao Bao (머리포자기)</li>
    <li>20 Mithril Ore (미스릴 원석)</li>
    <li>500 Blue Scale (파랗게 빛나는 비늘)</li>
    <li>3 Scarlet Dyestuffs (보라색 염료)</li>
    <li>10 White Dyestuffs (하얀색 염료)</li>
    <li>100 Earth Dragon Stone (지룡석)</li>
    <li>50 Iris (창포)</li>
    <li>※ Mithril ore can not be replaced with Gel Stars.</li>
  </ul>

  <h2>Job Balance Adjustment</h2>

  <p>After this adjustment, the balance adjustment updates will continue, and we will guide you through the dev notes before the update.</p>

  <h3>Knight (나이트)</h3>

  <p>When equipping a Two-Handed sword, the base ASPD is increased.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/knight_base_aspd_increase.png" alt="Knight base ASPD increase screenshot" />
  </figure>

  <h3>Rogue (로그)</h3>

  <p>When equipping a Shield, the base ASPD is increased.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/rogue_base_aspd_increase.png" alt="Rogue base ASPD increase screenshot" />
  </figure>

  <h3>Sage</h3>

  <p>Land Protector, Volcano, Deluge, & Violent Gale casting will change.</p>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Fixed Cast</b>: 1 second &rarr; 0.5 seconds</li>
    <li><b>Variable Cast</b>: 4 seconds &rarr; 3 seconds</li>
  </ul>

  <h3>Hunter</h3>

  <p>Land Mine, Blast Mine, Claymore Trap casting will change.</p>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Fixed Cast</b>: 0.5 seconds &rarr; 0 seconds</li>
    <li><b>Variable Cast</b>: 0 seconds &rarr; 0.5 seconds</li>
  </ul>

  <p>A trap box is added.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/hunter_trap_box.png" alt="Hunter trap box item description" />
  </figure>

  <p>Those were the updates for March 14, 2018.</p>

  <p>The possible manufacturing weapons for the Blacksmith have been updated to the following list: Dagger, One-Handed Sword, Two-Handed Sword, Knuckle, One-Handed Axe, Two-Handed Axe, Mace, One-Handed Spear, and Two-Handed Spear.</p>

  <p>Of course, with the addition of this weapon list, the types and numbers of random options that are awarded according to the rankings will also be revised.</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=742&curpage=2" target="_blank" rel="noopener noreferrer">2018년 3월 14일 업데이트 내용 공개</a>
    </li>
  </ul>

</article>