---
layout: /layouts/base.njk
title: 33 - April 2018 Release Updates
description: kRO Zero dev note discussing April 2018 updates
tags: devNote
listDate: '2018-03-22'
---

<article>

  <h1 class="text-2xl mb-4">[33] April 2018 Release Updates</h1>

  <p>[ 2018.03.22 ]</p>

  <p>Hi Ragnarok Users. Ragnarok Zero team of RO1 studio here. Here are the updates for the last week of March and April.</p>

  <h2>Add new equipment drops</h2>

  <p>On March 28, 2018 8 new pieces of equipment will be added. Some of the monsters in Glast Heim, Nifflheim, Turtle Island, Clock Tower, and Louyang will drop new equipment.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Dropped By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/18176/1" target="_blank" rel="noopener noreferrer">Thunder Bow [1] (천뢰궁 [1])</a>
        </td>
        <td class="text-left">
          A bow that exudes strong power.<br/>ASPD +10%<br/>LUK +5.<br/>If +7 or higher, CRIT +7<br/>If +9 or higher, increases [Blitz Beat] damage by 20%, ASPD +1.<br/>Class: Bow<br/>Attack: 120<br/>Weight: 90<br/>Required Level: 60<br/>Can Wear: Archer series, Rogue series 
        </td>
        <td>Mao Guai</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/22194/1" target="_blank" rel="noopener noreferrer">Loli Ruri's Shoes [1] (로리루리의 구두 [1])</a>
        </td>
        <td class="text-left">
          Shoes that Loli Ruri cares for.<br/>FLEE +15<br/>CRIT +3.<br/>If +7 or higher, HIT +15<br/>If +9 or higher, +7% ASPD.<br/>Class: Shoes<br/>Defense: 10<br/>Weight: 50<br/>Required Level: 60<br/>Can Wear: All Jobs 
        </td>
        <td>Loli Ruri</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28949/1" target="_blank" rel="noopener noreferrer">Jewel Shield [1] (쥬얼 쉴드 [1])</a>
        </td>
        <td class="text-left">
          A shield with jewels made from the hard shell of an animal.<br/>MaxHP +200<br/>If +7 or higher, ASPD +1.<br/>If +9 or higher, increases [Shield Boomerang] damage by 30%.<br/>Class: Shield<br/>Defense: 180<br/>Weight: 160<br/>Required Level: 60<br/>Can Wear: Swordsman series, Merchant series, Thief series
        </td>
        <td>Loli Ruri</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28949/1" target="_blank" rel="noopener noreferrer">Jewel Shield [1] (쥬얼 쉴드 [1])</a>
        </td>
        <td class="text-left">
          A shield with jewels made from the hard shell of an animal.<br/>MaxHP +200<br/>If +7 or higher, ASPD +1.<br/>If +9 or higher, increases [Shield Boomerang] damage by 30%.<br/>Class: Shield<br/>Defense: 180<br/>Weight: 160<br/>Required Level: 60<br/>Can Wear: Swordsman series, Merchant series, Thief series
        </td>
        <td>Assaulter</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28599/1" target="_blank" rel="noopener noreferrer">White Serpent Ring [1] (하얀 뱀의 반지 [1])</a>
        </td>
        <td class="text-left">
          A ring in the shape of a white serpent that was cherished by Green Maiden.<br/>Can be refined.<br/>CRIT +1<br/>AGI +1<br/>If +7 or higher, additional AGI +1.<br/>If +9 or higher, additional CRIT +1, critical damage +1%.<br/>Class: Accessory<br/>Defense: 1<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Green Maiden</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/32200/1" target="_blank" rel="noopener noreferrer">Wizard's Gloves [1] (어느 마법사의 장갑 [1])</a>
        </td>
        <td class="text-left">
          Wizard's gloves with traces of someone's use.<br/>Can be refined.<br/>Variable casting -2%<br/>MATK +2<br/>If +7 or higher, additional MATK +2.<br/>If +9 or higher, additional variable casting -1%, fire property magic damage +1%.<br/>Class: Accessory<br/>Defense: 1<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Sting</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/19376/" target="_blank" rel="noopener noreferrer">Frozen Rose (얼어붙은 장미)</a>
        </td>
        <td class="text-left">
          Roses frozen cold. If you bite down carelessly, you may hurt your mouth.<br/>CRIT +1.<br/>Water property magic damage +1%<br/>Class: Helm<br/>Defense: 0<br/>Position: Bottom<br/>Weight: 1<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Freezer</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/32201/1" target="_blank" rel="noopener noreferrer">Dullahan's Gloves [1] (듀라한의 장갑 [1])</a>
        </td>
        <td class="text-left">
          A glove from Dullahan's hand.<br/>Can be refined.<br/>HIT +1<br/>DEX +1<br/>If +7 or higher, additional DEX +1.<br/>If +9 or higher, additional HIT +1, ATK +2%.<br/>Class: Accessory<br/>Defense: 0<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Dullahan</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26148/d-1" target="_blank" rel="noopener noreferrer">Owl Duke Cane [1] (아울.D.스틱 [1])</a>
        </td>
        <td class="text-left">
          A cane that Owl Duke sometimes uses instead of an umbrella.<br/>Indestructible.<br/>MATK +140<br/>Variable casting -10%<br/>If +7 or higher, heal recovery +12%.<br/>If +9 or higher, +20% Magnus Exorcismus damage.<br/>Class: One-handed Staff<br/>Attack: 60<br/>Weight: 80<br/>Required Level: 60<br/>Can Wear: Acolyte series
        </td>
        <td>Owl Duke</td>
      </tr>
    </tbody>
  </table>

  <p>Weapons and shoes will have random options.</p>

  <p>※ Some items drop with a very low probability.</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=742&curpage=2" target="_blank" rel="noopener noreferrer">2018년 3월 14일 업데이트 내용 공개</a>
    </li>
  </ul>

</article>