---
layout: /layouts/base.njk
title: 33 - April 2018 Release Updates
description: kRO Zero dev note discussing April 2018 updates
tags: devNote
listDate: '2018-03-22'
---

<article>

  <h1 class="text-2xl mb-4">[33] April 2018 Release Updates</h1>

  <p>[ 2018.03.22 ]</p>

  <p>Hi Ragnarok Users. Ragnarok Zero team of RO1 studio here. Here are the updates for the last week of March and April.</p>

  <h2>Add new equipment drops</h2>

  <p>On March 28, 2018 8 new pieces of equipment will be added. Some of the monsters in Glast Heim, Nifflheim, Turtle Island, Clock Tower, and Louyang will drop new equipment.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Dropped By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/18176/1" target="_blank" rel="noopener noreferrer">Thunder Bow [1] (천뢰궁 [1])</a>
        </td>
        <td class="text-left">
          A bow that exudes strong power.<br/>ASPD +10%<br/>LUK +5.<br/>If +7 or higher, CRIT +7<br/>If +9 or higher, increases [Blitz Beat] damage by 20%, ASPD +1.<br/>Class: Bow<br/>Attack: 120<br/>Weight: 90<br/>Required Level: 60<br/>Can Wear: Archer series, Rogue series 
        </td>
        <td>Mao Guai</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/22194/1" target="_blank" rel="noopener noreferrer">Loli Ruri's Shoes [1] (로리루리의 구두 [1])</a>
        </td>
        <td class="text-left">
          Shoes that Loli Ruri cares for.<br/>FLEE +15<br/>CRIT +3.<br/>If +7 or higher, HIT +15<br/>If +9 or higher, +7% ASPD.<br/>Class: Shoes<br/>Defense: 10<br/>Weight: 50<br/>Required Level: 60<br/>Can Wear: All Jobs 
        </td>
        <td>Loli Ruri</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28949/1" target="_blank" rel="noopener noreferrer">Jewel Shield [1] (쥬얼 쉴드 [1])</a>
        </td>
        <td class="text-left">
          A shield with jewels made from the hard shell of an animal.<br/>MaxHP +200<br/>If +7 or higher, ASPD +1.<br/>If +9 or higher, increases [Shield Boomerang] damage by 30%.<br/>Class: Shield<br/>Defense: 180<br/>Weight: 160<br/>Required Level: 60<br/>Can Wear: Swordsman series, Merchant series, Thief series
        </td>
        <td>Assaulter</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/28599/1" target="_blank" rel="noopener noreferrer">White Serpent Ring [1] (하얀 뱀의 반지 [1])</a>
        </td>
        <td class="text-left">
          A ring in the shape of a white serpent that was cherished by Green Maiden.<br/>Can be refined.<br/>CRIT +1<br/>AGI +1<br/>If +7 or higher, additional AGI +1.<br/>If +9 or higher, additional CRIT +1, critical damage +1%.<br/>Class: Accessory<br/>Defense: 1<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Green Maiden</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/32200/1" target="_blank" rel="noopener noreferrer">Wizard's Gloves [1] (어느 마법사의 장갑 [1])</a>
        </td>
        <td class="text-left">
          Wizard's gloves with traces of someone's use.<br/>Can be refined.<br/>Variable casting -2%<br/>MATK +2<br/>If +7 or higher, additional MATK +2.<br/>If +9 or higher, additional variable casting -1%, fire property magic damage +1%.<br/>Class: Accessory<br/>Defense: 1<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Sting</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/19376/" target="_blank" rel="noopener noreferrer">Frozen Rose (얼어붙은 장미)</a>
        </td>
        <td class="text-left">
          Roses frozen cold. If you bite down carelessly, you may hurt your mouth.<br/>CRIT +1.<br/>Water property magic damage +1%<br/>Class: Helm<br/>Defense: 0<br/>Position: Bottom<br/>Weight: 1<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Freezer</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/32201/1" target="_blank" rel="noopener noreferrer">Dullahan's Gloves [1] (듀라한의 장갑 [1])</a>
        </td>
        <td class="text-left">
          A glove from Dullahan's hand.<br/>Can be refined.<br/>HIT +1<br/>DEX +1<br/>If +7 or higher, additional DEX +1.<br/>If +9 or higher, additional HIT +1, ATK +2%.<br/>Class: Accessory<br/>Defense: 0<br/>Weight: 10<br/>Required Level: 60<br/>Can Wear: All Jobs
        </td>
        <td>Dullahan</td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/26148/d-1" target="_blank" rel="noopener noreferrer">Owl Duke Cane [1] (아울.D.스틱 [1])</a>
        </td>
        <td class="text-left">
          A cane that Owl Duke sometimes uses instead of an umbrella.<br/>Indestructible.<br/>MATK +140<br/>Variable casting -10%<br/>If +7 or higher, heal recovery +12%.<br/>If +9 or higher, +20% Magnus Exorcismus damage.<br/>Class: One-handed Staff<br/>Attack: 60<br/>Weight: 80<br/>Required Level: 60<br/>Can Wear: Acolyte series
        </td>
        <td>Owl Duke</td>
      </tr>
    </tbody>
  </table>

  <p>Weapons and shoes will have random options.</p>

  <p>※ Some items drop with a very low probability.</p>

  <h2>WoE Area Expansion</h2>

  <p>On March 28, 2018, a new WoE area "Britoniah" (“브리토리아”) will open. Britoniah is a Woe area outside of Geffen that has 5 castles.</p>

  <h2>Additional WoE</h2>

  <p>From March 28, 2018, WoE will increase from once a week to twice a week on Wednesdays and Sundays. Please refer to the announcement for further information on the siege progress time.</p>

  <p>※ When will the guild dungeon open?</p>

  <p>The guild dungeon currently in progress is designed as a dungeon that can be used to obtain siege equipment. When the contents are refined, we will let you know through dev notes and announcements.</p>

  <h2>Improved Blacksmith Weapon Forging</h2>

  <p>On March 28, some details about Blacksmith's weapon forging will change.</p>

  <h3>Update random options</h3>

  <p>When making weapons, the max value of some options given to weapons is greatly increases and the min value is compensated. There is also a change in the list of types of options that are granted.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th colspan="4">Normal</th>
      </tr>
      <tr>
        <th></th>
        <th>Option Choices</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="14">1st Option</td>
        <td>Increase physical damage against neutral element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against water element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against wind element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against earth element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against fire element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against poison element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against shadow element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against holy element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against ghost element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase physical damage against undead element enemies (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>ATK +</td>
        <td>20</td>
        <td>60</td>
      </tr>
      <tr>
        <td>ATK +%</td>
        <td>3</td>
        <td>15</td>
      </tr>
      <tr>
        <td>HIT +</td>
        <td>10</td>
        <td>40</td>
      </tr>
      <tr>
        <td>CRIT +</td>
        <td>5</td>
        <td>20</td>
      </tr>
      <tr class="border-t-solid border-t-4">
        <td rowspan="8">2nd Option</td>
        <td>ASPD +</td>
        <td>1</td>
        <td>3</td>
      </tr>
      <tr>
        <td>FLEE +</td>
        <td>10</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Increase physical damage against large-size enemies (%)</td>
        <td>5</td>
        <td>35</td>
      </tr>
      <tr>
        <td>Increase physical damage against medium-size enemies (%)</td>
        <td>5</td>
        <td>35</td>
      </tr>
      <tr>
        <td>Increase physical damage against small-size enemies (%)</td>
        <td>5</td>
        <td>35</td>
      </tr>
      <tr>
        <td>Increase critical damage (%)</td>
        <td>5</td>
        <td>35</td>
      </tr>
      <tr>
        <td>ASPD (%)</td>
        <td>5</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Increase ranged physical attack damage (%)</td>
        <td>5</td>
        <td>20</td>
      </tr>
      <tr class="border-t-solid border-t-4">
        <td rowspan="13">3rd Option</td>
        <td>MaxHP +</td>
        <td>150</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>MaxSP +</td>
        <td>30</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Reduce SP consumption (%)</td>
        <td>1</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against formless race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against undead race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against brute race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against plant race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against insect race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against fish race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against demon race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against demi-human race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against angel race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Increase phsyical damage against dragon race monsters (%)</td>
        <td>10</td>
        <td>50</td>
      </tr>
    </tbody>
  </table>

  <p>Ranked 6 - 10 forge weapons have Options 1 - 3 from the previous table plus Option 4 from the below table.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th colspan="4">Ranked 6 - 10</th>
      </tr>
      <tr>
        <th></th>
        <th>Option Choices</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="10">4th Option</td>
        <td>Ignore DEF of formless race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of undead race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of brute race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of plant race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of insect race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of fish race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of demon race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of demi-human race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of angel race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of dragon race monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>

  <p>Ranked 1 - 5 forge weapons have Options 1 - 4 from the previous tables plus Option 5 from the below table.</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th colspan="4">Ranked 1 - 5</th>
      </tr>
      <tr>
        <th></th>
        <th>Option Choices</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="9">5th Option</td>
        <td>ATK +</td>
        <td>10</td>
        <td>30</td>
      </tr>
      <tr>
        <td>ATK (%)</td>
        <td>1</td>
        <td>10</td>
      </tr>
      <tr>
        <td>HIT +</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>CRIT +</td>
        <td>3</td>
        <td>10</td>
      </tr>
      <tr>
        <td>FLEE +</td>
        <td>5</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Increase physical damage against boss monsters (%)</td>
        <td>10</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Increase physical damage against regular monsters (%)</td>
        <td>10</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Ignore DEF of boss monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Ignore DEF of regular monsters (%)</td>
        <td>5</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>

  <h3>Add a way to get more jewelry items</h3>

  <p>Jewelry items are added to Thor's Flame mineral exchange list, to make it easier to get jewelry items that are essential to weapon forging.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/thors_flame_jewlery.png" alt="Thor's Flame giving Cursed Ruby screenshot" />
    <figcaption>
      (You will be able to acquire some jewelry items from Thor's Flame!)
    </figcaption>
  </figure>

  <h3>Add new forgeable weapons</h3>

  <p>Weapons that can only be acquired by Blacksmith forging are added.</p>

  <p>Materials required for forging these weapons is difficult, but other than random options the equipment also has certain options inately.</p>

  <p>※ Why is there no card slot in the refined weapon?</p>

  <p>Instead of card slots, random options are placed there.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/blacksmith_forge_weapons_1.png" alt="Table of Blacksmith exclusive forgeable weapons" />
    <figcaption>
      (Needs to be translated!)
    </figcaption>
  </figure>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/blacksmith_forge_weapons_2.png" alt="Table of Blacksmith exclusive forgeable weapons" />
    <figcaption>
      (Needs to be translated!)
    </figcaption>
  </figure>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/blacksmith_forge_weapons_3.png" alt="Table of Blacksmith exclusive forgeable weapons" />
    <figcaption>
      (Needs to be translated!)
    </figcaption>
  </figure>

  <h2>Bard & Dancer Update</h2>

  <p>In April 2018, Bard & Dancer will be added. We will inform you of the details of the update in a dev note before a later update.</p>

  <h2>Job Balance Adjustments</h2>

  <p>Here's more information about the balance adjustment currently in progress.</p>

  <p>First of all, we've had many inquiries about the Assassin career group.</p>

  <p>It is correct that the Assassin is doing high damage in a 1:1 situation with respect to the double attack's critical application and the Qatar-type critical probability increase. However, in the current situation, the damage efficiency of the other occupational groups except Assassin is low, so it is emerging as a problem of the Assassin, and this is planned to achieve sufficient efficiency through adjustment work and equipment support of other occupational groups.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/bio_cannibalize_update.png" alt="Screenshots of Bio Cannnibalize in action" />
    <figcaption>
      (Improved performance of Bio Cannibalize and the Alchemist gets the EXP from the plants now)
    </figcaption>
  </figure>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/backstab_bb_update.png" alt="Screenshots of Backstab and BB in action" />
    <figcaption>
      (Backstab feel and damage improved, Bowling Bash will have a new skill structure)
    </figcaption>
  </figure>

  <p>Next let's talk about the Rogue's Steal Coin skill problem.</p>

  <p>Zeny production from Steal Coin is not at risk. However, we will add a skill cooldown to control the skill's efficiency.</p>

  <p>In addition to the above-mentioned job groups, various other jobs are being adjusted.</p>

  <p>However, even if it takes some time for the update schedule, it has not been decided whether to proceed with the adjustment of more occupations or whether to proceed with the update from the first applicable adjustment history, so we will inform you of the details through the developer note as soon as the schedule is confirmed.</p>

  <p>In addition, there are many inquires about the options of the Moonlight Dagger (월광검).</p>

  <p>In Ragnarok Zero, there will be no option to absorb SP/HP as much as a certain percentage of the damage dealt with a certain probability. Most of the inquiries are.</p>

  <p>Our Ragnarok Zero development team believes that it is not an excessive option for a small amount of recovery for each hit, such as a moonlight sword, compared to the SP absorption option that is proportional to the high damage of the skill, and the amount of recovery is carefully managed.</p>

  <p>The SP recovery option for each hit has no balance problem compared to the SP absorption option, and there is an opportunity cost factor to give up other options instead of taking SP recovery. There is no plan to exclude recovery options.</p>

  <p>We have introduced you to the contents that are being prepared by Ragnarok Zero team so far.</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=749&curpage=1" target="_blank" rel="noopener noreferrer">2018년 4월 업데이트 내용 공개</a>
    </li>
  </ul>

</article>