---
layout: /layouts/base.njk
title: 35 - May dev info
description: kRO Zero dev note discussing May updates
tags: devNote
listDate: '2018-04-13'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[35] May Dev Info</h1>

  <p>[ 2018.04.13 ]</p>

  <h2>1. Cute pet evolution update</h2>

  <h3>1) 3 evolution types will be added</h3>

  <p>Three new evolutionary pets will be added.</p>

  <ul class="list-disc pl-8">
    <li>Isis: Increases your ATK by a percentage.</li>
    <li>Hyegun (Yao Jun): Increases VIT and resistance to STUN.</li>
    <li>Choco: Increase CRIT and ranged physical damage.</li>
  </ul>

  <h3>2) 2 general cute pets will be added</h3>

  <p>Two new taming items are added. Cute pet Loli Ruri (increases your MaxHP and chance to cast [Heal] on self when hit by normal physical attack) and Wanderer (increases your AGI) will be added. Loli Ruri can be tamed with {% item id="12360", name="Bloody Juice (새빨간 주스)", imageFolder="taming" %}, and Wanderer can be tamed with {% item id="14574", name="Vagabond's Skull (낭인의 해골)", imageFolder="taming" %}.

  <h2>2. Guild dungeon will open</h2>

  <p>Soon the guild dungeon opens. Guild dungeon is a dungeon with special rules. Basically, PVP is possible and everyone is an enemy (including party members) if they're not in your guild.</p>

  <p>The guild dungeon is divided into two layers. One layer can only be accessed by those who own a castle on the map associated with the dungeon. The other layer can be accessed by anyone by paying a certain amount of Zeny.</p>

  <p>Each guild dungeon consists of monsters in the level of 115 - 120. Valkyrie realm consists of insect-type monsters, and Britoniah consists of undead monsters.</p>

  <p>Each monster will drop a {% item id="25630", name="Guild Hideout Coin (길드 아지트 주화)", imageFolder="items" %}, which can be exchanged for special PVP equipment or consumption items. For more information, please refer to the announcement on the official homepage.</p>

  <h2>3. Job balance</h2>

  <p>To see all of the job balance updates found in the dev notes, <a href="https://docs.google.com/document/d/1uki6T7nZ5HAx5Cpa5_gH3fGPPzCudV2F_A4BjAqPz98/edit?usp=sharing" target="_blank">see this Google doc I made</a>. Look for entries with this dev note's date for these specific ones.</p>

  <h2>4. Amatsu update</h2>

  <p>Ragnarok Zero's second localized area, "The Land of Thunder, Amatsu" is scheduled to be added.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/amatsu_screenshot.png" alt="Amatsu screenshot" />
    <figcaption>
      (Localization of Japan, Amatsu)
    </figcaption>
  </figure>

  <p>Various monsters, quests and equipment will be added.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/amatsu_screenshot.png" alt="Amatsu screenshot" />
    <figcaption>
      (Ginseng weapons will be added)
    </figcaption>
  </figure>

  <h2>5. Extended Job: Ninja update</h2>

  <p>Ragnarok Zero's first extended job, Ninja, will be added. We have prepared a new class of Ninja job to meet the specifications of Zero.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/ninja-cherry-blossom.png" alt="Ninja with a cherry blossom tree" />
    <figcaption>
      (Ninja will be added)
    </figcaption>
  </figure>

  <h2>6. About Bard & Dancer (Complete)</h2>

  <p class="text-red-600 font-bold">NOTE: The below is a direct Google Translation, and thus may not be as clear as other text. If anyone wants to provide a better translation, would be much appreciated!</p>

  <p>All of the ensemble/play/dance skills in the Bard & Dancer job group had the inconvenience of having to cancel the skill by changing to a weapon other than a musical instrument and changing the speed of movement for the duration of the duration instead of being activated without casting from the existing Ragnarok Online. . That is why, instead of introducing maneuverability and convenience compared to the previous one, casting was additionally applied with a minimum penalty.</p>

  <p>However, in consideration of the specificity of ensemble/performance/dance (effects that occur in performance and dance movements, not magical effects), casting exists, but we intend to provide convenience of play by adding a property that does not basically break. (However, it may be cut off for functions such as Spell Breaker.)</p>

  <p>In addition, the casting time for each skill will be greatly reduced, and the ensemble/play/dance skill effect will be improved so that it is not released from being released under certain conditions.</p>

  <p>In addition, the duration of ensemble aftereffects will be significantly reduced, and improvements will be made so that the calculation of the effects of Bragi's poem and Suffragium can be combined and applied. (However, in the case of the variable casting option of Bragi's Poetry and Suffragium, the variable casting reduction option given to the equipment is applied after the variable casting reduction by skill is applied, so it is not applied in addition to the variable casting value of the item option.)</p>

  <p>In the case of Kim The Rich Man, it has been confirmed that the quest experience is increased, and the effect will be changed to increase the experience obtained when defeating monsters.</p>

  <p>So far we have introducted what the team is developing. We're still in the process of development, so some changes may occur. For more details, we will send you an update through our official website.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=768&curpage=1" target="_blank" rel="noopener noreferrer">5월 개발내용 안내</a>
    </li>
  </ul>

</article>