---
layout: /layouts/base.njk
title: 36 - May 23rd Update Notice
description: kRO Zero dev note discussing May 23rd updates
tags: devNote
listDate: '2018-05-09'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[36] May 23rd Update Notice</h1>

  <p>[ 2018.05.09 ]</p>

  <p>Hi Ragnarok Zero users, it is Ragnarok Zero team of RO1 studio. Today, we will inform you about the skills that will be updated on May 23.</p>

  <h2>Job balance updates</h2>

  <p>To see all of the job balance updates found in the dev notes, <a href="https://docs.google.com/document/d/1uki6T7nZ5HAx5Cpa5_gH3fGPPzCudV2F_A4BjAqPz98/edit?usp=sharing" target="_blank">see this Google doc I made</a>. Look for entries with this dev note's date for these specific ones.</p>

  <h2>Extended Job: Ninja Update</h2>

  <p>Ragnarok Zero's first ever extended career group, Ninja, is updated. Some of the skills have been adjusted, and the consumables used by Ninja have been adjusted.</p>

  <p class="text-red-600 font-bold">NOTE: The rest of this section covers the Ninja skills, which I'm not putting here as later on I'll create a class-specific page for them.</p>

  <p>This was the character-related content to be updated on May 23, 2018 so far. For more details, visit the homepage.</p>

  <p>Thank you.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=772&curpage=1" target="_blank" rel="noopener noreferrer">5월 23일 업데이트 예고</a>
    </li>
  </ul>

</article>