---
layout: /layouts/base.njk
title: 40 - June Development Details Part 2
description: kRO Zero dev note discussing Part 2 of the dev work planned for June
tags: devNote
listDate: '2018-06-12'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[40] June Development Details - Part 2</h1>

  <p>[ 2018.06.12 ]</p>

  <p>Hello Ragnarok Zero users, this is the Ragnarok Zero team from RO1 Studio. Today we will let you know about some of the updates that will be made in June.</p>

  <h2>1. Juno, the capital of the Republic of Schwarzwald</h2>

  <p>Juno will be added, the first location to be updated in the Republic of Schwarzwald.</p>

  <h2>2. New Dungeon: Magma (Nogg Road)</h2>

  <p>The dungeon consists of two general dungeons and one Fever Dungeon. Powerful monsters abound! The Fever Dungeon map also adds a new way of acquiring Mithril Ore.</p>

  <h2>3. New Dungeon: Juperos</h2>

  <p>In the Ruins of the Forgotten Civilization of Juperos, you'll find various mechanical, formless monsters. You can get a variety of equipment and accessories in Juperos.</p>

  <h2>4. [Safety Wall] & [Pneuma]</h2>

  <p>There was a phenomenon where a monster's remote physical attack or remote physical skill was blocked by Safety Wall instead of Pneuma. During the last maintenance we corrected the effects so they work like the following:</p>

  <h3>[Safety Wall]</h3>

  <p>In both PVE and PVP, ignores close range attacks (including skills).</p>

  <h3>[Pneuma]</h3>

  <p>In both PVE and PVP, ignores remote (distance) attacks (including skills).</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=783&curpage=2" target="_blank" rel="noopener noreferrer">6월 개발내용 안내 - 2부</a>
    </li>
  </ul>

</article>