---
layout: /layouts/base.njk
title: 41 - June Development Details Part 3
description: Ragnarok Zero dev note discussing Part 3 of the dev work planned for June
tags: devNote
listDate: '2018-06-19'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[41] June Development Details - Part 3</h1>

  <p>[ 2018.06.19 ]</p>

  <p>Hello Ragnarok Zero users, this is the Ragnarok Zero team from RO1 Studio. Today we will let you know about the 3rd part of the updates that will be made in June.</p>

  <h2>1. New Equipment Update</h2>

  <p>The new Fever "Lava" armor series will be updated in line with the Republic of Schwarzvald update. This time, armor and shoes are added, and each piece of equipment is given random options. If you were all parts of the series and have the required total refine level, you'll also get a bonus effect. Also, each piece of equipment is wearable by any class allowing you to choose the appropriate armor for your needs. See the <a href="/updates/yuno/#nogg-road-3">Fever Dungeon section of the Yuno update page for more information</a>.</p>

  <h2>2. New Job Essence Enchants Update</h2>

  <p>New Job Essence Enchants will be added for +9 Memorial Dungeon Armor. These Essence Enchants will hopefully align better with the current play style.</p>

  <p><strong>See <a href="/memorial-dungeons/equipment-enchanting/">the Memorial Dungeon equipment page</a> for a list of these new enchants, as well as the updates made to the existing enchants.</strong></p>

  <h2>3. Existing Job Essence Enchants Update</h2>

  <p>Due to the new Job Essence Enchants, some of the old Essence Enchants will be changed to complement these new options.</p>

  <h2>4. Add Second & Extended Job Essence Enchant NPCs</h2>

  <p>With the addition of the new Job Essence Enchant, the NPCs will be changed. The existing enchant NPC will no longer grant enchants for second or extended jobs, but a new "Intermediate Enchant Association Staff" will be added for this purpose.</p>

  <p>The Intermediate Enchant Association Staff only grants Job Essences to +9 Memorial Dungeon armor for second jobs. The existing Enchant NPC will only grant essences for first jobs.</p>

  <p>For the enchant from the Intermediate Enchant Association Staff, a high amount of Zeny or a certain number of Gelstars may be used. A Lv2 Enchant will be granted at a higher probability when using Zeny.</p>

  <p class="text-red-600 font-bold">NOTE: Will return to the below two pieces later, as the translation was a bit more challenging.</p>

  <p>단, 갑옷의 등급에 따라 비용의 차이가 존재하며 등급에 따라 직업 정수가 인챈트될 수 있는 슬롯 전까지 인챈트를 모두 마친 상태여야 합니다.</p>

  <p>예를 들어 +9 정복자의 메일[1]에 중급 인챈트 협회 직원로부터 직업 정수 인챈트를 받고자 한다면 기존 인챈트 NPC를 통해 4슬롯과 3슬롯에 인챈트를 받은 상태여야 합니다.</p>

  <h2>5. Localized Weapon Random Options Cost Changes</h2>

  <p>It will now cost 150,000 zeny to give random options to localized weapons (i.e Amatsu, Louyang weapons), instead of requiring special etc. items. This will make it easier to give these weapons random options.</p>

  <h2>6. New Droppable Equipment Update</h2>

  <p>We will add new equipment with this update, that will drop from a variety of monsters throughout the Republic of Schwarzvald. See the <a href="/updates/yuno/#droppable-equipment">Droppable Equipment section of the Yuno page</a> for more information.</p>

  <h2>7. Mythril Acquisition Method Will Be Added</h2>

  <p>In the 3<sup>rd</sup> Floor Nogg Road Fever Dungeon, there will be a new way of acquiring Mythril Ore (aside from still being able to acquire them from monster drops). Monsters will drop "Lava Ore Extractor" (용암 원석 추출기) and "Lava Ore" (의문의 광석). The extractor can be used to extract Mythril Ore from the Lava Ore.</p>

  <h2>8. Clock Tower Boss Summon Change</h2>

  <p>Collecting the materials to create the Clock Tower headgear is meant to require a lot of effort, as you have to first kill enough monsters to summon the Boss, and then kill the Boss itself.</p>

  <p>However, due to the Boss appearing randomly on the map once summoned, it is difficult to find the Boss to kill it, thus making it too difficult for players and not worth their time.</p>

  <p>To improve this part, the way the Boss is summoned will be changed, so that the Boss will be summoned at the location of the player who gets the last kill of the monster needed to summon it.</p>

  <p>Announcements related to how many kills have been made towards the goal of summoning the Boss will still continue, as it allows those who are not interested in meeting the Boss to prepare as the counter gets closer to its goal and the Boss is summoned. We will continue to monitor this and will update you on any changes in the future.</p>

  <p><strong>Also in this update, when you become unable to fight (i.e. die), you will not see nearby monsters nor map announcements.</strong></p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=786&curpage=2" target="_blank" rel="noopener noreferrer">6월 개발내용 안내 - 3부 (내용 추가)</a>
    </li>
  </ul>

</article>