---
layout: /layouts/base.njk
title: 43 - August Development Details
description: Ragnarok Zero dev note discussing the dev work planned for August
tags: devNote
listDate: '2018-07-27'
image: '/images/meta/criatura-academy-meta-dev-note.png'
---

<article>

  <h1 class="text-2xl mb-4">[43] August Development Details</h1>

  <p>[ 2018.07.27 ]</p>

  <p>Hello Ragnarok Zero users, this is the Ragnarok Zero team from RO1 Studio. Today we will let you know about the updates that will be made in July.</p>

  <h2>1. God Items Quest Update</h2>

  <p><a href="/updates/god-items/">God Item</a> quests and items will be added. New quests that the whole server can enjoy along with the God Items that can be crafted will be added.</p>

  <p>The first God Item to be added is Sleipnir. A new effect will be added when wearing Sleipnir.</p>

  <h2>2. Malangdo Update</h2>

  <p><a href="/updates/malangdo/">Malangdo</a> will be added! Stay tuned for new areas, new quests, and new gear.</p>

  <h2>3. New CuPet Evolutions Update</h2>

  <p>Three new evolutionary CuPets will be added: Diabolic, which evolves from Deviruchi, Ground Deleter, which evoles from Ground Petit, and Grand Peco, which evolves from Peco Peco.</p>

  <h2>Source</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=795&curpage=1" target="_blank" rel="noopener noreferrer">8월 개발내용 안내</a>
    </li>
  </ul>

</article>