---
layout: /layouts/base.njk
title: kRO Zero Dev Note Translations
description: A list of all of the kRO Zero dev notes that we've translated into English.
---

<section>

  <h1 class="text-2xl mb-4">kRO Zero Dev Notes</h1>

  <p>Read through translations of the dev notes from the kRO Zero website.</p>

  <ul class="list-disc pl-8">
    {% for note in collections.devNote | reverse %}
      <li><a href="{{ note.url }}">{{ note.data.title }}</a> ({{ note.data.listDate }})</span></li>
    {% endfor %}
  </ul>

</section>