---
layout: /layouts/base.njk
title: Leno's Motion Sickness Quest
description: Walkthrough and dialogue for the Leno's Motion Sickness Quest from kRO Zero
tags:
  - quest
  - izlude
---

<article>

  <h1 class="text-2xl mb-4">Quest: Leno's Motion Sickness</h1>

  <p>This is a simple quest that can be taken right after getting off the boat from Poring Island. It kicks off the Leno & Lumin quest line.</p>

  <h2>Starting NPC</h2>

  <a href="https://divine-pride.net/database/npc/38333/" target="_blank" rel="noopener noreferrer">
    <figure>
      <img src="/images/npcs/naive_swordsman.png" alt="Naive Swordsman Sprite" />
      <figcaption>
        <span class="block">Naive Swordsman (어수룩한 검사)</span>
        <span class="block">/navi izlude 180/213</span>
      </figcaption>
    </figure>
  </a>

  <h2>Rewards</h2>

  <ul class="list-disc pl-8">
    <li>Base & Job EXP (4479 Base, 50 Job)</li>
    <li>5 Banana Juice</li>
  </ul>
  
  <h2>Dialogue</h2>

  <p>Below is the Korean and the mostly Google-translated translation of that dialogue. The option you're supposed to select to move the quest forward is in green text.</p>

  <h3>00</h3>

  <p>Appears above the Naive Swordsman NPC and in chat.</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">으우에엑, 아이고 어지러워...</p>
    <p class="m-0 p-1 block">Ugh, I'm dizzy...</p>
  </div>

  <h3>01</h3>

  <img class="mb-4" src="/images/quests/izlude/lenos-motion-sickness/01.png" alt="Leno's Motion Sickness Quest Dialogue 01" />

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [어수룩한 검사]<br/>
      아.. 너 아까 배에선 고마윘다, 덕분에 이즈루드에 도착하긴 했는데... 으우엥에에에엑
    </p>
    <p class="m-0 p-1 block">
      [Naive Swordsman]<br/>
      Ah.. thanks to your help on the boat, I arrived in Izlude, but... ugghhhh
    </p>
  </div>

  <h3>02</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      심하게 멀미를 하고 있다. 내버려두사.
    </p>
    <p class="m-0 p-1 block">
      I'm feeling very nauseous. Leave me alone.
    </p>
  </div>

  <h3>03</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [어수룩한 검사]<br/>
      자..잠깐! 이대로 날 방치할 셈이냐! 잠시만.. 잠시만 같이 닜어주게, 친구여!
    </p>
    <p class="m-0 p-1 block">
      [Naive Swordsman]<br/>
      Now..wait! Hold on a second! Give me just a second, friend!
    </p>
  </div>

  <h3>04</h3>

  <p>Lumin appears 2 cells to the left of Leno.</p>

  <img class="mb-4" src="/images/quests/izlude/lenos-motion-sickness/04.png" alt="Leno's Motion Sickness Quest Dialogue 04" />

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [어수룩한 검사]<br/>
      그렇지! 친구가 되려면 우선 소개부터 우에에엑 해야겠지. 난 레노라그 한...
    </p>
    <p class="m-0 p-1 block">
      [Naive Swordsman]<br/>
      Right! To be friends, I must first introduce myself. I'm Leno...
    </p>
  </div>

  <h3>05</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      지금 상태라면 언제 ..해도 이상하지 않아. 멀찍이 물러나 있는게 좋아.
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      When you're in the right place ..It's not weird. It's good to get away.
    </p>
  </div>

  <h3>06</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      아니, 넌 ..할거야. 완전 그런 상태다. 그 표정, 목 움직임만 봐도 알 수있어. 그러니 어 서 이거 마셔.
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      No, you will.. You're in such a state. Just look at your expression and neck movement. So come on and drink this.
    </p>
  </div>

  <h3>07</h3>

  <p>Above Leno's head and in chat:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      끄응.. 뭐야, 바나나주스?
    </p>
    <p class="m-0 p-1 block">
      What is it, banana juice?
    </p>
  </div>

  <p class="mt-4">Dialogue box:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      우웁. 이 미묘한 바나나 향이 더.. 자극하네. 기껏 구해 쥤는데, 미안. 못 먹겠어.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Ohhh. It has a subtle banana smell. It's irritating. Sorry, I can't eat it.
    </p>
  </div>

  <h3>08</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      그래? 곤란한걸. 내 선행 목록이 채워지려나 알잖아?
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      Yeah? So difficult. You know my good deed list is getting filled up, right?
    </p>
  </div>

  <h3>09</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      선장님이 그러ㄱ시는데, 이 근처에 무슨 학원이 있다며. 가기 실력 좋은 치료사님이 계시대. 좀 쉬다가 거봐야겠어.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      The captain says that there is an academy near here. They have a good therapist. I need to rest.
    </p>
  </div>

  <h3>10</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      치료사에게 가면 약이라도 주는건가. 귀찮지만 일단 다녀오지. 니가 ..해서 길바닥이 더러워지는건 싫으니까. 설마 그 전에 ..하는건 아니겠지?
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      I'll go to the therapist and get you some medicine. It's annoying, but I'll go. I don't want to get dirty. 
    </p>
  </div>

  <h3>11</h3>

  <p><i>Lumin disappears</i></p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      으으... 난 이대로.. 멀미로 죽는걸까.. 엏흐흐흑. 천하의 룬나이트가 될 이 몸이! 겨우! 멀미 때문에!
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Ugh... Am I dying from motion sickness? This body that will become the best Rune Knight in the world! Gone! Because of motion sickness!
    </p>
  </div>

  <p class="mt-4"><i>Option prompt appears, only one option</i></p>

  <ul class="list-disc pl-8">
    <li>
      <b>멀미도 못이기면 기사는 때려쳐! (If you can't beat the motion sickness, you can't become a knight!)</b>
    </li>
  </ul>

  <h3>13</h3>

  <p><i>Lumin reappears</i></p>

  <p>Above Leno's head and in chat:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      아직도 이러고 있잖아.
    </p>
    <p class="m-0 p-1 block">
      You're still doing this.
    </p>
  </div>

  <img class="mb-4" src="/images/quests/izlude/lenos-motion-sickness/13.png" alt="Leno's Motion Sickness Quest Dialogue 13" />

  <p class="mt-4">Dialogue box:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      왔구나!!!! 눈이 빠지게 기다렸단다. 벗이여!
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      You're here!!!! I waited for my eyes to fall out. Friend!
    </p>
  </div>

  <h3>14</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      일단 이거 아셔. 몸에 좋은건 모두 흔합한 특제 포션이래.
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      You know this first. Here's a special potion, good for your body.
    </p>
  </div>

  <h3>15</h3>

  <img class="mb-4" src="/images/quests/izlude/lenos-motion-sickness/15.png" alt="Leno's Motion Sickness Quest Dialogue 15" />

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      고맙다! 잘 마시마!
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Thank you! It'll be good to drink!
    </p>
  </div>

  <h3>16</h3>

  <p>Above Leno's head and in chat:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      크아아~!
    </p>
    <p class="m-0 p-1 block">
      Ah~!
    </p>
  </div>

  <p class="mt-4">Dialogue box:</p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      ... 마시는걸 봤으니 이제 난 간다. 레노, 너는 내 선행 목록 1호로 기록해 두겠어.
    </p>
    <p class="m-0 p-1 block">
      [Rumin]<br/>
      ... Now that I've seen you drink it, I'm on my way. Leno, you're number one on my good deed list. I'm off.
    </p>
  </div>

  <h3>17</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      어디로 갈건데? 구민, 너 아직 노비스잖아? 그러고보니 [YOUR CHARACTER NAME], 너도 갈 곳은 정했냐?
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Where are you going? Lumin, you're still a novice right? And [CHARACTER NAME], did you decide where to go?
    </p>
  </div>

  <h3>18</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      난 수업만 듣고 모로크로 가야해. 갈 길이 바쁘다.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      I have to go to Morocc and take classes. It's a long way to go.
    </p>
  </div>

  <h3>19</h3>

  <img class="mb-4" src="/images/quests/izlude/lenos-motion-sickness/19.png" alt="Leno's Motion Sickness Quest Dialogue 19" />

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      음..? 모로크? 설마 도둑으로 전직하려는거야? 벌써 전직레벨인거야? 모로크까지 흔자 갈 수 있겠어? <span class="text-blue-600">전직 가능한 레벨</span> 되면 다같이 가는건어때?
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Oh..? Morocc? Are you trying to change to a thief? Are you already at the required level? Why don't we go together when we're at <span class="text-blue-600">the proper level</span>?
    </p>
  </div>

  <h3>20</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      아직 직업레벨이 모자라긴 하지만 여러가지 사정이란 것이 있다. 날 아쉬워하는 마음은 이해하는데 이제 놓아줘.
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      I'm still needing job levels. I can't wait to see the stars.
    </p>
  </div>

  <h3>21</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [루민]<br/>
      그리고 학원의 수업은 충실히 듣는게좋아. 언젠가 또 보겠지. 드럼 이만 총총!
    </p>
    <p class="m-0 p-1 block">
      [Lumin]<br/>
      And it's better to take the academy classes faithfully. Drum 20,000 guns!
    </p>
  </div>

  <h3>22</h3>

  <p><i>Lumin vanishes</i></p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      정말로 가버리다니. 뭐 곧 다시 만나겠지? 저런 녀석들은 꼭 다시 만나게 되더라.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      He's gone. Will I see him again soon? We must meet again.
    </p>
  </div>

  <h3>23</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      ..아.. 그 바나나쥬스는 말이지. 좀 전에 루민이 준 거...난 도저히 못 먹겠어. 너 믹어라.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      ..Oh.. that banana juice that Lumin gave me... I can't drink it. You take it.
    </p>
  </div>

  <h3>23</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      이제 어쩔거냐? 난 여기서 몸을 좀 더 주스렸다가 프론테라로 가 볼 생각인데.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      What will you do now? I'm going to get a little more medicine here and then go to Prontera.
    </p>
  </div>

  <h3>24</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      아직 전직을 하지 않았구나. 크리투라 학원이라는 곳에 가 봐. 최극 낙원단이 운영을 해서 모험가에게 에러가지 도움을 주고 있다고 해.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      You haven't changed jobs yet. Go to a place called Criatura Academy. They say that the Paradise Group is there and is helping adventurers.
    </p>
  </div>

  <h3>25</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      난 이미 검사가 되었지만, 아직 햣병아리라서 수련삼아 여기 저기 다니고 있지. 너도 좋은 직업을 가지면 좋겠다.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      I've already changed jobs, but I'm still sick, so I'm still training here and there. I hope you get a good job.
    </p>
  </div>

  <h3>26</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      여기에 계속 있을 생각이야? 내 경험을 토대로 이야기 해 주자면 <span class="text-blue-600">전직 직후에는 도시 인근의 필드에서 사냥을 해보고 감각을 길러보는게좋아.</span>
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Do you intend to stay here? Let me tell you based on my experience. <span class="text-blue-600">It is better to hunt and cultivate the senses in the fields near the city immediately after changing jobs.</span>
    </p>
  </div>

  <h3>27</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      던전은 그 다음이야. 난 <span class="text-blue-600">프론테라</span>를 들렀다가 그 후엔 <span class="text-blue-600">페이욘</span>에 갈 거야. 페이욘의 산 속에는 마을 하나가 지하에 고스란히 묻혀있대.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Dungeons are next. After the fields, stop by <span class="text-blue-600">Prontera</span> and then go to <span class="text-blue-600">Payon</span>. In the mountains of Payon, a village is buried underground.
    </p>
  </div>

  <h3>28</h3>

  <p><i>Player is given their rewards.</i></p>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      던전은 그 다음이야. 난 <span class="text-blue-600">프론테라</span>를 들렀다가 그 후엔 <span class="text-blue-600">페이욘</span>에 갈 거야. 페이욘의 산 속에는 마을 하나가 지하에 고스란히 묻혀있대.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Dungeons are next. After the fields, stop by <span class="text-blue-600">Prontera</span> and then go to <span class="text-blue-600">Payon</span>. In the mountains of Payon, a village is buried underground.
    </p>
  </div>

  <h3>29</h3>

  <div class="border rounded-md">
    <p lang="ko" class="m-0 p-1 block border-b font-bold">
      [레노]<br/>
      상상만 해도 신나지 않아? 나중에 너두, 루민도 다시 만날 수있으면 줗겠다, 친구.
    </p>
    <p class="m-0 p-1 block">
      [Leno]<br/>
      Isn't it exciting just to imagine? Later you, Lumin, and I can meet again. I'll see you soon, friend.
    </p>
  </div>

  <p class="mt-4">After the quest is over, if you click on Leno again, the following message shows over his head and in chat:</p>

  슬슬 약효가 도는 모양이야. 즘 쉬면 곤찮아지겠지. (It looks like the medicine is working. I just need to rest a bit more.)

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      Gameplay
    </li>
  </ul>
</article>