---
layout: /layouts/base.njk
title: High Wizard
description: Learn about the High Wizard class as found in Ragnarok Zero.
tags: class
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">High Wizard</h1>

  <img class="my-2" src="/images/classes/high-wizard.png" alt="High Wizard sprite" />

  <p>Below you'll find information about the High Wizard class on Ragnarok Zero. High Wizard is the transcendent job of Wizard, and Wizard is the second job of the Mage class.</p>

  <h2>Skills</h2>

  <p>Click a skill below to go to its page and learn more.</p>

  <ul>
    <a class="no-underline text-red-700 block mb-3" href="/skills/soul-drain">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/soul-drain.png">
        <span class="align-middle pl-2">Soul Drain (소울 드레인)</span>
      </li>
    </a>
    <a class="no-underline text-red-700 block mb-4" href="/skills/magic-crasher">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/magic-crasher.png">
        <span class="align-middle pl-2">Magic Crasher (매직 크레셔)</span>
      </li>
    </a>
    <a class="no-underline text-red-700 block mb-4" href="/skills/amplify-magic-power">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/amplify-magic-power.png">
        <span class="align-middle pl-2">Amplify Magic Power (마법력 증폭)</span>
      </li>
    </a>
    <a class="no-underline text-red-700 block mb-4" href="/skills/napalm-vulcan">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/napalm-vulcan.png">
        <span class="align-middle pl-2">Napalm Vulcan (네이팜 발칸)</span>
      </li>
    </a>
    <a class="no-underline text-red-700 block mb-4" href="/skills/ganbantein">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/ganbantein.png">
        <span class="align-middle pl-2">Ganbantein (간반테인)</span>
      </li>
    </a>
    <a class="no-underline text-red-700 block mb-4" href="/skills/gravitation-field">
      <li class="bg-red-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/gravitation-field.png">
        <span class="align-middle pl-2">Gravitation Field (그라비테이션 필드)</span>
      </li>
    </a>
  <ul/>

</article>