---
layout: /layouts/base.njk
title: Classes
description: Learn about the different character classes (aka jobs) that can be found in Ragnarok Zero.
tags: class
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">Character Classes</h1>

  <p>Below you'll find all of the classes one can play on Ragnarok Zero. Click each class to see more details about that class.</p>

  <div>
    <div class="flex flex-wrap justify-evenly">
      <div class="text-center rounded-md border-green-300 p-2 border-2 mb-3">
        <img class="block" src="/images/classes/swordman.png" alt="Swordsman sprite" />
        <span class="font-bold">Swordsman</span>
      </div>
      <div class="text-center rounded-md border-green-300 p-2 border-2 mb-3">
        <img class="block" src="/images/classes/knight.png" alt="Knight sprite" />
        <span class="font-bold">Knight</span>
      </div>
      <div class="text-center rounded-md border-green-300 p-2 border-2 mb-3">
        <img class="block" src="/images/classes/crusader.png" alt="Knight sprite" />
        <span class="font-bold">Crusader</span>
      </div>
      <a href="/classes/lord-knight" class="no-underline text-green-600">
        <div class="text-center rounded-md border-green-300 p-2 border-2 mb-3">
          <img class="block" src="/images/classes/lord-knight.png" alt="Lord Knight sprite" />
          <span class="font-bold">Lord Knight</span>
        </div>
      </a>
      <div class="text-center rounded-md border-green-300 p-2 border-2 mb-3">
        <img class="block" src="/images/classes/paladin.png" alt="Paladin sprite" />
        <span class="font-bold">Paladin</span>
      </div>
    </div>
  </div>

</article>