---
layout: /layouts/base.njk
title: Lord Knight
description: Learn about the Lord Knight class as found in Ragnarok Zero.
tags: class
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">Lord Knight</h1>

  <img class="my-2" src="/images/classes/lord-knight.png" alt="Lord Knight sprite" />

  <p>Below you'll find information about the Lord Knight class on Ragnarok Zero. Lord Knight is the transcendent job of Knight, and Knight is the second job of the Swordsman class.</p>

  <h2>Skills</h2>

  <p>Click a skill below to go its page and learn more.</p>

  <ul>
    <a class="no-underline text-blue-700 block mb-3" href="/skills/aura-blade">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/aura_blade.png">
        <span class="align-middle pl-2">Aura Blade (오라 블레이드)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/concentration">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/concentration.png">
        <span class="align-middle pl-2">Concentration (컨센트레이션)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/berserk">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/berserk.png">
        <span class="align-middle pl-2">Berserk (버서크)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/head-crush">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/head_crush.png">
        <span class="align-middle pl-2">Head Crush (헤드 크러쉬)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/parrying">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/parrying.png">
        <span class="align-middle pl-2">Parrying (패링)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/tension-relax">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/tension-relax.png">
        <span class="align-middle pl-2">Tension Relax (텐션 릴렉스)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/spiral-pierce">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/spiral-pierce.png">
        <span class="align-middle pl-2">Spiral Pierce (스파이럴 피어스)</span>
      </li>
    </a>
    <a class="no-underline text-blue-700 block mb-4" href="/skills/joint-beat">
      <li class="bg-blue-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/joint-beat.png">
        <span class="align-middle pl-2">Joint Beat (조인트 비트)</span>
      </li>
    </a>
  <ul/>

</article>