---
layout: /layouts/base.njk
title: Sniper
description: Learn about the Sniper class as found in Ragnarok Zero.
tags: class
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">Sniper</h1>

  <img class="my-2" src="/images/classes/sniper.png" alt="Sniper sprite" />

  <p>Below you'll find information about the Sniper class on Ragnarok Zero. Sniper is the transcendent job of Hunter, and Hunter is the second job of the Archer class.</p>

  <h2>Skills</h2>

  <p>Click a skill below to go to its page and learn more.</p>

  <ul>
    <a class="no-underline text-yellow-700 block mb-3" href="/skills/sharp-shooting">
      <li class="bg-yellow-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/sharp-shooting.png">
        <span class="align-middle pl-2">Sharp Shooting (샤프슈팅)</span>
      </li>
    </a>
    <a class="no-underline text-yellow-700 block mb-3" href="/skills/wind-walk">
      <li class="bg-yellow-100 rounded-md p-3">
        <img class="inline-block align-middle" src="/images/skills/icons/wind-walk.png">
        <span class="align-middle pl-2">Wind Walk (윈드 워크)</span>
      </li>
    </a>
  <ul/>

</article>