---
layout: /layouts/base.njk
title: Aura Blade
description: Learn about the skill called Aura Blade and how it's changed over time on Ragnarok Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/aura_blade.png">
    <span class="align-middle">Aura Blade (오라 블레이드)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 5</li>
    <li><b>Prerequisite:</b> Bash 5, Magnum Break 5, Two-Handed Sword Mastery 5</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Buff</li>
    <li><b>Target (대상):</b> Self</li>
    <li><b>Description:</b> Give the weapon you have equipped an aura, which increases its attack damage. Damage increases are affected by your base level.</li>
    <li class="mt-4">[Lv 1] Additional Damage: Base Level x 4</li>
    <li>[Lv 2] Additional Damage: Base Level x 5</li>
    <li>[Lv 3] Additional Damage: Base Level x 6</li>
    <li>[Lv 4] Additional Damage: Base Level x 7</li>
    <li>[Lv 5] Additional Damage: Base Level x 8</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=58" target="_blank" rel="noopener noreferrer">the Aura Blade entry on the Ragnarok Zero website</a>.</p>

  <ul>
    <li><b>SP Cost Per Level:</b> 18, 26, 34, 42, 50</li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1257&curpage=1">2019-10-22: Dev Note #55</a><br/>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=428&curpage=1&search=contents&srhval=%EC%98%A4%EB%9D%BC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-10-21: News #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Status effect icon added (mentioned again, probably actually added during the 2019-10-2x maintenance as reported in the News post).</li>
    <li>When reconnecting (when moving between certain maps), the effect is changed so that it is not released / cancelled.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1216&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-09-23: Dev Note #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Status effect icon added.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting, per level: 0, 0, 0, 0, 0</li>
    <li>Variable casting, per level: 0, 0, 0, 0, 0</li>
    <li>Global cooldown, per level: 0, 0, 0, 0, 0</li>
    <li>Skill cooldown, per level: 0, 0, 0, 0, 0</li>
  </ul>

</article>