---
layout: /layouts/base.njk
title: Blessing
description: Learn about the skill called Blessing and how it's changed over time on kRO Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/blessing.bmp">
    <span class="align-middle">Blessing (블레싱)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 10</li>
    <li><b>Prerequisite:</b> Divine Protection 5</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Buff</li>
    <li><b>Target (대상):</b> 1 Target</li>
    <li><b>Description:</b> Temporarily increases the STR, INT, DEX and accuracy of the targeted player. When used on a Cursed or Stone Cursed player, removes this abnormal state. When used on Undead or Demon-race monsters, reduces their STR, INT, and DEX by 50%.</li>
    <li class="mt-4">[Lv 1] STR, INT, DEX +1, HIT +2, Duration: 60 seconds</li>
    <li>[Lv 2] STR, INT, DEX +2, HIT +4, Duration: 80 seconds</li>
    <li>[Lv 3] STR, INT, DEX +3, HIT +6, Duration: 100 seconds</li>
    <li>[Lv 4] STR, INT, DEX +4, HIT +8, Duration: 120 seconds</li>
    <li>[Lv 5] STR, INT, DEX +5, HIT +10, Duration: 140 seconds</li>
    <li>[Lv 6] STR, INT, DEX +6, HIT +12, Duration: 160 seconds</li>
    <li>[Lv 7] STR, INT, DEX +7, HIT +14, Duration: 180 seconds</li>
    <li>[Lv 8] STR, INT, DEX +8, HIT +16, Duration: 200 seconds</li>
    <li>[Lv 9] STR, INT, DEX +9, HIT +18, Duration: 220 seconds</li>
    <li>[Lv 10] STR, INT, DEX +10, HIT +20, Duration: 240 seconds</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=28#%EB%B8%94%EB%A0%88%EC%8B%B1" target="_blank" rel="noopener noreferrer">the Blessing entry on the kRO Zero website</a>.</p>

  <ul>
    <li><b>Range:</b> 9 cells</b>
    <li><b>After Skill Delay (스킬 후 딜레이):</b> None</li>
    <li><b>Skill Cooldown (스킬 쿨타임):</b> None</li>
    <li><b>Variable Casting (변동 캐스팅):</b> None</li>
    <li><b>Fixed Casting (고정 캐스팅):</b> None</li>
    <li><b>SP Cost Per Level:</b> 28, 32, 36, 40, 44, 48, 52, 56, 60, 64</li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3><a href="/news/16-2017-12-04-ragnarok-zero-14th-day-maint/">2017-12-04: News #16</a></h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Added HIT +2 per level, maximum of +20 at level 10.</li>
  </ul>

  <h3><a href="/dev-notes/03-2017-11-29-balance-update-info/">2017-11-29: Dev Note #3</a></h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Mentions adding HIT in an upcoming maintenance.</li>
  </ul>

</article>