---
layout: /layouts/base.njk
title: Concentration
description: Learn about the skill called Concentration and how it's changed over time on kRO Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/concentration.png">
    <span class="align-middle">Concentration (컨센트레이션)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 5</li>
    <li><b>Prerequisite:</b> Increase HP Recovery 5, Spear Mastery 5, Peco Peco Ride 5</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Buff</li>
    <li><b>Target (대상):</b> Self</li>
    <li><b>Description:</b> In exchange for raising HIT and ATK, a player's DEF is lowered. Also an Endure effect is given.</li>
    <li class="mt-4">[Lv 1] HIT +10, ATK + 7%, DEF - 7%</li>
    <li>[Lv 2] HIT +20, ATK + 9%, DEF - 9%</li>
    <li>[Lv 3] HIT +30, ATK + 11%, DEF - 11%</li>
    <li>[Lv 4] HIT +40, ATK + 13%, DEF - 13%</li>
    <li>[Lv 5] HIT +50, ATK + 15%, DEF - 15%</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=58" target="_blank" rel="noopener noreferrer">the Concentration entry on the kRO Zero website</a>.</p>

  <ul>
    <li><b>SP Cost Per Level:</b> 14, 18, 22, 26, 30</li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1257&curpage=1">2019-10-22: Dev Note #55</a><br/>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=428&curpage=1&search=contents&srhval=%EC%98%A4%EB%9D%BC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-10-21: News #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Status effect icon added (mentioned again, probably actually added during the 2019-10-2x maintenance as reported in the News post).</li>
    <li>When reconnecting (when moving between certain maps), the effect is changed so that it is not released / cancelled.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1216&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-09-23: Dev Note #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Status effect icon added.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>(No change, just listed) Fixed casting, per level: 0, 0, 0, 0, 0</li>
    <li>(No change, just listed) Variable casting, per level: 0, 0, 0, 0, 0</li>
    <li>(No change, just listed) Global cooldown, per level: 0, 0, 0, 0, 0</li>
    <li>(No change, just listed) Skill cooldown, per level: 0, 0, 0, 0, 0</li>
  </ul>

</article>