---
layout: /layouts/base.njk
title: Ganbantein
description: Learn about the skill called Ganbantein and how it's changed over time on Ragnarok Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/ganbantein.png">
    <span class="align-middle">Ganbantein (간반테인)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 1</li>
    <li><b>Prerequisite:</b> Sense 1, Ice Wall 1</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Assistance (보조)</li>
    <li><b>Target (대상):</b> 1 Ground Cell (지면 1셀)</li>
    <li><b>Description:</b> With a set probability, cancels all ground-targeted magic installed within the 3x3 Area of Effect (AOE). It consumes 1 Blue Gemstone and 1 Yellow Gemstone, and when used on top of Land Protector, the 3x3 cells of Land Protector disappear. This spell is not affected by items or magic that reduces gemstone consumption.</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>There were no additional details found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=60" target="_blank" rel="noopener noreferrer">the Ganbantein entry on the Ragnarok Zero website</a>.</p>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting, per level: 1</li>
    <li>Variable casting, per level: 1.2</li>
    <li>Global cooldown, per level: 0.3</li>
    <li>Skill cooldown, per level: 2</li>
  </ul>

</article>