---
layout: /layouts/base.njk
title: Joint Beat
description: Learn about the skill called Joint Beat and how it's changed over time on kRO Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/joint-beat.png">
    <span class="align-middle">Joint Beat (조인트 비트)</span>
  </h1>

  <p>Also known as <b>Vital Strike</b>.</p>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 10</li>
    <li><b>Prerequisite:</b> Spear Mastery 9, Peco Peco Ride 1, Cavalry Mastery 3, Head Crush 3</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Ranged Physical (원거리 물리)</li>
    <li><b>Target (대상):</b> 1 Target</li>
    <li><b>Description:</b> Skill can only be used with a Spear equipped. Causes various effects to the enemy by attacking their joints. As skill level increases, attack and the chance to cause those effects also increase.</li>
    <li class="mt-4">[Lv 1] ATK 60%</li>
    <li>[Lv 2] ATK 70%</li>
    <li>[Lv 3] ATK 80%</li>
    <li>[Lv 4] ATK 90%</li>
    <li>[Lv 5] ATK 100%</li>
    <li>[Lv 6] ATK 110%</li>
    <li>[Lv 7] ATK 120%</li>
    <li>[Lv 8] ATK 130%</li>
    <li>[Lv 9] ATK 140%</li>
    <li>[Lv 10] ATK 150%</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=58" target="_blank" rel="noopener noreferrer">the Joint Beat entry on the kRO Zero website</a>.</p>

  <ul>
    <li>
      <b>SP Cost Per Level:</b><br/>
      <ul class="list-disc pl-8 mt-4">
        <li>Level 1, 2: 12</li>
        <li>Level 3, 4: 14</li>
        <li>Level 5, 6: 16</li>
        <li>Level 7, 8: 18</li>
        <li>Level 9, 10: 20</li>
      </ul>
    </li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting, per level: 0, 0, 0, 0, 0, 0, 0, 0, 0, 0</li>
    <li>Variable casting, per level: 0, 0, 0, 0, 0, 0, 0, 0, 0, 0</li>
    <li>Global cooldown, per level: 0.3, 0.3, 0.3, 0.3, 0.3, 0, 0, 0, 0, 0</li>
    <li>Skill cooldown, per level: 0, 0, 0, 0, 0, 0, 0, 0, 0, 0</li>
  </ul>

</article>