---
layout: /layouts/base.njk
title: Magic Crasher
description: Learn about the skill called Magic Crasher and how it's changed over time on Ragnarok Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/magic-crasher.png">
    <span class="align-middle">Magic Crasher (매직 크래셔)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 1</li>
    <li><b>Prerequisite:</b> Increase SP Recovery 1</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Ranged Physical (원거리 물리)</li>
    <li><b>Target (대상):</b> 1 Target</li>
    <li><b>Description:</b> Use your magic force (MATK) to deal a neutral, physical attack (무속성 물리공격) to an enemy. Damage is reduced by enemy DEF.</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>There were no additional details found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=60" target="_blank" rel="noopener noreferrer">the Magic Crasher entry on the Ragnarok Zero website</a>.</p>

  <h2 id="changelog">Changelog</h2>

  <p>There have been no changes to this skill listed on the Ragnarok Zero up to this point.</p>

</article>