---
layout: /layouts/base.njk
title: Soul Drain
description: Learn about the skill called Soul Drain and how it's changed over time on Ragnarok Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/soul-drain.png">
    <span class="align-middle">Soul Drain (소울 드레인)</span>
  </h1>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 10</li>
    <li><b>Prerequisite:</b> Increase SP Recovery 5, Soul Strike 7</li>
    <li><b>Family (계열):</b> Passive</li>
    <li><b>Type:</b> None</li>
    <li><b>Target (대상):</b> None</li>
    <li><b>Description:</b> Increases Max SP. Also, when a monster is killed by your single-target spell, you get back SP proportional to the monster's level. (Effects are determined based on the skills used immediately before the Soul Drain effect is invoked.)</li>
    <li class="mt-4">[Lv 1] MaxSP +2%</li>
    <li>[Lv 2] Max SP +4%</li>
    <li>[Lv 3] Max SP +6%</li>
    <li>[Lv 4] Max SP +8%</li>
    <li>[Lv 5] Max SP +10%</li>
    <li>[Lv 6] Max SP +12%</li>
    <li>[Lv 7] Max SP +14%</li>
    <li>[Lv 8] Max SP +16%</li>
    <li>[Lv 9] Max SP +18%</li>
    <li>[Lv 5] Max SP +20%</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>There were no additional details found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=60" target="_blank" rel="noopener noreferrer">the Soul Drain entry on the Ragnarok Zero website</a>.</p>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=384&curpage=1&search=contents&srhval=%EC%86%8C%EC%9A%B8+%EB%93%9C%EB%A0%88%EC%9D%B8">2019-07-29: News #??</a><br/>
  </h3>

  <p>Soul Drain's skill description modified to reflect how the skill actually works.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Before Change: MAX SP increases, and each time an enemy is removed with a "one-man target magic or general attack", the SP is obtained relative to the level of the dead enemy. (변경 전: MAX SP가 증가하며, 1인 대상 마법이나 일반 공격으로 적을 제거할 때 마다 죽은 적의 레벨에 비례하여 SP를 얻는다.)</li>
    <li>After Change: MAX SP increases, and when a monster is killed by target magic, the effect is triggered, restoring SP as is proportional to the monster's level. (Effects are determined based on the skills used immediately before the Soul Drain's effect is invoked.) (MAX SP가 증가하며, 대상 마법으로 몬스터를 죽였을 경우 효과가 발동하여 해당 몬스터의 레벨에 비례한 만큼의 SP를 회복한다. (소울 드레인의 효과가 발동하기 직전에 사용한 스킬 기준으로 효과 적용 여부가 결정된다))</li>
  </ul>

</article>