---
layout: /layouts/base.njk
title: Spiral Pierce
description: Learn about the skill called Spiral Pierce and how it's changed over time on kRO Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/spiral-pierce.png">
    <span class="align-middle">Spiral Pierce (스파이럴 피어스)</span>
  </h1>

  <p>Also known as <b>Clashing Spiral</b>.</p>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 5</li>
    <li><b>Prerequisite:</b> Pierce 5, Spear Mastery 5, Spear Stab 5, Peco Peco Ride 1</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Ranged Physical (원거리 물리)</li>
    <li><b>Target (대상):</b> 1 Target</li>
    <li><b>Description:</b> Pierces an enemy multiple times with a whirlwind-shaped attack, resulting in greater destructive and killing power. The heavier the weapon's weight, the more damage it does. Also the enemy is unable to move for 1 second after being attacked. Damage increases as skill level increases, but so does cast time. Only for use with Spear, One-Handed Sword, and Two-Handed Sword weapons.</li>
    <li class="mt-4">[Lv 1] ATK 200%</li>
    <li>[Lv 2] ATK 250%</li>
    <li>[Lv 3] ATK 300%</li>
    <li>[Lv 4] ATK 350%</li>
    <li>[Lv 5] ATK 400%</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=58" target="_blank" rel="noopener noreferrer">the Concentration entry on the kRO Zero website</a>.</p>

  <ul>
    <li><b>SP Cost Per Level:</b> 18, 21, 24, 27, 30</li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1257&curpage=1">2019-10-22: Dev Note #55</a><br/>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=428&curpage=1&search=contents&srhval=%EC%98%A4%EB%9D%BC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-10-21: News #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Skill cooldown decreased from 1.5 seconds to 0.8 seconds.</li>
    <li>
      The small/medium/large size correction value is increased by about 20%. The way I interpret this is that the previously noted (per irowiki) size penalty was adjusted so that this skill does more damage across the board. Thus the new size penalty values would be something like:
      <ul class="list-disc pl-8 mt-4">
        <li>Small: 125% -> 145%</li>
        <li>Medium: 100% -> 120%</li>
        <li>Large: 75% -> 95%</li>
      </ul>
    </li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1216&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-09-23: Dev Note #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>The small/medium/large size correction value will be increased.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting, per level: 0.3, 0.3, 0.3, 0.3, 0.3</li>
    <li>Variable casting, per level: 0.15, 0.25, 0.35, 0.45, 0.5</li>
    <li>Global cooldown, per level: 0.3, 0.3, 0.3, 0.3, 0.3</li>
    <li>Skill cooldown, per level: 1.5, 1.5, 1.5, 1.5, 1.5</li>
  </ul>

</article>