---
layout: /layouts/base.njk
title: Wind Walk
description: Learn about the skill called Wind Walk and how it's changed over time on Ragnarok Zero.
tags: skill
image: '/images/meta/criatura-academy-home.png'
---

<article>

  <h1 class="text-2xl mb-2">
    <img class="inline-block align-middle" src="/images/skills/icons/wind-walk.png">
    <span class="align-middle">Wind Walk (윈드 워크)</span>
  </h1>

  <p>Also known as <b>Wind Walker</b>.</p>

  <h2 id="ingame-description">Ingame Description</h2>

  <ul>
    <li><b>Max Level:</b> 10</li>
    <li><b>Prerequisite:</b> Improve Concentration 9</li>
    <li><b>Family (계열):</b> Active</li>
    <li><b>Type:</b> Assistance (보조)</li>
    <li><b>Target (대상):</b> Self</li>
    <li><b>Description:</b> Improves the movement speed and FLEE of party members (including self) within a 13x13 AoE. If movement speed is already increased by [Increase AGI] or some other means, the movement speed increase of this skill is not applied. [Quagmire] or other effects that decrease movement speed, cancels out this skill's movement speed increase.</li>
  </ul>

  <h2 id="additional-notes">Additional Notes</h2>

  <p>The following details are not part of the ingame description, but can be found in <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10016&seq=68" target="_blank" rel="noopener noreferrer">the Wind Walk entry on the Ragnarok Zero website</a>.</p>

  <ul>
    <li><b>SP Cost Per Level:</b> 46, 52, 58, 64, 70, 76, 82, 88, 94, 100</li>
    <li><b>Duration In Seconds Per Level:</b> 130, 160, 190, 220, 250, 280, 310, 340, 370, 400</li>
    <li><b>FLEE Increase Every 2 Levels:</b> +1, +2, +3, +4, +5 <span class="font-bold text-purple-600">On 2019-10-21 FLEE increase changed to be +20 at level 10. No info given about FLEE bonus at other levels, but could be: +4, +8, +12, +16, +20.</span></li>
  </ul>

  <h2 id="changelog">Changelog</h2>

  <h3>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1257&curpage=1">2019-10-22: Dev Note #55</a><br/>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=428&curpage=1&search=contents&srhval=%EC%98%A4%EB%9D%BC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-10-21: News #??</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Area of Effect reduced to 13X13 around the caster.</li>
    <li>FLEE increase effect increased from +5 to +20 at level 10.</li>
    <li>When reconnecting (when moving between certain maps), the effect is changed so that it is not released / cancelled.</li>
  </ul>

  <h3>
    <a href="https://roz.gnjoy.com/news/notice/View.asp?BBSMode=10001&seq=331&curpage=1&search=contents&srhval=%EC%98%A4%EB%9F%AC+%EB%B8%94%EB%A0%88%EC%9D%B4%EB%93%9C">2019-03-25: News #??</a><br/>
    <a href="https://roz.gnjoy.com/news/devnote/View.asp?category=3&seq=1088&curpage=1">2019-03-07: Dev Note #50</a>
  </h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Fixed casting, per level: 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3</li>
    <li>Variable casting, per level: 1, 1, 1, 1, 1, 1, 1, 1, 1, 1</li>
    <li>Global cooldown, per level: 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3</li>
    <li>Skill cooldown, per level: 1, 1, 1, 1, 1, 1, 1, 1, 1, 1</li>
  </ul>

</article>