---
layout: /layouts/base.njk
title: Poring Village | Criatura Academy
description: All about the Memorial Dungeon Poring Village found in kRO Zero
---

<article>
  <h1 class="text-2xl mb-2">Poring Village</h1>
  <p>This <b>memorial dungeon</b> is located one map west of Prontera.</p>
  <img class="mt-6 mb-2" src="/images/maps/poring-village-location.bmp" alt="Poring Village map location" />

  <h2>General Info</h2>

  <ul class="list-disc pl-8">
    <li>Must have a base level between 30 and 60 and be in a party to enter.</li>
    <li>Throughout the dungeon there are blue pillars. Clicking on them will transform you and give you increased ATK for a certain period of time.</li>
  </ul>

  <h2>Monster Info</h2>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-24",
        image="3815-md-poring.gif",
        name="Fortified Poring", 
        id="3815",
        level="34",
        hp="1023",
        defMdef="10/12",
        class="Normal",
        family="Formless",
        property="Earth LV1",
        size="Small",
        expJexp="369/291"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3816-md-marin.gif",
        name="Fortified Marin", 
        id="3816",
        level="33",
        hp="960",
        defMdef="10/10",
        class="Normal",
        family="Formless",
        property="Water LV1",
        size="Small",
        expJexp="358/279"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3814-md-poporing.gif",
        name="Fortified Poporing", 
        id="3814",
        level="36",
        hp="1167",
        defMdef="10/12",
        class="Normal",
        family="Formless",
        property="Wind LV1",
        size="Small",
        expJexp="384/309"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3813-md-drops.gif",
        name="Fortified Drops", 
        id="3813",
        level="35",
        hp="1095",
        defMdef="10/10",
        class="Normal",
        family="Formless",
        property="Fire LV1",
        size="Small",
        expJexp="377/300"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="3812-md-amering.gif",
        name="Amering", 
        id="3812",
        level="35",
        hp="72810",
        defMdef="10/10",
        class="Boss",
        family="Formless",
        property="Poison LV1",
        size="Large",
        expJexp="6375/5524"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="3811-md-goldring.gif",
        name="Goldring", 
        id="3811",
        level="35",
        hp="72118",
        defMdef="10/10",
        class="Boss",
        family="Formless",
        property="Holy LV1",
        size="Large",
        expJexp="6327/5565"
    %}
    {% monsterCard 
        widthClass="w-full",
        image="3810-md-king-poring.gif",
        name="King Poring", 
        id="3810",
        level="35",
        hp="140000",
        defMdef="20/20",
        class="Boss",
        family="Formless",
        property="Neutral LV1",
        size="Large",
        expJexp="9580/8288"
    %}
  </div>

  <h2>Treasure Chest Rewards</h2>

  <p>When you clear the dungeon, you are given a variety of rewards. These include consumables, two lower head gear, and items that can be used to craft memorial dungeon equipment.</p>

  <p>If there are more members in your party, more reward items will drop.</p>

  <h2>Vocabulary</h2>

  <ul class="list-disc pl-8 text-sm">
    <li><strong>Poring:</strong> 포링</li>
    <li><strong>Marin:</strong> 마린</li>
    <li><strong>Poporing:</strong> 포포링</li>
    <li><strong>Drops:</strong> 드롭프스</li>
    <li><strong>Amering:</strong> 아메링</li>
    <li><strong>Goldring:</strong> 골드링</li>
    <li><strong>King Poring:</strong> 대왕포링</li>
  </ul>

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=1&curpage=4" target="_blank" rel="noopener noreferrer">[던전] 포링 마을</a>
    </li>
    <li>
      Ingame testing
    </li>
  </ul>

</article>