---
layout: /layouts/base.njk
title: Poring Village | Criatura Academy
description: All about the Memorial Dungeon Poring Village
---

<article>
  <h1 class="text-2xl mb-2">Poring Village</h1>
  <p>This <b>memorial dungeon</b> is located one map west of Prontera.</p>
  <img class="mt-6 mb-2" src="/images/maps/poring-village-location.bmp" alt="Poring Village map location" />

  <h2>General Info</h2>

  <ul class="list-disc pl-8">
    <li>Must have a base level between 30 and 60 and be in a party to enter.</li>
    <li>Throughout the dungeon there are blue pillars. Clicking on them will transform you and give you increased ATK for a certain period of time.</li>
  </ul>

  <h2>Monster Info</h2>

  <div class="flex flex-wrap justify-between" style="margin-left: -5px">

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 24%">
      <img src="/images/monsters/3815-md-poring.gif" class="float-right ml-2" alt="Fortified Poring" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3815/" target="_blank" rel="noreferrer noopener">
          Fortified Poring
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 34</li>
        <li><strong>HP:</strong> 1023</li>
        <li><strong>DEF/MDEF:</strong> 10/12</li>
        <li><strong>Class:</strong> Normal</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Earth 1LV</li>
        <li><strong>Size:</strong> Small</li>
        <li><strong>EXP/JEXP:</strong> 369/291</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 24%">
      <img src="/images/monsters/3816-md-marin.gif" class="float-right ml-2" alt="Fortified Marin" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3816/" target="_blank" rel="noreferrer noopener">
          Fortified Marin
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 33</li>
        <li><strong>HP:</strong> 960</li>
        <li><strong>DEF/MDEF:</strong> 10/10</li>
        <li><strong>Class:</strong> Normal</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Water 1LV</li>
        <li><strong>Size:</strong> Small</li>
        <li><strong>EXP/JEXP:</strong> 358/279</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 24%">
      <img src="/images/monsters/3814-md-poporing.gif" class="float-right ml-2" alt="Fortified Poporing" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3814/" target="_blank" rel="noreferrer noopener">
          Fortified Poporing
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 36</li>
        <li><strong>HP:</strong> 1167</li>
        <li><strong>DEF/MDEF:</strong> 10/12</li>
        <li><strong>Class:</strong> Normal</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Wind 1LV</li>
        <li><strong>Size:</strong> Small</li>
        <li><strong>EXP/JEXP:</strong> 384/309</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 24%">
      <img src="/images/monsters/3813-md-drops.gif" class="float-right ml-2" alt="Fortified Drops" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3813/" target="_blank" rel="noreferrer noopener">
          Fortified Drops
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 36</li>
        <li><strong>HP:</strong> 1167</li>
        <li><strong>DEF/MDEF:</strong> 10/12</li>
        <li><strong>Class:</strong> Normal</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Wind 1LV</li>
        <li><strong>Size:</strong> Small</li>
        <li><strong>EXP/JEXP:</strong> 384/309</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 49%">
      <img src="/images/monsters/3812-md-amering.gif" class="float-right w-32" alt="Amering" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3812/" target="_blank" rel="noreferrer noopener">
          Amering
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 35</li>
        <li><strong>HP:</strong> 72810</li>
        <li><strong>DEF/MDEF:</strong> 10/10</li>
        <li><strong>Class:</strong> Boss</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Poison 1LV</li>
        <li><strong>Size:</strong> Large</li>
        <li><strong>EXP/JEXP:</strong> 6375/5524</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 49%">
      <img src="/images/monsters/3811-md-goldring.gif" class="float-right w-32" alt="Goldring" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3811/" target="_blank" rel="noreferrer noopener">
          Goldring
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 35</li>
        <li><strong>HP:</strong> 72118</li>
        <li><strong>DEF/MDEF:</strong> 10/10</li>
        <li><strong>Class:</strong> Boss</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Holy 1LV</li>
        <li><strong>Size:</strong> Large</li>
        <li><strong>EXP/JEXP:</strong> 6327/5565</li>
      </ul>
    </div>

    <div class="border-2 rounded-md p-2 text-sm mb-2" style="width: 100%">
      <img src="/images/monsters/3810-md-king-poring.gif" class="float-right w-32" alt="King Poring" />
      <span class="block leading-tight mb-2">
        <a href="https://divine-pride.net/database/monster/3810/" target="_blank" rel="noreferrer noopener">
          King Poring
        </a>
      </span>
      <ul>
        <li><strong>Level:</strong> 35</li>
        <li><strong>HP:</strong> 140000</li>
        <li><strong>DEF/MDEF:</strong> 20/20</li>
        <li><strong>Class:</strong> Boss</li>
        <li><strong>Family:</strong> Formless</li>
        <li><strong>Property: </strong>Neutral 1LV</li>
        <li><strong>Size:</strong> Large</li>
        <li><strong>EXP/JEXP:</strong> 9580/8288</li>
      </ul>
    </div>
  </div>

  <h2>Treasure Chest Rewards</h2>

  <p>When you clear the dungeon, you are given a variety of rewards. These include consumables, two lower head gear, and items that can be used to craft memorial dungeon equipment.</p>

  <p>If there are more members in your party, more reward items will drop.</p>

  <h2>Vocabulary</h2>

  <ul class="list-disc pl-8 text-sm">
    <li><strong>Poring:</strong> 포링</li>
    <li><strong>Marin:</strong> 마린</li>
    <li><strong>Poporing:</strong> 포포링</li>
    <li><strong>Drops:</strong> 드롭프스</li>
    <li><strong>Amering:</strong> 아메링</li>
    <li><strong>Goldring:</strong> 골드링</li>
    <li><strong>King Poring:</strong> 대왕포링</li>
  </ul>

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=1&curpage=4" target="_blank" rel="noopener noreferrer">[던전] 포링 마을</a>
    </li>
    <li>
      Ingame testing
    </li>
  </ul>

</article>