---
layout: /layouts/base.njk
title: Ant Hell 1F Memorial Dungeon
description: All about the Ant Hell 1F Memorial Dungeon found in Ragnarok Zero
tags: memorialDungeon
---

<article>
  <h1 class="text-2xl mb-2">Ant Hell 1F Memorial Dungeon</h1>

  <p>This <b>Memorial Dungeon</b> is located one map east of Prontera. Speak to the NPC a short distance from the entrance to get started, and then speak to the Dimensional Rift NPC next to her to enter.</p>

  <img class="mt-6 mb-2" src="/images/maps/gh-ant-hell-1f.bmp" alt="Ant Hell 1F Memorial Dungeon map location" />

  <h2>General Info</h2>

  <ul class="list-disc pl-8">
    <li>Must have a base level of at least 70 to enter.</li>
    <li>To clear the dungeon, you must stop the toxic fuming geysers and kill the boss Maya.</li>
    <li>See the <a href="/memorial-dungeons/equipment-crafting/">Memorial Dungeon Equipment Crafting page</a> for what to do with the items that drop in this instance.</li>
  </ul>

  <h2>Monster Info</h2>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-49",
        image="20077-md-deniro.gif",
        name="Cannibal Deniro", 
        id="20077",
        level="70",
        hp="5000",
        defMdef="52/16",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        expJexp="834/740"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="20078-md-vitata.gif",
        name="Cannibal Vitata", 
        id="20078",
        level="71",
        hp="5000",
        defMdef="44/12",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        expJexp="829/756"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="20079-md-andre.gif",
        name="Cannibal Andre", 
        id="20079",
        level="70",
        hp="5000",
        defMdef="55/16",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        expJexp="843/779"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="20080-md-pierre.gif",
        name="Cannibal Pierre", 
        id="20080",
        level="70",
        hp="500",
        defMdef="57/16",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        expJexp="843/779"
    %}
    {% monsterCard 
        widthClass="w-full",
        image="20076-md-maya.gif",
        name="Cannibal Maya", 
        id="20076",
        level="70",
        hp="2200000",
        defMdef="183/50",
        class="Boss",
        family="Insect",
        property="Earth LV4",
        size="Large",
        expJexp="165000/120000"
    %}
  </div>

  <h2>Treasure Chest Rewards</h2>

  <p>When you clear the dungeon, you are given a variety of rewards. If the number of party members is 7 or more, a little more amount will be dropped. See the <a href="/memorial-dungeons/equipment-crafting/">Memorial Dungeon Equipment Crafting page</a> for what to do with the items that drop in this instance.</p>

  <h3>Normal Mode</h3>

  <ul class="list-disc pl-8 mb-4">
    <li>
      {% item id="25424", name="Shimmering Crystal", imageFolder="items" %}
    </li>
    <li>
      {% item id="25475", name="Azure Crystal", imageFolder="items" %} <sup class="font-bold text-purple-600">*Changed 2018.02.14 (originally was Crimson Crystal)</sup>
    </li>
    <li>
      {% item id="23649", name="Jello Fragment Box", imageFolder="items" %}
    </li>
  </ul>

  <h3>Hard Mode</h3>

  <ul class="list-disc pl-8 mb-4">
    <li>
      {% item id="25424", name="Shimmering Crystal", imageFolder="items" %}
    </li>
    <li>
      {% item id="25460", name="Blood-soaked Ruby", imageFolder="items" %}
    </li>
    <li>
      {% item id="25429", name="Mithril Ore", imageFolder="items" %}
    </li>
    <li>
      {% item id="985", name="Elunium", imageFolder="items" %}
    </li>
    <li>
      {% item id="984", name="Oridecon", imageFolder="items" %}
    </li>
    <li>
      {% item id="757", name="Rough Elunium", imageFolder="items" %}
    </li>
    <li>
      {% item id="756", name="Rough Oridecon", imageFolder="items" %}
    </li>
    <li>
      {% item id="992", name="Wind of Verdure", imageFolder="items" %}
    </li>
    <li>
      {% item id="990", name="Red Blood", imageFolder="items" %}
    </li>
    <li>
      {% item id="993", name="Green Live", imageFolder="items" %}
    </li>
  </ul>

  <div class="mb-6 text-sm">
    <h2 class="bg-gradient py-1 px-2 mb-0 uppercase font-bold text-sm rounded-t-md">Ragnarok Zero Changelogs</h2>
    <p class="border-r border-l p-2 mb-0">The information for this piece of content changed over time on Ragnarok Zero. When possible, this section links to the different versions of the original source article on the Ragnarok Zero website.</p>
    <ul class="border-r border-l border-b rounded-b-md pt-1 pb-3 pl-8 list-disc">
      <li><a href="https://web.archive.org/web/20180212083555/http://roz.gnjoy.com:80/news/update/View.asp?seq=10&curpage=1" target="_blank" rel="noopener noreferrer">2018-01-30 - Original</a></li>
      <li><a href="https://web.archive.org/web/20180520222841/http://roz.gnjoy.com:80/news/update/View.asp?seq=10&curpage=1">2018-02-14 - Updated</a></li>
    </ul>
  </div>

  <h2>Related Pages</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="/news/112-2018-02-13-feb-14-maint/">News #112 - 2018.02.13</a>
    </li>
    <li>
      <a href="/news/100-2018-01-30-jan-31-maint/">News #100 - 2018.01.30</a>
    </li>
    <li>
      <a href="/dev-notes/06-2018-01-10-more-update-info/">Dev Note #06 - 2018.01.10</a>
    </li>
  </ul>

</article>
