---
layout: /layouts/base.njk
title: Memorial Dungeon Equipment Crafting
description: All about how to craft Memorial Dungeon equipment as found in kRO Zero
tags: memorialDungeon
---

<article>
  <h1 class="text-2xl mb-4">Memorial Dungeon Equipment Crafting</h1>

  <p>Subjugation Equipment (Grade IV) is the starting equipment in the Memorial Dungeon Equipment series. The equipment found in this set are the only ones that can be obtained from Memorial Dungeon Treasure Boxes. To create the higher grades of equipment, you must collect materials to craft with previous sets to reach the next grade.</p>

  <h2>Crafting NPCs</h2>

  <ul class="list-disc pl-8">
    <li>For crafting different grades of equipment, head to the building at prontera 50/227.</li>
    <li>For crafting Hard Mode Accessories, there is an NPC in Morocc.</li>
    <li>For crafting Jello Stone, head to ...</li>
  </ul>

  <h2>Crafting Materials</h2>

  <p>Besides the equipment, you also need different crafting materials to craft the next grade of Memorial Dungeon Equipment.</p>

  <h3>Jello Stones</h3>

  <ul class="list-disc pl-8">
    <li>Crafted out of Jello Fragments, which are found after defeating a Memorial Dungeon.</li>
    <li>One Jello Stone is made from 5 Jello Fragments.</li>
    <li>You must be at least base level 30 or higher to craft Jello Fragments into Jello Stones.</li>
    <li>It takes 3 days to make one Jello Stone. Can be made immediately if you have 5 Gel Star.</li>
    <li>You can only create one Jello Stone at a time.</li>
  </ul>

  <h4>Jello Stone Recipes</h4>

  <ul class="text-sm space-y-3">
    <li>
      {% item id="25465", name="5 Poring Jello Fragment", imageFolder="items" %} &rarr; {% item id="25470", name="1 Red Lotus Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25466", name="5 Poporing Jello Fragment", imageFolder="items" %} &rarr; {% item id="25471", name="1 Blue Wind Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25467", name="5 Drops Jello Fragment", imageFolder="items" %} &rarr; {% item id="25472", name="1 Dusk Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25468", name="5 Deviling Jello Fragment", imageFolder="items" %} &rarr; {% item id="25473", name="1 Chaotic Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25469", name="5 Angeling Jello Fragment", imageFolder="items" %} &rarr; {% item id="25474", name="1 Holy Jello Stone", imageFolder="items" %}
    </li>
  </ul>

  <h3>Crystals</h3>

  <p>Various crystals are needed to craft higher grades of Memorial Dungeon Equipment. Each crystal is obtained from different Memorial Dungeons.</p>

  <ul class="space-y-3 text-sm">
    <li class="border p-2 rounded-md mb-2">
      {% item id="25424", name="Shimmering Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Orc's Memory, Prontera Culvert, Ant Hell 1F, Izlude 2F, Sunken Ship</p>
    </li>

    <li class="border p-2 rounded-md mb-2">
      {% item id="25475", name="Blue Light Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Ant Hell 1F, Sunken Ship</p>
    </li>

    <li class="border p-2 rounded-md mb-2">
      {% item id="25476", name="Red Magic Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Izlude 2F, Sunken Ship</p>
    </li>
  </ul>

  <h3>Special Gems</h3>

  <p>To craft the Hard Mode Accessories, you need various gemstones from the Memorial Dungeons.</p>

  <ul class="space-y-3 text-sm">
    <li class="border p-2 rounded-md mb-2">
      {% item id="25457", name="Cursed Emerald", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Orc's Memory (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25458", name="Shiny Opal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Prontera Culvert (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25459", name="Blue Sea Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Izlude 2F (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25460", name="Blood-soaked Ruby", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Ant Hell 1F (Hard Mode), Sunken Ship (Hard Mode)</p>
    </li>
  </ul>

  <h2>Crafting Recipes</h2>

  <h3>Crafting Expedition Equipment (Grade III)</h3>

  <p>To craft Grade III equipment you take Grade IV equipment + 50 Shimmering Crystal + various Jello Stones. Specific recipes are found below.</p>

  <ul class="text-sm flex flex-wrap justify-between mt-4">
    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15221", name="Expedition Armor [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15220", name="1 Subjugation Armor [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="2 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15222", name="Expedition Robe [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15220", name="1 Subjugation Armor [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="2 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20868", name="Expedition Mantle [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20867", name="1 Subjugation Sash [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="1 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20869", name="Expedition Muffler [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20867", name="1 Subjugation Sash [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="1 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22151", name="Expedition Boots [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22150", name="1 Subjugation Boots [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="1 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="1 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22152", name="Expedition Shoes [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22150", name="1 Subjugation Boots [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="1 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="1 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28540", name="Expedition Ring [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28539", name="1 Subjugation Ring [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25472", name="3 Dusk Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28541", name="Expedition Magic Ring [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28539", name="1 Subjugation Ring [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="3 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>
  </ul>

  <p class="text-sm"><a href="/memorial-dungeons/equipment#expedition">Click here to see a description of the different Grade III equipment.</a></p>

  <h3 class="mt-10">Crafting Dispatching Equipment (Grade II)</h3>

  <p>To craft Grade II equipment you take Grade III equipment + 50 Blue Light Crystal + various Jello Stones. Specific recipes are found below.</p>

  <ul class="text-sm flex flex-wrap justify-between mt-4">
    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15223", name="Dispatching Chain Mail [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15221", name="1 Expedition Armor [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="4 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15224", name="Dispatching Cloth [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15221", name="1 Expedition Armor [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="2 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="2 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20870", name="Dispatching Mantle [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20868", name="1 Expedition Mantle [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="4 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20871", name="Dispatching Scouting Mantle [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20868", name="1 Expedition Mantle [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="2 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="2 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22153", name="Dispatching Greaves [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22151", name="1 Expedition Boots [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="4 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22154", name="Dispatching Boots [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22151", name="1 Expedition Boots [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="2 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22155", name="Dispatching Shoes [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22152", name="1 Expedition Shoes [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="4 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22156", name="Dispatching Magic Shoes [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22152", name="1 Expedition Shoes [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="4 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15225", name="Dispatching Robe [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15222", name="1 Expedition Robe [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="4 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15226", name="Dispatching Garment [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15222", name="1 Expedition Robe [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="2 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="2 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20872", name="Dispatching Muffler [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20869", name="1 Expedition Muffler [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="2 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="2 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20873", name="Dispatching Cape [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20869", name="1 Expedition Muffler [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="2 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28542", name="Dispatching Ring [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28540", name="1 Expedition Ring [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28543", name="Dispatching Glove [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28540", name="1 Expedition Ring [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28544", name="Dispatching Magic Ring [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28541", name="1 Expedition Magic Ring [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28545", name="Dispatching Necklace [1]", imageFolder="equip/dispatching" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28541", name="1 Expedition Magic Ring [1]", imageFolder="equip/expedition" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="50 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>
  </ul>

  <p class="text-sm"><a href="/memorial-dungeons/equipment#dispatching">Click here to see a description of the different Grade II equipment.</a></p>

  <h3 class="mt-10">Crafting Conquering Equipment (Grade I)</h3>

  <p>To craft Grade I equipment you take Grade II equipment + 50 Red Magic Crystal + various Jello Stones. Specific recipes are found below.</p>

  <ul class="text-sm flex flex-wrap justify-between mt-4">
    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15227", name="Conquering Chain Mail [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15223", name="1 Dispatching Chain Mail [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="6 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15228", name="Conquering Cloth [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15224", name="1 Dispatching Cloth [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="3 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="3 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20874", name="Conquering Mantle [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20870", name="1 Dispatching Mantle [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="6 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20875", name="Conquering Scouting Mantle [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20871", name="Dispatching Scouting Mantle [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="3 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="3 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22157", name="Conquering Greaves [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22153", name="1 Dispatching Greaves [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="6 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22158", name="Conquering Boots [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22154", name="1 Dispatching Boots [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25473", name="6 Chaotic Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22159", name="Conquering Shoes [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22155", name="1 Dispatching Shoes [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="6 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="22160", name="Conquering Magic Shoes [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="22156", name="1 Dispatching Magic Shoes [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15229", name="Conquering Robe [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15225", name="1 Dispatching Robe [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="6 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15230", name="Conquering Garment [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15226", name="1 Dispatching Garment [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="3 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="3 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20876", name="Conquering Muffler [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20872", name="1 Dispatching Muffler [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="3 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="3 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="20877", name="Conquering Cape [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="20873", name="1 Dispatching Cape [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="6 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28546", name="Conquering Ring [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28542", name="1 Dispatching Ring [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="10 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28547", name="Conquering Glove [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28543", name="1 Dispatching Glove [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="10 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28548", name="Conquering Magic Ring [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28544", name="1 Dispatching Magic Ring [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="10 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28549", name="Conquering Necklace [1]", imageFolder="equip/conquering" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="28545", name="1 Dispatching Necklace [1]", imageFolder="equip/dispatching" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25476", name="50 Red Magic Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25474", name="10 Holy Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>
  </ul>

  <p class="text-sm"><a href="/memorial-dungeons/equipment#conquering">Click here to see a description of the different Grade I equipment.</a></p>

  <h3 class="mt-10">Crafting Hard Mode Accessories</h3>

  <p>To craft Hard Mode accessories you take 15 of a special gem + 10 Mithril. Specific recipes are found below.</p>

  <ul class="text-sm flex flex-wrap justify-between mt-4">
    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28568", name="Cursed Emerald Earrings [1]", imageFolder="equip/hard-mode" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25457", name="15 Cursed Emerald", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25430", name="10 Mithril", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28569", name="Shiny Opal Earrings [1]", imageFolder="equip/hard-mode" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25458", name="15 Shiny Opal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25430", name="10 Mithril", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28570", name="Ring of Blue Oath [1]", imageFolder="equip/hard-mode" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25475", name="15 Blue Light Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25430", name="10 Mithril", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="28571", name="Ring of the Red Covenent [1]", imageFolder="equip/hard-mode" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25460", name="15 Blood-soaked Ruby", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25430", name="10 Mithril", imageFolder="items" %}
        </li>
      </ul>
    </li>
  </ul>

  <p class="text-sm"><a href="/memorial-dungeons/equipment#hard-mode-accessories">Click here to see a description of the different Hard Mode accessories.</a></p>

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10015&seq=13&curpage=3" target="_blank" rel="noopener noreferrer">[아이템] 메모리얼 던전 장비</a>
    </li>
    <li>
      <a href="http://www.inven.co.kr/board/ro/5279/722" target="_blank" rel="noopener noreferrer">메모리얼 장비 한눈에</a> (post - inven.co.kr)
    </li>
    <li>
      <a href="http://www.inven.co.kr/board/ro/5279/572" target="_blank" rel="noopener noreferrer">포링마을 던젼 매일 도세요</a> (post - inven.co.kr)
    </li>
  </ul>

</article>