---
layout: /layouts/base.njk
title: Memorial Dungeon Equipment | Criatura Academy
description: All about the Memorial Dungeon equipment found in kRO Zero
---

<article>
  <h1 class="text-2xl mb-4">Memorial Dungeon Equipment</h1>

  <p>Memorial Dungeon equipment is broken up into four grades (Grade IV being the lowest, Grade I being the highest). The grades are as follows:

  <ul class="list-disc pl-8 mb-4">
    <li><a href="#subjugation">Subjugation Equipment (Grade IV)</a></li>
    <li><a href="#expedition">Expedition Equipment (Grade III)</a></li>
    <li><a href="#dispatching">Dispatching Equipment (Grade II)</a></li>
    <li><a href="#conquering">Conquering Equipment (Grade I)</a></li>
  </ul>

  <p>All Memorial Dungeon equipment can be worn by all classes, and each piece of equipment has one card slot.</p>

  <p>Obtaining Memorial Dungeon equipment higher than Grade IV is done via crafting. To craft a higher grade you take the lower grade and combine with various materials to produce the higher grade piece. See <a href="/memorial-dungeons/equipment-crafting/">Memorial Dungeon Equipment Crafting</a> for more information.</p>

  <p>There are also <a href="#hard-mode-accessories">hard mode accessories</a> that are obtained by crafting materials found through doing the Hard Mode of the Memorial Dungeons. These accessories are also described below.</p>

  <p>Not discussed on this page are the lower headgear received from the Poring Village Memorial Dungeon. See <a href="/memorial-dungeons/poring-village">that page</a> for all that information.</p>

  <h2 id="subjugation">Subjugation (Grade IV) Equipment</h2>

  <p>The lowest grade of Memorial Dungeon equipment. Your character must be at least <strong>base level 60</strong> to wear this grade of equipment.</p>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="20867",
      folder="subjugation",
      name="Subjugation Sash [1]",
      category="Garment",
      foundIn="Orc's Memory (Normal Mode)",
      weight="20",
      def="12"
    %}
      <ul class="border-t p-2">
        <li>+7% Neutral resistance</li>
        <li>FLEE +10</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15220",
      folder="subjugation",
      name="Subjugation Armor [1]",
      category="Armor",
      foundIn="Orc's Memory (Normal Mode)",
      weight="30",
      def="46"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">Max HP +300, MaxSP +20, MDEF +5, DEF +20</li>
        <li class="py-2">
          When wearing Subjugation Sash, Boots, & Ring:<br/>
          ATK +15, MATK +15
        </li>
        <li class="pt-2">
          If total Set is refined higher than +17:<br/>
          Increased ASPD (-3% after attack delay),<br/>
          -5% variable casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22150",
      folder="subjugation",
      name="Subjugation Boots [1]",
      category="Shoes",
      foundIn="Prontera Culvert (Normal Mode)",
      weight="25",
      def="12"
    %}
      <ul class="border-t p-2">
        <li>+5% HP Recovery</li>
        <li>+3% SP Recovery</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28539",
      folder="subjugation",
      name="Subjugation Ring [1]",
      category="Accessory",
      foundIn="Prontera Culvert (Normal Mode)",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>STR +2</li>
        <li>INT +2</li>
      </ul>
    {% endequipCard %}

  </div>

  <h2 id="expedition">Expedition Equipment (Grade III)</h2>

  <p>The third grade of Memorial Dungeon equipment. Your character must be at least <strong>base level 70</strong> to wear this grade of equipment.</p>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="22152",
      folder="expedition",
      name="Expedition Shoes [1]",
      category="Shoes",
      craftedFrom="Subjugation Boots [1]",
      weight="25",
      def="14"
    %}
      <ul class="border-t p-2">
        <li>+10% HP Recovery</li>
        <li>+7% SP Recovery</li>
        <li>When +3 or higher, VIT +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22151",
      folder="expedition",
      name="Expedition Boots [1]",
      category="Shoes",
      craftedFrom="Subjugation Boots [1]",
      weight="30",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>+15% HP Recovery</li>
        <li>+5% SP Recovery</li>
        <li>When +3 or higher, AGI +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15222",
      folder="expedition",
      name="Expedition Robe [1]",
      category="Armor",
      craftedFrom="Subjugation Armor [1]",
      weight="45",
      def="51"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">Max HP +400, MaxSP +50, MDEF +5, DEF +30</li>
        <li class="py-2">
          When wearing Expedition Muffler, Shoes, & Magic Ring:<br/>
          MATK +20
        </li>
        <li class="pt-2">
          If total Set is refined higher than +21:<br/>
          -5% variable & fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15221",
      folder="expedition",
      name="Expedition Armor [1]",
      category="Armor",
      craftedFrom="Subjugation Armor [1]",
      weight="50",
      def="56"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">Max HP +500, MaxSP +30, MDEF +5, DEF +30</li>
        <li class="py-2">
          When wearing Expedition Mantle, Boots, & Ring:<br/>
          ATK +20
        </li>
        <li class="pt-2">
          If total Set is refined higher than +21:<br/>
          Increased ASPD (-5% after attack delay),<br/>
          -5% variable casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20869",
      folder="expedition",
      name="Expedition Muffler [1]",
      category="Garment",
      craftedFrom="Subjugation Sash [1]",
      weight="25",
      def="13"
    %}
      <ul class="border-t p-2">
        <li>+9% Neutral resistance</li>
        <li>FLEE +12</li>
        <li>When +3 or higher, +1% additional Neutral resistance</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20868",
      folder="expedition",
      name="Expedition Mantle [1]",
      category="Garment",
      craftedFrom="Subjugation Sash [1]",
      weight="30",
      def="14"
    %}
      <ul class="border-t p-2">
        <li>+8% Neutral resistance</li>
        <li>FLEE +15</li>
        <li>When +3 or higher, FLEE +3</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28541",
      folder="expedition",
      name="Expedition Magic Ring [1]",
      category="Accessory",
      craftedFrom="Subjugation Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>INT +3</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28540",
      folder="expedition",
      name="Expedition Ring [1]",
      category="Accessory",
      craftedFrom="Subjugation Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>STR +3</li>
      </ul>
    {% endequipCard %}

  </div>

  <h2 id="dispatching">Dispatching Equipment (Grade II)</h2>

  <p>The second grade of Memorial Dungeon equipment. Your character must be at least <strong>base level 80</strong> to wear this grade of equipment.</p>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="22155",
      folder="dispatching",
      name="Dispatching Shoes [1]",
      category="Shoes",
      craftedFrom="Expedition Shoes [1]",
      weight="35",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>+12% HP Recovery</li>
        <li>+10% SP Recovery</li>
        <li>When +5 or higher, INT +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22156",
      folder="dispatching",
      name="Dispatching Magic Shoes [1]",
      category="Shoes",
      craftedFrom="Expedition Shoes [1]",
      weight="30",
      def="15"
    %}
      <ul class="border-t p-2">
        <li>+15% HP Recovery</li>
        <li>+7% SP Recovery</li>
        <li>When +5 or higher, +2% Heal effectiveness</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22154",
      folder="dispatching",
      name="Dispatching Boots [1]",
      category="Shoes",
      craftedFrom="Expedition Boots [1]",
      weight="40",
      def="18"
    %}
      <ul class="border-t p-2">
        <li>+15% HP Recovery</li>
        <li>+7% SP Recovery</li>
        <li>When +5 or higher, DEX +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22153",
      folder="dispatching",
      name="Dispatching Greaves [1]",
      category="Shoes",
      craftedFrom="Expedition Boots [1]",
      weight="40",
      def="20"
    %}
      <ul class="border-t p-2">
        <li>+18% HP Recovery</li>
        <li>+5% SP Recovery</li>
        <li>When +5 or higher, STR +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15223",
      folder="dispatching",
      name="Dispatching Chain Mail [1]",
      category="Armor",
      craftedFrom="Expedition Armor [1]",
      weight="60",
      def="66"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">STR +1, AGI +1, Max HP +700, MaxSP +50, MDEF +5, DEF +40</li>
        <li class="py-2">When +5 or higher, DEF +15, MaxHP +100</li>
        <li class="py-2">
          When wearing Dispatching Mantle, Greaves, & Ring:<br/>
          ATK +25
        </li>
        <li class="pt-2">
          If total Set is refined higher than +25:<br/>
          Increased ASPD (-7% after attack delay),<br/>
          +2% CRIT damage,<br/>
          -10% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15225",
      folder="dispatching",
      name="Dispatching Robe [1]",
      category="Armor",
      craftedFrom="Expedition Robe [1]",
      weight="55",
      def="61"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">INT +1, DEX +1, Max HP +500, MaxSP +70, MDEF +5, DEF +40</li>
        <li class="py-2">When +5 or higher, DEF +10, MaxSP +20</li>
        <li class="py-2">
          When wearing Dispatching Muffler, Shoes, & Magic Ring:<br/>
          MATK +25
        </li>
        <li class="pt-2">
          If total Set is refined higher than +25:<br/>
          MATK +2%,<br/>
          -7% variable casting,<br/>
          -10% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15226",
      folder="dispatching",
      name="Dispatching Garment [1]",
      category="Armor",
      craftedFrom="Expedition Robe [1]",
      weight="50",
      def="59"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">INT +1, VIT +1, Max HP +600, MaxSP +60, MDEF +5, DEF +40</li>
        <li class="py-2">When +5 or higher, DEF +10, MaxHP +100</li>
        <li class="py-2">
          When wearing Dispatching Cape, Magic Shoes, & Necklace:<br/>
          MATK +25
        </li>
        <li class="pt-2">
          If total Set is refined higher than +25:<br/>
          +2% HP Recovery,<br/>
          -7% variable casting,<br/>
          -10% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15224",
      folder="dispatching",
      name="Dispatching Cloth [1]",
      category="Armor",
      craftedFrom="Expedition Armor [1]",
      weight="60",
      def="63"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">DEX +1, AGI +1, Max HP +500, MaxSP +60, MDEF +5, DEF +40</li>
        <li class="py-2">When +5 or higher, DEF +15, MaxSP +20</li>
        <li class="py-2">
          When wearing Dispatching Scouting Mantle, Boots, & Glove:<br/>
          ATK +25
        </li>
        <li class="pt-2">
          If total Set is refined higher than +25:<br/>
          Increased ASPD (-7% after attack delay),<br/>
          +2% ranged physical damage,<br/>
          -10% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20873",
      folder="dispatching",
      name="Dispatching Cape [1]",
      category="Garment",
      craftedFrom="Expedition Muffler [1]",
      weight="30",
      def="13"
    %}
      <ul class="border-t p-2">
        <li>-5% variable casting</li>
        <li>FLEE +12</li>
        <li>When +5 or higher, +3% Neutral resistance</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20872",
      folder="dispatching",
      name="Dispatching Muffler [1]",
      category="Garment",
      craftedFrom="Expedition Muffler [1]",
      weight="35",
      def="14"
    %}
      <ul class="border-t p-2">
        <li>-3% variable casting</li>
        <li>FLEE +16</li>
        <li>When +5 or higher, -4% additional variable casting</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20870",
      folder="dispatching",
      name="Dispatching Mantle [1]",
      category="Garment",
      craftedFrom="Expedition Mantle [1]",
      weight="40",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>Increased ASPD (-5% after attack delay)</li>
        <li>FLEE +15</li>
        <li>When +5 or higher, AGI +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20871",
      folder="dispatching",
      name="Dispatching Scouting Mantle [1]",
      category="Garment",
      craftedFrom="Expedition Mantle [1]",
      weight="40",
      def="15"
    %}
      <ul class="border-t p-2">
        <li>Increased ASPD (-3% after attack delay)</li>
        <li>FLEE +20</li>
        <li>When +5 or higher, additional increased ASPD (-2% after attack delay)</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28545",
      folder="dispatching",
      name="Dispatching Necklace [1]",
      category="Accessory",
      craftedFrom="Expedition Magic Ring [1]",
      weight="0",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>INT +3</li>
        <li>VIT +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28544",
      folder="dispatching",
      name="Dispatching Magic Ring [1]",
      category="Accessory",
      craftedFrom="Expedition Magic Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>INT +3</li>
        <li>DEX +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28543",
      folder="dispatching",
      name="Dispatching Glove [1]",
      category="Accessory",
      craftedFrom="Expedition Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>DEX +3</li>
        <li>AGI +1</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28542",
      folder="dispatching",
      name="Dispatching Ring [1]",
      category="Accessory",
      craftedFrom="Expedition Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>STR +3</li>
        <li>AGI +1</li>
      </ul>
    {% endequipCard %}

  </div>

  <h2 id="conquering">Conquering Equipment (Grade I)</h2>

  <p>The first and final grade of Memorial Dungeon equipment. Your character must be at least <strong>base level 90</strong> to wear this grade of equipment.</p>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="22159",
      folder="conquering",
      name="Conquering Shoes [1]",
      category="Shoes",
      craftedFrom="Dispatching Shoes [1]",
      weight="45",
      def="18"
    %}
      <ul class="border-t p-2">
        <li>+15% HP Recovery</li>
        <li>+12% SP Recovery</li>
        <li>When +5 or higher, INT +2</li>
        <li>When +7 or higher, MATK +20</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22160",
      folder="conquering",
      name="Conquering Magic Shoes [1]",
      category="Shoes",
      craftedFrom="Dispatching Magic Shoes [1]",
      weight="40",
      def="17"
    %}
      <ul class="border-t p-2">
        <li>+17% HP Recovery</li>
        <li>+10% SP Recovery</li>
        <li>When +5 or higher, +2% Heal effectiveness</li>
        <li>When +7 or higher, +4% additional Heal effectiveness</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22158",
      folder="conquering",
      name="Conquering Boots [1]",
      category="Shoes",
      craftedFrom="Dispatching Boots [1]",
      weight="45",
      def="22"
    %}
      <ul class="border-t p-2">
        <li>+18% HP Recovery</li>
        <li>+9% SP Recovery</li>
        <li>When +5 or higher, DEX +2</li>
        <li>When +7 or higher, FLEE +20</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22157",
      folder="conquering",
      name="Conquering Greaves [1]",
      category="Shoes",
      craftedFrom="Dispatching Greaves [1]",
      weight="50",
      def="24"
    %}
      <ul class="border-t p-2">
        <li>+20% HP Recovery</li>
        <li>+7% SP Recovery</li>
        <li>When +5 or higher, STR +2</li>
        <li>When +7 or higher, ATK +20</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15227",
      folder="conquering",
      name="Conquering Chain Mail [1]",
      category="Armor",
      craftedFrom="Dispatching Chain Mail [1]",
      weight="70",
      def="76"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">STR +2, AGI +2, MaxHP +900, MaxSP +60, MDEF +5, DEF +50</li>
        <li class="py-2">When +5 or higher, DEF +20, MaxHP +100</li>
        <li class="py-2">When +7 or higher, additional AGI +2</li>
        <li class="py-2">
          When wearing Conquering Mantle, Greaves, & Ring:<br/>
          ATK +30
        </li>
        <li class="pt-2">
          If total Set is refined higher than +27:<br/>
          Increased ASPD (-10% after attack delay),<br/>
          +4% CRIT damage,<br/>
          -15% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15229",
      folder="conquering",
      name="Conquering Robe [1]",
      category="Armor",
      craftedFrom="Dispatching Robe [1]",
      weight="65",
      def="66"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">INT +2, DEX +2, MaxHP +600, MaxSP +90, MDEF +5, DEF +50</li>
        <li class="py-2">When +5 or higher, DEF +15, MaxSP +20</li>
        <li class="py-2">When +7 or higher, DEX +2</li>
        <li class="py-2">
          When wearing Conquering Muffler, Shoes, & Magic Ring:<br/>
          MATK +30
        </li>
        <li class="pt-2">
          If total Set is refined higher than +27:<br/>
          MATK +4%,<br/>
          -10% variable casting,<br/>
          -15% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15230",
      folder="conquering",
      name="Conquering Garment [1]",
      category="Armor",
      craftedFrom="Dispatching Garment [1]",
      weight="60",
      def="65"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">INT +2, VIT +2, MaxHP +800, MaxSP +70, MDEF +5, DEF +50</li>
        <li class="py-2">When +5 or higher, DEF +15, MaxHP +100</li>
        <li class="py-2">When +7 or higher, VIT +2</li>
        <li class="py-2">
          When wearing Conquering Cape, Magic Shoes, & Necklace:<br/>
          MATK +30
        </li>
        <li class="pt-2">
          If total Set is refined higher than +27:<br/>
          +4% Heal effectiveness,<br/>
          -10% variable casting,<br/>
          -15% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="15228",
      folder="conquering",
      name="Conquering Cloth [1]",
      category="Armor",
      craftedFrom="Dispatching Cloth [1]",
      weight="65",
      def="71"
    %}
      <ul class="border-t p-2 divide-y">
        <li class="pb-2">DEX +2, AGI +2, MaxHP +700, MaxSP +80, MDEF +5, DEF +50</li>
        <li class="py-2">When +5 or higher, DEF +20, MaxSP +20</li>
        <li class="py-2">When +7 or higher, DEX +2</li>
        <li class="py-2">
          When wearing Conquering Scouting Mantle, Boots, & Glove:<br/>
          ATK +30
        </li>
        <li class="pt-2">
          If total Set is refined higher than +27:<br/>
          Increased ASPD (-10% after attack delay),<br/>
          +4% ranged physical damage,<br/>
          -15% fixed casting
        </li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20877",
      folder="conquering",
      name="Conquering Cape [1]",
      category="Garment",
      craftedFrom="Dispatching Cape [1]",
      weight="40",
      def="15"
    %}
      <ul class="border-t p-2">
        <li>-7% variable casting</li>
        <li>FLEE +12</li>
        <li>When +5 or higher, +3% Neutral resistance</li>
        <li>When +7 or higher, +4% additional Neutral resistance</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20876",
      folder="conquering",
      name="Conquering Muffler [1]",
      category="Garment",
      craftedFrom="Dispatching Muffler [1]",
      weight="45",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>-5% variable casting</li>
        <li>FLEE +16</li>
        <li>When +5 or higher, -4% additional variable casting</li>
        <li>When +7 or higher, -3% additional variable casting</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20874",
      folder="conquering",
      name="Conquering Mantle [1]",
      category="Garment",
      craftedFrom="Dispatching Mantle [1]",
      weight="50",
      def="20"
    %}
      <ul class="border-t p-2">
        <li>Increased ASPD (-7% after attack delay)</li>
        <li>FLEE +18</li>
        <li>When +5 or higher, AGI +1</li>
        <li>When +7 or higher, +4% CRIT damage</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20875",
      folder="conquering",
      name="Conquering Scouting Mantle [1]",
      category="Garment",
      craftedFrom="Dispatching Scouting Mantle [1]",
      weight="45",
      def="18"
    %}
      <ul class="border-t p-2">
        <li>Increased ASPD (-5% after attack delay)</li>
        <li>FLEE +25</li>
        <li>When +5 or higher, additional increased ASPD (-2% after attack delay)</li>
        <li>When +7 or higher, +3% ranged physical damage</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28549",
      folder="conquering",
      name="Conquering Necklace [1]",
      category="Accessory",
      craftedFrom="Dispatching Necklace [1]",
      weight="0",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>INT +3</li>
        <li>VIT +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28548",
      folder="conquering",
      name="Conquering Magic Ring [1]",
      category="Accessory",
      craftedFrom="Dispatching Magic Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>INT +3</li>
        <li>DEX +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28547",
      folder="conquering",
      name="Conquering Glove [1]",
      category="Accessory",
      craftedFrom="Dispatching Glove [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>DEX +3</li>
        <li>AGI +2</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28546",
      folder="conquering",
      name="Conquering Ring [1]",
      category="Accessory",
      craftedFrom="Dispatching Ring [1]",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>STR +3</li>
        <li>AGI +2</li>
      </ul>
    {% endequipCard %}

  </div>

  <h2 id="hard-mode-accessories">Hard Mode Accessories</h2>

  <p>These accessories are obtained by crafting materials found through doing the Hard Mode of the Memorial Dungeons. More information about the crafting recipes can be found in <a href="/memorial-dungeons/equipment-crafting/">Memorial Dungeon Equipment Crafting</a>.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>Equippable by all classes.</li>
    <li>Must be at least <strong>base level 50</strong> to equip these accessories.</li>
    <li>These accessories are <strong>refinable</strong> and also are equipped on a specific side (left vs. right side).</li>
    <li>They all have a weight of 50, 3 DEF, and 1 slot.</li>
  </ul>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="28568",
      folder="hard-mode",
      name="Cursed Emerald Earrings [1]",
      category="Right side",
      weight="50",
      def="3"
    %}
      <ul class="border-t p-2">
        <li>DEX +2, AGI +2</li>
        <li>When +7 or higher, additional DEX +2 & AGI +2.</li>
        <li>When +9 or higher, increases ASPD (-2% after attack delay) at every 25th base level.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28569",
      folder="hard-mode",
      name="Shiny Opal Earrings [1]",
      category="Right side",
      weight="50",
      def="3"
    %}
      <ul class="border-t p-2">
        <li>INT +2, VIT +2</li>
        <li>When +7 or higher, additional INT +2 & VIT +2.</li>
        <li>When +9 or higher, -2% variable casting at every 25th base level.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28570",
      folder="hard-mode",
      name="Ring of Blue Oath [1]",
      category="Left side",
      weight="50",
      def="3"
    %}
      <ul class="border-t p-2">
        <li>INT +2, DEX +2</li>
        <li>When +7 or higher, additional INT +2 & DEX +2.</li>
        <li>When +9 or higher, +1% magic damage at every 20th base level.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="28571",
      folder="hard-mode",
      name="Ring of the Red Covenent [1]",
      category="Left side",
      weight="50",
      def="3"
    %}
      <ul class="border-t p-2">
        <li>LUK +2, AGI +2</li>
        <li>When +7 or higher, additional LUK +2 & AGI +2.</li>
        <li>When +9 or higher, +1% CRIT damage at every 20th base level.</li>
      </ul>
    {% endequipCard %}

  </div>
  
</article>