---
layout: /layouts/base.njk
title: Memorial Dungeon Equipment Crafting
description: All about how to craft Memorial Dungeon equipment as found in kRO Zero
tags: memorialDungeon
---

<article>
  <h1 class="text-2xl mb-4">Memorial Dungeon Equipment Crafting</h1>

  <p>Subjugation Equipment (Grade IV) is the starting equipment in the Memorial Dungeon Equipment series. The equipment found in this set are the only ones that can be obtained from Memorial Dungeon Treasure Boxes. To create the higher grades of equipment, you must collect materials to craft with previous sets to reach the next grade.</p>

  <h2>Crafting NPCs</h2>

  <ul class="list-disc pl-8">
    <li>For crafting different grades of equipment, head to the building at prontera 50/227.</li>
    <li>For crafting Hard Mode Accessories, there is an NPC in Morocc.</li>
    <li>For crafting Jello Stone, head to ...</li>
  </ul>

  <h2>Crafting Materials</h2>

  <p>Besides the equipment, you also need different crafting materials to craft the next grade of Memorial Dungeon Equipment.</p>

  <h3>Jello Stones</h3>

  <ul class="list-disc pl-8">
    <li>Crafted out of Jello Fragments, which are found after defeating a Memorial Dungeon.</li>
    <li>One Jello Stone is made from 5 Jello Fragments.</li>
    <li>You must be at least base level 30 or higher to craft Jello Fragments into Jello Stones.</li>
    <li>It takes 3 days to make one Jello Stone. Can be made immediately if you have 5 Gel Star.</li>
    <li>You can only create one Jello Stone at a time.</li>
  </ul>

  <h4>Jello Stone Recipes</h4>

  <ul class="text-sm space-y-3">
    <li>
      {% item id="25465", name="5 Poring Jello Fragment", imageFolder="items" %} &rarr; {% item id="25470", name="1 Red Lotus Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25466", name="5 Poporing Jello Fragment", imageFolder="items" %} &rarr; {% item id="25471", name="1 Blue Wind Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25467", name="5 Drops Jello Fragment", imageFolder="items" %} &rarr; {% item id="25472", name="1 Dusk Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25468", name="5 Deviling Jello Fragment", imageFolder="items" %} &rarr; {% item id="25473", name="1 Chaotic Jello Stone", imageFolder="items" %}
    </li>
    <li>
      {% item id="25469", name="5 Angeling Jello Fragment", imageFolder="items" %} &rarr; {% item id="25474", name="1 Holy Jello Stone", imageFolder="items" %}
    </li>
  </ul>

  <h3>Crystals</h3>

  <p>Various crystals are needed to craft higher grades of Memorial Dungeon Equipment. Each crystal is obtained from different Memorial Dungeons.</p>

  <ul class="space-y-3 text-sm">
    <li class="border p-2 rounded-md mb-2">
      {% item id="25424", name="Shimmering Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Orc's Memory, Prontera Culvert, Ant Hell 1F, Izlude 2F, Sunken Ship</p>
    </li>

    <li class="border p-2 rounded-md mb-2">
      {% item id="25475", name="Blue Light Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Ant Hell 1F, Sunken Ship</p>
    </li>

    <li class="border p-2 rounded-md mb-2">
      {% item id="25476", name="Red Magic Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Izlude 2F, Sunken Ship</p>
    </li>
  </ul>

  <h3>Special Gems</h3>

  <p>To craft the Hard Mode Accessories, you need various gemstones from the Memorial Dungeons.</p>

  <ul class="space-y-3 text-sm">
    <li class="border p-2 rounded-md mb-2">
      {% item id="25457", name="Cursed Emerald", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Orc's Memory (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25458", name="Bright Opal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Prontera Culvert (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25459", name="Blue Sea Crystal", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Izlude 2F (Hard Mode)</p>
    </li>
    <li class="border p-2 rounded-md mb-2">
      {% item id="25460", name="Blood-soaked Ruby", imageFolder="items" %}<br/>
      <p class="mt-2 mb-0"><b>Found In:</b> Ant Hell 1F (Hard Mode), Sunken Ship (Hard Mode)</p>
    </li>
  </ul>

  <h2>Crafting Recipes</h2>

  <h3>Crafting Expedition Equipment (Grade III)</h3>

  <ul class="text-sm flex flex-wrap justify-between mt-4">
    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15221", name="Expedition Armor [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15220", name="1 Subjugation Armor [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25470", name="2 Red Lotus Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>

    <li class="border rounded-md mb-4 ca-w-49">
      <div class="mb-2 p-2 border-b bg-purple-100">
        {% item id="15222", name="Expedition Robe [1]", imageFolder="equip/expedition" %}
      </div>
      <ul>
        <li class="pb-2 pl-2 pr-2">
          {% item id="15220", name="1 Subjugation Armor [1]", imageFolder="equip/subjugation" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25424", name="50 Shimmering Crystal", imageFolder="items" %}
        </li>
        <li class="pb-2 pl-2 pr-2">
          {% item id="25471", name="2 Blue Wind Jello Stone", imageFolder="items" %}
        </li>
      </ul>
    </li>
  </ul>

  <p class="text-sm"><a href="/memorial-dungeons/equipment#expedition">Click here to see a description of the different Grade III equipment.</a></p>

</article>