---
layout: /layouts/base.njk
title: Memorial Dungeon Equipment Enchanting
description: All about how to enchant Memorial Dungeon equipment as found in kRO Zero
tags: memorialDungeon
---

<article>
  <h1 class="text-2xl mb-4">Memorial Dungeon Equipment Enchanting</h1>

  <p>Memorial Dungeon equipment can be enchanted with both stats-based and job essence-based enchants. This page explains all about how the MD equipment can be enchanted.</p>

  <h2>Enchanting NPCs</h2>

  <ul class="list-disc pl-8">
    <li>For enchanting Subjugation (Grade IV) equipment, see the Enchant Association Employee at prt_fild05 251, 193 (near Prontera Culvert Entrance).</li>
    <li>For enchanting Grades III - I equipment, see the Enchant Association Employee inside the building at prontera 50, 227.<br/>&rarr; 1st Job Enchant Employee, 2nd Job Enchant Employee, Ninja Enchant Employee <sup class="font-bold text-purple-600">*Added on 2018.08.06</sup></li>
  </ul>

  <h2>General Info</h2>

  <ul class="list-disc pl-8">
    <li>It costs 100,000 zeny to enchant a piece of equipment.</li>
    <li>The maximum number of enchants varies depending on the item.</li>
    <li>When resetting the enchants, 100,000 zeny or 1 Gel Star is consumed.</li>
    <li>When resetting with Zeny, there is a 30% chance the equipment will be destroyed.</li>
    <li>When resetting with Gel Star, there is a 0% chance the equipment will be destroyed.</li>
    <li>
      If you enchant Memorial Dungeon Armor that has been refined to +9, a random job essence enchant is given.<br/>
      &rarr; When using the Job Enchant Employee for a specific job group (1st, 2nd, Ninja), "you can enchant that job essence group with a certain probability." <sup class="font-bold text-purple-600">*Added on 2018.08.06</sup>
    </li>
    <li>The grade of the Memorial Dungeon Armor (IV - I) determines which slot the job essence enchant goes into.</li>
    <ul class="list-disc pl-8">
      <li>4th Slot: Subjugation Armor, Expedition Armor & Robe</li>
      <li>3rd Slot: Dispatching Chain Mail, Robe, Garment, & Cloth</li>
      <li>2nd Slot: Conquering Chain Mail, Robe, Garment & Cloth</li>
    </ul>
  </ul>

  <h2>List Of Slots Available For Enchantment</h2>

  <h6>4th Slot</h6>

  <p>For +9 Expedition Armor & Robe, this slot can contain a job essence enchant.</p>

  <ul class="list-disc pl-8">
    <li>Expedition Shoes [1]</li>
    <li>Expedition Boots [1]</li>
    <li>Expedition Robe [1]</li>
    <li>Expedition Armor [1]</li>
    <li>Expedition Muffler [1]</li>
    <li>Expedition Mantle [1]</li>
    <li>Expedition Magic Ring [1]</li>
    <li>Expedition Ring [1]</li>
  </ul>

  <h6>3rd & 4th Slots</h6>

  <p>For +9 Dispatching Chain Mail, Robe, Garment, and Cloth, the 3rd slot can contain a job essence enchant.</p>

  <ul class="list-disc pl-8">
    <li>Dispatching Shoes [1]</li>
    <li>Dispatching Magic Shoes [1]</li>
    <li>Dispatching Boots [1]</li>
    <li>Dispatching Greaves [1]</li>
    <li>Dispatching Chain Mail [1]</li>
    <li>Dispatching Robe [1]</li>
    <li>Dispatching Garment [1]</li>
    <li>Dispatching Cloth [1]</li>
    <li>Dispatching Cape [1]</li>
    <li>Dispatching Muffler [1]</li>
    <li>Dispatching Mantle [1]</li>
    <li>Dispatching Scouting Mantle [1]</li>
    <li>Dispatching Necklace [1]</li>
    <li>Dispatching Glove [1]</li>
    <li>Dispatching Magic Ring [1]</li>
    <li>Dispatching Ring [1]</li>
  </ul>

  <h6>2nd, 3rd & 4th Slots</h6>

  <p>For +9 Conquering Chain Mail, Robe, Garment, and Cloth, the 2nd slot can contain a job essence enchant.</p>

  <ul class="list-disc pl-8">
    <li>Conquering Shoes [1]</li>
    <li>Conquering Magic Shoes [1]</li>
    <li>Conquering Boots [1]</li>
    <li>Conquering Greaves [1]</li>
    <li>Conquering Chain Mail [1]</li>
    <li>Conquering Robe [1]</li>
    <li>Conquering Garment [1]</li>
    <li>Conquering Cloth [1]</li>
    <li>Conquering Cape [1]</li>
    <li>Conquering Muffler [1]</li>
    <li>Conquering Mantle [1]</li>
    <li>Conquering Scouting Mantle [1]</li>
    <li>Conquering Necklace [1]</li>
    <li>Conquering Glove [1]</li>
    <li>Conquering Magic Ring [1]</li>
    <li>Conquering Ring [1]</li>
  </ul>

  <h2>Enchant List (Subjugation -- Grade IV)</h2>

  <p>Class essence enchant is only possible when the Subjugation Armor is +9.</p>

  <table>
    <thead>
      <tr>
        <th colspan="3">Common pool of enchants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLEE +3</td>
        <td>AGI +1</td>
        <td>AGI +2</td>
      </tr>
      <tr>
        <td>CRIT +1</td>
        <td>DEX +1</td>
        <td>DEX +2</td>
      </tr>
      <tr>
        <td>DEF +15</td>
        <td>STR +1</td>
        <td>STR +2</td>
      </tr>
      <tr>
        <td>MDEF +2</td>
        <td>INT +1</td>
        <td>INT +2</td>
      </tr>
      <tr>
        <td>MaxHP +50</td>
        <td>VIT +1</td>
        <td>VIT +2</td>
      </tr>
      <tr>
        <td>MaxHP +100</td>
        <td>LUK +1</td>
        <td>LUK +2</td>
      </tr>
      <tr>
        <td>MaxHP +200</td>
      </tr>
    </tbody>
  </table>

  <table class="mt-6">
    <thead>
      <tr>
        <th colspan="3">+9 Expedition Armor & Robe<br/>pool of enchants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLEE +3</td>
        <td>AGI +1</td>
        <td>AGI +2</td>
      </tr>
      <tr>
        <td>CRIT +1</td>
        <td>DEX +1</td>
        <td>DEX +2</td>
      </tr>
      <tr>
        <td>DEF +15</td>
        <td>STR +1</td>
        <td>STR +2</td>
      </tr>
      <tr>
        <td>MDEF +2</td>
        <td>INT +1</td>
        <td>INT +2</td>
      </tr>
      <tr>
        <td>MaxHP +50</td>
        <td>VIT +1</td>
        <td>VIT +2</td>
      </tr>
      <tr>
        <td>MaxHP +100</td>
        <td>LUK +1</td>
        <td>LUK +2</td>
      </tr>
      <tr>
        <td>MaxHP +200</td>
        <td>MaxHP +300</td>
        <td>MaxHP +400</td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Mage Essence Lv1</td>
        <td>Thief Essence Lv1</td>
        <td>Archer Essence Lv1</td>
      </tr>
      <tr>
        <td>Swordsman Essence Lv1</td>
        <td>Merchant Essence Lv1</td>
        <td>Acolyte Essence Lv1</td>
      </tr>
    </tbody>
  </table>

  <h2>Enchant List (Expedition, Dispatching, Conquering)</h2>

  <p>Class essence enchant is only possible when the armor (Chain Mail, Robe, Garment & Cloth) is +9.</p>

  <table>
    <thead>
      <tr>
        <th colspan="3">Common pool of enchants<br/>(same as above)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLEE +3</td>
        <td>AGI +1</td>
        <td>AGI +2</td>
      </tr>
      <tr>
        <td>CRIT +1</td>
        <td>DEX +1</td>
        <td>DEX +2</td>
      </tr>
      <tr>
        <td>DEF +15</td>
        <td>STR +1</td>
        <td>STR +2</td>
      </tr>
      <tr>
        <td>MDEF +2</td>
        <td>INT +1</td>
        <td>INT +2</td>
      </tr>
      <tr>
        <td>MaxHP +50</td>
        <td>VIT +1</td>
        <td>VIT +2</td>
      </tr>
      <tr>
        <td>MaxHP +100</td>
        <td>LUK +1</td>
        <td>LUK +2</td>
      </tr>
      <tr>
        <td>MaxHP +200</td>
      </tr>
    </tbody>
  </table>

  <table class="mt-6">
    <thead>
      <tr>
        <th colspan="3">+9 Expedition/Dispatching/Conqueror Armor<br/>pool of enchants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLEE +3</td>
        <td>AGI +1</td>
        <td>AGI +2</td>
      </tr>
      <tr>
        <td>CRIT +1</td>
        <td>DEX +1</td>
        <td>DEX +2</td>
      </tr>
      <tr>
        <td>DEF +15</td>
        <td>STR +1</td>
        <td>STR +2</td>
      </tr>
      <tr>
        <td>MDEF +2</td>
        <td>INT +1</td>
        <td>INT +2</td>
      </tr>
      <tr>
        <td>MaxHP +50</td>
        <td>VIT +1</td>
        <td>VIT +2</td>
      </tr>
      <tr>
        <td>MaxHP +100</td>
        <td>LUK +1</td>
        <td>LUK +2</td>
      </tr>
      <tr>
        <td>MaxHP +200</td>
        <td>MaxHP +300</td>
        <td>MaxHP +400</td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Mage Essence Lv1</td>
        <td>Thief Essence Lv1</td>
        <td>Archer Essence Lv1</td>
      </tr>
      <tr>
        <td>Swordsman Essence Lv1</td>
        <td>Merchant Essence Lv1</td>
        <td>Acolyte Essence Lv1</td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Mage Essence Lv2</td>
        <td>Thief Essence Lv2</td>
        <td>Archer Essence Lv2</td>
      </tr>
      <tr>
        <td>Swordsman Essence Lv2</td>
        <td>Merchant Essence Lv2</td>
        <td>Acolyte Essence Lv2</td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Knight Essence Lv1</td>
        <td>Blacksmith Essence Lv1</td>
        <td>Assassin Essence Lv1</td>
      </tr>
      <tr>
        <td>Wizard Essence Lv1</td>
        <td>Priest Essence Lv1</td>
        <td>Hunter Essence Lv1</td>
      </tr>
      <tr>
        <td>Crusader Essence Lv1</td>
        <td>Alchemist Essence Lv1</td>
        <td>Rogue Essence Lv1</td>
      </tr>
      <tr>
        <td>Sage Essence Lv1</td>
        <td>Monk Essence Lv1</td>
        <td>Ninja Essence Lv1<div class="font-bold text-sm text-purple-600">*Added 2018.05.23</div></td>
      </tr>
      <tr>
        <td colspan="3">Bard & Dancer Essence Lv1<div class="font-bold text-sm text-purple-600">*Added 2018.05.23</div></td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Knight Essence Lv2</td>
        <td>Blacksmith Essence Lv2</td>
        <td>Assassin Essence Lv2</td>
      </tr>
      <tr>
        <td>Wizard Essence Lv2</td>
        <td>Priest Essence Lv2</td>
        <td>Hunter Essence Lv2</td>
      </tr>
      <tr>
        <td>Crusader Essence Lv2</td>
        <td>Alchemist Essence Lv2</td>
        <td>Rogue Essence Lv2</td>
      </tr>
      <tr>
        <td>Sage Essence Lv2</td>
        <td>Monk Essence Lv2</td>
        <td>Ninja Essence Lv2 <div class="font-bold text-sm text-purple-600">*Added 2018.05.23</div></td>
      </tr>
      <tr>
        <td colspan="3">Bard & Dancer Essence Lv2<div class="font-bold text-sm text-purple-600">*Added 2018.05.23</div></td>
      </tr>
    </tbody>
  </table>

  <p class="font-bold text-purple-600 my-4">In the 2018.08.06 update to this content new NPCs were added, as well as a bunch of new job essence enchants. Below you'll find the updated tables as displayed on the kRO Zero update article.</p>

  <table class="mt-6">
    <thead>
      <tr>
        <th colspan="3">1st Job Enchant Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mage Essence Lv1</td>
        <td>Thief Essence Lv1</td>
        <td>Archer Essence Lv1</td>
      </tr>
      <tr>
        <td>Swordsman Essence Lv1</td>
        <td>Merchant Essence Lv1</td>
        <td>Acolyte Essence Lv1</td>
      </tr>
      <tr class="border-t-4 border-solid">
        <td>Mage Essence Lv2</td>
        <td>Thief Essence Lv2</td>
        <td>Archer Essence Lv2</td>
      </tr>
      <tr>
        <td>Swordsman Essence Lv2</td>
        <td>Merchant Essence Lv2</td>
        <td>Acolyte Essence Lv2</td>
      </tr>
    </tbody>
  </table>

  <table class="mt-6">
    <thead>
      <tr>
        <th colspan="4">2nd Job Enchant Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Knight Essence Lv1/2</td>
        <td>Knight Essence II Lv1/2</td>
        <td>Blacksmith Essence Lv1/2</td>
        <td>Blacksmith Essence II Lv1/2</td>
      </tr>
      <tr>
        <td>Assassin Essence Lv1/2</td>
        <td>Assassin Essence II Lv1/2</td>
        <td>Wizard Essence Lv1/2</td>
        <td>Wizard Essence II Lv1/2</td>
      </tr>
      <tr>
        <td>Priest Essence Lv1/2</td>
        <td>Priest Essence II Lv1/2</td>
        <td>Hunter Essence Lv1/2</td>
        <td>Hunter Essence II Lv1/2</td>
      </tr>
      <tr>
        <td>Crusader Essence Lv1/2</td>
        <td>Crusader Essence II Lv1/2</td>
        <td>Alchemist Essence Lv1/2</td>
        <td>Alchemist Essence II Lv1/2</td>
      </tr>
      <tr>
        <td>Rogue Essence Lv1/2</td>
        <td>Rogue Essence II Lv1/2</td>
        <td>Sage Essence Lv1/2</td>
        <td>Sage Essence II Lv1/2</td>
      </tr>
      <tr>
        <td>Monk Essence Lv1/2</td>
        <td>Monk Essence II Lv1/2</td>
        <td>Bard & Dancer Essence Lv1/2</td>
        <td>Bard & Dancer Essence II Lv1/2</td>
      </tr>
    </tbody>
  </table>

  <table class="mt-6">
    <thead>
      <tr>
        <th colspan="2">Ninja Enchant Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ninja Essence Lv1/2</td>
        <td>Ninja Essence II Lv1/2</td>
      </tr>
    </tbody>
  </table>

  <h2>Job Essence Descriptions</h2>

  <h3>First Job Essences</h3>

  <div class="flex flex-wrap justify-between">
    {% enchantCard
      id="29390",
      name="Mage Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Cold Bolt], [Fire Bolt], and [Lightning Bolt] damage by 20%.</li>
        <li>For every 2 levels in [Fire Wall], -1% variable casting.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29396",
      name="Mage Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>Increases [Cold Bolt], [Fire Bolt], and [Lightning Bolt] damage by 20%.</li>
        <li>For every level in [Fire Wall], -1% variable casting.</li>
        <li>For every +2 armor refine, MaxSP +50.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29391",
      name="Acolyte Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Heal], [Increase Agility], and [Blessing] SP consumption by 15%.</li>
        <li>For every 2 levels in [Heal], +1% Heal amount.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29397",
      name="Acolyte Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Heal], [Increase Agility], and [Blessing] SP consumption by 15%.</li>
        <li>For every level in [Heal], +1% Heal amount.</li>
        <li>For every +2 armor refine, MaxHP +70, MaxSP +30.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29392",
      name="Archer Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Double Strafe] SP consumption by 5 SP.</li>
        <li>For every level in [Eagle Eye], +1% Bow damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29398",
      name="Archer Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Double Strafe] SP consumption by 5 SP.</li>
        <li>For every level in [Eagle Eye], +2% Bow damage.</li>
        <li>For every +2 armor refine, +5% [Arrow Shower] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29387",
      name="Swordsman Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Magnum Break] SP consumption by 10 SP.</li>
        <li>For every 2 levels in [Bash], +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29393",
      name="Swordsman Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>Decreases [Magnum Break] SP consumption by 10 SP.</li>
        <li>For every level in [Bash], +1% ASPD.</li>
        <li>For every +2 armor refine, +15% [Magnum Break] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29389",
      name="Thief Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>When using [Steal], ATK +30 for 60 seconds.</li>
        <li>For every 2 levels in [Steal], +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29395",
      name="Thief Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>When using [Steal], ATK +30 for 60 seconds.</li>
        <li>For every level in [Steal], +1% ASPD.</li>
        <li>For every +2 armor refine, FLEE +10.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29388",
      name="Merchant Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level in [Discount], ATK +2.</li>
        <li>For every 2 levels in [Overcharge], +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29394",
      name="Merchant Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level in [Discount], ATK +2.</li>
        <li>For every level in [Overcharge], +1% ASPD.</li>
        <li>For every +2 armor refine, MaxHP +100.</li>
      </ul>
    {% endenchantCard %}
  </div>

  <h3>Second Job Essences</h3>

  <div class="flex flex-wrap justify-between">
    {% enchantCard
      id="29399",
      name="Knight Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Cavalry Mastery], CRIT +3.</li>
        <li>Increases [Bowling Bash] damage by 20%.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29411",
      name="Knight Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Cavalry Mastery], CRIT +5.</li>
        <li>Increases [Bowling Bash] damage by 20%.</li>
        <li>When using [Two-Hand Quicken], +7% critical damage for 60 seconds.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29400",
      name="Blacksmith Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>When using [Weapon Perfection], CRIT +10 for 60 seconds.</li>
        <li>For every level of [Maximize Power], CRIT +3.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29412",
      name="Blacksmith Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>When using [Weapon Perfection], CRIT +10 for 60 seconds.</li>
        <li>For every level of [Maximize Power], CRIT +5.</li>
        <li>For every level of [Weaponry Research], +1% critical damage.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29401",
      name="Assassin Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Grimtooth], CRIT +3.</li>
        <li>Increases [Sonic Blow] damage by 20%.</li>
        <li>For every +1 armor refine, +1% critical damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29413",
      name="Assassin Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Grimtooth], CRIT +5.</li>
        <li>Increases [Sonic Blow] damage by 20%.</li>
        <li>When using [Sonic Blow], +7% ASPD for 60 seconds.</li>
        <li>For every +1 armor refine, +1% critical damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29402",
      name="Wizard Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Heaven's Drive], -3% variable cast time.</li>
        <li>Increases [Meteor Storm], [Lord of Vermilion], and [Storm Gust] damage by 20%.</li>
        <li>For every +2 armor refine, +1% MATK.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29414",
      name="Wizard Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Heaven's Drive], -5% variable cast time.</li>
        <li>Increases [Meteor Storm], [Lord of Vermilion], and [Storm Gust] damage by 20%.</li>
        <li>When using [Quagmire], FLEE +30 for 60 seconds.</li>
        <li>For every +2 armor refine, +1% MATK.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29403",
      name="Priest Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Magnificat], -3% variable cast time.</li>
        <li><del>Increases [Heal] amount by 10%.</del><sup class="font-bold text-purple-600">*Removed 2018.08.06</sup></li>
        <li>Increases [Magnus Exorsismus] damage by 20%. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>For every +2 armor refine, +5% [Magnus Exorsismus] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29415",
      name="Priest Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Magnificat], -5% variable cast time.</li>
        <li><del>Increases [Heal] amount by 10%.</del><sup class="font-bold text-purple-600">*Removed 2018.08.06</sup></li>
        <li>Increases [Magnus Exorsismus] damage by 20%. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>When using [Gloria], <del>-5% after skill delay for 60 seconds.</del> MATK +7% and +15% increased Heal for 60 seconds. <sup class="font-bold text-purple-600">*Changed 2018.08.06</sup></li>
        <li>For every +2 armor refine, +5% [Magnus Exorsismus] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29404",
      name="Hunter Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li><del>For every level of [Blitz Beat], +5% Bow damage.</del> <sup class="font-bold text-purple-600">*Removed 2018.08.06</sup></li>
        <li>For every 2 levels of [Blitz Beat], +1% ASPD. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>Increases [Blitz Beat] damage by 40%.</li>
        <li>For every +1 armor refine, <del>+1% ASPD</del> LUK +1 <sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29416",
      name="Hunter Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li><del>For every level of [Blitz Beat], +5% Bow damage.</del> <sup class="font-bold text-purple-600">*Removed 2018.08.06</sup></li>
        <li>For every 2 levels of [Blitz Beat], +1% ASPD. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>Increases [Blitz Beat] damage by 40%.</li>
        <li>When using [Improved Concentration], <del>+10% Bow damage</del> increases [Blitz Beat] damage by an additional 40% for 60 seconds. <sup class="font-bold text-purple-600">*Updated 2018.08.06</sup></li>
        <li>For every +1 armor refine, <del>+1% ASPD</del> LUK +1 <sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29405",
      name="Crusader Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Faith], ATK +3.</li>
        <li>Increases [Holy Cross] damage by 15%.</li>
        <li>For every +2 armor refine, MaxHP +100.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29417",
      name="Crusader Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Faith], ATK +5.</li>
        <li>Increases [Holy Cross] damage by 15%.</li>
        <li>When using [Auto Guard], DEF +80 for 60 seconds.</li>
        <li>For every +2 armor refine, MaxHP +100.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29406",
      name="Alchemist Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Potion Research], ATK +3.</li>
        <li>ASPD +10%.</li>
        <li>For every +2 armor refine, CRIT +5.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29418",
      name="Alchemist Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Potion Research], ATK +5.</li>
        <li>ASPD +10%.</li>
        <li>When using [Potion Pitcher], LUK +7, DEX +7, INT +7, and adds a chance to drop Glistening Coat and Plant Bottle when killing monsters<sup class="font-bold text-purple-600">*Added 2018.08.06</sup> for 60 seconds.</li>
        <li>For every +2 armor refine, CRIT +5.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29407",
      name="Rogue Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Plagiarism], ATK +3.</li>
        <li>Increases [Raid] damage by 20%.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29419",
      name="Rogue Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Plagiarism], ATK +5.</li>
        <li>Increases [Raid] damage by 20%.</li>
        <li>When using [Hide], decreases [Raid] SP consumption by 15% for 60 seconds.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29408",
      name="Sage Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Auto Spell], MATK +3.</li>
        <li>Increases [Heaven's Drive] and [Earth Spike]<sup class="font-bold text-purple-600">*Added 2018.08.06</sup> damage by 20%.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29420",
      name="Sage Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Auto Spell], MATK +5.</li>
        <li>Increases [Heaven's Drive] and [Earth Spike]<sup class="font-bold text-purple-600">*Added 2018.08.06</sup> damage by 20%.</li>
        <li>When using [Auto Spell], ASPD +1 and +15% Earth magic damage<sup class="font-bold text-purple-600">*Added 2018.08.06</sup> for 60 seconds.</li>
        <li>For every +1 armor refine, +1% ASPD.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29409",
      name="Monk Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Demon Bane], ATK +3.</li>
        <li>Increases [Chain Combo] damage by 20%.</li>
        <li>For every +2 armor refine, +5% [Combo Finish] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29421",
      name="Monk Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Demon Bane], ATK +5.</li>
        <li>Increases [Chain Combo] damage by 20%.</li>
        <li>When [Explosion Spirits] is used, for 60 seconds [Call Spirits] is activated with a high probability during normal melee physical attacks.</li>
        <li>For every +2 armor refine, +5% [Combo Finish] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29410",
      name="Bard & Dancer Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Dancing / Musical Lesson], <del>ATK +3</del> [Adaptation to Circumstances] skill cooldown reduced by 1 times the skill level.<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup></li>
        <li><del>Increases [Double Strafe] damage by 20%</del> <sup class="font-bold text-purple-600">*Removed 2018.08.06</sup>.</li>
        <li>[Adaptation to Circumstances] skill cooldown reduced by 60 seconds. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>For every +2 armor refine, MaxSP +30.</li>
        <li class="font-bold text-purple-600">*Essence Added 2018.05.23</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29422",
      name="Bard & Dancer Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of [Dancing / Musical Lesson], <del>ATK +3</del> [Adaptation to Circumstances] skill cooldown reduced by 3 times the skill level.<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup></li>
        <li><del>Increases [Double Strafe] damage by 20%</del> <sup class="font-bold text-purple-600">*Removed 2018.08.06</sup>.</li>
        <li>[Adaptation to Circumstances] skill cooldown reduced by 60 seconds. <sup class="font-bold text-purple-600">*Added 2018.08.06</sup></li>
        <li>When using [Service For You] or [A Poem of Bragi], +50% natural SP recovery for 60 seconds.</li>
        <li>For every +2 armor refine, MaxSP +30.</li>
        <li class="font-bold text-purple-600">*Essence Added 2018.05.23</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29525",
      name="Ninja Essence Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every level of <del>[Haze Slasher]</del> [Dagger Throwing Practice]<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>, ATK +3.</li>
        <li>Increases <del>[Haze Slasher]</del> [Shadow Slash] & [Throw Huuma Shuriken]<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup> damage by 20%.</li>
        <li>For every +2 armor refine, MaxHP +100, HIT +5<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>.</li>
        <li class="font-bold text-purple-600">*Essence Added 2018.05.23</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29526",
      name="Ninja Essence Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every level of <del>[Haze Slasher]</del> [Dagger Throwing Practice]<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>, ATK +5.</li>
        <li>Increases <del>[Haze Slasher]</del> [Shadow Slash] & [Throw Huuma Shuriken]<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup> damage by 20%.</li>
        <li>When using [Ninja Aura], increases [Shadow Slash] & [Throw Huuma Shuriken]<sup class="font-bold text-purple-600">*Added 2018.08.06</sup> damage by an additional 20% for 60 seconds.</li>
        <li>For every +2 armor refine, MaxHP +100, HIT +5<sup class="font-bold text-purple-600">*Updated 2018.08.06</sup>.</li>
        <li class="font-bold text-purple-600">*Essence Added 2018.05.23</li>
      </ul>
    {% endenchantCard %}
  </div>

  <p class="font-bold text-purple-600">The below enchants were added in the 2018.08.06 update.</p>

  <div class="flex flex-wrap justify-between">
    {% enchantCard
      id="29553",
      name="Knight Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Spear Mastery], HIT +1.</li>
        <li>Increases [Pierce] damage by 20%.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29566",
      name="Knight Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Spear Mastery], HIT +2.</li>
        <li>Increases [Pierce] damage by 20%.</li>
        <li>When using [Pierce], increases [Brandish Spear] damage by 40% for 60 seconds.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29554",
      name="Blacksmith Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Skin Tempering], LUK +1.</li>
        <li>DEX +10.</li>
        <li>For every +2 armor refine, LUK +1.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29567",
      name="Blacksmith Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Skin Tempering], LUK +2.</li>
        <li>DEX +10.</li>
        <li>When using [Adrenaline Rush], DEX & LUK +10 for 60 seconds.</li>
        <li>For every +2 armor refine, LUK +1.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29555",
      name="Assassin Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Left Hand Mastery], FLEE +3.</li>
        <li>Increases [Venom Splasher] damage by 20%.</li>
        <li>For every +2 armor refine, -3% Variable Cast Time.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29568",
      name="Assassin Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Left Hand Mastery], FLEE +5.</li>
        <li>Increases [Venom Splasher] damage by 20%.</li>
        <li>When using [Cloaking], increases [Venom Splasher] damage by an additional 20% for 60 seconds.</li>
        <li>For every +2 armor refine, -3% Variable Cast Time.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29556",
      name="Wizard Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Lord of Vermilion], -2% Variable Cast Time.</li>
        <li>Increases [Jupitel Thunder] damage by 20%.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29569",
      name="Wizard Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Lord of Vermilion], -3% Variable Cast Time.</li>
        <li>Increases [Jupitel Thunder] damage by 20%.</li>
        <li>When using [Frost Nova], increases [Jupitel Thunder] damage by 20% for 60 seconds.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29557",
      name="Priest Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Mace Mastery], ATK +3.</li>
        <li>Increases critical damage by 15%.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29570",
      name="Priest Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Mace Mastery], ATK +5.</li>
        <li>Increases critical damage by 15%.</li>
        <li>After using [Status Recovery], activates [Bash] level 10 with a high probability during normal melee physical attacks for 60 seconds.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29558",
      name="Hunter Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Beast Bane], ATK +3.</li>
        <li>Increases [Double Strafe] damage by 20%.</li>
        <li>For every +2 armor refine, +3% bow damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29571",
      name="Hunter Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Beast Bane], ATK +5.</li>
        <li>Increases [Double Strafe] damage by 20%.</li>
        <li>When using [Detect], increases [Double Strafe] damage by an additional 20% for 60 seconds.</li>
        <li>For every +2 armor refine, +3% bow damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29559",
      name="Ninja Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Ninja Mastery], MATK +3.</li>
        <li>Increases [Exploding Dragon], [Snow Flake Drift], and [First Wind] damage by 20%.</li>
        <li>For every +2 armor refine, -5% Variable Cast Time for [Flaming Petals], [Freezing Spear], and [Wind Blade].</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29572",
      name="Ninja Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Ninja Mastery], MATK +5.</li>
        <li>Increases [Exploding Dragon], [Snow Flake Drift], and [First Wind] damage by 20%.</li>
        <li>After using [Cicada Skin Shed], +20% additional increase in damage for [Exploding Dragon], [Snow Flake Drift], and [First Wind] for 60 seconds.</li>
        <li>For every +2 armor refine, -5% Variable Cast Time for [Flaming Petals], [Freezing Spear], and [Wind Blade].</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29560",
      name="Crusader Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Faith], MATK +3.</li>
        <li>Increases [Grand Cross] damage by 20%.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29573",
      name="Crusader Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Faith], MATK +5.</li>
        <li>Increases [Grand Cross] damage by 20%.</li>
        <li>When using [Endure], the amount of healing received increases by 15% for 60 seconds.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29561",
      name="Alchemist Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Pharmacy], ATK +3.</li>
        <li>Increases [Mammonite] damage by 100%.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29574",
      name="Alchemist Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Pharmacy], ATK +3.</li>
        <li>Increases [Mammonite] damage by 100%.</li>
        <li>After using [Potion Pitcher], has a high chance to activate [Bash] level 10 during normal melee physical attacks for 60 seconds.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29562",
      name="Rogue Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Snatcher], HIT +1.</li>
        <li>Increases [Back Stab] damage by 20%.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29575",
      name="Rogue Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Snatcher], HIT +2.</li>
        <li>Increases [Back Stab] damage by 20%.</li>
        <li>When using [Envenom], +20% additional [Back Stab] damage for 60 seconds.</li>
        <li>For every +2 armor refine, ATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29563",
      name="Sage Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Advanced Book], MATK +3.</li>
        <li>Increases [Fire Bolt], [Cold Bolt], and [Lightning Bolt] damage by 20%.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29576",
      name="Sage Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Advanced Book], MATK +5.</li>
        <li>Increases [Fire Bolt], [Cold Bolt], and [Lightning Bolt] damage by 20%.</li>
        <li>After using [Earth Spike], increases [Fire Bolt], [Cold Bolt], and [Lightning Bolt] damage by an additional 20% for 60 seconds.</li>
        <li>For every +2 armor refine, MATK +2.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29564",
      name="Monk Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Demon Bane], -3% Variable Cast Time of [Investigate].</li>
        <li>Increases [Investigate] damage by 20%.</li>
        <li>For every +2 armor refine, +5% [Investigate] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29577",
      name="Monk Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Demon Bane], -5% Variable Cast Time of [Investigate].</li>
        <li>Increases [Investigate] damage by 20%.</li>
        <li>After using [Blessing], when using [Investigate] has a high chance of activating [Call Spirits] for 60 seconds.</li>
        <li>For every +2 armor refine, +5% [Investigate] damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29565",
      name="Bard & Dancer Essence II Lv1"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Dancing Lessons] or [Musical Lessons], ATK +3.</li>
        <li>Increases [Throw Arrow] or [Musical Strike] damage by 20%.</li>
        <li>For every +2 armor refine, +1% ranged weapon physical damage.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="29578",
      name="Bard & Dancer Essence II Lv2"
    %}
      <ul class="border-t p-2">
        <li>For every 1 level in [Dancing Lessons] or [Musical Lessons], ATK +5.</li>
        <li>Increases [Throw Arrow] or [Musical Strike] damage by 20%.</li>
        <li>After using [Encore], increases [Throw Arrow] or [Musical Strike] damage by an additional 20% for 60 seconds.</li>
        <li>For every +2 armor refine, +1% ranged weapon physical damage.</li>
      </ul>
    {% endenchantCard %}
  </div>

  <div class="mb-6 text-sm">
    <h2 class="bg-gradient py-1 px-2 mb-0 uppercase font-bold text-sm rounded-t-md">kRO Zero Changelogs</h2>
    <p class="border-r border-l p-2 mb-0">The information for this piece of content changed over time on kRO Zero. This section links to the different versions of the original source article on the kRO Zero website.</p>
    <ul class="border-r border-l border-b rounded-b-md pt-1 pb-3 pl-8 list-disc">
      <li><a href="https://web.archive.org/web/20180212083021/http://roz.gnjoy.com:80/news/update/View.asp?seq=13&curpage=1" target="_blank" rel="noopener noreferrer">2018-01-30 - Original</a></li>
      <li><a href="https://web.archive.org/web/20180614123323/http://roz.gnjoy.com:80/news/update/View.asp?seq=13&curpage=1">2018-05-23 - Updated</a></li>
      <li><a href="https://web.archive.org/web/20180814102516/http://roz.gnjoy.com:80/news/update/View.asp?seq=13&curpage=1">2018-08-06 - Updated</a></li>
    </ul>
  </div>

</article>