---
layout: /layouts/base.njk
title: Poring Village
description: All about the Memorial Dungeon Poring Village found in kRO Zero
tags: memorialDungeon
---

<article>
  <h1 class="text-2xl mb-2">Poring Village</h1>

  <p>This <b>Memorial Dungeon</b> is located one map west of Prontera. Once on the map go in the 9 o' clock direction and speak with the NPC named Emily.</p>

  <img class="mt-6 mb-2" src="/images/maps/poring-village-location.bmp" alt="Poring Village map location" />

  <h2>General Info</h2>

  <ul class="list-disc pl-8">
    <li>Must have a base level between 30 and 60 and be in a party to enter.</li>
    <li>Throughout the dungeon there are blue pillars. Clicking on them will transform you and give you increased ATK for a certain period of time.</li>
    <li>You can access this memorial dungeon once a day, with the restriction resetting at 4AM.</li>
  </ul>

  <h2>Monster Info</h2>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-24",
        image="3815-md-poring.gif",
        name="Fortified Poring", 
        id="3815",
        level="34",
        hp="1023",
        defMdef="10/12",
        class="Normal",
        family="Formless",
        property="Earth LV1",
        size="Small",
        expJexp="369/291"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3816-md-marin.gif",
        name="Fortified Marin", 
        id="3816",
        level="33",
        hp="960",
        defMdef="10/10",
        class="Normal",
        family="Formless",
        property="Water LV1",
        size="Small",
        expJexp="358/279"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3814-md-poporing.gif",
        name="Fortified Poporing", 
        id="3814",
        level="36",
        hp="1167",
        defMdef="10/12",
        class="Normal",
        family="Formless",
        property="Wind LV1",
        size="Small",
        expJexp="384/309"
    %}
    {% monsterCard 
        widthClass="ca-w-24",
        image="3813-md-drops.gif",
        name="Fortified Drops", 
        id="3813",
        level="35",
        hp="1095",
        defMdef="10/10",
        class="Normal",
        family="Formless",
        property="Fire LV1",
        size="Small",
        expJexp="377/300"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="3812-md-amering.gif",
        name="Amering", 
        id="3812",
        level="35",
        hp="72810",
        defMdef="10/10",
        class="Boss",
        family="Formless",
        property="Poison LV1",
        size="Large",
        expJexp="6375/5524"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="3811-md-goldring.gif",
        name="Goldring", 
        id="3811",
        level="35",
        hp="72118",
        defMdef="10/10",
        class="Boss",
        family="Formless",
        property="Holy LV1",
        size="Large",
        expJexp="6327/5565"
    %}
    {% monsterCard 
        widthClass="w-full",
        image="3810-md-king-poring.gif",
        name="King Poring", 
        id="3810",
        level="35",
        hp="140000",
        defMdef="20/20",
        class="Boss",
        family="Formless",
        property="Neutral LV1",
        size="Large",
        expJexp="9580/8288"
    %}
  </div>

  <h2>Treasure Chest Rewards</h2>

  <p>When you clear the dungeon, you are given a variety of rewards. These include consumables, two lower head gear, and items that can be used to craft memorial dungeon equipment.</p>

  <p>If there are more members in your party, more reward items will drop.</p>

  <h3>Consumables</h3>

  <ul class="list-disc pl-8 mb-4">
    <li>{% item id="11570", name="[Not For Sale] Red Potion", imageFolder="consumables" %}</li>
    <li>{% item id="11572", name="[Not For Sale] Blue Potion", imageFolder="consumables" %}</li>
    <li>{% item id="11569", name="[Not For Sale] Orange Potion", imageFolder="consumables" %}</li>
    <li>{% item id="11566", name="[Not For Sale] Yellow Potion", imageFolder="consumables" %}</li>
    <li>{% item id="11565", name="[Not For Sale] White Potion", imageFolder="consumables" %}</li>
    <li>{% item id="11571", name="[Not For Sale] Green Potion", imageFolder="consumables" %}</li>
  </ul>

  <h3>Lower headgear</h3>

  <ul class="list-disc pl-8 mb-4">
    <li>Wearable by all classes.</li>
    <li>No slot.</li>
    <li>Your character must be at least base level 30 to wear this headgear.</li>
    <li>Can be enchanted.</li>
    <li>Weight: 10</li>
    <li>Increase your movement speed while transformed. This does not stack with Increase Agility.</li>
  </ul>

  <div class="flex flex-wrap justify-between">

    {% equipCard
      id="19238",
      folder="poring-village",
      name="Poring Village Leek",
      category="Lower Headgear"
    %}
      <ul class="border-t p-2">
        <li>On receiving a physical attack, chance to turn into a Smokie for 5 seconds.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="19239",
      folder="poring-village",
      name="Poring Village Carrot",
      category="Lower Headgear"
    %}
      <ul class="border-t p-2">
        <li>When performing a physical attack, chance to turn into a Lunatic for 5 seconds.</li>
      </ul>
    {% endequipCard %}

  </div>

  <h3>Day of the week rewards</h3>

  <p>Depending on the day of the week, you can get different Jello Fragments. These are used to craft Jello Stones, which in turn are used to craft higher-tier Memorial Dungeon equipment.</p>

  <ul class="list-disc pl-8 mb-4">
    <li>
      <strong class="align-middle">Monday:</strong>&nbsp;
      {% item id="25465", name="Poring Jello Fragment", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Tuesday:</strong>&nbsp;
      {% item id="25466", name="Poporing Jello Fragment", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Wednesday:</strong>&nbsp;
      {% item id="25467", name="Drops Jello Fragment", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Thursday:</strong>&nbsp;
      {% item id="25468", name="Deviling Jello Fragment", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Friday:</strong>&nbsp;
      {% item id="25469", name="Angeling Jello Fragment", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Saturday:</strong>&nbsp;
      {% item id="23649", name="Jello Fragment Box", imageFolder="items" %}
    </li>
    <li>
      <strong class="align-middle">Sunday:</strong>&nbsp;
      {% item id="23649", name="Jello Fragment Box", imageFolder="items" %}
    </li>
  </ul>

  <h2>Headgear Enchant</h2>

  <ul class="list-disc pl-8 mb-4">
    <li>Use 50 Jellopy & 20,000 zeny to enchant the Poring Village Leek or Poring Village Carrot.</li>
    <li>Only one enchant can be added to an item.</li>
    <li>30% chance of enchant failure. If enchanting fails, the item is destroyed.</li>
    <li>If you don't like the enchant, you can re-roll it by spending 100,000.</li>
  </ul>

  <h3>Possible enchants</h3>

  <ul class="list-disc pl-8 mb-4">
    <li>STR +1</li>
    <li>VIT +1</li>
    <li>INT +1</li>
    <li>DEX +1</li>
    <li>AGI +1</li>
    <li>SP +10</li>
    <li>SP +25</li>
    <li>SP +50</li>
    <li>HP +100</li>
    <li>HP +200</li>
  </ul>

  <h2>Vocabulary</h2>

  <ul class="list-disc pl-8 text-sm">
    <li><strong>Poring:</strong> 포링</li>
    <li><strong>Marin:</strong> 마린</li>
    <li><strong>Poporing:</strong> 포포링</li>
    <li><strong>Drops:</strong> 드롭프스</li>
    <li><strong>Amering:</strong> 아메링</li>
    <li><strong>Goldring:</strong> 골드링</li>
    <li><strong>King Poring:</strong> 대왕포링</li>
  </ul>

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="http://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=1&curpage=4" target="_blank" rel="noopener noreferrer">[던전] 포링 마을</a> (post - kRO website)
    </li>
    <li>
      <a href="http://www.inven.co.kr/webzine/news/?news=174925&sw=%ED%8F%AC%EB%A7%81%20%EB%A7%88%EC%9D%84&site=ro" target="_blank" rel="noopener noreferrer">[뉴스] 경험치와 아이템 모두 잡은 초심자용 메모리얼 던전 '포링 마을' 등장!</a> (post - inven.co.kr)
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=hHjR0cVN2Jk" target="_blank" rel="noopener noreferrer">[팍으마_#4] 라그나로크 제로 | 포링마을 던전! 돈 좀 되나?</a> (video - youtube)
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=3U8LDii9Vhk" target="_blank" rel="noopener noreferrer">[라그제로] 포링마을~</a> (video - youtube)
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=fhM_8belkqw" target="_blank" rel="noopener noreferrer">[KRO]라그나로크 무자본 어디까지..-마법사편 #4 포링마을에 가다</a> (video - youtube)
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=8TX6FwaLyfs" target="_blank" rel="noopener noreferrer">2018 04 01 포링메모리얼</a> (video - youtube)
    </li>
    <li>
      <a href="http://www.inven.co.kr/board/ro/5279/493?p=17" target="_blank" rel="noopener noreferrer">인덱궁 포링마을 돌기</a> (video post - inven.co.kr)
    </li>
    <li>Ingame</li>
  </ul>

</article>