---
layout: /layouts/base.njk
title: Episode 1 - Part 1, The Start Of An Adventure
description: All about the updates to "Episode 1 - Part 1, The Start Of An Adventure" in Ragnarok Zero
tags: update
---

<article>

  <h1 class="text-2xl mb-2">Episode 1 - Part 1, The Start Of An Adventure</h1>

  <p>(Subtitle: The Chaos of Midgard - 미드가르드 대륙의 혼란)</p>

  <p class="text-red-500 font-bold">Note: This content has not gone live yet. I will update this page if there are any changes to the update page once it does go live on Ragnarok Zero.</p>

  <h2 id="the-story">The Story</h2>

  <p>There are adventurers living in the mountain village of Payon. One day, Iris (아이리스) and Chaos (케이아스), who went on an adventure to find their friend Harace (해레이스), who had suddenly disappeared, come to find out that Sea Dragon Sword, Haeryongdo (해룡도), has also gone missing. This time, the adventurers are heading into the Payon woods to find it.</p>

  <p>(산악도시 페이욘 마을에 사는 모험가. 어느 날 갑자기 사라진 친구 해레이스를 찾기 위해 모험을 떠났던 아이리스와 케이아스가 마을의 3신도 중 하나인 해룡도를 잃어버렸다는 사실을 알게 된다. 수습은 가장 머리가 비상한 모험가의 몫이었기에 이번에도 여지없이 모험가는 두 사람이 친 사고를 수습하기 위해 페이욘 숲속으로 향하게 되는데...)</p>

  <h2 id="quest-conditions">Quest Conditions (퀘스트 조건)</h2>

  <ul>
    <li><b>Starting Location:</b> Payon, Iris (payon 173 171)</li>
    <li><b>Level Requirement:</b> None</li>
  </ul>

  <figure class="mb-4">
    <img class="mt-4 mb-2" src="/images/quests/payon/episode-1/episode_1_quest_start.png" alt="Episode 1 Part 1 Starting NPCs screenshot" />
  </figure>

  <h2 id="main-quest">Main Quest (메인 퀘스트)</h2>

  <h3>Travel Spots</h3>

  <figure class="mb-4">
    <img class="mt-4 mb-2" src="/images/quests/payon/episode-1/episode_1_locations.png" alt="Map of the cities you'll visit while doing the Episode" />
  </figure>

  <h3>Quest List</h3>

  <table class="table-auto text-sm w-full">
    <thead>
      <tr>
        <th>Order</th>
        <th>Quest Name</th>
        <th>Starting NPC</th>
        <th>Quest Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Missing Haeryongdo 1</td>
        <td>Iris (아이리스)</td>
        <td>Stop by the [Forge] and get the equipment from [Chaos].</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Missing Haeryongdo 2</td>
        <td>Iris (아이리스)</td>
        <td>Talk to [Hallyang Hanul] in [Payon Forest].</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Missing Haeryongdo 3</td>
        <td>Hallyang Hanul (한량 한울)</td>
        <td>Talk to [Archaeologist] in [Payon Forest].</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Missing Haeryongdo 4</td>
        <td>Archaeologist (고고학자)</td>
        <td>Kill 5 Poring; collect 5 {% item id="784", name="Archaeologist Research Journal (고고학자의 연구 일지)", imageFolder="items" %}.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Missing Haeryongdo 5</td>
        <td>Archaeologist (고고학자)</td>
        <td>Find the [Hidden Place] in Payon Cave 1st Floor.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Missing Haeryongdo 6</td>
        <td>Unidentified Sword (정체불명의 검)</td>
        <td>Pull out the [Sword] and talk to the silver-haired girl.</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Missing Haeryongdo 7</td>
        <td>Silver-haired Girl (미소녀)</td>
        <td>Have a conversation with [Shigrun], who escaped the cave.</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Missing Haeryongdo 8</td>
        <td>Shigrun (시그룬)</td>
        <td>Talk to the [Archaeologist] who asked us to let them know when we found the sword.</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Missing Haeryongdo 9</td>
        <td>Archaeologist (고고학자)</td>
        <td>Give the information we gathered to [Iris] in [Payon].</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Missing Person 1</td>
        <td>Iris (아이리스)</td>
        <td>Talk to [Verito] in the [satellite city of Izlude].</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Missing Person 2</td>
        <td>Verito (베리토)</td>
        <td>Ask [Shukern] for information about the missing person.</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Missing Person 3</td>
        <td>Shukern (슈케른)</td>
        <td>Ask [Estalda] for information about the missing person.</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Missing Person 4</td>
        <td>Estalda (에스탈다)</td>
        <td>Talk to [Lushak] in the [port city of Alberta].</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Missing Person 5</td>
        <td>Lushak (루샤크)</td>
        <td>Talk to [Walter the Blacksmith] in the [port city of Alberta].</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Missing Person 6</td>
        <td>Walter the Blacksmith (대장장이 발터)</td>
        <td>Kill 5 [Willow] and 5 [Fabre] each in the Payon Forest. Collect 1 {% item id="1068", name="Barren Trunk (메마른 나무 조각)", imageFolder="items" %} and 1 {% item id="1000551", name="Shiny Hard Ore (빛나는 단단한 광석)", imageFolder="items" %} and bring them to [Walter the Blacksmith].</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Missing Person 7</td>
        <td>Walter the Blacksmith (대장장이 발터)</td>
        <td>Bring the {% item id="789", name="Shining Armor (빛나는 갑옷)", imageFolder="items" %} to [Lushak].</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Missing Person 8</td>
        <td>Lushak (루샤크)</td>
        <td>Find the Royal Palace Inspectorate at Prontera Castle. Ask the [Royal Guard Knight] and they may know where the Royal Palace Inspectorate is.</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Royal Palace Inspectorate 1</td>
        <td>Royal Guard Knight (왕실 수호 기사)</td>
        <td>Talk to [Sahario], the chief investigator in the room.</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Royal Palace Inspectorate 2</td>
        <td>Sahario (사하리오)</td>
        <td>Show the {% item id="785", name="Inspectorate Team Token (조사단 증표)", imageFolder="items" %} to the [Underground Culvert Soldier] who protects the [Underground Culvert] and enter the culvert.</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Royal Palace Inspectorate 3</td>
        <td>Culvert Manager Bottle(?) (지하수로  관리병)</td>
        <td>Kill [Familiar] and [Thief Bug] and take 5 Samples ({% item id="787", name="Thief Bug Sample (도둑벌레 샘플)", imageFolder="items" %} and {% item id="786", name="Familiar Sample (퍼밀리어 샘플)", imageFolder="items" %}) back to [Sahario].</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Royal Palace Inspectorate 4</td>
        <td>Sahario (사하리오)</td>
        <td>Kill 10 [Stainer] in [Prontera Field] and report back to [Sahario].</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Royal Palace Inspectorate 5</td>
        <td>Sahario (사하리오)</td>
        <td>Wait for the [Golden Mask] to appear at the Prontera Pub.</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Royal Palace Inspectorate 6</td>
        <td>Bartender (바텐더)</td>
        <td>Go back to [Sahario] and report that you've missed the [Golden Mask].</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Palace Enemy 1</td>
        <td>Sahario (사하리오)</td>
        <td>Meet Rune-Migard Kingdom's [Commander Spiegel] at the Prontera Castle [Central Banquet Room].</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Palace Enemy 2</td>
        <td>Commander Spiegel (슈피겔 대장군)</td>
        <td>Go down to the basement of Prontera Castle and find the [Royal Guard].</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Palace Enemy 3</td>
        <td>Royal Guard (왕실 수호 기사)</td>
        <td>Kill the 10 [Zombie] who have broken into the Prontera Castle basement and then report back to the [Royal Guard].</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Palace Enemy 4</td>
        <td>Royal Guard (왕실 수호 기사)</td>
        <td>Find the 5 [Survivors], hand them the {% item id="1000562", name="Restorative Medicine (회복약)", imageFolder="items" %}, and then report back to the [Royal Guard].</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Palace Enemy 5</td>
        <td>Royal Guard (왕실 수호 기사)</td>
        <td>Burn 5 bodies before the dead soldiers come back to life as Zombies.</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Palace Enemy 6</td>
        <td>Royal Guard (왕실 수호 기사)</td>
        <td>Kill 10 [Transformed Ghoul] that have occupied the 2nd basement floor, then report to [Commander Spiegel].</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Palace Enemy 7</td>
        <td>Commander Spiegel (슈피겔 대장군)</td>
        <td>It's unclear what the [Heart of Ymir (이미르의 심장)] is, but they say it's a big deal if even a small fragment disappears, so let's get rid of the Golden Mask's puppet, the [Zombie of Anger (분노의 좀비)], and find the {% item id="788", name="Ymir's Heart Fragment (이미르의 심장 파편)", imageFolder="items" %}, then return to Commander Spiegel.</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Palace Enemy 8</td>
        <td>Commander Spiegel (슈피겔 대장군)</td>
        <td>Talk to Commander Spiegel in his room.</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Palace Enemy 9</td>
        <td>Sahario (사하리오)</td>
        <td>Talk to Sahario, the chief investigator.</td>
      </tr>
    </tbody>
  </table>

  <h2 id="item-compensation">Item Compensation</h2>

  <p>The first equipment set you get is similar to what has always been given to Novices, with the addition of a Starter Armor Box that you can open at Base Level 10.</p>

  <div class="flex flex-wrap justify-between mt-4">

    {% equipCard
      id="510046",
      folder="episode-1",
      name="Novice New Cutter [3]",
      requiredLevel="1",
      canWear="All",
      category="Dagger",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="0",
      atk="60"
    %}
      <ul class="border-t p-2">
        <li>A Cutter made for beginners.</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="5055",
      folder="episode-1",
      name="Novice False Eggshell",
      requiredLevel="1",
      canWear="Novice",
      category="Top Headgear",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="1",
      def="6"
    %}
      <ul class="border-t p-2">
        <li>100% fake Eggshell allegedly made by the secretive Moroccan Altang Club for novice adventurers. It's hard to believe it's fake!</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="2414",
      folder="episode-1",
      name="Novice Beach Sandals",
      requiredLevel="1",
      canWear="Novice",
      category="Shoes",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="1",
      def="5"
    %}
      <ul class="border-t p-2">
        <li>100% homemade novice sandals made by the secret society Payon Beach Sandal Production Committee. Seems like a conspiracy for a new beach fashion initiative.</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="2112",
      folder="episode-1",
      name="Novice Guard",
      requiredLevel="1",
      canWear="Novice",
      category="Guard",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="1",
      def="20"
    %}
      <ul class="border-t p-2">
        <li>100% hand-crafted novice shield made by the secret society Prontera Mat Club. The material must be strong. If you wear a Grim Novice Hood, Novice Guard, and Novice Beach Sandals, MaxHP +50, MaxSP +10.</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="2510",
      folder="episode-1",
      name="Grim Novice Hood",
      requiredLevel="1",
      canWear="Novice",
      category="Guard",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="1",
      def="4"
    %}
      <ul class="border-t p-2">
        <li>A hood made for novice adventures by the Aldebaran Secret Society meant to attract members who like darkness and gloom.</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="2352",
      folder="episode-1",
      name="Tattered Novice Ninja Suit",
      requiredLevel="1",
      canWear="Novice",
      category="Armor",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="1",
      def="25"
    %}
      <ul class="border-t p-2">
        <li>An armor allegedly made by the secret society called the Alberta Ninja Club for novices. It looks very ragged.</li>
        <li>Unable to refine.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="100815",
      fullWidth="1",
      folder="episode-1",
      name="Starter Armor Box (10)",
      requiredLevel="10",
      category="Etc",
      acquiredFrom="Clearing Missing Haeryongdo 1",
      weight="0"
    %}
      <ul class="border-t p-2">
        <li>A box containing a High Adventurer Set.</li>
        <li>--</li>
        <li>High Adventurer Suit [1]</li>
        <li>High Adventurer Hood [1]</li>
        <li>High Adventurer Sandals [1]</li>
        <li>High Adventurer Clip [1]</li>
        <li>Beginner Metal Weapon Ticket [1]</li>
      </ul>
    {% endequipCard %}
  
  </div>

  <p class="mt-4">The Starter Armor Box contains the High Adventurer Set as well as a Ticket for getting 1 of the Beginner Metal weapons.</p>

  <div class="flex flex-wrap justify-between mt-4">

    {% equipCard
      id="15410",
      folder="episode-1",
      name="High Adventurer Suit [1]",
      requiredLevel="1",
      canWear="All Jobs",
      category="Armor",
      acquiredFrom="Starter Armor Box (10)",
      weight="0",
      def="35"
    %}
      <ul class="border-t p-2">
        <li>A suit for a skilled adventurer embarking on new adventures.</li>
        <li>Unable to refine.</li>
        <li>MaxHP +300, MaxSP +100.</li>
        <li>When worn with High Adventure Hood, High Adventure Sandals, and High Adventure Clip, ATK +10, MATK +10, MaxHP +150, MaxSP +50, HIT +10.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="20953",
      folder="episode-1",
      name="High Adventurer Hood [1]",
      requiredLevel="1",
      canWear="All Jobs",
      category="Garment",
      acquiredFrom="Starter Armor Box (10)",
      weight="0",
      def="25"
    %}
      <ul class="border-t p-2">
        <li>A hood for a skilled adventurer embarking on new adventures.</li>
        <li>Unable to refine.</li>
        <li>HIT +10.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="22215",
      folder="episode-1",
      name="High Adventurer Sandals [1]",
      requiredLevel="1",
      canWear="All Jobs",
      category="Shoes",
      acquiredFrom="Starter Armor Box (10)",
      weight="0",
      def="25"
    %}
      <ul class="border-t p-2">
        <li>Sandals for a skilled adventurer embarking on new adventures.</li>
        <li>Unable to refine.</li>
        <li>ATK +15, MATK +15.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="32252",
      folder="episode-1",
      name="High Adventurer Clip [1]",
      requiredLevel="1",
      canWear="All Jobs",
      category="Accessory",
      acquiredFrom="Starter Armor Box (10)",
      weight="0",
      def="2"
    %}
      <ul class="border-t p-2">
        <li>A clip for a skilled adventurer embarking on new adventures.</li>
        <li>+5% ASPD, -5% Variable Cast Time.</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="1000557",
      folder="episode-1",
      name="Beginner Metal Weapon Ticket",
      category="Etc",
      acquiredFrom="Starter Armor Box (10)",
      weight="0"
    %}
      <ul class="border-t p-2">
        <li>A ticket used to get a Beginner Metal Weapon.</li>
        <li>If you take it to the [Equipment Operator (장비 교환원)] at the Criatura Academy, you can exchange it for one of the following items:
        <li>--</li>
        <li>Beginner Metal Two-Hand Sword [1]</li>
        <li>Beginner Metal Lance [1]</li>
        <li>Beginner Metal Mace [1]</li>
        <li>Beginner Metal Two-Hand Axe [1]</li>
        <li>Beginner Metal Dagger [1]</li>
        <li>Beginner Metal Staff [1]</li>
        <li>Beginner Metal Katar [1]</li>
        <li>Beginner Metal Bow [1]</li>
        <li>Beginner Metal Huuma Shuriken [1]</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="600006",
      folder="episode-1",
      name="Beginner Metal Two-Hand Sword [1]",
      requiredLevel="1",
      canWear="Swordsman series",
      category="2Hand Sword",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li>A two-handed sword for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>[Bowling Bash] damage increased by 15%.</li>
        <li>If +7, ATK + 20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="630002",
      folder="episode-1",
      name="Beginner Metal Lance [1]",
      requiredLevel="1",
      canWear="Swordsman series",
      category="2Hand Spear",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="100"
    %}
      <ul class="border-t p-2">
        <li>A lance for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>[Holy Cross] damage increased by 15%.</li>
        <li>If +7, ATK + 20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="590005",
      folder="episode-1",
      name="Beginner Metal Mace [1]",
      requiredLevel="1",
      canWear="Novice, Swordsman series, Acolyte series, Merchant series",
      category="Mace",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="80"
    %}
      <ul class="border-t p-2">
        <li>A mace for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>Indestructible.</li>
        <li>MATK +70, MaxSP +50.</li>
        <li>If Priest series is wearing, +15% [Heal].</li>
        <li>If Monk series is wearing, +15% [Chain Combo] damage.</li>
        <li>If +7, ATK + 20, [Heal] +5%.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="620002",
      folder="episode-1",
      name="Beginner Metal Two Hand Axe [1]",
      requiredLevel="1",
      canWear="Swordsman series, Merchant series",
      category="2H Axe",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="120"
    %}
      <ul class="border-t p-2">
        <li>A two-handed axe for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>Indestructible.</li>
        <li>If Blacksmith series is wearing, +3% critical damage.</li>
        <li>If Alchemist series is wearing, +15% [Acid Terror] damage.</li>
        <li>If +7, ATK + 20, +5% additional critical damage.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="510007",
      folder="episode-1",
      name="Beginner Metal Dagger [1]",
      requiredLevel="1",
      canWear="Novice, Swordsman series, Mage series, Archer series, Merchant series, Thief series, Ninja series",
      category="Dagger",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li>A dagger for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>+15% [Raid] & [Back Stab] damage.</li>
        <li>If +7, +10% ASPD.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="640003",
      folder="episode-1",
      name="Beginner Metal Staff [1]",
      requiredLevel="1",
      canWear="Mage series, Acolyte series",
      category="2Hand Staff",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="50"
    %}
      <ul class="border-t p-2">
        <li>A staff for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>Indestructible.</li>
        <li>MATK +110.</li>
        <li>+15% [Lord of Vermilion] damage.</li>
        <li>If +7, +2% MATK.</li>
        <li>If character is level 20 or higher, MATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="610005",
      folder="episode-1",
      name="Beginner Metal Katar [1]",
      requiredLevel="1",
      canWear="Assassin series",
      category="Katar",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="100"
    %}
      <ul class="border-t p-2">
        <li>A katar for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>+15% [Sonic Blow] damage.</li>
        <li>If +7, +5% critical damage.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="700006",
      folder="episode-1",
      name="Beginner Metal Bow [1]",
      requiredLevel="1",
      canWear="Archer series",
      category="Bow",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="80"
    %}
      <ul class="border-t p-2">
        <li>A bow for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>+15% [Blitz Beat] & [Double Strafe] damage.</li>
        <li>If +7, +7% additional [Blitz Beat] & [Double Strafe] damage.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="650002",
      folder="episode-1",
      name="Beginner Metal Huuma Shuriken [1]",
      requiredLevel="1",
      canWear="Archer series",
      category="Shuriken",
      level="3",
      acquiredFrom="Beginner Metal Weapon Ticket",
      weight="0",
      atk="120"
    %}
      <ul class="border-t p-2">
        <li>A Huuma Shuriken for beginners made of metal that is enhanced by adding Phracon and Emveretarcon to Steel.</li>
        <li>Indestructible.</li>
        <li>+15% [Throw Huuma Shuriken] damage.</li>
        <li>If +7, ATK +20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

  </div>

  <p class="mt-4">Then after completing the "Royal Palace Inspectorate 4" Quest, you can get one of the weapons below by turning in the {% item id="1000556", name="Royal Inspectorate Weapon Ticket (왕궁 조사단의 무기 교환권)", imageFolder="items" %} to the [Royal Palace Armory Manager (왕궁 무기고 관리자)].</p>

  <div class="flex flex-wrap justify-between mt-4">

    {% equipCard
      id="21061",
      folder="episode-1",
      name="Royal Inspectorate Two Hand Sword",
      requiredLevel="20",
      canWear="Swordsman series",
      category="2H Sword",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="176"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Two Hand Sword, which is full of his personal drive to perform well.</li>
        <li>If +7, ATK +20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="610030",
      folder="episode-1",
      name="Royal Inspectorate Katar",
      requiredLevel="20",
      canWear="Assassin series",
      category="Katar",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="160"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Katar, which is full of his personal drive to perform well.</li>
        <li>If +7, +5% critical damage.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="620013",
      folder="episode-1",
      name="Royal Inspectorate Two Hand Axe",
      requiredLevel="20",
      canWear="Swordsman series, Merchant series",
      category="2H Axe",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="192"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Two Hand Axe, which is full of his personal drive to perform well.</li>
        <li>Indestructible.</li>
        <li>If +7, +5% critical damage.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="630016",
      folder="episode-1",
      name="Royal Inspectorate Lance",
      requiredLevel="20",
      canWear="Swordsman series",
      category="2H Spear",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="160"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Lance, which is full of his personal drive to perform well.</li>
        <li>If +7, ATK +20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="640029",
      folder="episode-1",
      name="Royal Inspectorate Staff",
      requiredLevel="20",
      canWear="Mage series",
      category="2H Staff",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="80"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Staff, which is full of his personal drive to perform well.</li>
        <li>MATK +176.</li>
        <li>If +7, MATK +2%.</li>
        <li>If character is level 20 or higher, MATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="650014",
      folder="episode-1",
      name="Royal Inspectorate Huuma Shuriken",
      requiredLevel="20",
      canWear="Ninja series",
      category="Shuriken",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="192"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Huuma Shuriken, which is full of his personal drive to perform well.</li>
        <li>If +7, ATK +20.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="700044",
      folder="episode-1",
      name="Royal Inspectorate Bow",
      requiredLevel="20",
      canWear="Archer series",
      category="Bow",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="128"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Bow, which is full of his personal drive to perform well.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="510045",
      folder="episode-1",
      name="Royal Inspectorate Dagger",
      requiredLevel="20",
      canWear="Thief, Rogue series",
      category="Dagger",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="112"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Dagger, which is full of his personal drive to perform well.</li>
        <li>If +7, ASPD +10%.</li>
        <li>If character is level 20 or higher, ATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

    {% equipCard
      id="590031",
      folder="episode-1",
      name="Royal Inspectorate Mace",
      requiredLevel="20",
      canWear="Acolyte series",
      category="Mace",
      level="3",
      acquiredFrom="Royal Inspectorate Weapon Ticket",
      weight="0",
      atk="192"
    %}
      <ul class="border-t p-2">
        <li>Sahario's Royal Inspectorate Two Hand Axe, which is full of his personal drive to perform well.</li>
        <li>MATK +112.</li>
        <li>If +7, MATK +20.</li>
        <li>If character is level 20 or higher, MATK +3 for each Base Level increase of 10 (up to Base Level 90).</li>
        <li>This item cannot be traded with other accounts.</li>
      </ul>
    {% endequipCard %}

  </div>

  <p class="mt-4">After completing the final quest in the Episode 1, Part 1 series, you're given the following item.</p>

  <div class="flex flex-wrap justify-between mt-4">

    {% itemCard 
      widthClass="w-full",
      id="100842",
      name="Sahario's Special Reward Box"
    %}
      <ul class="border-t p-2">
        <li class="border-b mb-2 pb-2">A special reward box from Sahario. Do I really deserve such a gift?</li>
        <li class="mb-2">Contains the following items:</li>
        <li>{% item id="22545", name="10 [Event] Speed Potion", imageFolder="items" %}</li>
        <li>{% item id="23607", name="10 [Event] Unlimited Drink", imageFolder="items" %}</li>
        <li>{% item id="23726", name="10 [Event] Challenge Drink", imageFolder="items" %}</li>
        <li>{% item id="23728", name="10 [Event] Power Drink", imageFolder="items" %}</li>
        <li>{% item id="23604", name="10 [Event] Finest Course Meal", imageFolder="items" %}</li>
        <li>{% item id="23732", name="10 [Event] Mimir's Spring Water", imageFolder="items" %}</li>
        <li>{% item id="23657", name="10 [Event] Life Insurance", imageFolder="items" %}</li>
        <li class="mt-2">This item cannot be traded with other accounts.</li>
        <li>Weight: 0</li>
      </ul>
    {% enditemCard %}

  </div>

</article>