---
layout: /layouts/base.njk
title: Guild Dungeons
description: All about the updates to Guild Dungeons in kRO Zero
tags: update
---

<article>

  <h1 class="text-2xl mb-2">Guild Dungeons</h1>

  <p>In Guild Dungeons you can not only hunt monsters, but also battle with other players, and acquire various items and equipment that can be used in WoE.</p>

  <p>In a Guild Dungeon, it is possible to battle with all other players except for those in your guild. Even party members not in your same guild are hostile. When you die, you lose experience. Also, Guild Dungeons can not be used during WoE. If you are in a Guild Dungeon (GD) during that time, you will be moved to your save spot.</p>

  <h2>How to enter</h2>

  <p>Anyone can enter a Guild Dungeon after paying the Dungeon Manager NPC. Guild Members who occupy a Castle in the area can enter for free, without paying any fees.</p>

  <h3>Entry locations that cost 30,000 zeny</h3>

  <ul class="list-disc pl-8 mb-6">
    <li><strong>Valkyrie Realm (Prontera):</strong> prt_gld 156/99</li>
    <li><strong>Britoniah Realm (Geffen):</strong> gef_fild13 195/241</li>
    <li><strong>Balder Realm (Payon):</strong> pay_gld 200/180<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup></li>
    <li><strong>Luina Realm (Aldeberan):</strong> alde_gld 213/148<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup></li>
  </ul>


  <h3>Entry locations that are free for Castle owners of that realm</h3>

  <ul class="list-disc pl-8 mb-6">
    <li><strong>Valkyrie Realm (Prontera):</strong> prtg_cas01 94/200, prtg_cas02 84/72, prtg_cas04 56/283</li>
    <li><strong>Britoniah Realm (Geffen):</strong> gefg_cas01 78/84, gefg_cas02 167/40, gefg_cas04 58/75</li>
    <li><strong>Balder Realm (Payon):</strong> pay_gld 200/180, payg_cas03 38/42, payg_cas04 52/48<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup></li>
    <li><strong>Luina Realm (Aldeberan):</strong> aldeg_cas01 211/181, aldeg_cas03 200, 177, aldeg_cas05 22/205<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup></li>
  </ul>

  <h2>Monsters</h2>

  <h3>Valkyrie Realm (Prontera)</h3>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-49",
        image="creamy-fear.gif",
        name="Creamy Fear", 
        level="117",
        hp="54,633",
        class="Normal",
        family="Insect",
        property="Wind LV1",
        size="Small",
        defMdef="152/142",
        expJexp="7749/7425"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="caterpillar.gif",
        name="Caterpillar", 
        level="121",
        hp="77,721",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        defMdef="200/126",
        expJexp="9597/8772"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="caterpillar.gif",
        name="Enraged Caterpillar", 
        level="121",
        hp="388,865",
        class="Normal",
        family="Insect",
        property="Earth LV1",
        size="Small",
        defMdef="200/126",
        expJexp="47985/131580"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="old-treasure-chest.png",
        name="Old Treasure Chest", 
        level="99",
        hp="20",
        class="MVP",
        family="Formless",
        property="Fire LV4",
        size="Small",
        defMdef="100/0",
        expJexp="0/0"
    %}
  </div>

  <h3>Britoniah Realm (Geffen)</h3>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-49",
        image="wraith-dead.gif",
        name="Wraith Dead", 
        level="121",
        hp="112,260",
        class="Normal",
        family="Undead",
        property="Undead LV4",
        size="Large",
        defMdef="178/112",
        expJexp="10053/8316"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="zombie-master.gif",
        name="Zombie Master", 
        level="119",
        hp="75,891",
        class="Normal",
        family="Undead",
        property="Undead LV1",
        size="Medium",
        defMdef="158/92",
        expJexp="8673/7170"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="zombie-master.gif",
        name="Leader Zombie Master", 
        level="119",
        hp="379,455",
        class="Normal",
        family="Undead",
        property="Undead LV1",
        size="Medium",
        defMdef="158/92",
        expJexp="43365/107550"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="old-treasure-chest.png",
        name="Old Treasure Chest", 
        level="99",
        hp="20",
        class="MVP",
        family="Formless",
        property="Fire LV4",
        size="Small",
        defMdef="100/0",
        expJexp="0/0"
    %}
  </div>

  <h3>Balder Realm (Payon)</h3>

  <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-49",
        image="gullinbursti.gif",
        name="Gullinbursti", 
        level="118",
        hp="78,000",
        class="Normal",
        family="Brute",
        property="Earth LV2",
        size="Large",
        expJexp="8814/7552"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="savage.gif",
        name="Savage", 
        level="59",
        hp="2301",
        class="Normal",
        family="Brute",
        property="Earth LV2",
        size="Large",
        expJexp="0/0"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="leib-olmai.gif",
        name="Leib Olmai", 
        level="120",
        hp="105,000",
        class="Normal",
        family="Brute",
        property="Earth LV1",
        size="Large",
        expJexp="9766/8462"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="leib-olmai.gif",
        name="Robust Leib Olmai", 
        level="120",
        hp="1,050,000",
        class="Normal",
        family="Brute",
        property="Earth LV1",
        size="Large",
        expJexp="48830/126930"
    %}
    {% monsterCard 
        widthClass="w-full",
        image="moonlight-flower.gif",
        name="Moonlight Flower", 
        level="79",
        hp="324,000",
        class="Boss",
        family="Demon",
        property="Fire LV3",
        size="Medium",
        expJexp="183744/135720"
    %}
  </div>

  <h3>Luina Realm (Aldeberan)</h3>

  <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
        widthClass="ca-w-49",
        image="giant-hornet.gif",
        name="Giant Hornet", 
        level="116",
        hp="52,000",
        class="Normal",
        family="Insect",
        property="Wind LV1",
        size="Small",
        expJexp="7882/7076"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="giant-hornet.gif",
        name="Leader Giant Hornet", 
        level="116",
        hp="260,000",
        class="Normal",
        family="Insect",
        property="Wind LV1",
        size="Small",
        expJexp="39410/106140"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="ancient-worm.gif",
        name="Ancient Worm", 
        level="122",
        hp="99,000",
        class="Normal",
        family="Insect",
        property="Poison LV1",
        size="Large",
        expJexp="10498/9028"
    %}
    {% monsterCard 
        widthClass="ca-w-49",
        image="argiope.gif",
        name="Argiope", 
        level="75",
        hp="3105",
        class="Normal",
        family="Insect",
        property="Poison LV1",
        size="Large",
        expJexp="0/0"
    %}
    {% monsterCard 
        widthClass="w-full",
        image="mistress.gif",
        name="Mistress", 
        level="78",
        hp="378000",
        class="BOss",
        family="Insect",
        property="Wind LV4",
        size="Small",
        expJexp="184140/150660"
    %}
  </div>

  <h2>Monster Drop Information</h2>

  <p class="font-bold text-purple-600">*Removed by 2019.12.11 update</p>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Monster</th>
        <th>Drops</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Creamy Fear
        </td>
        <td>
          Butterfly Wing, Silver Robe [1], Honey, Fancy Flower, Violet Siege Potion Box, Guild Coin, Guild Coin Pouch, Creamy Fear Card
        </td>
      </tr>
      <tr>
        <td>
          Caterpillar
        </td>
        <td>
          Feather, Brigan, Guild Coin, Great Nature, Old Blue Box, Star Crumb, Guild Coin Pouch, Caterpillar Card
        </td>
      </tr>
      <tr>
        <td>
          Enraged Caterpillar
        </td>
        <td>
          Feather, Brigan, Guild Coin, Great Nature, Old Blue Box, Star Crumb, Guild Coin Pouch, Caterpillar Card
        </td>
      </tr>
      <tr>
        <td>
          Zombie Master
        </td>
        <td>
          Tattered Clothes, Sticky Mucus, Horrendous Mouth, Ruby, Opal, Guild Coin, Guild Coin Pouch, Zombie Master Card
        </td>
      </tr>
      <tr>
        <td>
          Wraith Dead
        </td>
        <td>
          Fabric, Veil, Manteau [1], Red Gemstone, 3carat Diamond, Guild Coin, Guild Coin Pouch, Wraith Dead Card
        </td>
      </tr>
      <tr>
        <td>
          Leader Zombie Master
        </td>
        <td>
          Tattered Clothes, Sticky Mucus, Horrendous Mouth, Ruby, Opal, Guild Coin, Guild Coin Pouch, Zombie Master Card
        </td>
      </tr>
      <tr>
        <td>
          Old Treasure Chest
        </td>
        <td>
          Guild Coin, Guild Coin Pouch
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Items</h2>

  <h3>General Items</h3>

  <p>You can obtain {% item id="25630", name="Guild Coin (길드 아지트 주화)", imageFolder="items" %} and {% item id="1000030", name="Guild Medal (길드 훈장)", imageFolder="items" %}<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup> by defeating monsters in the Guild Dungeon, and exchange them for various consumption and equipment items through the Guild Coin Merchant NPC in the Guild Office.</p>

  <ul class="list-disc pl-8 mb-6">
    <li><strong>Guild Office Location:</strong> prontera 75/102</li>
    <li><strong>Guild Coin Merchant:</strong> prt_in 210/161<sup class="font-bold text-purple-600">*Armor Merchant becomes Guild Coin Merchant, consolidating everything by the 2019.12.11 update</sup></li>
    <li><strong>Armor Vendor:</strong> prt_in 208/161<sup class="font-bold text-purple-600">*Removed by 2019.12.11 update</sup></li>
    <li><strong>Potions Wholesaler:</strong> prt_in 206/161<sup class="font-bold text-purple-600">*Removed by 2019.12.11 update</sup></li>
  </ul>

  <div class="flex flex-wrap justify-between">
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/25630" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/25630.png" alt="Guild Coin" />
          Guild Coin</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Guild Coin Pouch, Thick Guild Coin Pouch<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup>, Creamy Fear, Caterpillar, Enraged Caterpillar, Wraith Dead, Zombie Master, Leader Zombie Master
      </div>
      <ul class="border-t p-2">
        <li>A valuable coin that can be obtained in a Guild Dungeon.</li>
        <li>You can exchange these for items by taking them to the appropriate NPC.</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 0</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/1000030" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/1000030.png" alt="Guild Medal" />
          Guild Medal</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Ancient Worm, Leib Olmai, Robust Leib Olmai, Gullinbursti, Giant Hornet, Leader Giant Hornet, Old Treasure Chest, 500 Guild Castle Coin
      </div>
      <ul class="border-t p-2">
        <li>A valuable medal that can be obtained in a Guild Dungeon.</li>
        <li>You can exchange these for items by taking them to the appropriate NPC.</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 5</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/23712" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/23712.png" alt="Guild Coin Pouch" />
          Guild Coin Pouch</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Creamy Fear, Caterpillar, Enraged Caterpillar, Wraith Dead, Zombie Master, Leader Zombie Master, Old Treasure Chest
      </div>
      <ul class="border-t p-2">
        <li>A pouch containing Guild Coins. When used, a random number of Guild Coin will appear.</li>
        <li>Caution! If you open the pouch and exceed your weight or item limit, the item may be lost!</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 10</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/100110" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/100110.png" alt="Thick Guild Coin Pouch" />
          Thick Guild Coin Pouch</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Ancient Worm, Leib Olmai, Robust Leib Olmai, Gullinbursti, Giant Hornet, Leader Giant Hornet, Creamy Fear, Caterpillar, Enraged Caterpillar, Wraith Dead, Zombie Master, Leader Zombie Master, Old Treasure Chest
      </div>
      <ul class="border-t p-2">
        <li>A pouch bursting with Guild Coins. When used, a random number of Guild Coin will appear.</li>
        <li>Caution! If you open the pouch and exceed your weight or item limit, the item may be lost!</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 20</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/11547" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/11547.png" alt="Violet Siege Potion" />
          Violet Siege Potion</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Old Treasure Chest, Violet Siege Potion Box, 2 Guild Coin
      </div>
      <ul class="border-t p-2">
        <li>Can only be used in PVP, Town, and WoE areas.</li>
        <li>It has a rich taste of red and blue and has a feeling of familiarity like the Mjolnir Mountains.</li>
        <li>Recovers about 500 HP and about 60 SP.</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 8</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/1100001" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/1100001.png" alt="Large Violet Siege Potion" />
          Large Violet Siege Potion</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Ancient Worm, Leib Olmai, Robust Leib Olmai, Gullinbursti, Giant Hornet, Leader Giant Hornet, Old Treasure Chest, 5 Guild Coin
      </div>
      <ul class="border-t p-2">
        <li>Can only be used in PVP, Town, and WoE areas.</li>
        <li>It has a rich taste of red and blue and has a feeling of familiarity like the Mjolnir Mountains.</li>
        <li>Boasts a 50% increase in capacity compared to the normal-sized one.</li>
        <li>Recovers about 750 HP and about 100 SP.</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 10</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/12676" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/12676.png" alt="Violet Siege Potion Box" />
          Violet Siege Potion Box</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> Giant Hornet, Leader Giant Hornet<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup>, Creamy Fear, 90 Guild Coin
      </div>
      <ul class="border-t p-2">
        <li>Can only be used in PVP, Town, and WoE areas.</li>
        <li>A box containing 50 Violet Siege Potions. Note: Consuming these potions anywhere but in PVP/WoE areas and Town has no effect!</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 10</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/22545" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/22545.png" alt="[Event] Speed Potion" />
          [Event] Speed Potion</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> 3 Guild Medal
      </div>
      <ul class="border-t p-2">
        <li>A mysterious potion that speeds up a character very quickly for a short period of time.</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 10</li>
        <li>Cannot be traded</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/23312" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/23312.png" alt="Chemicals Bag" />
          Chemicals Bag</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> 50 Guild Medal
      </div>
      <ul class="border-t p-2">
        <li>A bag commonly used by researchers in the Alchemist Association. Contains one each of the following: Bottle Grenade (화염병), Acid Bottle (염산병), Plant Bottle (식인식물병), Glistening Coat (코팅약), Marine Sphere Bottle (기뢰병), Poison Bottle (독약병).</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 1</li>
        <li>All moveable</li>
      </ul>
    </div>
    <div class="border-2 rounded-md text-sm mb-4 ca-w-49">
      <div class="border-b rounded-t-md p-2 bg-blue-100">
        <a href="https://divine-pride.net/database/item/100115" target="_blank" rel="noopener noreferrer">
          <img class="inline-block mr-2" src="/images/items/100115.png" alt="Greater Guild Enchant Box" />
          Greater Guild Enchant Box</a>
      </div>
      <div class="border-t p-2">
        <span class="font-bold">Obtained From:</span> 3000 Guild Coin
      </div>
      <ul class="border-t p-2">
        <li>A box containing enchants that can be given to Greater Guild equipment. You don't know what's in it until it opens.</li>
        <li class="font-bold text-purple-600">*Added by 2019.12.11 update</li>
      </ul>
      <ul class="border-t p-2">
        <li><strong>Weight:</strong> 10</li>
        <li>All moveable</li>
      </ul>
    </div>
  </div>

  <h3>Cards</h3>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Card</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4274/" target="_blank" rel="noopener noreferrer">Zombie Master Card</a>
        </td>
        <td>
          Whenever an Undead race monster is killed with a melee physical attack, the user recovers SP by 5. Drains 5 SP as the weapon is unequipped.<br/>
          Compounded on: Weapon<br/>
          Suffix: of Undead Soul Eater
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4189/" target="_blank" rel="noopener noreferrer">Wraith Dead Card</a>
        </td>
        <td>
          Adds a 6% chance of casting Curse on an enemy when receiving a physical attack.<br/>
          Compounded on: Armor<br/>
          Suffix: of Misfortune
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4298/" target="_blank" rel="noopener noreferrer">Creamy Fear Card</a>
        </td>
        <td>
          Adds a 6% chance of casting Confusion on an enemy when receiving a physical attack.<br/>
          Compounded on: Armor<br/>
          Suffix: of Mayhem
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4289/" target="_blank" rel="noopener noreferrer">Caterpillar Card</a>
        </td>
        <td>
          Whenever a Plant race monster is killed with a melee physical attack, the user recovers SP by 5. Drains 5 SP as the weapon is unequipped.<br/>
          Compounded on: Weapon<br/>
          Suffix: of Plant Soul Eater
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4164/" target="_blank" rel="noopener noreferrer">Gullinbursti Card</a>
        </td>
        <td>
          Each time you kill a Fish-race monster, +10% on EXP gained.Increases physical damage taken from Fish-race monsters by 20%.<br/>
          Compounded on: Shoes<br/>
          Prefix: Angler's
          <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4188/" target="_blank" rel="noopener noreferrer">Leib Olmai Card</a>
        </td>
        <td>
          Whenever you kill a Brute-race monster, there is a chance to get Red Blood. Increases resistance to fire attacks by 10%.<br/>
          Compounded on: Helm<br/>
          Suffix: of Redstone
          <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4271/" target="_blank" rel="noopener noreferrer">Giant Hornet Card</a>
        </td>
        <td>
          Whenever you kill an Insect-race monster, you have a chance to get a Wind of Verdure. 10% increased resistance to wind attacks.<br/>
          Compounded on: Helm<br/>
          Suffix: of Yellowstone
          <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://divine-pride.net/database/item/4249/" target="_blank" rel="noopener noreferrer">Ancient Worm Card</a>
        </td>
        <td>
          Each time you kill a Demon-race monster, +10% on EXP gained.Increases physical damage taken from Demon-race monsters by 20%.<br/>
          Compounded on: Shoes<br/>
          Prefix: Exorcist's
          <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Weapons & Equipment</h3>

  <p>Weapons and Equipment can be purchased with Guild Coins from the Guild Coin Merchant located in the Guild Office.</p>

  <p>Greater Guild Equipment can be crafted with +7 Lesser Guild Equipment and Guild Coins. Greater Guild Merchant located in the Guild Office at prt_in 206, 161.<sup class="font-bold text-purple-600">*Added by 2019.12.11 update</sup></p>

  <h4>Lesser Guild Weapons</h4>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="1329",
      folder="guild",
      name="Lesser Guild Cleaver",
      requiredLevel="70",
      canWear="Swordsman, Merchant",
      category="One-handed Ax",
      craftedFrom="1000 Guild Coin",
      weight="100",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to inflict Level 1 [Fatal Wound] when using Acid Terror and Mammonite skills.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="16085",
      folder="guild",
      name="Lesser Guild Morning Star",
      requiredLevel="70",
      canWear="Novice, Swordsman, Merchant, Acolyte",
      category="Mace",
      craftedFrom="1000 Guild Coin",
      weight="90",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to increase ASPD by 10% and the ability to [Stun] when using normal physical attacks, with [Stun] rate increasing according to [Mace Mastery] level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="32015",
      folder="guild",
      name="Lesser Guild Pike",
      requiredLevel="70",
      canWear="Swordsman",
      category="One-handed Spear",
      craftedFrom="1000 Guild Coin",
      weight="90",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Provoke] is successful against a target, has a chance to activate for 10 seconds an increase in [Pierce] damage by 20% and a chance for [Pierce] to [Stun] and [Blind] the enemy. Depending on the level of [Spear Mastery], the damage, [Stun], and [Blind] probability of [Pierce] are increased for those 10 seconds.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="13490",
      folder="guild",
      name="Lesser Guild Flamberge",
      requiredLevel="70",
      canWear="Crusader",
      category="One-handed Sword",
      craftedFrom="1000 Guild Coin",
      weight="70",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, if [Devotion] is successfully cast on the target, for 30 seconds +1000 MaxHP for the caster, with an additional +50 MaxHP per 1 refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28036",
      folder="guild",
      name="Lesser Guild Jamadhar",
      requiredLevel="70",
      canWear="Assassin",
      category="Katar",
      craftedFrom="1000 Guild Coin",
      weight="60",
      level="3",
      atk="125"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to activate for 7 seconds +20% critical damage when doing a normal physical attack, with that critical damage increasing by 2% per weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="21044",
      folder="guild",
      name="Lesser Guild Claymore",
      requiredLevel="70",
      canWear="Swordsman",
      category="Two-handed Sword",
      craftedFrom="1000 Guild Coin",
      weight="130",
      level="3",
      atk="175"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to activate for 7 seconds ignoring an additional 10% of a player's DEF when doing a normal physical attack.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="1859",
      folder="guild",
      name="Lesser Guild Fist",
      requiredLevel="70",
      canWear="Monk",
      category="Knuckle",
      craftedFrom="1000 Guild Coin",
      weight="30",
      level="3",
      atk="40"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, [Asura Strike] fixed casting -30%. For 20 seconds after using [Explosion Spirits] ATK +30, with an additional ATK increase per weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26146",
      folder="guild",
      name="Lesser Guild Healing Staff",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="One-handed Staff",
      craftedFrom="1000 Guild Coin",
      weight="50",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li>MATK +125.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+10% increased heal amount.</li>
        <li>-5% after cast delay.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased heal amount, and -2% SP consumption for [Increase Agility] and [Blessing].</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, +5% additional heal amount.</li>
        <li>If +9 or higher, +10% additional heal amount.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Heal], has a chance to activate +25% heal amount for 10 seconds, with that heal amount increasing by an additional 1% per refine rate.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28133",
      folder="guild",
      name="Lesser Guild Two-handed Ax",
      requiredLevel="70",
      canWear="Blacksmith, Alchemist",
      category="Two-handed Ax",
      craftedFrom="1000 Guild Coin",
      weight="150",
      level="3",
      atk="175"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players, has a chance of triggering [Fatal Wound] on a normal physical attack, and +10% ASPD.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Power Thrust], has a chance to activate the ability to destroy a player's weapon when physically attacking for 20 seconds. Destruction chance increases according to refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26019",
      folder="guild",
      name="Lesser Guild Lance",
      requiredLevel="70",
      canWear="Swordsman",
      category="Two-handed Spear",
      craftedFrom="1000 Guild Coin",
      weight="130",
      level="3",
      atk="220"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players, has a chance of triggering [Fatal Wound] on a normal physical attack, and +10% ASPD.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Pierce] is used there is a chance to [Stun] the enemy, with the stun chance increasing according to weapon refine. When using [Holy Cross], there is a certain chance of inflicting [Silence] on the enemy, with that chance increasing according to weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="2052",
      folder="guild",
      name="Lesser Guild Staff",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="Two-handed Staff",
      craftedFrom="1000 Guild Coin",
      weight="80",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li>MATK + 180.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MATK +15% against players.</li>
        <li>Ignores 10% of player's MDEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased magical damage against players, +3% [Meteor Storm] and [Storm Gust] damage, MaxHP -2%.</li>
        <li>Per 2 refine, MATK +5.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 10% of a player's MDEF.</li>
        <li>If +9 or higher, +5% additional MATK against players.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="18175",
      folder="guild",
      name="Lesser Guild Hunter Bow",
      requiredLevel="70",
      canWear="Thief, Archer, Rogue",
      category="Bow",
      craftedFrom="1000 Guild Coin",
      weight="50",
      level="3",
      atk="90"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Improve Concentration] is used, has a chance to activate a 20% increase in [Double Strafe] damage and add +20 HIT for 10 seconds, with that HIT and [Double Strafe] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="32103",
      folder="guild",
      name="Lesser Guild Guitar",
      requiredLevel="70",
      canWear="Bard",
      category="Musical Instrument",
      craftedFrom="1000 Guild Coin",
      weight="40",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Adaptation to Circumstances] is used, has a chance to activate a 30% increase in [Musical Strike] damage, add +20 HIT, and decrease variable casting by 30% for 60 seconds, with that HIT and [Musical Strike] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26210",
      folder="guild",
      name="Lesser Guild Lariat",
      requiredLevel="70",
      canWear="Dancer",
      category="Whip",
      craftedFrom="1000 Guild Coin",
      weight="40",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Adaptation to Circumstances] is used, has a chance to activate a 30% increase in [Throw Arrow] damage, add +20 HIT, and decrease variable casting by 30% for 60 seconds, with that HIT and [Throw Arrow] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28751",
      folder="guild",
      name="Lesser Guild Gladius",
      requiredLevel="70",
      canWear="Novice, Swordsman, Archer, Thief, Mage, Merchant, Ninja, Soul Linker",
      category="Dagger",
      craftedFrom="1000 Guild Coin",
      weight="30",
      level="3",
      atk="90"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Hide], has a chance to activate +50% [Raid] damage and HIT +30 for 20 seconds.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26147",
      folder="guild",
      name="Lesser Guild Arc Wand",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="Staff",
      craftedFrom="1000 Guild Coin",
      weight="50",
      level="3",
      atk="60"
    %}
      <ul class="border-t p-2">
        <li>MATK + 115.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MATK +15% against players.</li>
        <li>Ignores 10% of player's MDEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased magical damage against players.</li>
        <li>Per 2 refine, MATK +5.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5 of a player's MDEF.</li>
        <li>If +9 or higher, +5% additional MATK against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, -30% variable cast time for [Land Protector]. When using [Deluge], [Violent Gale], or [Volcano], has a chance to activate for 10 seconds a reduction in gemstone consumption by 1 for all magic.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="650000",
      folder="guild",
      name="Lesser Guild Huuma Shuriken",
      requiredLevel="70",
      canWear="Ninja",
      category="H. Shuriken",
      craftedFrom="1000 Guild Coin",
      weight="150",
      level="3",
      atk="175"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Throw Huuma Shuriken], has a chance to activate ignoring an additional 10% of the player's DEF for 20 seconds, with this percentage increasing by 1% per weapon refine level.</li>
        <li class="font-bold text-purple-600">*Added with Ninja</li>
      </ul>
    {% endequipCard %}
  </div>

  <h4>Lesser Guild Equipment</h4>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="15216",
      folder="guild",
      name="Lesser Guild Robe [1]",
      requiredLevel="70",
      canWear="Novice, Mage, Acolyte, Soul Linker",
      category="Armor",
      craftedFrom="200 Guild Coin",
      weight="50",
      def="25"
    %}
      <ul class="border-t p-2">
        <li>A robe made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +700, MaxSP +50, MDEF +5, Player Resistance +2%</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Lesser Guild Shoes and Lesser Guild Muffler, HP +700 and Player Resistance +6%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="15217",
      folder="guild",
      name="Lesser Guild Suit [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Thief, Archer, Ninja",
      category="Armor",
      craftedFrom="200 Guild Coin",
      weight="150",
      def="30"
    %}
      <ul class="border-t p-2">
        <li>A suit made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +800, MDEF +5, Player Resistance +3%</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Lesser Guild Boots and Lesser Guild Manteau, HP +800 and Player Resistance +7%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="15218",
      folder="guild",
      name="Lesser Guild Plate [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Taekwon Kid, Taekwon Master",
      category="Armor",
      craftedFrom="200 Guild Coin",
      weight="150",
      def="30"
    %}
      <ul class="border-t p-2">
        <li>A plate made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +900, Player Resistance +4%</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Lesser Guild Greaves and Lesser Guild Manteau, HP +900 and Player Resistance +8%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="20864",
      folder="guild",
      name="Lesser Guild Manteau [1]",
      requiredLevel="70",
      canWear="All jobs except Novice",
      category="Garment",
      craftedFrom="200 Guild Coin",
      weight="30",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>A cloak made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +250, Player Resistance +2%, MDEF +1</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="20865",
      folder="guild",
      name="Lesser Guild Muffler [1]",
      requiredLevel="70",
      canWear="All jobs",
      category="Garment",
      craftedFrom="200 Guild Coin",
      weight="15",
      def="7"
    %}
      <ul class="border-t p-2">
        <li>A muffler made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +150, Player Resistance +1%, MDEF +1</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="22146",
      folder="guild",
      name="Lesser Guild Shoes [1]",
      requiredLevel="70",
      canWear="Novice, Mage, Acolyte, Soul Linker",
      category="Shoes",
      craftedFrom="200 Guild Coin",
      weight="20",
      def="7"
    %}
      <ul class="border-t p-2">
        <li>Shoes made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +250, Player Resistance +1%, MDEF +5</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="22147",
      folder="guild",
      name="Lesser Guild Boots [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Thief, Archer, Ninja",
      category="Shoes",
      craftedFrom="200 Guild Coin",
      weight="50",
      def="10"
    %}
      <ul class="border-t p-2">
        <li>Boots made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +400, Player Resistance +2%, MDEF +3</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="22148",
      folder="guild",
      name="Lesser Guild Greaves [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Taekwon Kid, Taekwon Master",
      category="Shoes",
      craftedFrom="200 Guild Coin",
      weight="80",
      def="15"
    %}
      <ul class="border-t p-2">
        <li>Greaves made to be easily worn by beginners.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +500, Player Resistance +3%, MDEF +1</li>
      </ul>
    {% endequipCard %}
  </div>

  <h4>Greater Guild Weapons</h4>

  <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>

  <p>The only difference between this and the Lesser Guild weapons is increased ATK/MATK, and that these are enchantable.</p>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="520001",
      folder="guild",
      name="Greater Guild Cleaver",
      requiredLevel="70",
      canWear="Swordsman, Merchant",
      category="One-handed Ax",
      craftedFrom="1000 Guild Coin, 1 +7 Lesser Guild Cleaver",
      weight="100",
      level="3",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to inflict Level 1 [Fatal Wound] when using Acid Terror and Mammonite skills.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="590004",
      folder="guild",
      name="Greater Guild Morning Star",
      requiredLevel="70",
      canWear="Novice, Swordsman, Merchant, Acolyte",
      category="Mace",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Morning Star",
      weight="90",
      level="3",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to increase ASPD by 10% and the ability to [Stun] when using normal physical attacks, with [Stun] rate increasing according to [Mace Mastery] level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="530001",
      folder="guild",
      name="Greater Guild Pike",
      requiredLevel="70",
      canWear="Swordsman",
      category="One-handed Spear",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Pike",
      weight="90",
      level="3",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Provoke] is successful against a target, has a chance to activate for 10 seconds an increase in [Pierce] damage by 20% and a chance for [Pierce] to [Stun] and [Blind] the enemy. Depending on the level of [Spear Mastery], the damage, [Stun], and [Blind] probability of [Pierce] are increased for those 10 seconds.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="500006",
      folder="guild",
      name="Greater Guild Flamberge",
      requiredLevel="70",
      canWear="Crusader",
      category="One-handed Sword",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Flamberge",
      weight="70",
      level="3",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, if [Devotion] is successfully cast on the target, for 30 seconds +1000 MaxHP for the caster, with an additional +50 MaxHP per 1 refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="610004",
      folder="guild",
      name="Greater Guild Jamadhar",
      requiredLevel="70",
      canWear="Assassin",
      category="Katar",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Jamadhar",
      weight="60",
      level="3",
      atk="145"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to activate for 7 seconds +20% critical damage when doing a normal physical attack, with that critical damage increasing by 2% per weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="600005",
      folder="guild",
      name="Greater Guild Claymore",
      requiredLevel="70",
      canWear="Swordsman",
      category="Two-handed Sword",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Claymore",
      weight="130",
      level="3",
      atk="195"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, has a chance to activate for 7 seconds ignoring an additional 10% of a player's DEF when doing a normal physical attack.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="560003",
      folder="guild",
      name="Greater Guild Fist",
      requiredLevel="70",
      canWear="Monk",
      category="Knuckle",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Fist",
      weight="30",
      level="3",
      atk="80"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, [Asura Strike] fixed casting -30%. For 20 seconds after using [Explosion Spirits] ATK +30, with an additional ATK increase per weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="550004",
      folder="guild",
      name="Greater Guild Healing Staff",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="One-handed Staff",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Healing Staff",
      weight="50",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li>MATK +145.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+10% increased heal amount.</li>
        <li>-5% after cast delay.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased heal amount, and -2% SP consumption for [Increase Agility] and [Blessing].</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, +5% additional heal amount.</li>
        <li>If +9 or higher, +10% additional heal amount.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Heal], has a chance to activate +25% heal amount for 10 seconds, with that heal amount increasing by an additional 1% per refine rate.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="620001",
      folder="guild",
      name="Greater Guild Two-handed Ax",
      requiredLevel="70",
      canWear="Blacksmith, Alchemist",
      category="Two-handed Ax",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Two-handed Ax",
      weight="150",
      level="3",
      atk="195"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players, has a chance of triggering [Fatal Wound] on a normal physical attack, and +10% ASPD.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Power Thrust], has a chance to activate the ability to destroy a player's weapon when physically attacking for 20 seconds. Destruction chance increases according to refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="630001",
      folder="guild",
      name="Greater Guild Lance",
      requiredLevel="70",
      canWear="Swordsman",
      category="Two-handed Spear",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Lance",
      weight="130",
      level="3",
      atk="240"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players, has a chance of triggering [Fatal Wound] on a normal physical attack, and +10% ASPD.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Pierce] is used there is a chance to [Stun] the enemy, with the stun chance increasing according to weapon refine. When using [Holy Cross], there is a certain chance of inflicting [Silence] on the enemy, with that chance increasing according to weapon refine.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="640001",
      folder="guild",
      name="Greater Guild Staff",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="Two-handed Staff",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Staff",
      weight="80",
      level="3",
      atk="70"
    %}
      <ul class="border-t p-2">
        <li>MATK + 200.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MATK +15% against players.</li>
        <li>Ignores 10% of player's MDEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased magical damage against players, +3% [Meteor Storm] and [Storm Gust] damage, MaxHP -2%.</li>
        <li>Per 2 refine, MATK +5.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 10% of a player's MDEF.</li>
        <li>If +9 or higher, +5% additional MATK against players.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="700005",
      folder="guild",
      name="Lesser Guild Hunter Bow",
      requiredLevel="70",
      canWear="Thief, Archer, Rogue",
      category="Bow",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Hunter Bow",
      weight="50",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+20% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Improve Concentration] is used, has a chance to activate a 20% increase in [Double Strafe] damage and add +20 HIT for 10 seconds, with that HIT and [Double Strafe] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="570003",
      folder="guild",
      name="Greater Guild Guitar",
      requiredLevel="70",
      canWear="Bard",
      category="Musical Instrument",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Guitar",
      weight="40",
      level="3",
      atk="90"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Adaptation to Circumstances] is used, has a chance to activate a 30% increase in [Musical Strike] damage, add +20 HIT, and decrease variable casting by 30% for 60 seconds, with that HIT and [Musical Strike] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="580003",
      folder="guild",
      name="Greater Guild Lariat",
      requiredLevel="70",
      canWear="Dancer",
      category="Whip",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Lariat",
      weight="40",
      level="3",
      atk="90"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when [Adaptation to Circumstances] is used, has a chance to activate a 30% increase in [Throw Arrow] damage, add +20 HIT, and decrease variable casting by 30% for 60 seconds, with that HIT and [Throw Arrow] damage additionally increasing depending on the weapon's refine level.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="510005",
      folder="guild",
      name="Greater Guild Gladius",
      requiredLevel="70",
      canWear="Novice, Swordsman, Archer, Thief, Mage, Merchant, Ninja, Soul Linker",
      category="Dagger",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Gladius",
      weight="30",
      level="3",
      atk="110"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+15% increase in physical damage against players.</li>
        <li>Ignores 5% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Hide], has a chance to activate +50% [Raid] damage and HIT +30 for 20 seconds.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="550005",
      folder="guild",
      name="Greater Guild Arc Wand",
      requiredLevel="70",
      canWear="Mage, Acolyte, Soul Linker",
      category="Staff",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Arc Wand",
      weight="50",
      level="3",
      atk="60"
    %}
      <ul class="border-t p-2">
        <li>MATK + 140.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MATK +15% against players.</li>
        <li>Ignores 10% of player's MDEF.</li>
        <li>Indestructible.</li>
        <li>Per refine, +1% increased magical damage against players.</li>
        <li>Per 2 refine, MATK +5.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5 of a player's MDEF.</li>
        <li>If +9 or higher, +5% additional MATK against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, -30% variable cast time for [Land Protector]. When using [Deluge], [Violent Gale], or [Volcano], has a chance to activate for 10 seconds a reduction in gemstone consumption by 1 for all magic.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="650001",
      folder="guild",
      name="Greater Guild Huuma Shuriken",
      requiredLevel="70",
      canWear="Ninja",
      category="H. Shuriken",
      craftedFrom="1000 Guild Coin, +7 Lesser Guild Huuma Shuriken",
      weight="150",
      level="3",
      atk="195"
    %}
      <ul class="border-t p-2">
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>+25% increase in physical damage against players.</li>
        <li>Ignores 10% of the player's DEF.</li>
        <li>Per refine, +1% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +7 or higher, ignores an additional 5% of the player's DEF.</li>
        <li>If +9 or higher, +15% additional increase in physical damage against players.</li>
        <li><hr class="my-2" /></li>
        <li>If +10 or higher, when using [Throw Huuma Shuriken], has a chance to activate ignoring an additional 10% of the player's DEF for 20 seconds, with this percentage increasing by 1% per weapon refine level.</li>
      </ul>
    {% endequipCard %}
  </div>

  <h4>Greater Guild Equipment</h4>

  <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="450012",
      folder="guild",
      name="Greater Guild Robe [1]",
      requiredLevel="70",
      canWear="Novice, Mage, Acolyte, Soul Linker",
      category="Armor",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Robe",
      weight="50",
      def="25"
    %}
      <ul class="border-t p-2">
        <li>A robe designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +1050, MaxSP +150, MDEF +5, Player Resistance +3%</li>
        <li>If +7 or greater, MATK +5%.</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Greater Guild Shoes and Greater Guild Muffler, HP +1600 and Player Resistance +7%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="450013",
      folder="guild",
      name="Greater Guild Suit [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Thief, Archer, Ninja",
      category="Armor",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Suit",
      weight="150",
      def="30"
    %}
      <ul class="border-t p-2">
        <li>A suit designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +1150, SP +100, MDEF +5, Player Resistance +4%</li>
        <li>If +7 or greater, ATK +5%.</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Greater Guild Boots and Greater Guild Manteau, HP +1800 and Player Resistance +8%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="450014",
      folder="guild",
      name="Greater Guild Plate [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Taekwon Kid, Taekwon Master",
      category="Armor",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Plate",
      weight="150",
      def="30"
    %}
      <ul class="border-t p-2">
        <li>A plate designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +1250, SP +50, Player Resistance +5%</li>
        <li>If +7 or greater, +2% additional Player Resistance.</li>
        <li><hr class="my-2" /></li>
        <li>If the sum of the refine rate is 21+ when equipped with Greater Guild Greaves and Greater Guild Manteau, HP +2000 and Player Resistance +9%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="480008",
      folder="guild",
      name="Greater Guild Manteau [1]",
      requiredLevel="70",
      canWear="All jobs except Novice",
      category="Garment",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Manteau",
      weight="30",
      def="16"
    %}
      <ul class="border-t p-2">
        <li>A manteau designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +350, Player Resistance +3%, MDEF +2</li>
        <li>If +7 or greater, +2% additional Player Resistance.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="480007",
      folder="guild",
      name="Greater Guild Muffler [1]",
      requiredLevel="70",
      canWear="All jobs",
      category="Garment",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Muffler",
      weight="15",
      def="7"
    %}
      <ul class="border-t p-2">
        <li>A muffler designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +250, Player Resistance +3%, MDEF +2</li>
        <li>If +7 or greater, ATK +35, MATK +35.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="470011",
      folder="guild",
      name="Greater Guild Shoes [1]",
      requiredLevel="70",
      canWear="Novice, Mage, Acolyte, Soul Linker",
      category="Shoes",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Shoes",
      weight="20",
      def="7"
    %}
      <ul class="border-t p-2">
        <li>Shoes designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +350, Player Resistance +1%, MDEF +7</li>
        <li>If +7 or greater, MaxHP +10%, +1% additional Player Resistance.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="470012",
      folder="guild",
      name="Greater Guild Boots [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Thief, Archer, Ninja",
      category="Shoes",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Boots",
      weight="50",
      def="10"
    %}
      <ul class="border-t p-2">
        <li>Boots designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +550, Player Resistance +2%, MDEF +4</li>
        <li>If +7 or greater, MaxHP +10%, +1% additional Player Resistance.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="470013",
      folder="guild",
      name="Greater Guild Greaves [1]",
      requiredLevel="70",
      canWear="Swordsman, Merchant, Taekwon Kid, Taekwon Master",
      category="Shoes",
      craftedFrom="500 Guild Coin, +7 Lesser Guild Greaves",
      weight="80",
      def="15"
    %}
      <ul class="border-t p-2">
        <li>Greaves designed for seasoned guild members.</li>
        <li class="text-red-600">"PVP and WoE-area options only"</li>
        <li>MaxHP +750, Player Resistance +3%, MDEF +2</li>
        <li>If +7 or greater, MaxHP +10%, +1% additional Player Resistance.</li>
      </ul>
    {% endequipCard %}
  </div>

  <h3>Enchants</h3>

  <p class="font-bold text-purple-600">*Added by 2019.12.11 update</p>

  <ul class="list-disc pl-8">
    <li>One can enchant or reset enchantments on Greater Guild Member Armor & Weapons.</li>
    <li>Enchants are obtained from the Greater Guild Enchant Box (see above).</li>
    <li>While wearing the Greater Guild Member Armor or Weapon, and while having the Greater Guild Enchant Box in your inventory, you can talk to [Sertis Maple] in the Guild Office at prt_in 202, 164 to grant an enchant. Sertis Maple will also reset enchants.</li>
  </ul>

  <h4>Enchant Reset</h4>

  <ul class="list-disc pl-8">
    <li>To reset, item must have at least one enchant.</li>
    <li>Sertis Maple (prt_in 202, 164) can reset your enchants.</li>
    <li>For 25% reset chance, pay 700,000 zeny + 2 Guild Medal.</li>
    <li>For 100% reset chance, pay 25 Gel Star.</li>
    <li>On failure the equipment is NOT destroyed, regardless of payment method used.</li>
  </ul>

  <h4>Equipment Able To Enchant</h4>

  <ul class="list-disc pl-8">
    <li>Greater Guild Robe</li>
    <li>Greater Guild Suit</li>
    <li>Greater Guild Plate</li>
    <li>Greater Guild Cleaver</li>
    <li>Greater Guild Morning Star</li>
    <li>Greater Guild Pike</li>
    <li>Greater Guild Flamberge</li>
    <li>Greater Guild Jamadhar</li>
    <li>Greater Guild Claymore</li>
    <li>Greater Guild Fist</li>
    <li>Greater Guild Healing Staff</li>
    <li>Greater Guild Two-handed Ax</li>
    <li>Greater Guild Lance</li>
    <li>Greater Guild Staff</li>
    <li>Greater Guild Hunter Bow</li>
    <li>Greater Guild Guitar</li>
    <li>Greater Guild Lariat</li>
    <li>Greater Guild Gladius</li>
    <li>Greater Guild Arc Wand</li>
    <li>Greater Guild Huuma Shuriken</li>
  </ul>

  <h4>Enchant List</h4>

  <ul class="list-disc pl-8">
    <li>Enchants can be assigned to the 3rd or 4th slot.</li>
    <li>The same enchant can be given multiple times.</li>
    <li>Enchants are divided into two groups: armor-only and weapon-only. Within each group, any enchant can be assigned to any piece.</li>
  </ul>

  <h4>Armor-only Enchants</h4>

  <div class="flex flex-wrap justify-between mt-5">
    {% enchantCard
      id="1000078",
      name="Resist: Gravitational Field Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Gravitation Field] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000078",
      name="Resist: Napalm Vulcan Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Napalm Vulcan] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000074",
      name="Resist: Double Strafe Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Double Strafe] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000057",
      name="Resist: Lord of Vermilion Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Lord of Vermilion] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000058",
      name="Resist: Magnus Exorcismus Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Magnus Exorcismus] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000056",
      name="Resist: Meteor Storm Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Meteor Storm] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000059",
      name="Resist: Meteor Assault Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Meteor Assault] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000063",
      name="Resist: Bowling Bash Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Bowling Bash] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000070",
      name="Resist: Blitz Beat Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Blitz Beat] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000076",
      name="Resist: Sharp Shooting Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Sharp Shooting] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000065",
      name="Resist: Sonic Blow Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Sonic Blow] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000067",
      name="Resist: Shield Boomerang Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Shield Boomerang] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000066",
      name="Resist: Shield Chain Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Shield Chain] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000055",
      name="Resist: Storm Gust Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Storm Gust] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000060",
      name="Resist: Spiral Pierce Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Spiral Pierce] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000071",
      name="Resist: Asura Strike Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Asura Strike] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000073",
      name="Resist: Arrow Vulcan Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Arrow Vulcan] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000061",
      name="Resist: Acid Demonstration Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Acid Demonstration] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000064",
      name="Resist: Water Ball Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Water Ball] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000072",
      name="Resist: Investigate Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Investigate] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000069",
      name="Resist: Falcon Assault Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Falcon Assault] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000062",
      name="Resist: Pierce Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Pierce] by 15%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000068",
      name="Resist: Holy Cross Lv1"
    %}
      <ul class="border-t p-2">
        <li>Reduces damage taken from [Holy Cross] by 15%.</li>
      </ul>
    {% endenchantCard %}
  </div>

  <h4>Weapon-only Enchants</h4>

  <div class="flex flex-wrap justify-between mt-5">
    {% enchantCard
      id="1000054",
      name="Amplify: Gravitational Field Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Gravitation Field] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000053",
      name="Amplify: Napalm Vulcan Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Napalm Vulcan] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000050",
      name="Amplify: Double Strafe Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Double Strafe] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000033",
      name="Amplify: Lord of Vermilion Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Lord of Vermilion] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000034",
      name="Amplify: Magnus Exorcismus Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Magnus Exorcismus] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000032",
      name="Amplify: Meteor Storm Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Meteor Storm] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000035",
      name="Amplify: Meteor Assault Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Meteor Assault] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000039",
      name="Amplify: Bowling Bash Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Bowling Bash] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000046",
      name="Amplify: Blitz Beat Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Blitz Beat] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000052",
      name="Amplify: Sharp Shooting Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Sharp Shooting] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000041",
      name="Amplify: Sonic Blow Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Sonic Blow] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000043",
      name="Amplify: Shield Boomerang Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Shield Boomerang] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000042",
      name="Amplify: Shield Chain Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Shield Chain] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000031",
      name="Amplify: Storm Gust Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Storm Gust] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000036",
      name="Amplify: Spiral Pierce Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Spiral Pierce] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000047",
      name="Amplify: Asura Strike Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Asura Strike] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000049",
      name="Amplify: Arrow Vulcan Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Arrow Vulcan] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000037",
      name="Amplify: Acid Demonstration Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Acid Demonstration] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000040",
      name="Amplify: Water Ball Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Water Ball] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000048",
      name="Amplify: Investigate Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Investigate] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000045",
      name="Amplify: Falcon Assault Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Falcon Assault] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000038",
      name="Amplify: Pierce Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Pierce] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000044",
      name="Amplify: Holy Cross Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Holy Cross] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
    {% enchantCard
      id="1000051",
      name="Amplify: Killing Stroke Lv1"
    %}
      <ul class="border-t p-2">
        <li>Increases [Killing Stroke] damage by 7%.</li>
      </ul>
    {% endenchantCard %}
  </div>

  <div class="mb-6 text-sm">
    <h2 class="bg-gradient py-1 px-2 mb-0 uppercase font-bold text-sm rounded-t-md">kRO Zero Changelogs</h2>
    <p class="border-r border-l p-2 mb-0">The information for this piece of content changed over time on kRO Zero. When possible, this section links to the different versions of the original source article on the kRO Zero website.</p>
    <ul class="border-r border-l border-b rounded-b-md pt-1 pb-3 pl-8 list-disc">
      <li><a href="http://web.archive.org/web/20180520222729/http://roz.gnjoy.com:80/news/update/View.asp?seq=22&curpage=1" target="_blank" rel="noopener noreferrer">2018-05-09 - Original</a></li>
      <li><a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=22&curpage=3">2019-12-11 - Updated</a></li>
    </ul>
  </div>

  <h2>Related Pages</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="/dev-notes/33-2018-03-22-april-2018-update-release/">Dev Note #33 - 2018.03.22</a>
    </li>
    <li>
      <a href="/dev-notes/35-2018-04-13-may-dev-info/">Dev Note #35 - 2018.04.13</a>
    </li>
    <li>
      <a href="/news/178-2018-05-08-may-9th-maint/">News #178 - 2018.05.08</a>
    </li>
    <li>
      <a href="/news/183-2018-05-15-may-16-maint/">News #183 - 2018-05.15</a>
    </li>
  </ul>

</article>