---
layout: /layouts/base.njk
title: Louyang
description: All about the updates to Louyang in kRO Zero
tags: update
---

<article>

  <h1 class="text-2xl mb-2">Louyang</h1>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/louyang_castle.bmp" alt="Louyang castle screenshot" />
    <figcaption>
      (View of the castle)
    </figcaption>
  </figure>

  <p>“In Alberta, on the southern end of the Midgardian continent, people with different outfits have appeared. They speak of a place where they live, and want people to go and visit. The people who went there speak of an exotic country, different from that of the Midgard continent. The adventurers' interest in the new continent grows deeper.”</p>

  <p>If you pay 10,000 zeny to the "Ambassador of Publicity" (“용지성 홍보대사”) (alberta 246 40), you can go to Louyang.</p>

  <p>Please note that all quests in Louyang only work for characters with a base level of 70 or higher.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/ambassador_of_publicity.png" alt="Ambassador of Publicity screenshot" />
    <figcaption>
      (The Ambassador of Publicity at the southern end of the port city of Alberta)
    </figcaption>
  </figure>

  <h2>Louyang Quests</h2>

  <h3>Royal Tomb Entrance Quest (왕릉 요괴 토벌대)</h3>

  <p>NPC: ▷ Soldier of the royal tomb (louyang 42 276)</p>

  <p>The king of the army tries to visit the royal tomb, but he can't at this time. I hear this story from the soldiers and suddenly get the invitation to go into the tomb.</p>

  <P>※ After the quest is completed, you can enter the royal tomb.</p>

  <p>※ 5 kinds of daily quests are available</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/soldier_of_royal_tomb.jpeg" alt="Soldier of Royal Tomb screenshot" />
    <figcaption>
      (Let's support the 토벌대에 to fight the gang of the royal tomb)
    </figcaption>
  </figure>

  <h3>Observation Platform Quest (전망대)</h3>

  <p>NPC: ▷ Guyeonbo (구연보) (lou_fild01 195 177)</p>

  <p>For further information, please refer to the notice on the homepage.</p>

  <p>Gu Yeonbo, who is going through a period of flurry, doesn't like the behavior of the tavern, which is popular for its saryongjeon bath. Let's listen to Gu Yeonbo's story to see what's not to like about the bar. (질풍노도의 시기를 보내고 있는 구연보는 사룡전입탕으로 인기를 끌고 있는 주점의 행태가 마음에 들지 않습니다. 주점의 어떤 점이 마음에 들지 않는지 구연보의 이야기를 들어 봅시다.)</p>

  <p>※ One daily quest can be done</p>

  <p>※ It is possible to proceed after completing the Royal Tomb Entrance Quest.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/observation_platform_quest.jpeg" alt="Guyeonbo NPC screenshot" />
    <figcaption>
      (Let's hear what is the problem with the bar)
    </figcaption>
  </figure>

  <h3>Doctor Quest</h3>

  <p>NPC: ▷ Councillor (의원) (lou_in02 265 69)</p>

  <p>People come see Dr. Yongji when they are sick. Recently, she has been treating so many people returning from the royal tomb, that she's running short on medicine. Why don't you help Dr. Yongji?</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/dr_yongji.jpeg" alt="Dr Yongji NPC screenshot" />
    <figcaption>
      (Let's help Dr. Yongji treat the patients)
    </figcaption>
  </figure>

  <p>※ One daily quest can be done</p>

  <h3>Poison King Quest (독약왕)</h3>

  <p>NPC: ▷ Poison King (독약왕) (lou_in02 123 39)</p>

  <p>Nagash Arsis (나가쉬 아르세스) introduces himself as a foreigner. He says that he once was called the Poison King and said that there was a time when he was with Taesoo. Let's listen to the story by singing a poem that the old lady likes.</p>

  <p>※ It is possible to proceed with this quest after completing the "Doctor" quest.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/poison_king.jpeg" alt="Poison King NPC screenshot" />
    <figcaption>
      (Poison King, who seems to have a story)
    </figcaption>
  </figure>

  <h3>8 Reformers Quest (8인의 개혁가)</h3>

  <p>NPC: ▷ Hermit (은둔자) (lou_fild01 152 146)</p>

  <p>Sun Mao says he is preparing for reform for a better world. “You and I, two people have already gathered. Shouldn't we build a higher tower?” Sun Mao asks you to gather comrades who will share your will.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/land_reformer_mao.jpeg" alt="Land Reformer Mao NPC screenshot" />
    <figcaption>
      (Land reformer Mao)
    </figcaption>
  </figure>

  <h2>Dragon Castle Souvenirs - Earth Dragon Weapons</h2>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/earth_dragon_stone.png" alt="Earth Dragon Stone item description" />
    <figcaption>
      (Earth Dragon Stone obtained from Louyang monsters)
    </figcaption>
  </figure>

  <h3>Monsters That Drop Earth Dragon Stones</h3>

  <ul class="list-disc pl-8 mb-6">
    <li>Mi Gao (식양)</li>
    <li>Zhu Po Long (저파룡)</li>
    <li>Jing Guai (이매망량)</li>
    <li>Green Maiden (청이)</li>
    <li>Mao Guai (묘괴)</li>
    <li>Yao Jun (Hyegun) (혜군)</li>
  </ul>

  <p>You can exchange 20 Earth Dragon Stone for 1 random Earth Dragon Weapon from the Jo Ji-ryong NPC. For 10 Earth Dragon Stone, you can purchase a {% item id="23739", name="Earth Dragon Magic Scroll", imageFolder="items" %} to give magic options to your Earth Dragon Weapon, or {% item id="23738", name="Earth Dragon Scroll", imageFolder="items" %} to give physical options to your Earth Dragon Weapon.</p>

  <h3>Earth Dragon Weapon Random Options</h3>

  <ul class="list-disc pl-8 mb-6">
    <li>You can use both the Earth Dragon Scroll and the Earth Dragon Magic Scroll for all Earth Dragon weapons.</li>
    <li>When using the Earth Dragon Scroll or Earth Dragon Magic Scroll, options are granted from a minimum of 1 to a maximum of 2.</li>
    <li>The Earth Dragon Weapon's refine level and slotted cards will not be reset when using the random options scrolls.</li>
    <li>You can re-grant options by using the Earth Dragon Scroll and Earth Dragon Magic Scroll on Earth Dragon Weapons that already have random options.</li>
  </ul>

  <h4>Physical options</h4>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Option Number</th>
        <th>Option</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="12">1st</td>
        <td>STR</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>AGI</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>VIT</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>DEX</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>ATK</td>
        <td>20 ~ 55</td>
      </tr>
      <tr>
        <td>HIT</td>
        <td>10 ~ 30</td>
      </tr>
      <tr>
        <td>MaxHP</td>
        <td>100 ~ 450</td>
      </tr>
      <tr>
        <td>MaxSP</td>
        <td>20 ~ 100</td>
      </tr>
      <tr>
        <td>FLEE</td>
        <td>10 ~ 30</td>
      </tr>
      <tr>
        <td>CRIT</td>
        <td>5 ~ 10</td>
      </tr>
      <tr>
        <td>Increased amount of healing received</td>
        <td>10 ~ 20</td>
      </tr>
      <tr>
        <td>ASPD</td>
        <td>1 ~ 2</td>
      </tr>
      <tr class="border-t-4">
        <td rowspan="7">2nd</td>
        <td>ASPD (%)</td>
        <td>7 ~ 16</td>
      </tr>
      <tr>
        <td>ATK (%)</td>
        <td>5 ~ 10</td>
      </tr>
      <tr>
        <td>Increase ranged weapon damage (%)</td>
        <td>5 ~ 12</td>
      </tr>
      <tr>
        <td>Critical damage (%)</td>
        <td>10 ~ 20</td>
      </tr>
      <tr>
        <td>Increase physical damage to small enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
      <tr>
        <td>Increase physical damage to medium enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
      <tr>
        <td>Increase physical damage to large enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
    </tbody>
  </table>

  <h4>Magical options</h4>

  <table class="mt-6 mb-6">
    <thead>
      <tr>
        <th>Option Number</th>
        <th>Option</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="12">1st</td>
        <td>INT</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>AGI</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>VIT</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>DEX</td>
        <td>1 ~ 5</td>
      </tr>
      <tr>
        <td>MATK</td>
        <td>20 ~ 55</td>
      </tr>
      <tr>
        <td>MaxHP</td>
        <td>100 ~ 450</td>
      </tr>
      <tr>
        <td>MaxSP</td>
        <td>20 ~ 100</td>
      </tr>
      <tr>
        <td>DEF</td>
        <td>10 ~ 40</td>
      </tr>
      <tr>
        <td>MDEF</td>
        <td>1 ~ 4</td>
      </tr>
      <tr>
        <td>FLEE</td>
        <td>10 ~ 30</td>
      </tr>
      <tr>
        <td>Increased heal amount (%)</td>
        <td>10 ~ 20</td>
      </tr>
      <tr>
        <td>ASPD</td>
        <td>1 ~ 2</td>
      </tr>
      <tr class="border-t-4">
        <td rowspan="7">2nd</td>
        <td>ASPD (%)</td>
        <td>7 ~ 16</td>
      </tr>
      <tr>
        <td>MATK (%)</td>
        <td>5 ~ 10</td>
      </tr>
      <tr>
        <td>Reduce variable casting (%)</td>
        <td>5 ~ 12</td>
      </tr>
      <tr>
        <td>Decrease SP consumption when using skill (%)</td>
        <td>3 ~ 7</td>
      </tr>
      <tr>
        <td>Increase magic damage to small enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
      <tr>
        <td>Increase magic damage to medium enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
      <tr>
        <td>Increase magic damage to large enemies (%)</td>
        <td>5 ~ 15</td>
      </tr>
    </tbody>
  </table>

  <h3>Weapons</h3>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="13488",
      folder="louyang",
      name="Earth Dragon Sword [2]",
      category="1Handed Sword",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Swordsman, Merchant",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A sword imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="18172",
      folder="louyang",
      name="Earth Dragon Bow [2]",
      category="Bow",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Archer, Rogue",
      requiredLevel="70",
      level="3",
      weight="100",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A bow imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28747",
      folder="louyang",
      name="Earth Dragon Dagger [2]",
      category="Dagger",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Swordsman, Thief, Merchant",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A dagger imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="21041",
      folder="louyang",
      name="Earth Dragon Broadsword [2]",
      category="2Handed Sword",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Swordsman",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="180"
    %}
      <ul class="border-t p-2">
        <li>A sword imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28131",
      folder="louyang",
      name="Earth Dragon Axe [2]",
      category="2Handed Axe",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Merchant",
      requiredLevel="70",
      level="3",
      weight="140",
      atk="180"
    %}
      <ul class="border-t p-2">
        <li>An axe imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28034",
      folder="louyang",
      name="Earth Dragon Katar [2]",
      category="Katar",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Merchant",
      requiredLevel="70",
      level="3",
      weight="120",
      atk="150"
    %}
      <ul class="border-t p-2">
        <li>A katar imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26207",
      folder="louyang",
      name="Earth Dragon Book [2]",
      category="Book",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Sage, Priest",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A book imbued with the power of an earth dragon.</li>
        <li>+5% ATK/MATK against Formless monsters</li>
        <li>+5% ATK/MATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK/MATK against Formless monsters, +5% ATK/MATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK/MATK against Formless, +10% ATK/MATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26142",
      folder="louyang",
      name="Earth Dragon Staff [2]",
      category="1Handed Staff",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Novice, Mage, Acolyte",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="40"
    %}
      <ul class="border-t p-2">
        <li>A staff imbued with the power of an earth dragon.</li>
        <li>MATK +130</li>
        <li>Indestructible</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26017",
      folder="louyang",
      name="Earth Dragon Spear [2]",
      category="2Handed Spear",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Swordsman",
      requiredLevel="70",
      level="3",
      weight="140",
      atk="180"
    %}
      <ul class="border-t p-2">
        <li>A spear imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="16083",
      folder="louyang",
      name="Earth Dragon Mace [2]",
      category="Mace",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Novice, Swordsman, Acolyte, Merchant",
      requiredLevel="70",
      level="3",
      weight="120",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A mace imbued with the power of an earth dragon.</li>
        <li>Indestructible</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="1857",
      folder="louyang",
      name="Earth Dragon Knuckles [2]",
      category="Knuckles",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Monk, Priest",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A knuckles imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26208",
      folder="louyang",
      name="Earth Dragon Whip [2]",
      category="Whip",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Dancer",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A whip imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
        <li class="font-bold text-purple-600">*Added with Bard & Dancer</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="32101",
      folder="louyang",
      name="Earth Dragon Violin [2]",
      category="Instrument",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Bard",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A violin imbued with the power of an earth dragon.</li>
        <li>+5% ATK against Formless monsters</li>
        <li>+5% ATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK against Formless monsters, +5% ATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK against Formless, +10% ATK against Earth enemies</li>
        <li class="font-bold text-purple-600">*Added with Bard & Dancer</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28748",
      folder="louyang",
      name="Earth Dragon Nindo [2]",
      category="Dagger",
      craftedFrom="20 Earth Dragon Stone",
      canWear="Ninja",
      requiredLevel="70",
      level="3",
      weight="80",
      atk="130"
    %}
      <ul class="border-t p-2">
        <li>A ninja dagger imbued with the power of an earth dragon.</li>
        <li>MATK +70</li>
        <li>+5% ATK/MATK against Formless monsters</li>
        <li>+5% ATK/MATK against Earth enemies</li>
        <li>If +7 or higher, additional +5% ATK/MATK against Formless monsters, +5% ATK/MATK against Earth enemies</li>
        <li>If +9 or higher, additional +10% ATK/MATK against Formless, +10% ATK/MATK against Earth enemies</li>
        <li class="font-bold text-purple-600">*Added with Ninja</li>
      </ul>
    {% endequipCard %}
  </div>

  <h2>Louyang Craftable Headgear</h2>

  <p>Talk to Socheon who is standing near the tower to make a special hat.</p>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/tsing.jpeg" alt="Tsing NPC screenshot" />
    <figcaption>
      (Socheon (소천) (louyang 186 54))
    </figcaption>
  </figure>

  <p>※ You can make these headgear after completing the Royal Tomb Entrance Quest.</p>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="19346",
      folder="crafted",
      name="Bacsojin Doll Hat [1]",
      category="Upper Helm",
      craftedFrom="Various ingredients",
      canWear="All Jobs",
      requiredLevel="70",
      weight="90",
      def="10"
    %}
      <ul class="border-t p-2">
        <li>A doll made in the likeness of Bacsojin.</li>
        <li>MATK +30</li>
        <li>Per 1 refine, MATK +10.</li>
        <li>If +7 or higher, -7% variable casting</li>
        <li>If +9 or higher, MATK + 10%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="19345",
      folder="crafted",
      name="Green Maiden's Bao Bao [1]",
      category="Upper Helm",
      craftedFrom="Various ingredients",
      canWear="All Jobs",
      requiredLevel="70",
      weight="45",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>The Bao Bao that Green Maiden wears.</li>
        <li>AGI +3, LUK +3</li>
        <li>Per 1 refine, CRIT +1.</li>
      </ul>
    {% endequipCard %}
  </div>

  <p>The ingredients needed to make the above headgears changed over time in kRO Zero. To see the most updated ingredients, head to the <a href="/updates/craftable-equipment/">Craftable Equipment page</a>.

  <h2>Additional Equipment</h2>

  <p>Shortly after Louyang was released, additional equipment both in Louyang and in other areas were added.</p>

  <div class="flex flex-wrap justify-between">
    {% equipCard
      id="18176",
      folder="louyang",
      name="Thunder Bow [1]",
      category="Bow",
      droppedBy="Mao Guai",
      canWear="Archer, Rogue",
      requiredLevel="60",
      level="3",
      weight="90",
      atk="120"
    %}
      <ul class="border-t p-2">
        <li>A bow that exudes strong power.</li>
        <li>ASPD +10%, LUK +5</li>
        <li>If +7 or higher, CRIT +7</li>
        <li>If +9 or higher, +20% [Blitz Beat] damage, ASPD +1</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26211",
      folder="louyang",
      name="Barbed Wire [1]",
      category="Bow",
      droppedBy="Disguise",
      canWear="Dancer",
      requiredLevel="60",
      level="3",
      weight="70",
      atk="120"
    %}
      <ul class="border-t p-2">
        <li>A whip made of wire. It has barbs, so be careful when swinging it.</li>
        <li>[Throw Arrow] damage +5%.</li>
        <li>If +7 or higher, +5% additional [Throw Arrow] damage.</li>
        <li>If +9 or higher, +10% additional [Throw Arrow] damage.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="1943",
      folder="louyang",
      name="Erhu of Earnest [1]",
      category="Instrument",
      droppedBy="Yao Jun",
      canWear="Bard",
      requiredLevel="60",
      level="3",
      weight="70",
      atk="120"
    %}
      <ul class="border-t p-2">
        <li>Erhu filled with the desperate longing for someone.</li>
        <li>[Musical Strike] damage +5%.</li>
        <li>If +7 or higher, +5% additional [Musical Strike] damage.</li>
        <li>If +9 or higher, +10% additional [Musical Strike] damage.</li>
        <li class="text-red-600 font-bold">The Divine Pride item linked here is not the same as the above.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="26148",
      folder="louyang",
      name="Owl Duke Cane [1]",
      category="1Handed Staff",
      droppedBy="Owl Duke",
      canWear="Acolyte",
      requiredLevel="60",
      level="3",
      weight="80",
      atk="60"
    %}
      <ul class="border-t p-2">
        <li>A cane that Owl Duke sometimes uses instead of an umbrella.</li>
        <li>MATK +140</li>
        <li>Indestructible</li>
        <li>Variable Cast Time -10%.</li>
        <li>If +7 or higher, +12% Heal.</li>
        <li>If +9 or higher, +20% [Magnus Exorcismus] damage.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="22194",
      folder="louyang",
      name="Loli Ruri's Shoes [1]",
      category="Shoes",
      droppedBy="Loli Ruri",
      canWear="All Jobs",
      requiredLevel="60",
      weight="50",
      def="10"
    %}
      <ul class="border-t p-2">
        <li>Shoes that Loli Ruri cares for.</li>
        <li>FLEE +15, CRIT +3</li>
        <li>If +7 or higher, HIT +15.</li>
        <li>If +9 or higher, +7% ASPD.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28949",
      folder="louyang",
      name="Jewel Shield [1]",
      category="Shield",
      droppedBy="Assaulter",
      canWear="Swordsman, Merchant, Thief",
      requiredLevel="60",
      weight="160",
      def="180"
    %}
      <ul class="border-t p-2">
        <li>A shield with jewels made from the hard shell of an animal.</li>
        <li>MaxHP +200</li>
        <li>If +7 or higher, ASPD +1.</li>
        <li>If +9 or higher, +30% [Shield Boomerang] damage.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="28599",
      folder="louyang",
      name="White Serpent Ring [1]",
      category="Accessory",
      droppedBy="Green Maiden",
      canWear="All Jobs",
      requiredLevel="60",
      weight="10",
      def="1"
    %}
      <ul class="border-t p-2">
        <li>A ring in the shape of a white serpent that was cherished by Green Maiden.</li>
        <li>Can be refined.</li>
        <li>CRIT +1, AGI +1</li>
        <li>If +7 or higher, additional AGI +1.</li>
        <li>If +9 or higher, additional CRIT +1, critical damage +1%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="32200",
      folder="louyang",
      name="Wizard's Gloves [1]",
      category="Accessory",
      droppedBy="Sting",
      canWear="All Jobs",
      requiredLevel="60",
      weight="10",
      def="1"
    %}
      <ul class="border-t p-2">
        <li>Lightly-worn Wizard's gloves.</li>
        <li>Can be refined.</li>
        <li>-2% Variable Cast Time, MATK +2</li>
        <li>If +7 or higher, additional MATK +2.</li>
        <li>If +9 or higher, additional -1% Variable Cast Time, fire element magic damage +1%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="19376",
      folder="louyang",
      name="Frozen Rose",
      category="Lower Helm",
      droppedBy="Freezer",
      canWear="All Jobs",
      requiredLevel="60",
      weight="1",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>Roses frozen cold. If you bite down carelessly, you may hurt your mouth.</li>
        <li>CRIT +1.</li>
        <li>Water element damage +1%.</li>
      </ul>
    {% endequipCard %}
    {% equipCard
      id="32201",
      folder="louyang",
      name="Dullahan's Gloves [1]",
      category="Accessory",
      droppedBy="Dullahan",
      canWear="All Jobs",
      requiredLevel="60",
      weight="10",
      def="0"
    %}
      <ul class="border-t p-2">
        <li>A glove from Dullahan's hand.</li>
        <li>Can be refined.</li>
        <li>HIT +1, DEX +1.</li>
        <li>If +7 or higher, additional DEX +1.</li>
        <li>If +9 or higher, additional HIT +1, ATK +2%.</li>
      </ul>
    {% endequipCard %}
  </div>

  <p>Weapons and shoes will have random options.</p>

  <p>※ Some items drop with a very low probability.</p>

  <h2>Louyang Monsters</h2>

  <p class="font-bold text-purple-600 my-4 text-sm">These monsters changed over time in the following ways:</p>

  <ul class="font-bold text-purple-600 text-sm mb-6">
    <li>
      <u>2018.09.23 Page Update</u><br/>
      &rarr; Mao Guai: Level decreased from 119 to 109. HP decreased from 60,115 to 48,092.<br/>
      &rarr; Green Maiden: Level increased from 112 to 118. HP decreased from 41,540 to 33,232.<br/>
      &rarr; Zhu Po Long: Level decreased from 112 to 102.<br/>
      &rarr; Elusive Zhu Po Long: Level decreased from 112 to 102. HP increased from 56,070 to 70,294.<br/>
      &rarr; Yao Jun: Level decreased from 117 to 107. HP decreased from 57,717 to 46,173.<br/>
      &rarr; Yao Jun Ringleader: Level decreased from 117 to 107.<br/>
      &rarr; Jin Guai: Level decreased from 110 to 100.<br/>
      &rarr; Elusive Jin Guai: Level decreased from 110 to 100. HP decreased from 99,850 to 63,904.<br/>
    </li>
  </ul>

  <div class="flex flex-wrap justify-between">
    {% monsterCard 
      widthClass="ca-w-49",
      image="mi_gao.gif",
      name="Mi Gao (식양)",
      level="107",
      hp="14,697",
      defMdef="224/47",
      class="Normal",
      family="Formless",
      property="Earth LV3",
      size="Medium",
      expJexp="1937/1759"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="mi_gao.gif",
      name="Elusive Mi Gao (떠도는 식양)",
      level="107",
      hp="122,475",
      defMdef="224/47",
      class="Normal",
      family="Formless",
      property="Earth LV3",
      size="Medium",
      expJexp="9685/8795"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="mao_guai.gif",
      name="Mao Guai (묘괴)",
      level="109",
      hp="48,092",
      defMdef="180/67",
      class="Normal",
      family="Brute",
      property="Wind LV2",
      size="Medium",
      expJexp="6984/6516"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="green_maiden.gif",
      name="Green Maiden (청이)",
      level="118",
      hp="33,232",
      defMdef="138/18",
      class="Normal",
      family="Demi-human",
      property="Neutral LV2",
      size="Medium",
      expJexp="5820/5521"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="zhu_po_long.gif",
      name="Zhu Po Long (저파룡)",
      level="102",
      hp="18,693",
      defMdef="166/43",
      class="Normal",
      family="Dragon",
      property="Wind LV2",
      size="Medium",
      expJexp="2180/2084"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="zhu_po_long.gif",
      name="Elusive Zhu Po Long (저파룡)",
      level="102",
      hp="70,294",
      defMdef="166/43",
      class="Normal",
      family="Dragon",
      property="Wind LV2",
      size="Medium",
      expJexp="10900/10420"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="yao_jun.gif",
      name="Yao Jun (혜군)",
      level="107",
      hp="46,173",
      defMdef="168/52",
      class="Normal",
      family="Undead",
      property="Undead LV2",
      size="Medium",
      expJexp="6595/5330"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="yao_jun.gif",
      name="Yao Jun Ringleader (두목 혜군)",
      level="107",
      hp="173,151",
      defMdef="168/52",
      class="Normal",
      family="Undead",
      property="Undead LV2",
      size="Medium",
      expJexp="32975/31977"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="jing_guai.gif",
      name="Jing Guai (이매망량)",
      level="100",
      hp="11,982",
      defMdef="220/44",
      class="Normal",
      family="Demon",
      property="Earth LV3",
      size="Medium",
      expJexp="6595/5330"
    %}
    {% monsterCard 
      widthClass="ca-w-49",
      image="jing_guai.gif",
      name="Elusive Jing Guai (이매망량)",
      level="100",
      hp="63,904",
      defMdef="220/44",
      class="Normal",
      family="Demon",
      property="Earth LV3",
      size="Medium",
      expJexp="9540/9110"
    %}
    {% monsterCard 
      widthClass="w-full",
      image="bacsojin.gif",
      name="Bacsojin (백소진)",
      level="127",
      hp="2,882,000",
      defMdef="210/178",
      class="Boss",
      family="Demi-human",
      property="Wind LV3",
      size="Large",
      expJexp="1,603,584/1,085,760"
    %}
  </div>

  <div class="mb-6 text-sm">
    <h2 class="bg-gradient py-1 px-2 mb-0 uppercase font-bold text-sm rounded-t-md">kRO Zero Changelogs</h2>
    <p class="border-r border-l p-2 mb-0">The information for this piece of content changed over time on kRO Zero. This section links to the different versions of the original source article on the kRO Zero website.</p>
    <ul class="border-r border-l border-b rounded-b-md pt-1 pb-3 pl-8 list-disc">
      <li>2018-03-23 - Original</li>
      <li><a href="https://web.archive.org/web/20180520222703/http://roz.gnjoy.com:80/news/update/View.asp?seq=18&curpage=1" target="_blank" rel="noopener noreferrer">2018-04-11 - Updated</a></li>
      <li><a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=18&curpage=4">2018-09-23 - Updated</a></li>
    </ul>
  </div>

  <h2>Source(s)</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=18&curpage=4" target="_blank" rel="noopener noreferrer">[지역] 고도 용지성</a> (post - kRO website)
    </li>
  </ul>

</article>