---
layout: /layouts/base.njk
title: Malangdo (말랑도)
description: Read about the implementation of Malangdo on korean Ragnarok Online Zero. Discover the updates made to this area of Ragnarok Online.
tags: update
image: '/images/meta/criatura-academy-meta-malangdo.png'
---

<article>

  <h1 class="text-2xl mb-2">Malangdo (말랑도)</h1>

  <p>INTRO HERE</p>

  <h2>Table of Contents</h2>

  <ul class="list-disc pl-8 mb-6">
    <li><a href="#origin-story">Origin Story</a></li>
    <li><a href="#malangdo-quests">Malangdo Quests</a></li>
  </ul>

  <h2 id="origin-story">Origin Story</h2>

  <p>A group of cats known as "The Cat Hand Group" left their homeland and crossed the sea hoping to make a lot of money. Unfortunately they encountered an unexpected storm on the 26th day of sailing. In the storm, the ship's rudder was damaged. As they were waiting for the ocean to calm, a large wave came and with a tremendous roar they collided with an unknown reef.</p>

  <p>When the cats of the Cat Hand Group, who became unconscious during the collision, opened their eyes, the water was calm and the sun was shining leisurely on the sea. They found themselves on a remote island. In the middle of the island, they found their main ship, Nabeeho. Thankfully no cats were injured or missing, but all their other boats were shipwrecked and most of their goods were swept away with the waves. The cats, stranded on this remote island, settled down there to start a strong life. They named their new home "Malangdo".</p>

  <h2 id="malangdo-quests">Malangdo Quests</h2>

  <p>All quests are available at base level 60.</p>

  <h3 id="tomas-predicament-quest" class="underline">Tomas's Predicament (토마스씨의 고충)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_tomas.png" alt="Tomas NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> None</li>
    <li><b>Start Location:</b> Tomas (mal_in02 22, 62)</li>
  </ul>

  <p>You can hear the story of how The Cat Hand Group came to settle on Malangdo, as well as the various stories that took place after they settled. <a href="https://wiki.playragnarokzero.com/wiki/Malangdo_Island" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough (Steps #1-6).</a></p>

  <h3 id="help-the-hairballs-quest" class="underline">Help The Hairballs (털뭉치파 돕기)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_gabonge.png" alt="Gabonge NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> None</li>
    <li><b>Start Location:</b> Gabonge (malangdo 175, 206)</li>
  </ul>

  <p>There's a group of bad cats called the "The Hairballs" that the cats of Malangdo need help dealing with. Let's listen to their story. <a href="https://wiki.playragnarokzero.com/wiki/Help_The_Bad_Cats_In_Danger" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="unbeatable-cuisine-legend-quest" class="underline">The Legend Of The Unbeatable Cuisine (무적의 조리장 전설)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_cleanyang.png" alt="Cleanyang NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> None</li>
    <li><b>Start Location:</b> Cleanyang (mal_in02 76, 63)</li>
  </ul>

  <p>Listen to the story of Cleanyang, who is crying as if he was scolded by someone. <a href="https://wiki.playragnarokzero.com/wiki/Clean_the_Ship" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="meow-squad-quest" class="underline">Meow Squad - Meowventures (야옹 모험단 - 냐드벤쳐)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_veteran_cat.png" alt="Cat Veteran NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> None</li>
    <li><b>Start Location:</b> Cat Veteran (malangdo 165, 223)</li>
  </ul>

  <p>The "Meow Squad" is where young cats on the island set up various devices throughout the island to satisfy their adventurous spirit. Though simplistic, these devices and their games became popular with all cat age groups, and even humans visiting the island, and became a specialty of Malangdo. <a href="https://wiki.playragnarokzero.com/wiki/Play_with_Baby_Cats" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="cat-gamers-quest" class="underline">Cat Gamers (냥이 게이머즈)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_cat_gamers_leader.png" alt="Cat Gamer's Leader NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> None</li>
    <li><b>Start Location:</b> Cat Leader (mal_in01 94, 223)</li>
  </ul>

  <p>Malangdo's only professional cat game group, the "Cat Gamers" is anxiously recruiting adventurers to help with their practices. <a href="https://wiki.playragnarokzero.com/wiki/Cat_Gamers" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="soft-and-sticky-quest" class="underline">Soft & Sticky (말랑말랑쫀득쫀득한)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_geologist_mali.png" alt="Geologist Mali NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Tomas's Predicament</li>
    <li><b>Start Location:</b> Geologist Mali (mal_in02 179, 57)</li>
  </ul>

  <p>The cats are worried that the soft terrain of Malangdo will one day split and the island will sink. They are recruiting volunteers to help repair the cracks. <a href="https://wiki.playragnarokzero.com/wiki/Malangdo_Island" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough (Steps after #6).</a></p>

  <h3 id="yggdrasil-berry-quest" class="underline">Yggdrasil Berry (이그드라실 열매)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_rican.png" alt="Rican NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Tomas's Predicament</li>
    <li><b>Start Location:</b> Rican (mal_in01 114, 169)</li>
  </ul>

  <p>On Malangdo, the Yggdrasil Berry grows underground. Let's help Rican, who hurt his leg, dig up the Yggdrasil Berries. <a href="https://wiki.playragnarokzero.com/wiki/Yggdrasil_Berry_Gathering" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="soft-jelly-quest" class="underline">Soft Jelly (말랑말랑젤리)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_biscuit.png" alt="Biscuit NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Tomas's Predicament</li>
    <li><b>Start Location:</b> Biscuit (mal_dun01 136, 122)</li>
  </ul>

  <p>Star Child (also named Star Candy - 별사탕님) must eat, otherwise she may cause the island to collapse. Help feed Star Child! <a href="https://wiki.playragnarokzero.com/wiki/Soft_Jelly" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="find-the-cat-biscuits-quest" class="underline">Find The Cat Biscuits (고양이건빵을 찾아라)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_cleanyang.png" alt="Cleanyang NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> The Legend of the Unbeatable Cuisine</li>
    <li><b>Start Location:</b> Cleanyang (mal_in02 76, 63)</li>
  </ul>

  <p>Bugs are constantly taking the Cat Biscuits and hiding them throughout the island. Let's search the island and find all the hidden Cat Biscuits! <a href="https://wiki.playragnarokzero.com/wiki/Clean_the_Ship_(repeatable)" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="nyas-errands-quest" class="underline">Nyas's List Of Errands (냐스의 심부름 목록)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_chef_nyas.png" alt="Chef Nyas NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> The Legend of the Unbeatable Cuisine</li>
    <li><b>Start Location:</b> Chef Nyas (mal_in02 187, 58)</li>
  </ul>

  <p>Chef Nyas wants to study the cooking of humans, so help him gather certain ingredients and a human-made dish. <a href="https://wiki.playragnarokzero.com/wiki/Help_Chef_Nyas" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="defective-activity-of-hairballs-quest" class="underline">Defective Activity of Hairballs (털뭉치파의 불량활동)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_gabonge.png" alt="Gabonge NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Help The Hairballs</li>
    <li><b>Start Location:</b> Gabonge (malangdo 175, 206)</li>
  </ul>

  <p>The guards were very disappointed when the only group of bad cats in Malangdo stopped causing trouble.. <a href="https://wiki.playragnarokzero.com/wiki/Help_The_Bad_Cats_In_Danger#Daily_Quest" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="running-everywhere-quest" class="underline">Running Everywhere (두루두루 달리기)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_roku.png" alt="Meow Squad Roku NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Meow Squad - Meowventures</li>
    <li><b>Start Location:</b> [Meow Squad] Roku (malangdo 215, 201)</li>
  </ul>

  <p>Shall we have fun running every day with young cats who have become famous? <a href="https://wiki.playragnarokzero.com/wiki/Compass_Game" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="noisy-machine-quest" class="underline">Noisy Machine (파지직 쾅돌이)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_detective_cat.png" alt="Detective Cat NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Meow Squad - Meowventures</li>
    <li><b>Start Location:</b> Detective Cat (malangdo 172, 178)</li>
  </ul>

  <p>The danger of a catastrophic explosion is not over yet! Let's use an Adventure Card to stop the machine from exploding. <a href="https://wiki.playragnarokzero.com/wiki/Noisy_Machine" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <h3 id="cat-gamers-support-quest" class="underline">Cat Gamers' Support (게이머즈의 훈련지원)</h3>

  <figure class="mb-4">
    <img class="mt-6 mb-2" src="/images/dev-notes/malangdo_manager_cat.png" alt="Manager Cat NPC" />
  </figure>

  <ul class="list-disc pl-8 mb-6">
    <li><b>Prerequisites:</b> Cat Gamers</li>
    <li><b>Start Location:</b> Manager Cat (mal_in01 33, 213)</li>
  </ul>

  <p>Our role in the Cat Gamers doesn't simply end as a trainee. Let's help them train more! <a href="https://wiki.playragnarokzero.com/wiki/Cat_Gamer_Support" target="_blank" rel="noopener noreferrer">Click here for the quest walkthrough.</a></p>

  <div id="kro-zero-changelogs" class="mb-6 text-sm">
    <h2 class="bg-gradient py-1 px-2 mb-0 uppercase font-bold text-sm rounded-t-md">Ragnarok Zero Changelogs</h2>
    <p class="border-r border-l p-2 mb-0">The information for this piece of content changed over time on Ragnarok Zero. When possible, this section links to the different versions of the original source article on the Ragnarok Zero website.</p>
    <ul class="border-r border-l border-b rounded-b-md pt-1 pb-3 pl-8 list-disc">
      <li>2018-09-05 - Original</li>
      <li><a href="https://roz.gnjoy.com/news/update/View.asp?BBSMode=10014&seq=44&curpage=3">2019-04-10</li>
    </ul>
  </div>

  <h2>Related Pages</h2>

  <ul class="list-disc pl-8">
    <li>
      <a href="/news/223-2018-08-20-aug-22-maint/">News #223 - 2018.08.20</a>
    </li>
  </ul>

</article>