---
layout: /layouts/base.njk
title: Guild Dungeons
description: All about the updates to Guild Dungeons in kRO Zero
tags: update
---

<article>

  <h1 class="text-2xl mb-2">Guild Dungeons</h1>

  <p>The Guild Dungeons update originally occured in May of 2018. Later it was updated (post-trans) in December 2019. Click the date below to visit the respective versions of the update.</p>

  <ul class="list-disc pl-8">
    <li>
      <a href="/updates/guild-dungeons/2018-05">May 2018</a>
    </li>
    <li>
      <a href="/updates/guild-dungeons/2019-12">December 2019</a>
    </li>
  </ul>

</article>