---
layout: /layouts/base.njk
title: Shipwreck Island Quests
description: A list of the quests that start in Izlude on kRO Zero
tags:
  - quest
  - shipwreck-island
---

<section>

  <h1 class="text-2xl mb-4">Shipwreck Island Quests</h1>

  <ul class="list-disc pl-8">
    <li>
      <a href="/quests/shipwreck-island/shipwreck-escape/">Shipwreck Escape</a>
    </li>
  </ul>

</section>