---
layout: /layouts/base.njk
title: Shipwreck Escape Quest
description: Walkthrough and dialogue for the Shipwreck Escape Quest from kRO Zero
tags:
  - quest
  - shipwreck-island
image: '/images/meta/criatura-academy-meta-shipwreck-escape.png'
---

<article>

  <h1 class="text-2xl mb-4">Quest: Shipwreck Escape (난파선 탈출)</h1>

  <p>This is the first quest your character receives when they log in for the first time. Quest rewards include base and job experience as well as the start of another quest. See below for more details.</p>

  <h2>Part 1</h2>

  <h3>Video</h3>

  <div class="embed-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3AmCyalGfQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h3>NPC</h3>

  <figure>
    <img src="/images/npcs/naive_swordsman.png" alt="An Injured Person Sprite" />
    <figcaption>
      <span class="block">Injured Person (부상자)</span>
    </figcaption>
  </figure>

  <h3>Quest Log</h3>

  <div>
    <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md mb-0">
      Shipwreck Escape<br/>
      <span class="font-normal text-gray-600">난파선 탈출</span>
    </h2>
    <p class="border-l border-r border-b p-2 mb-0">
      Talk with the Captain<br/>
      <span class="text-gray-400">선장과 대화</span>
    </p>
    <p class="border-r border-l border-b rounded-b-md p-2 mb-0">
      We must escape from this ship that got ship-wrecked due to a storm we encountered during our travels. Let's tell someone about the injured people still on board.<br/>
      <span class="text-gray-400">여행 중 풍랑을 만나 무인도에 난파해 버린 배에서 탈출해야 한다. 선내에 아직 부상자가 있음을 알리자.</span>
    </p>
  </div>

  <h3>Dialog</h3>

  <p>Click on the dialog bubbles to toggle the language between English and Korean.</p>

  <div>
    <ul>
      <li>
        <div class="text-xs pb-1">Section A</div>
        <div class="bg-blue-50 rounded-md p-6">
          <ul>
            <li class="w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-black text-white" data-en="Ugh.. help me.<br/>Anyone would be good.. Click on this body!<br/>Oh my god…" data-ko="으으.. 도와줘.<br/>아무나 좋으니까 클릭..몸을 클릭 해!<br/>아이고오…" data-toggle-lang="en">
                Ugh.. help me.<br/>
                Anyone would be good.. Click on this body!<br/>
                Oh my god…
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="Wow! Thanks for helping me sit up!<br/>I'm not sure how this big accident happened, but we should hurry and leave this ship." data-ko="와우! 일으켜줘서 정말 고맙군!<br/>어쩌다 이런 큰 사고가 났는지 모르겠지만 어서 이 배를 빠져나가자고." data-toggle-lang="en">
                Wow! Thanks for helping me sit up!<br/>
                I'm not sure how this big accident happened, but we should hurry and leave this ship.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="... Oh my god. I'm not able to walk.<br/>I'm sorry, but can you go outside and call for help?<br/>Doing so would be really kind.." data-ko="... 이런. 내가 걸을 수 있는 몸이 아니었군<br/>미안하지만 밖으로 나가 다른 사람들을 좀 불러줄래?<br/>기왕이면 친절한 복사님으로.." data-toggle-lang="en">
                ... Oh my god. I'm not able to walk.<br/>
                I'm sorry, but can you go outside and call for help?<br/>
                Doing so would be really kind..
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="You received a quest from the NPC.<br/>Quest information can be found by using the Q keyboard shortcut or clicking the Quest icon in the menu tray." data-ko="NPC로부터 퀘스트를 받았습니다.<br/>퀘스트 정보는 단축키 Q 또는 메뉴트레이 퀘스트 아이콘을 통해 확인 할 수 있습니다." data-toggle-lang="en">
                You received a quest from the NPC.<br/>
                Quest information can be found by using the Q keyboard shortcut or clicking the Quest icon in the menu tray.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="Thankfully since the ship reached land it won't fill with more water.<br/>Just tell the people outside that I'm waiting here." data-ko="다행히 배가 정박한 상태라 더이상 물이 차지는 않을거야.<br/>난 여기서 기다릴테니 바깥의 사람들에게 소식만 전해줘도 돼." data-toggle-lang="en">
                Thankfully since the ship reached land it won't fill with more water.<br/>
                Just tell the people outside that I'm waiting here.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="I'm fine! I'm really fine!<br/>So get out of here! Let people know I'm here." data-ko="난 괜찮아! 정말 괜찮거든!<br/>그러니 너도 어서 나가봐! 사람이 있다는걸 알리는게 먼저니까." data-toggle-lang="en">
                I'm fine! I'm really fine!<br/>
                So get out of here! Let people know I'm here.
              </div>
            </li>
          <ul>
        </div>
      </li>
    </ul>
  </div>

  <h2>Part 2</h2>

  <p>This is the conclusion of the Shipwreck Escape quest. Also, as this quest concludes the same NPC gives you the next quest, "The First Battle". <a href="/quests/shipwreck-island/the-first-battle/">Click here to go to that quest's page to learn more.</a></p>

  <h3>Reward</h3>

  <p>For completing this quest, the character is given the following:</p>

  <ul class="list-disc">
    <ul class="list-disc pl-8 mb-6">
      <li>2845 Base Experience (경험치)</li>
      <li>100 Job Experience (잡경험치)</li>
      <li>Start of <a href="/quests/shipwreck-island/the-first-battle/">"The First Battle" (최초의 전투)</a> quest</li>
    </ul>
  </ul>

  <h3>Video</h3>

  <div class="embed-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2jUp_M9qe_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h3>NPC</h3>

  <figure>
    <img src="/images/npcs/captain_carocc.png" alt="Captain Carocc Sprite" />
    <figcaption>
      <span class="block">Captain Carocc (선장 카록)</span>
    </figcaption>
  </figure>

  <h3>Dialog</h3>

  <p>Click on the dialog bubbles to toggle the language between English and Korean. Where the player needs to make a selection, a dialog bubble with the options is shown, numbered for convenience (the numbers don't appear ingame). The option selected in the video is bolded. Where the video shows multiple paths, different sections are shown accordingly.</p>

  <div>
    <ul>
      <li>
        <div class="text-xs pb-1">Section A</div>
        <div class="bg-blue-50 rounded-md p-6">
          <ul>
            <li class="w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Is there still anyone in the cabin?!<br/>Anyway, I'm glad you're safe.<br/>Besides you, are there any others?" data-ko="아직 선실에 사람이 남아 있었던가?!<br/>어찌됐건 무사해서 다행이네.<br/>자네 말고 다른 사람도 있는가?" data-toggle-lang="en">
                Is there still anyone in the cabin?!<br/>
                Anyway, I'm glad you're safe.<br/>
                Besides you, are there any others?
              </div>
            </li>
            <li class="mt-4 flex justify-end">
              <div class="w-3/4">
                <div class="font-bold mb-1">Player</div>
                <div class="rounded-md p-2 bg-white" data-en="(1) Yes, there's someone inside. Please help him.<br/><b>(2) I don't think I could really see..?</b>" data-ko="(1) 네, 안에 있어요. 도와주세요.<br/><b>(2) 못 본 거 같은데..?</b>" data-toggle-lang="en">
                  (1) Yes, there's someone inside. Please help him.<br/>
                  <b>(2) I don't think I could really see..?</b>
                </div>
              </div>
            </li>
          <ul>
        </div>
      </li>
      <li class="mt-4">
        <div class="text-xs pb-1">Section B - Choice 2</div>
        <div class="bg-purple-50 rounded-md p-6">
          <ul>
            <li class="w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Okay. I guess you're the last one.<br/>Fortunately the ship wasn't too badly<br/>damaged when we got caught up<br/>in that storm." data-ko="그렇군. 자네가 마지막인가 보군.<br/>풍랑을 잘못 만나 이리되긴 했지만<br/>다행이 배가 좀 부서진 것 말고는 큰<br/>피해는 없다네." data-toggle-lang="en">
                Okay. I guess you're the last one.<br/>
                Fortunately the ship wasn't too badly<br/>
                damaged when we got caught up<br/>
                in that storm.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="If you go southwest and follow the<br/>path between the trees, you'll find<br/>a new ship.<br/>If you get on that ship, it will take you</br>to your original destination, Izlude." data-ko="나무 사이로 나 있는 길을 따라<br/>남서쪽으로 가다보면 새로운 배가 한<br/>척 와 있을걸세.<br/>그 배를 타면 원래 목적였던 이즈루드로</br>보내 줄거야." data-toggle-lang="en">
                If you go southwest and follow the<br/>
                path between the trees, you'll find<br/>
                a new ship.<br/>
                If you get on that ship, it will take you</br>
                to your original destination, Izlude.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Ah! That reminds me! The Poring living on<br/>this island stole and ate our repair<br/>materials and then ran away!" data-ko="아! 그러고보니 이 섬에 서식하는 포링<br/>녀석들이 수리용 자재를 훔쳐 먹고<br/>달아났다더군." data-toggle-lang="en">
                Ah! That reminds me! The Poring living on<br/>
                this island stole and ate our repair<br/>
                materials and then ran away!
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="As you go along the path, get rid of<br/>2 Poring, collect 2 Lumber, and give them<br/>to the crew in the south." data-ko="가는길에 보이는 포링을 두 마리<br/>처치하고 목재 두 개를 얻어서 남쪽의<br/>선원에게 갖다주게." data-toggle-lang="en">
                As you go along the path, get rid of<br/>
                2 Poring, collect 2 Lumber, and give them<br/>
                to the crew in the south.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="I know it's difficult, but you're the only<br/>one here right now. So I'm asking you." data-ko="힘들겠지만 지금 자네 밖에 없어서<br/>그러네. 그럼 부탁하지." data-toggle-lang="en">
                I know it's difficult, but you're the only<br/>
                one here right now. So I'm asking you.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Chat Window</div>
              <div class="rounded-md p-2 bg-black text-white" data-en="Shipwreck Escape quest has been deleted.<br/>You have earned 2845 Base Experience.<br/>You have earned 100 Job Experience.</br>You have received a new quest." data-ko="난파선 탈출 퀘스트가 삭제 되었습니다.<br/>‘2845’의 경험치를 획득했습니다.<br/>‘100’의 잡경험치를 획득했습니다.</br>새로운 퀘스트를 받았습니다." data-toggle-lang="en">
                Shipwreck Escape quest has been deleted.<br/>
                You have earned 2845 Base Experience.<br/>
                You have earned 100 Job Experience.</br>
                You have received a new quest.
              </div>
            </li>
          <ul>
        </div>
      </li>
    </ul>
  </div>

  <p class="mt-4">The end of this quest leads directly into the next quest, "The First Battle". <a href="/quests/shipwreck-island/the-first-battle/">Click here to see details about that quest.</a></p>

</article>

<script src="/js/lang-toggle.js?v={% version %}"></script>