---
layout: /layouts/base.njk
title: Shipwreck Escape Quest
description: Walkthrough and dialogue for the Shipwreck Escape Quest from kRO Zero
tags:
  - quest
  - shipwreck-island
image: '/images/meta/criatura-academy-meta-shipwreck-escape.png'
---

<article>

  <h1 class="text-2xl mb-4">Quest: Shipwreck Escape (난파선 탈출)</h1>

  <p>This is the first quest your character receives when they log in for the first time.</p>

  <h2>Part 1</h2>

  <h3>Video</h3>

  <div class='embed-container'>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3AmCyalGfQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h3>NPC</h3>

  <figure>
    <img src="/images/npcs/naive_swordsman.png" alt="An Injured Person Sprite" />
    <figcaption>
      <span class="block">Injured Person (부상자)</span>
    </figcaption>
  </figure>

  <h3>Quest Log</h3>

  <div>
    <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md mb-0">
      Shipwreck Escape<br/>
      <span class="font-normal text-gray-600">난파선 탈출</span>
    </h2>
    <p class="border-l border-r border-b p-2 mb-0">
      Talk with the Captain<br/>
      <span class="text-gray-400">선장과 대화</span>
    </p>
    <p class="border-r border-l border-b rounded-b-md p-2 mb-0">
      We must escape from this ship that got ship-wrecked due to a storm we encountered during our travels. Let's tell someone about the injured people still on board.<br/>
      <span class="text-gray-400">여행 중 풍랑을 만나 무인도에 난파해 버린 배에서 탈출해야 한다. 선내에 아직 부상자가 있음을 알리자.</span>
    </p>
  </div>

  <h3>Dialog</h3>

  <p>Click on the dialog bubbles to toggle the language between English and Korean.</p>

  <div>
    <ul>
      <li>
        <div class="text-xs pb-1">Path A</div>
        <div class="bg-blue-50 rounded-md p-6">
          <ul>
            <li class="w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-black text-white" data-en="Ugh.. help me.<br/>Anyone would be good.. Click on this body!<br/>Oh my god…" data-ko="으으.. 도와줘.<br/>아무나 좋으니까 클릭..몸을 클릭 해!<br/>아이고오…" data-toggle-lang="en">
                Ugh.. help me.<br/>
                Anyone would be good.. Click on this body!<br/>
                Oh my god…
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="Wow! Thanks for helping me sit up!<br/>I'm not sure how this big accident happened, but we should hurry and leave this ship." data-ko="와우! 일으켜줘서 정말 고맙군!<br/>어쩌다 이런 큰 사고가 났는지 모르겠지만 어서 이 배를 빠져나가자고." data-toggle-lang="en">
                Wow! Thanks for helping me sit up!<br/>
                I'm not sure how this big accident happened, but we should hurry and leave this ship.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="... Oh my god. I'm not able to walk.<br/>I'm sorry, but can you go outside and call for help?<br/>Doing so would be really kind.." data-ko="... 이런. 내가 걸을 수 있는 몸이 아니었군<br/>미안하지만 밖으로 나가 다른 사람들을 좀 불러줄래?<br/>기왕이면 친절한 복사님으로.." data-toggle-lang="en">
                ... Oh my god. I'm not able to walk.<br/>
                I'm sorry, but can you go outside and call for help?<br/>
                Doing so would be really kind..
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="You received a quest from the NPC.<br/>Quest information can be found by using the Q keyboard shortcut or clicking the Quest icon in the menu tray." data-ko="NPC로부터 퀘스트를 받았습니다.<br/>퀘스트 정보는 단축키 Q 또는 메뉴트레이 퀘스트 아이콘을 통해 확인 할 수 있습니다." data-toggle-lang="en">
                You received a quest from the NPC.<br/>
                Quest information can be found by using the Q keyboard shortcut or clicking the Quest icon in the menu tray.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="Thankfully since the ship reached land it won't fill with more water.<br/>Just tell the people outside that I'm waiting here." data-ko="다행히 배가 정박한 상태라 더이상 물이 차지는 않을거야.<br/>난 여기서 기다릴테니 바깥의 사람들에게 소식만 전해줘도 돼." data-toggle-lang="en">
                Thankfully since the ship reached land it won't fill with more water.<br/>
                Just tell the people outside that I'm waiting here.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Injured Person (부상자)</div>
              <div class="rounded-md p-2 bg-white" data-en="I'm fine! I'm really fine!<br/>So get out of here! Let people know I'm here." data-ko="난 괜찮아! 정말 괜찮거든!<br/>그러니 너도 어서 나가봐! 사람이 있다는걸 알리는게 먼저니까." data-toggle-lang="en">
                I'm fine! I'm really fine!<br/>
                So get out of here! Let people know I'm here.
              </div>
            </li>
          <ul>
        </div>
      </li>
    </ul>
  </div>

</article>

<script src="/js/lang-toggle.js?v={% version %}"></script>