---
layout: /layouts/base.njk
title: Shipwreck Escape Quest
description: Walkthrough and dialogue for The First Battle Quest from korean Ragnarok Zero
tags:
  - quest
  - shipwreck-island
image: '/images/meta/criatura-academy-meta-shipwreck-escape.png'
---

<article>

  <h1 class="text-2xl mb-4">Quest: The First Battle (최초의 전투)</h1>

  <p>The second quest your character can receive on the Shipwreck Island. This quest is given at the same time that the first quest, <a href="/quests/shipwreck-island/shipwreck-escape/">Shipwreck Escape</a>, is completed.</p>

  <h2>Part 1</h2>

  <h3>Video</h3>

  <p>The video for part one (i.e. when you receive the quest) can be found on the <a href="/quests/shipwreck-island/shipwreck-escape/">Shipwreck Escape</a> quest page in the Part 2 section.</p>

  <h3>NPC</h3>

  <figure>
    <img src="/images/npcs/captain_carocc.png" alt="Captain Carocc Sprite" />
    <figcaption>
      <span class="block">Captain Carocc (선장 카록)</span>
    </figcaption>
  </figure>

  <h3>Quest Log</h3>

  <div>
    <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md mb-0">
      The First Battle<br/>
      <span class="font-normal text-gray-600">최초의 전투</span>
    </h2>
    <p class="border-l border-r border-b p-2 mb-0">
      Give 2 Lumber to the southern crew<br/>
      <span class="text-gray-400">목재 2개 선원에게 전달</span>
    </p>
    <p class="border-r border-l border-b rounded-b-md p-2 mb-0">
      We were asked to dispose of two Poring, who stole the ship repair materials, get 2 Lumber, and deliver the Lumber to the southern crew. Let's get rid of some nearby Poring and collect some Lumber!<br/>
      <span class="text-gray-400">선박의 수리자재를 훔쳐 달아난 포링을 잡고, 목재 2개를 회수 해 선원에게 전달해 달라는 부탁을 받았다. 근처에서 푸링을 처치하고 목재를 회수하자.</span>
    </p>
  </div>

  <h3>Dialog</h3>

  <p>This dialog is a continuation of that found in Part 2 of the <a href="/quests/shipwreck-island/shipwreck-escape/">Shipwreck Escape</a> quest. Click on the dialog bubbles to toggle the language between English and Korean.</p>

  <div>
    <ul>
      <li>
        <div class="text-xs pb-1">Section A</div>
        <div class="bg-blue-50 rounded-md p-6">
          <ul>
            <li class="w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Ah that reminds me! If you're going to<br/>battle Poring, you'll need to equip a weapon.<br/>Make sure you have the right equipment." data-ko="그러고보니 포링과 전투를 하려면<br/>무기를 장비해야 할거야.<br/>장비를 제대로 챙겼는지 확인하게." data-toggle-lang="en">
                Ah that reminds me! If you're going to<br/>
                battle Poring, you'll need to equip a weapon.<br/>
                Make sure you have the right equipment.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="To equip items simply double click the item<br/>
                in the Item Window, which can be opened by<br/>using the I keyboard shortcut." data-ko="아이템들은 간단하게 더블클릭으로<br/>아이템창은 단축키 I 로 간단하개 열고<br/>닫을 수 있습니다." data-toggle-lang="en">
                To equip items simply double click the item<br/>
                in the Item Window, which can be opened by<br/>
                using the I keyboard shortcut.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="You can verify the equipped item by using<br/>
                the E keyboard shortcut. From that window,<br/>you can drag the item to the location<br/>where you want to equip it." data-ko="장착한 아이템의 확인은 단축키 E 로<br/>열어서 확인이 가능합니다.<br/>장착하고자 하는 위치로 해당 아이템을<br/>드래그 하셔도 됩니다." data-toggle-lang="en">
                You can verify the equipped item by using<br/>
                the E keyboard shortcut. From that window,<br/>
                you can drag the item to the location<br/>
                where you want to equip it.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Did you verify your equipment?<br/>You should also distribute your skills." data-ko="자네 장비는 다 확인 했는가?<br/>능력치 분배를 해야겠군." data-toggle-lang="en">
                Did you verify your equipment?<br/>
                You should also distribute your stats.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="To battle well, you should<br/>distribute your stats appropriately.<br/>If you want to increase HIT, then<br/>raise DEX. For strength, raise STR." data-ko="원활한 전투를 위해서는 자네가 가진<br/>능력치를 적절히 분배해야 한다네.<br/>힘을 원한다면 Str에, 명중력을 올리고<br/>싶다면 Dex를 올려야 하지." data-toggle-lang="en">
                To battle well, you should<br/>
                distribute your stats appropriately.<br/>
                If you want to increase HIT, then<br/>
                raise DEX. For strength, raise STR.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="As you level up, you receive stat<br/>bonuses.<br/>You can open the Status Window by<br/>using the C keyboard shortcut." data-ko="레벨이 오를때마다 스탯 보너스를<br/>받습니다.<br/>스테이터스 창은 단축 C 로 간단하게<br/>열고 닫을 수 있습니다." data-toggle-lang="en">
                As you level up, you receive stat<br/>
                bonuses.<br/>
                You can open the Status Window by<br/>
                using the C keyboard shortcut.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="Please distribute your stats<br/>for battle appropriately." data-ko="전투에 필요한 능력치를 적절히 분배<br/>해 주세요." data-toggle-lang="en">
                Please distribute your stats<br/>
                for battle appropriately.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Are your preparations all finished?<br/>Subdue 2 Poring and collect 2 Lumber<br/>to deliver to the crew.<br/>I wish you the best of luck!" data-ko="이제 모든 준비가 끝났는가?<br/>포링 두 마리를 처치하고 목재 두 개를<br/>선원에게 전해주면 된다네.<br/>무운을 빌겠네." data-toggle-lang="en">
                Are your preparations all finished?<br/>
                Subdue 2 Poring and collect 2 Lumber<br/>
                to deliver to the crew.<br/>
                I wish you the best of luck!
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="The ship is anchored to the southwest. If you<br/>board that ship, you can go to Izlude.<br/>On your way to the ship, don't forget<br/>to get rid of Poring and collect Lumber." data-ko="남서쪽에 정박 중인 배가 있네. 그 배를<br/>타면 이즈루드로 갈 수 있지.<br/>가는 동안 포링을 처치하고 목재를<br/>챙겨가는 것 잊지 말게." data-toggle-lang="en">
                The ship is anchored to the southwest. If you<br/>
                board that ship, you can go to Izlude.<br/>
                On your way to the ship, don't forget<br/>
                to get rid of Poring and collect Lumber.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Make sure you put on your equipment.<br/>It will help much more than being<br/>bare-handed. Be sure to verify<br/>one-by-one your belongings as well." data-ko="장비는 꼭 착용하고.<br/>맨주먹보다는 훨씬 도옴이 될테니.<br/>자네가 가진 물품을 한번씩 확인은<br/>해보게나." data-toggle-lang="en">
                Make sure you put on your equipment.<br/>
                It will help much more than being<br/>
                bare-handed. Be sure to verify<br/>
                one-by-one your belongings as well.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">Captain Carocc (선장 카록)</div>
              <div class="rounded-md p-2 bg-white" data-en="Don't forget to distribute your stats." data-ko="능력치 분배하는 것 잊지 말게." data-toggle-lang="en">
                Don't forget to distribute your stats.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="As you level up, you receive stat<br/>bonuses.<br/>You can open the Status Window by<br/>using the C keyboard shortcut." data-ko="레벨이 오를때마다 스탯 보너스를<br/>받습니다.<br/>스테이터스 창은 단축 C 로 간단하게<br/>열고 닫을 수 있습니다." data-toggle-lang="en">
                As you level up, you receive stat<br/>
                bonuses.<br/>
                You can open the Status Window by<br/>
                using the C keyboard shortcut.
              </div>
            </li>
            <li class="mt-4 w-3/4">
              <div class="font-bold mb-1">!- Announcement (안내) -!</div>
              <div class="rounded-md p-2 bg-white" data-en="Please distribute your stats<br/>for battle appropriately." data-ko="전투에 필요한 능력치를 적절히 분배<br/>해 주세요." data-toggle-lang="en">
                Please distribute your stats<br/>
                for battle appropriately.
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</article>

<script src="/js/lang-toggle.js?v={% version %}"></script>