---
layout: /layouts/base.njk
title: Shipwreck Escape Quest
description: Walkthrough and dialogue for The First Battle Quest from korean Ragnarok Zero
tags:
  - quest
  - shipwreck-island
image: '/images/meta/criatura-academy-meta-shipwreck-escape.png'
---

<article>

  <h1 class="text-2xl mb-4">Quest: The First Battle (최초의 전투)</h1>

  <p>The second quest your character can receive on the Shipwreck Island. This quest is given at the same time that the first quest, <a href="/quests/shipwreck-island/shipwreck-escape/">"Shipwreck Escape"</a>, is completed.</p>

  <h2>Part 1</h2>

  <h3>Video</h3>

  <p>The video for part one (i.e. when you receive the quest) can be found on the <a href="/quests/shipwreck-island/shipwreck-escape/">"Shipwreck Escape"</a> quest page in the Part 2 section.</p>

  <h3>NPC</h3>

  <figure>
    <img src="/images/npcs/captain_carocc.png" alt="Captain Carocc Sprite" />
    <figcaption>
      <span class="block">Captain Carocc (선장 카록)</span>
    </figcaption>
  </figure>

  <h3>Quest Log</h3>

  <div>
    <h2 class="bg-gradient py-2 px-2 uppercase font-bold text-sm rounded-t-md mb-0">
      The First Battle<br/>
      <span class="font-normal text-gray-600">최초의 전투</span>
    </h2>
    <p class="border-l border-r border-b p-2 mb-0">
      Give 2 Lumber to the southern crew<br/>
      <span class="text-gray-400">목재 2개 선원에게 전달</span>
    </p>
    <p class="border-r border-l border-b rounded-b-md p-2 mb-0">
      We were asked to dispose of two Poring, who stole the ship repair materials, get 2 Lumber, and deliver the Lumber to the southern crew. Let's get rid of some nearby Poring and collect some Lumber!<br/>
      <span class="text-gray-400">선박의 수리자재를 훔쳐 달아난 포링을 잡고, 목재 2개를 회수 해 선원에게 전달해 달라는 부탁을 받았다. 근처에서 푸링을 처치하고 목재를 회수하자.</span>
    </p>
  </div>

  <h3>Dialog</h3>

  <p>This dialog is a continuation of that found in Part 2 of the <a href="/quests/shipwreck-island/shipwreck-escape/">"Shipwreck Escape"</a> quest. Click on the dialog bubbles to toggle the language between English and Korean.</p>

</article>

<script src="/js/lang-toggle.js?v={% version %}"></script>