<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="/css/index.css?v={% version %}">
  </head>
  <body class="p-10">
    <header class="mt-10 mb-8 text-center">
      <h1 class="mb-0 text-3xl font-bold font-serif">
        Criatura
        <img src="/images/npcs/sprakki.gif" class="p-4 bg-purple-200 inline-block align-bottom rounded-full" alt="Sprakki" />
        Academy
      </h1>
      <p class="mt-2">A korean Ragnarok Online Zero fansite</p>
      <nav class="mt-4">
        <ul class="flex justify-center">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
      <div class="bg-gray-200 max-w-md mx-auto mt-6" style="height: 2px"></div>
    </header>
    <main class="mx-auto max-w-3xl mb-20">
      {{ content | safe }}
    </main>
    <footer class="text-sm text-center mx-auto max-w-3xl">
      <p>Something incorrect or broken? <a href="https://github.com/njosefbeck/criatura-academy.com/issues" target="_blank" rel="noreferrer noopener">Make an issue on GitHub!</a></p>
      <p>Made with love by <a href="https://njosefbeck.com" target="_blank">njosefbeck</a> - <a href="https://www.buymeacoffee.com/njosefbeck" target="_blank" rel="noreferrer nofollower">buy me a tea?</a></p>
    </footer>
  </body>
</html>