<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title or metadata.title }} | Criatura Academy</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#a163eb">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}" />
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }} | Criatura Academy" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
    <meta property="og:image" content="https://criatura-academy.com{{ renderData.image or image or metadata.image or '/images/meta/criatura-academy-welcome.png' }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://www.criatura-academy.com{{ page.url }}" />
    <link rel="stylesheet" href="/css/index.css?v={% version %}">
  </head>
  <body class="p-2">
    <header class="mt-10 mb-8 text-center">
      <h1 class="mb-0 text-3xl font-bold font-serif">
        Criatura
        <img src="/images/npcs/sprakki.gif" class="p-4 block mx-auto bg-purple-200 sm:inline-block align-bottom rounded-full" alt="Sprakki" />
        Academy
      </h1>
      <p class="mt-2">A korean Ragnarok Online Zero fansite</p>
      <nav class="mt-4">
        <ul class="flex justify-center">
          <li><a href="/">Home</a> &middot;&nbsp;</li>
          <li><a href="/classes">Classes</a> &middot;&nbsp;</li>
          <li><a href="/timeline">Timeline</a> &middot;&nbsp;</li>
          <li><a href="/tipbox">Tip Box</a></li>
        </ul>
      </nav>

    </header>
    <main class="mx-auto max-w-3xl mb-10">
      <div class="mx-2">
        {{ content | safe }}
      </div>
    </main>
    <footer class="text-sm text-center mx-auto max-w-3xl">
      <p>Something incorrect or broken? <a href="https://github.com/njosefbeck/criatura-academy.com/issues" target="_blank" rel="noreferrer noopener">Make an issue on GitHub!</a></p>
      <p>
        &copy; <a href="https://njosefbeck.com" target="_blank" rel="noreferrer noopener">njosefbeck</a> - <a href="https://www.buymeacoffee.com/njosefbeck" target="_blank" rel="noreferrer nofollower">buy me a tea?</a><br/>
        Most icons and sprites from <a href="https://divine-pride.net/" target="_blank" rel="noreferrer nofollower">Divine Pride</a>. Ragnarok Online is &copy; <a href="http://www.gravity.co.kr/" target="_blank" rel="noreferrer nofollower">Gravity Co., Ltd.</a>
      </p>
    </footer>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      const searchElement = document.getElementById('search');
      if (searchElement) {
        algoliasearchNetlify({
          appId: '0PAQZL6OOF',
          apiKey: '19c35e2c25702d6363c6992355efb2a2',
          siteId: 'd8b8c14c-c145-4510-a79b-8552bfc277ce',
          branch: 'master',
          selector: 'div#search',
          placeholder: 'Type to search site...'
        });
      }
    </script>
  </body>
</html>